<template>
  <div class="index-route">
    <card title="กำหนดเส้นทาง">
      <template #toolbar>
        <ToolBar />
      </template>
      <template #body>
        <div class="row">
          <div class="col-md-5">
            <p class="text-danger">
              รายชื่อเส้นทางที่ไม่ได้รับอนุญาต
            </p>
            <input v-model="filterAvailable" class="form-control search" data-target="available" placeholder="ค้นหา" />
            <br />
            <select
              ref="available"
              v-model="availableModel"
              multiple
              size="20"
              class="form-control list"
              data-target="available"
            >
              <template v-for="(route, key) in availableItems">
                <option :key="key" :value="route">
                  {{ route }}
                </option>
              </template>
            </select>
          </div>
          <div class="col-md-1 text-center">
            <br />
            <br />
            <br />
            <p>
              <button
                type="button"
                class="btn btn-success btn-assign"
                title="Assign"
                data-target="available"
                :disabled="!availableModel.length"
                @click="Assign"
              >
                &gt;&gt;
              </button>
            </p>
            <p>
              <button
                type="button"
                :disabled="!assignedModel.length"
                class="btn btn-danger btn-assign"
                title="Remove"
                data-target="assigned"
                @click="Remove"
              >
                &lt;&lt;
              </button>
            </p>
          </div>
          <div class="col-md-5">
            <p class="text-success">
              รายชื่อเส้นทางที่ได้รับอนุญาต
            </p>
            <input v-model="filterAssigned" class="form-control search" data-target="assigned" placeholder="ค้นหา" />
            <br />
            <select
              ref="assigned"
              v-model="assignedModel"
              multiple
              size="20"
              class="form-control list"
              data-target="assigned"
            >
              <template v-for="(route, key) in assignedItems">
                <option :key="key" :value="route">
                  {{ route }}
                </option>
              </template>
            </select>
          </div>
        </div>
      </template>
    </card>
    <v-loading
      :active.sync="loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
import ToolBar from '@/components/Rbac/Toolbar'

export default {
  name: 'IndexRoute',
  layout: 'main',
  middleware: 'authenticated',
  components: {
    ToolBar,
  },
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/rbac/assignment' },
      { title: 'สิทธิ์การใช้งาน', route: '/setting/rbac/assignment' },
      { title: 'เส้นทาง' },
    ],
  },
  data() {
    return {
      loading: false,
      assigned: [],
      available: [],

      filterAssigned: '',
      filterAvailable: '',

      availableModel: [],
      assignedModel: [],
    }
  },
  computed: {
    appRoutes() {
      const routes = []
      const appRoutes = this.$router.options.routes
      appRoutes.map((route) => {
        if (route.path && route.path !== '*') {
          const path = route.path

          if (route.children) {
            if (path === '/') {
              routes.push('/*')
            } else {
              routes.push(path + '/*')
            }
            this.getChildrenRoute(path, route.children, routes)
          } else {
            routes.push(path)
          }
        }
      })
      return routes
    },
    assignedItems() {
      const filterKey = this.filterAssigned && this.filterAssigned.toLowerCase()
      let assigned = this.assigned
      if (filterKey) {
        assigned = assigned.filter((r) => String(r).toLowerCase().includes(filterKey))
      }
      return assigned
    },
    availableItems() {
      const filterKey = this.filterAvailable && this.filterAvailable.toLowerCase()
      let available = this.available
      if (filterKey) {
        available = available.filter((r) => String(r).toLowerCase().includes(filterKey))
      }
      return available
    },
  },
  mounted() {
    this.getRoutes()
  },
  methods: {
    async getRoutes(loading = true) {
      const _this = this
      try {
        _this.loading = loading
        const data = await _this.$apiRbac.getRoutes()
        const updatedAvailable = _this.appRoutes.filter(
          (r) => !data.available.includes(r) && !data.assigned.includes(r)
        )
        _this.assigned = data.assigned
        _this.available = _.sortBy(data.available.concat(updatedAvailable))
        _this.loading = false
      } catch (error) {
        _this.loading = false
        _this.$errorHandler(error)
      }
    },
    getChildrenRoute(rootPath, childrens, routes) {
      childrens.map((route) => {
        if (route.path) {
          const path = route.path
          if (route.children) {
            if (rootPath === '/') {
              routes.push(`${rootPath}${path}/*`)
              this.getChildrenRoute(`${rootPath}${path}`, route.children, routes)
            } else {
              routes.push(`${rootPath}/${path}/*`)
              this.getChildrenRoute(`${rootPath}/${path}`, route.children, routes)
            }
          } else if (rootPath === '/') {
            routes.push(`${rootPath}${path}`)
          } else {
            routes.push(`${rootPath}/${path}`)
          }
        }
      })
    },
    async Assign() {
      const _this = this
      try {
        await _this.$apiRbac.assignRoute({ routes: _this.availableModel })
        _this.getRoutes(false)
        _this.availableModel = []
        _this.notifySuccess()
      } catch (error) {
        _this.$errorHandler(error)
      }
    },
    async Remove() {
      const _this = this
      try {
        await _this.$apiRbac.removeRoute({ routes: _this.assignedModel })
        _this.getRoutes(false)
        _this.assignedModel = []
        _this.notifySuccess()
      } catch (error) {
        _this.$errorHandler(error)
      }
    },
    notifySuccess() {
      this.$toastr.success('บันทึกรายการสำเร็จ', 'Success!', {
        timeOut: 3000,
        positionClass: 'toast-top-right',
        progressBar: true,
        closeButton: true,
      })
    },
  },
  head() {
    return {
      title: 'เส้นทาง',
    }
  },
}
</script>

<style lang="scss" scoped></style>
