<template>
  <div class="create-role">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="card-body">
              <div class="form-group row">
                <ValidationProvider v-slot="{ errors }" name="ชื่อ" rules="required" tag="div" class="col-lg-6">
                  <label>ชื่อ:</label>
                  <input
                    v-model="form.name"
                    type="text"
                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                    placeholder=""
                    name="name"
                  />
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>

                <ValidationProvider v-slot="{ errors }" name="กฏ" rules="" tag="div" class="col-lg-6">
                  <label>กฏ:</label>
                  <input
                    v-model="form.rule_name"
                    type="text"
                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                    placeholder=""
                    name="rule_name"
                  />
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>
              <div class="form-group row">
                <ValidationProvider v-slot="{ errors }" name="รายละเอียด" rules="" tag="div" class="col-lg-6">
                  <label>รายละเอียด:</label>
                  <textarea
                    v-model="form.description"
                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                    rows="3"
                    name="description"
                  />
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>

                <ValidationProvider v-slot="{ errors }" name="ข้อมูล" rules="" tag="div" class="col-lg-6">
                  <label>ข้อมูล:</label>
                  <textarea
                    v-model="form.data"
                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                    rows="3"
                    name="data"
                  />
                  <span class="form-text text-muted"></span>
                </ValidationProvider>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button
                    type="submit"
                    :disabled="invalid"
                    :class="['btn btn-primary mr-2 spinner-white spinner-right', { spinner: submitted }]"
                  >
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/rbac/role')" class="btn btn-secondary" title="ยกเลิก">
                    ยกเลิก
                  </nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </template>
      <!-- end:: Body -->
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
export default {
  name: 'CreateRole',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/rbac/role' },
      { title: 'สิทธิ์การใช้งาน', route: '/setting/rbac/assignment' },
      { title: 'บทบาท', route: '/setting/rbac/role' },
      { title: 'สร้างรายการ' },
    ],
  },
  data() {
    return {
      title: 'สร้างรายการบทบาท',
      submitted: false,
      loading: false,
      form: {
        name: '',
        rule_name: '',
        data: '',
        description: '',
      },
    }
  },
  beforeDestroy() {
    this.form = {
      name: '',
      rule_name: '',
      data: '',
      description: '',
    }
  },
  methods: {
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        let message = ''

        if (_this.$route.params.id) {
          // update
          const data = await _this.$apiRbac.updateRole(_this.form)
          message = data.message
        } else {
          // create
          const data = await _this.$apiRbac.createRole(_this.form)
          message = data.message
        }
        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/rbac/role'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
