<template>
  <div class="index-role">
    <card title="รายชื่อบทบาท">
      <!-- begin:: Toolbar -->
      <template #toolbar>
        <ToolBar />
      </template>
      <!-- end:: Toolbar -->
      <!-- begin:: Body -->
      <template #body>
        <!--begin: Datatable-->
        <data-table
          hover
          bordered
          small
          fixed
          :items="rows"
          :fields="fields"
          :column-filter="false"
          :items-per-page="10"
          pagination
          sorter
          :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
          :loading="loading"
          :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
          :table-options="{
            id: 'tbl-role',
            class: 'table dataTable kt-datatable__table table-vertical-center',
          }"
        >
          <!-- Toolbar -->
          <template #header-toolbar-left>
            <div class="col-md-6 col-sm-6 no-padding">
              <nuxt-link
                :to="localePath('/setting/rbac/role/create')"
                class="btn btn-success font-weight-bolder font-size-sm ml-1"
                title="เพิ่มบทบาท"
              >
                <i class="flaticon2-plus"></i> เพิ่มบทบาท
              </nuxt-link>
            </div>
          </template>
          <!-- Toolbar -->
          <!-- Columns -->
          <template #index="{index}">
            <td class="text-center row-index">
              {{ index + 1 }}
            </td>
          </template>

          <template #name="{item}">
            <td class="text-center">
              {{ item.name }}
            </td>
          </template>

          <template #rule_name="{item}">
            <td>
              {{ item.rule_name }}
            </td>
          </template>

          <template #description="{item}">
            <td>
              {{ item.description }}
            </td>
          </template>

          <template #actions="{item}">
            <td class="text-center">
              <span style="overflow: visible; position: relative; width: 125px;">
                <nuxt-link
                  :to="localePath(`/setting/rbac/role/view/${item.name}`)"
                  class="btn btn-sm btn-outline-success btn-icon mr-2"
                  title="กำหนดสิทธิ์"
                >
                  <i class="flaticon-lock"></i>
                </nuxt-link>
                <nuxt-link
                  :to="localePath(`/setting/rbac/role/update/${item.name}`)"
                  class="btn btn-sm btn-outline-success btn-icon mr-2"
                  title="Edit"
                >
                  <i class="flaticon2-pen"></i>
                </nuxt-link>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger btn-icon"
                  title="Delete"
                  @click="onDeleteRole(item)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </span>
            </td>
          </template>
          <!-- Columns -->
        </data-table>
        <!--end: Datatable-->
      </template>
      <!-- end:: Body -->
    </card>
  </div>
</template>

<script>
import ToolBar from '@/components/Rbac/Toolbar'

export default {
  name: 'IndexRole',
  layout: 'main',
  middleware: 'authenticated',
  components: {
    ToolBar,
  },
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/rbac/role' },
      { title: 'สิทธิ์การใช้งาน', route: '/setting/rbac/assignment' },
      { title: 'บทบาท' },
    ],
  },
  data() {
    return {
      loading: false,
      rows: [],
      // table fields
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'name', label: 'ชื่อบทบาท' },
        { key: 'rule_name', label: 'ชื่อกฏ' },
        { key: 'description', label: 'รายละอียด' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
        },
      ],
    }
  },
  mounted() {
    this.fetchDataRoles()
  },
  methods: {
    // ข้อมูลบทบาท
    async fetchDataRoles() {
      const _this = this
      try {
        _this.setLoading(true)
        const roles = await _this.$apiRbac.getRoles()
        _this.rows = roles
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        this.$errorHandler(error)
      }
    },
    // ลบข้อมูลบทบาท
    onDeleteRole(item) {
      const _this = this
      _this.$Swal
        .fire({
          title: 'ยืนยันการลบรายการ?',
          text: '',
          icon: 'question',
          showCancelButton: true,
          allowOutsideClick: false,
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก',
          showLoaderOnConfirm: true,
          preConfirm: function () {
            return new Promise(function (resolve) {
              _this.$apiRbac
                .deleteRole(item.name)
                .then((res) => {
                  resolve(res)
                })
                .catch((error) => {
                  _this.$errorHandler(error)
                })
            })
          },
        })
        .then((result) => {
          if (result.value) {
            _this.fetchDataRoles()
            _this.$Swal.fire({
              icon: 'success',
              title: 'ลบรายการสำเร็จ',
              text: '',
              confirmButtonText: 'ตกลง',
            })
          }
        })
    },
  },
  head() {
    return {
      title: 'บทบาท',
    }
  },
}
</script>

<style lang="scss" scoped></style>
