<template>
  <div
    id="kt_aside"
    ref="kt_aside"
    class="aside aside-left d-flex flex-column"
    @mouseover="mouseEnter"
    @mouseleave="mouseLeave"
  >
    <!--begin::Brand-->
    <Brand />
    <!--end::Brand-->
    <!--begin::Nav Wrapper-->
    <div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pb-10">
      <!--begin::Nav-->
      <ul class="nav flex-column"></ul>
      <!--end::Nav-->
    </div>
    <!--end::Nav Wrapper-->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LayoutAside from '@/assets/js/layout/base/aside.js'
import Brand from '@/components/Layout/Aside/Brand'

export default {
  name: 'Aside',
  components: {
    Brand,
  },
  computed: {
    ...mapGetters({
      layoutConfig: 'config/layoutConfig',
      getClasses: 'htmlclass/getClasses',
    }),

    /**
     * Get extra classes for menu based on the options
     */
    asideMenuClass() {
      const classes = this.getClasses('aside_menu')
      if (typeof classes !== 'undefined') {
        return classes.join(' ')
      }
      return null
    },
  },
  mounted() {
    this.$nextTick(() => {
      // Init Aside
      LayoutAside.init(this.$refs.kt_aside)
    })
  },
  methods: {
    /**
     * Use for fixed left aside menu, to show menu on mouseenter event.
     */
    mouseEnter() {
      // check if the left aside menu is fixed
      if (document.body.classList.contains('aside-fixed')) {
        if (this.outsideTm) {
          clearTimeout(this.outsideTm)
          this.outsideTm = null
        }

        // if the left aside menu is minimized
        if (document.body.classList.contains('aside-minimize')) {
          document.body.classList.add('aside-minimize-hover')

          // show the left aside menu
          document.body.classList.remove('aside-minimize')
        }
      }
    },

    /**
     * Use for fixed left aside menu, to show menu on mouseenter event.
     */
    mouseLeave() {
      if (document.body.classList.contains('aside-fixed')) {
        if (this.insideTm) {
          clearTimeout(this.insideTm)
          this.insideTm = null
        }

        // if the left aside menu is expand
        if (document.body.classList.contains('aside-minimize-hover')) {
          // hide back the left aside menu
          document.body.classList.remove('aside-minimize-hover')
          document.body.classList.add('aside-minimize')
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
#kt_aside .aside-brand {
  padding-top: 1.5rem !important;
}
</style>
