<template>
  <div class="aside-brand d-flex flex-column align-items-center flex-column-auto pt-18 pb-10">
    <!--begin::Logo-->
    <span class="font-weight-bold font-size-base d-none d-md-inline mr-1 app-name">ระบบคิว</span>
    <div id="kt_quick_user_toggle" class="btn p-0 symbol symbol-80 symbol-light-yellow">
      <div class="symbol-label">
        <img v-lazy="AppLogo" alt="Logo" :src="AppLogo" class="align-self-end app-logo" />
      </div>
    </div>
    <!--end::Logo-->
  </div>
</template>

<script>
import AppLogo from '@/assets/images/logos/app-logo.png'

export default {
  name: 'Brand',
  computed: {
    AppLogo() {
      return AppLogo
    },
  },
}
</script>

<style lang="scss" scoped>
img.app-logo {
  max-width: 75px;
  margin: auto;
}
.symbol.symbol-light-yellow .symbol-label {
  background-color: #fee152;
}
.app-name {
  font-size: 1.2rem;
}
</style>
