<template>
  <div
    id="tab-hold"
    :class="['tab-content-hold tab-pane fade show active animate__animated animate__zoomIn animate__faster']"
    role="tabpanel"
    aria-labelledby="tab-hold"
  >
    <!--begin: Datatable-->
    <DataTable
      hover
      bordered
      small
      fixed
      :items="filteredRows"
      :fields="fields"
      :column-filter="false"
      :items-per-page="10"
      pagination
      sorter
      :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
      :loading="loading"
      :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
      :table-options="{
        id: 'tbl-hold',
        class: 'table dataTable kt-datatable__table table-head-bg table-vertical-center table-hover',
      }"
      header-left-classes="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0"
      header-right-classes="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0"
      filter-size="col-lg-4 col-md-4 col-sm-12 no-padding"
    >
      <!-- Action -->
      <template #header-toolbar-left>
        <div class="col-md-4 filter-doctor">
          <Select2 v-model="service_point_id" class="ml-2" :name="`service_point_id`" :options="servicePointOptions" />
        </div>
        <div class="col-md-4 btn-show-queue">
          <button type="button" class="btn btn-secondary ml-3 btn-call-next" @click="$emit('call-next')">
            <i class="flaticon2-speaker"></i> เรียกคิวถัดไป
          </button>
        </div>
      </template>
      <template #header-right-toolbar>
        <button
          type="button"
          title="Reload"
          :class="['btn btn-icon btn-light-success btn-sm mr-2', { 'spinner spinner-white spinner-right': loading }]"
          @click="$emit('reload', 'hold')"
        >
          <i v-show="!loading" class="flaticon2-reload-1"></i>
        </button>
      </template>
      <!-- Action -->

      <!-- Column -->
      <template #index="{index}">
        <td class="text-center row-index">
          {{ index + 1 }}
        </td>
      </template>

      <template #fullname="{item}">
        <td class="nowrap">
          <ProfileDetail :user="item" />
        </td>
      </template>

      <template #doctor_name="{item}">
        <td class="nowrap">{{ item.doctor_name }}</td>
      </template>

      <template #lab="{item}">
        <td class="text-center">
          <!-- <i v-show="item.draw_blood === 'Yes'" class="fas fa-hourglass-end"></i> -->
          <span class="text-muted">
            {{ item.draw_blood === 'No' ? 'ไม่มี' : 'มี' }}
          </span>
        </td>
      </template>

      <template #x-ray="{item}">
        <td class="text-center">
          <!-- <i v-show="item.xray === 'Yes'" class="fas fa-hourglass-end"></i> -->
          <span class="text-muted">
            {{ item.xray === 'No' ? 'ไม่มี' : 'มี' }}
          </span>
        </td>
      </template>

      <template #lab_status="{item}">
        <td class="text-center">
          <i :class="[labClass(item.lab_status)]"></i>
        </td>
      </template>

      <template #queue_time="{item}">
        <td class="text-center">
          <span class="label label-lg label-warning label-inline"> {{ item.queue_time }} น. </span>
        </td>
      </template>

      <template #actions="{item}">
        <td class="text-center nowrap">
          <button
            type="button"
            class="btn btn-sm btn-outline-info mr-2"
            title="เรียกคิว"
            @click="$emit('recall', item)"
          >
            <i class="flaticon2-speaker"></i> เรียกคิว
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-success mr-2"
            title="เสร็จสิ้น"
            @click="$emit('end', item)"
          >
            <i class="fas fa-user-check"></i> เสร็จสิ้น
          </button>
          <div class="dropdown dropdown-inline">
            <button
              type="button"
              class="btn btn-light btn-icon btn-sm"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="ki ki-bold-more-ver"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-sm" style="">
              <a class="dropdown-item" href="javascript:void(0);" @click="$emit('screen', item)">
                Screening
              </a>
              <a class="dropdown-item" href="javascript:void(0);" @click="$emit('printing', item.queue_detail_id)">
                พิมพ์บัตรคิว
              </a>
            </div>
          </div>
        </td>
      </template>
      <!-- Column -->
    </DataTable>
    <!--end: Datatable-->
  </div>
</template>

<script>
import { mapState } from 'vuex'
import _ from 'lodash'
import moment from 'moment'
import ProfileDetail from '@/components/Queue/HistoryTaking/Content/Profile'
import * as utils from '@/utils'
moment.locale('th')

export default {
  name: 'TabContentHold',
  components: {
    ProfileDetail,
  },
  filters: {
    queueTime: function (value) {
      return moment(value).format('HH:mm น.')
    },
  },
  props: {
    rowsHold: {
      type: Array,
      default: function () {
        return []
      },
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      service_point_id: '',
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'fullname', label: 'รายละเอียด', _classes: 'text-dark-75' },
        { key: 'doctor_name', label: 'แพทย์' },
        { key: 'lab', label: 'LAB' },
        { key: 'x-ray', label: 'X-Ray' },
        { key: 'lab_status', label: 'ผล Lab' },
        { key: 'queue_time', label: 'เวลาออกบัตร' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
        },
      ],
    }
  },
  computed: {
    ...mapState({
      servicePoints: (state) => _.get(state.historyTaking, 'service_points', []),
    }),
    // ตัวเลือกจุดบริการ
    servicePointOptions() {
      const opts = utils.mapDataOptions(this.servicePoints, 'service_point_id', 'service_point_description')
      return {
        placeholder: 'เลือกจุดบริการ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    filteredRows() {
      const filterKey = this.service_point_id && this.service_point_id.toLowerCase()
      let rows = this.rowsHold
      if (filterKey) {
        rows = rows.filter((row) => row.service_point_id === filterKey)
      }
      return rows
    },
  },
  methods: {
    labClass: function (value) {
      if (!value) return ''
      let labClass = ''
      switch (value) {
        case 'Wait':
          labClass = 'fas fa-hourglass-end text-warning'
          break
        case 'Yes':
          labClass = 'far fa-check-circle text-success'
          break
        case 'No':
          labClass = 'flaticon-circle text-danger'
          break

        default:
          break
      }
      return labClass
    },
  },
}
</script>

<style lang="scss" scoped></style>
