<template>
  <div
    id="tab-queue-doctor"
    :class="['tab-content-queue-doctor tab-pane fade show active animate__animated animate__zoomIn animate__faster']"
    role="tabpanel"
    aria-labelledby="tab-queue-doctor"
  >
    <!--begin: Datatable-->
    <DataTable
      hover
      bordered
      small
      fixed
      :items="rowsDoctor"
      :fields="fields"
      :column-filter="false"
      :items-per-page="10"
      pagination
      sorter
      :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
      :loading="loading"
      :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
      :table-options="{
        id: 'tbl-queue-doctor',
        class: 'table dataTable kt-datatable__table table-head-bg table-vertical-center table-hover',
      }"
      header-left-classes="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0"
      header-right-classes="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0"
      filter-size="col-lg-4 col-md-4 col-sm-12 no-padding"
    >
      <template #header-toolbar-left>
        <div class="col-md-4 filter-doctor">
          <Select2 v-model="doctor_id" class="ml-2" :name="`doctor_filter_id`" :options="doctorOptions" />
        </div>
        <div class="col-md-4 btn-show-queue">
          <button
            type="button"
            :class="['btn btn-primary ml-2', { 'spinner spinner-white spinner-right': loading }]"
            @click="$emit('search-queue-doctor', doctor_id)"
          >
            แสดงรายการ
          </button>
        </div>
      </template>
      <template #header-right-toolbar>
        <button
          type="button"
          title="Reload"
          :class="['btn btn-icon btn-light-success btn-sm mr-2', { 'spinner spinner-white spinner-right': loading }]"
          @click="$emit('reload', 'doctor')"
        >
          <i v-show="!loading" class="flaticon2-reload-1"></i>
        </button>
      </template>
      <!-- Column -->
      <template #index="{index}">
        <td class="text-center row-index">
          {{ index + 1 }}
        </td>
      </template>

      <template #fullname="{item}">
        <td class="nowrap">
          <ProfileDetail :user="item" />
        </td>
      </template>

      <template #service_group_name="{item}">
        <td class="nowrap">
          {{ item.service_group_name }}
        </td>
      </template>

      <template #doctor_name="{item}">
        <td class="nowrap">{{ item.doctor_name }}</td>
      </template>

      <template #lab="{item}">
        <td class="text-center">
          <!-- <i v-show="item.draw_blood === 'Yes'" class="fas fa-hourglass-end"></i> -->
          <span class="text-muted">
            {{ item.draw_blood === 'No' ? 'ไม่มี' : 'มี' }}
          </span>
        </td>
      </template>

      <template #x-ray="{item}">
        <td class="text-center">
          <!-- <i v-show="item.xray === 'Yes'" class="fas fa-hourglass-end"></i> -->
          <span class="text-muted">
            {{ item.xray === 'No' ? 'ไม่มี' : 'มี' }}
          </span>
        </td>
      </template>

      <template #lab_status="{item}">
        <td class="text-center">
          <i :class="[labClass(item.lab_status)]"></i>
        </td>
      </template>

      <template #queue_time="{item}">
        <td class="text-center">
          <span class="label label-lg label-warning label-inline"> {{ item.queue_time }} น. </span>
        </td>
      </template>

      <template #queue_status_name="{item}">
        <td class="text-center">
          <span
            class="label label-lg label-success label-inline"
            :style="{ 'background-color': item.background_color }"
          >
            {{ item.queue_status_name }}
          </span>
        </td>
      </template>

      <template #actions="{item}">
        <td class="text-center nowrap">
          <a
            href="javascript:void(0);"
            class="btn btn-sm btn-outline-success btn-icon btn-sm mr-2"
            title="พิมพ์บัตรคิว"
            @click="$emit('printing', item.queue_detail_id)"
          >
            <i class="flaticon-technology"></i>
          </a>
          <!-- <a href="javascript:void(0);" class="btn btn-sm btn-outline-success btn-icon btn-sm mr-2" title="แก้ไข">
            <i class="flaticon-list"></i>
          </a> -->
          <a
            href="javascript:void(0);"
            class="btn btn-sm btn-outline-danger btn-icon btn-sm mr-2"
            title="ลบ"
            @click="$emit('delete', item)"
          >
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </template>
      <!-- Column -->
    </DataTable>
    <!--end: Datatable-->
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import _ from 'lodash'
import { mapState } from 'vuex'
import moment from 'moment'
import ProfileDetail from '@/components/Queue/HistoryTaking/Content/Profile'
moment.locale('th')

export default {
  name: 'TabContentQueueDoctor',
  components: {
    ProfileDetail,
  },
  filters: {
    queueTime: function (value) {
      return moment(value).format('HH:mm น.')
    },
  },
  props: {
    rowsDoctor: {
      type: Array,
      default: function () {
        return []
      },
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      doctor_id: '',
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'fullname', label: 'รายละเอียด' },
        { key: 'service_group_name', label: 'งานบริการ' },
        { key: 'doctor_name', label: 'แพทย์' },
        { key: 'lab', label: 'Lab' },
        { key: 'x-ray', label: 'X-Ray' },
        { key: 'lab_status', label: 'ผล Lab' },
        { key: 'queue_time', label: 'เวลาออกบัตร' },
        { key: 'queue_status_name', label: 'สถานะ' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
        },
      ],
    }
  },
  computed: {
    ...mapState({
      doctors: (state) => _.get(state.historyTaking, 'doctors', []),
    }),
    doctorFilterOptions() {
      if (!this.doctors.length) return []
      return this.doctors.map((item) => {
        return { id: item.doctor_id, text: `${item.prename || ''}${item.first_name} ${item.last_name}` }
      })
    },
    doctorOptions() {
      const opts = this.doctorFilterOptions
      return {
        placeholder: 'แพทย์ทั้งหมด',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
  },
  methods: {
    onPrintQueue(queue) {
      const _this = this
      Swal.fire({
        title: 'กำลังพิมพ์บัตรคิว...',
        html: '',
        timerProgressBar: true,
        showClass: {
          popup: 'swal2-noanimation',
        },
        timer: 1000,
        onBeforeOpen: () => {
          Swal.showLoading()
          $(Swal.getTitle()).css('font-size', '2rem')
        },
        onClose: () => {
          _this.$socket.emit(_this.$SOCKET_EVENTS.PRINTING_QUEUE, queue)
        },
      })
    },
    labClass: function (value) {
      if (!value) return ''
      let labClass = ''
      switch (value) {
        case 'Wait':
          labClass = 'fas fa-hourglass-end text-warning'
          break
        case 'Yes':
          labClass = 'far fa-check-circle text-success'
          break
        case 'No':
          labClass = 'flaticon-circle text-danger'
          break

        default:
          break
      }
      return labClass
    },
  },
}
</script>

<style lang="scss" scoped>
@media (max-width: 767px) {
  .filter-doctor,
  .btn-show-queue {
    margin-top: 5px;
    padding: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .filter-doctor,
  .btn-show-queue {
    margin-top: 5px;
    padding: 0 !important;
  }
}
</style>
