<template>
  <div
    id="tab-queue-list"
    :class="['tab-content-queue-list tab-pane fade show active animate__animated animate__zoomIn animate__faster']"
    role="tabpanel"
    aria-labelledby="tab-queue-list"
  >
    <!-- begin:: Form -->
    <form class="form" @submit.prevent="onSubmitFormSearch">
      <div class="form-group row">
        <div class="col-lg-3">
          <label>ค้นหา:</label>
          <div class="input-icon">
            <input id="input-search" v-model="filterKey" type="text" class="form-control" placeholder="ค้นหา..." />
            <span><i class="flaticon2-search-1 text-muted"></i></span>
          </div>
        </div>
        <div class="col-lg-3">
          <label>วันที่:</label>
          <DatePickerBs
            v-model="date"
            :options="{
              autoclose: true,
              language: 'th',
              clearBtn: false,
              todayBtn: true,
              todayHighlight: true,
              format: 'yyyy-mm-dd',
            }"
            :input-options="{ placeholder: 'วันที่', readonly: '' }"
          />
        </div>
        <div class="col-lg-3">
          <label>แพทย์:</label>
          <Select2 :id="`doctor_id`" v-model="doctor_id" :name="`doctor_id`" :options="doctorOptions" />
        </div>
        <div class="col-lg-3">
          <button type="submit" :disabled="loading" class="btn btn-light-primary ml-2 px-6 font-weight-bold mt-8">
            ค้นหา
          </button>
        </div>
      </div>
    </form>
    <div class="separator separator-dashed mt-8 mb-5"></div>
    <!-- end:: Form -->
    <!--begin: Datatable-->
    <DataTable
      hover
      bordered
      small
      fixed
      :items="filteredQueue"
      :fields="fields"
      :column-filter="false"
      :items-per-page="10"
      pagination
      sorter
      :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
      :loading="loading"
      :table-filter="false"
      :table-options="{
        id: 'tbl-queue',
        class: 'table dataTable kt-datatable__table table-head-bg table-vertical-center table-hover',
      }"
    >
      <!-- header-left-classes="col-sm-9 col-xs-12 p-0"
      header-right-classes="col-sm-6 col-xs-12 p-0" -->
      <template #header-right-toolbar>
        <button type="button" class="btn btn-light-success mr-2" @click="$emit('checklab')">
          อัพเดทผล Lab
        </button>
        <button
          type="button"
          title="Reload"
          :class="[
            'btn btn-icon btn-light-success btn-sm mr-2 mb-1',
            { 'spinner spinner-white spinner-right': loading },
          ]"
          @click="$emit('reload', 'queue-list')"
        >
          <i v-show="!loading" class="flaticon2-reload-1"></i>
        </button>
      </template>
      <!-- Column -->
      <template #index="{index}">
        <td class="text-center row-index">
          {{ index + 1 }}
        </td>
      </template>

      <template #fullname="{item}">
        <td class="nowrap">
          <ProfileDetail :user="item" />
        </td>
      </template>

      <template #doctor_name="{item}">
        <td class="nowrap">
          {{ item.doctor_name }}
        </td>
      </template>

      <template #lab="{item}">
        <td class="text-center">
          <!-- <i v-show="item.draw_blood === 'Yes'" class="fas fa-hourglass-end"></i> -->
          <span class="text-muted">
            {{ item.draw_blood === 'No' ? 'ไม่มี' : 'มี' }}
          </span>
        </td>
      </template>

      <template #x-ray="{item}">
        <td class="text-center">
          <!-- <i v-show="item.xray === 'Yes'" class="fas fa-hourglass-end"></i> -->
          <span class="text-muted">
            {{ item.xray === 'No' ? 'ไม่มี' : 'มี' }}
          </span>
        </td>
      </template>

      <template #lab_status="{item}">
        <td class="text-center">
          <i :class="[labClass(item.lab_status)]"></i>
        </td>
      </template>

      <template #queue_time="{item}">
        <td class="text-center">
          <span class="label label-lg label-warning label-inline"> {{ item.queue_time }} น. </span>
        </td>
      </template>

      <template #queue_status_name="{item}">
        <td class="text-center">
          <span
            class="label label-lg label-success label-inline"
            :style="{ 'background-color': item.background_color }"
          >
            {{ item.queue_status_name }}
          </span>
        </td>
      </template>

      <template #actions="{item}">
        <td class="text-center nowrap">
          <a
            href="javascript:void(0);"
            class="btn btn-sm btn-outline-success btn-icon btn-sm mr-2"
            title="พิมพ์บัตรคิว"
            @click="$emit('printing', item.queue_detail_id)"
          >
            <i class="flaticon-technology"></i>
          </a>
          <!-- <a
            v-if="item.queue_date === currentDate"
            href="javascript:void(0);"
            class="btn btn-sm btn-outline-success btn-icon btn-sm mr-2"
            title="แก้ไข"
          >
            <i class="flaticon2-pen"></i>
          </a> -->
          <a
            v-if="item.queue_date === currentDate"
            href="javascript:void(0);"
            class="btn btn-sm btn-outline-danger btn-icon btn-sm"
            title="ลบ"
            @click="$emit('delete', item)"
          >
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </template>
      <!-- Column -->
    </DataTable>
    <!--end: Datatable-->
    <div class="alert alert-custom alert-white alert-shadow gutter-b mt-5" role="alert">
      <div class="alert-icon">
        <i class="flaticon-warning"></i>
      </div>
      <div class="alert-text">
        <h5>สถานะ Lab</h5>
        <ul>
          <li><i class="fas fa-hourglass-end text-warning"></i> รอผล Lab</li>
          <li><i class="far fa-check-circle text-success"></i> ผล Lab ออกแล้ว</li>
          <li><i class="flaticon-circle text-danger"></i> ไม่มี Lab</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapState } from 'vuex'
import Swal from 'sweetalert2'
import moment from 'moment'
import DatePickerBs from '@/components/Base/Input/DatePickerBs'
import ProfileDetail from '@/components/Queue/HistoryTaking/Content/Profile'
moment.locale('th')

export default {
  name: 'TabContentQueueList',
  components: { ProfileDetail, DatePickerBs },
  props: {
    rowsQueue: {
      type: Array,
      default: function () {
        return []
      },
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      doctor_id: '',
      filterKey: '',
      // doctors: [],
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'fullname', label: 'รายละเอียด', _classes: 'text-dark-75' },
        { key: 'doctor_name', label: 'แพทย์', filter: true, filterType: 'select' },
        { key: 'lab', label: 'LAB' },
        { key: 'x-ray', label: 'X-Ray' },
        { key: 'lab_status', label: 'ผล Lab' },
        { key: 'queue_time', label: 'เวลาออกบัตร' },
        { key: 'queue_status_name', label: 'สถานะ' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
        },
      ],
      date: moment().format('YYYY-MM-DD'),
    }
  },
  computed: {
    ...mapState({
      doctors: (state) => _.get(state.historyTaking, 'doctors', []),
    }),
    doctorFilterOptions() {
      if (!this.doctors.length) return []
      return this.doctors.map((item) => {
        return { id: item.doctor_id, text: `${item.prename || ''}${item.first_name} ${item.last_name}` }
      })
    },
    doctorOptions() {
      const opts = this.doctorFilterOptions
      return {
        placeholder: 'แพทย์ทั้งหมด',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    filteredQueue: function () {
      const filterKey = this.filterKey && this.filterKey.toLowerCase()
      let rows = this.rowsQueue
      if (filterKey) {
        rows = rows.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().includes(filterKey)
          })
        })
      }
      return rows
    },
    currentDate() {
      return moment().format('YYYY-MM-DD')
    },
  },
  methods: {
    onPrintQueue(queue) {
      const _this = this
      Swal.fire({
        title: 'กำลังพิมพ์บัตรคิว...',
        html: '',
        timerProgressBar: true,
        showClass: {
          popup: 'swal2-noanimation',
        },
        timer: 1000,
        onBeforeOpen: () => {
          Swal.showLoading()
          $(Swal.getTitle()).css('font-size', '2rem')
        },
        onClose: () => {
          _this.$socket.emit(_this.$SOCKET_EVENTS.PRINTING_QUEUE, queue)
        },
      })
    },
    onSubmitFormSearch() {
      this.$emit('submit-search', {
        queue_date: this.date,
        doctor_id: this.doctor_id,
      })
    },
    labClass: function (value) {
      if (!value) return ''
      let labClass = ''
      switch (value) {
        case 'Wait':
          labClass = 'fas fa-hourglass-end text-warning'
          break
        case 'Yes':
          labClass = 'far fa-check-circle text-success'
          break
        case 'No':
          labClass = 'flaticon-circle text-danger'
          break

        default:
          break
      }
      return labClass
    },
  },
}
</script>

<style lang="scss" scoped></style>
