<template>
  <div class="card-toolbar">
    <nuxt-link
      :to="localePath('/setting/rbac/assignment')"
      class="btn btn-light-primary font-weight-bolder mr-2"
      active-class="active"
    >
      <span class="navi-icon"><flat-icon icon="users" /></span>
      <span class="navi-text">ผู้ใช้งาน</span>
    </nuxt-link>
    <nuxt-link
      :to="localePath('/setting/rbac/role')"
      class="btn btn-light-primary font-weight-bolder mr-2"
      active-class="active"
    >
      <span class="navi-icon"><flat-icon icon="user-add" /></span>
      <span class="navi-text">บทบาท</span>
    </nuxt-link>
    <nuxt-link
      :to="localePath('/setting/rbac/permission')"
      class="btn btn-light-primary font-weight-bolder mr-2"
      active-class="active"
    >
      <span class="navi-icon"><flat-icon icon="user-lock" /></span>
      <span class="navi-text">สิทธิ์</span>
    </nuxt-link>
    <nuxt-link
      :to="localePath('/setting/rbac/route')"
      class="btn btn-light-primary font-weight-bolder mr-2"
      active-class="active"
    >
      <span class="navi-icon"><flat-icon icon="user-lock" /></span>
      <span class="navi-text">เส้นทาง</span>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'ToolBar',
}
</script>

<style lang="scss" scoped></style>
