<template>
  <i :class="iconClasses"></i>
</template>

<script>
export default {
  name: 'FlatIcon',
  props: {
    icon: {
      type: String,
      default: '',
    },
  },
  computed: {
    iconClasses() {
      return 'flaticon-' + this.icon
    },
  },
}
</script>

<style lang="scss" scoped></style>
