<template>
  <div class="form-prefix">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <!-- begin -->
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ตัวอักษร</label>
              <ValidationProvider v-slot="{ errors }" name="ตัวอักษร" rules="required" tag="div" class="col-lg-4">
                <Select2 id="prefix_code" v-model="form.prefix_code" :name="`prefix_code`" :options="prefixCodeOpts" />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>

              <label class="col-form-label col-1 text-lg-right text-right">ช่วงอายุ</label>
              <ValidationProvider v-slot="{ errors }" name="ช่วงอายุ" rules="required" tag="div" class="col-lg-4">
                <Select2 id="age_range" v-model="form.age_range" :name="`age_range`" :options="ageRangesOpts" />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <!-- end -->

            <!-- begin -->
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ระดับ</label>
              <ValidationProvider v-slot="{ errors }" name="ระดับ" rules="required" tag="div" class="col-lg-4">
                <Select2
                  id="person_level"
                  v-model="form.person_level"
                  name="person_level"
                  :options="personLevelsOpts"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>

              <label class="col-form-label col-1 text-lg-right text-right">
                ลำดับ
              </label>
              <ValidationProvider v-slot="{ errors }" name="ลำดับ" rules="" tag="div" class="col-lg-4">
                <input
                  v-model="form.order_num"
                  type="number"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="order_num"
                />
                <span class="form-text text-muted">
                  ลำดับการสดงผลหน้าตู้ Kiosk
                </span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <!-- end -->

            <!-- begin -->
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">
                กลุ่มงานบริการ
              </label>
              <ValidationProvider v-slot="{ errors }" name="กลุ่มงานบริการ" rules="required" tag="div" class="col-lg-4">
                <Select2
                  id="service_group_id"
                  v-model.number="form.service_group_id"
                  name="service_group_id"
                  :options="serviceGgroupOpts"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>

              <!-- <label class="col-form-label col-1 text-lg-right text-right">งานบริการ</label>
              <ValidationProvider v-slot="{ errors }" name="งานบริการ" rules="" tag="div" class="col-lg-4">
                <div class="checkbox-list">
                  <label v-for="(item, index) in filteredServices" :key="index" class="checkbox">
                    <input
                      v-model.number="form.service_ids"
                      type="checkbox"
                      name="service_ids[]"
                      :value="item.service_id"
                    />
                    {{ item.service_name }}
                    <span></span>
                  </label>
                </div>
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider> -->
            </div>
            <!-- end -->

            <!-- begin -->
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ออกคิว Manaul</label>
              <ValidationProvider v-slot="{ errors }" name="ออกคิว Manaul" rules="" tag="div" class="col-lg-4">
                <div class="checkbox-inline">
                  <label class="checkbox checkbox-square checkbox-success">
                    <input
                      v-model="form.manual"
                      type="checkbox"
                      :class="[errors[0] ? 'is-invalid' : '']"
                      @change="onChangeManual"
                    />
                    <span></span>
                  </label>
                </div>
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <!-- end -->

            <div>
              <!-- begin -->
              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">เจาะเลือด</label>
                <ValidationProvider v-slot="{ errors }" name="เจาะเลือด" rules="" tag="div" class="col-lg-4">
                  <div class="radio-inline">
                    <template v-for="(item, key) in radioBloodOptions">
                      <label :key="key" class="radio radio-success">
                        <input v-model="form.draw_blood" type="radio" name="draw_blood" :value="item.id" />
                        <span></span>{{ item.text }}
                      </label>
                    </template>
                  </div>
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>
              <!-- end -->
              <!-- begin -->
              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">ระบุแพทย์</label>
                <ValidationProvider v-slot="{ errors }" name="ระบุแพทย์" rules="" tag="div" class="col-lg-4">
                  <div class="radio-inline">
                    <template v-for="(item, key) in radioDoctorOptions">
                      <label :key="key" class="radio radio-success">
                        <input
                          v-model="form.specify_doctor"
                          type="radio"
                          name="specify_doctor"
                          :value="item.id"
                          :class="[errors[0] ? 'is-invalid' : '']"
                        />
                        <span></span>{{ item.text }}
                      </label>
                    </template>
                  </div>
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>
              <!-- end -->
              <!-- begin -->
              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">X-ray</label>
                <ValidationProvider v-slot="{ errors }" name="X-ray" rules="" tag="div" class="col-lg-4">
                  <div class="radio-inline">
                    <template v-for="(item, key) in radioXrayOptions">
                      <label :key="key" class="radio radio-success">
                        <input
                          v-model="form.xray"
                          type="radio"
                          name="xray"
                          :value="item.id"
                          :class="[errors[0] ? 'is-invalid' : '']"
                        />
                        <span></span>{{ item.text }}
                      </label>
                    </template>
                  </div>
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/prefix')" class="btn btn-secondary">
                    ยกเลิก
                  </nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </template>
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
export default {
  name: 'CreatePrefix',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/prefix' },
      { title: 'ตัวอักษรหน้าเลขคิว', route: '/setting/prefix' },
      { title: 'บันทึกรายการ' },
    ],
  },
  async asyncData({ error, $apiSetting }) {
    try {
      const data = await $apiSetting.getPrefixOptions()
      const services = await $apiSetting.getAllService()
      const serviceGroups = await $apiSetting.getServiceGroups()
      return {
        prefixCodes: data.prefix_codes,
        ageRanges: data.age_ranges,
        personLevels: data.person_levels,
        services: services,
        serviceGroups: serviceGroups,
      }
    } catch (err) {
      error({ statusCode: err.statusCode, message: err.message })
    }
  },
  data() {
    return {
      title: 'บันทึกรายการ',
      loading: false,
      submitted: false,

      prefixCodes: [],
      ageRanges: [],
      personLevels: [],
      serviceGroups: [],
      services: [],

      form: {
        prefix_id: null,
        prefix_code: '',
        age_range: '',
        person_level: '',
        draw_blood: '',
        service_ids: [],
        // draw_blood_id: '',
        specify_doctor: '',
        xray: '',
        // xray_id: '',
        service_group_id: '',
        order_num: null,
        manual: false,
      },
      radioBloodOptions: [
        {
          id: 'No',
          text: 'ไม่เจาะเลือด',
        },
        {
          id: 'Yes',
          text: 'เจาะเลือด',
        },
      ],
      radioDoctorOptions: [
        {
          id: 'No',
          text: 'ไม่ระบุแพทย์',
        },
        {
          id: 'Yes',
          text: 'ระบุแพทย์',
        },
      ],
      radioXrayOptions: [
        {
          id: 'No',
          text: 'ไม่เอ็กซเรย์',
        },
        {
          id: 'Yes',
          text: 'เอ็กซเรย์',
        },
      ],
    }
  },
  computed: {
    filteredServices() {
      return this.services.filter((row) => row.service_group_id === this.form.service_group_id)
    },
    prefixCodeOpts() {
      const opts = this.prefixCodes.map((value) => {
        return { id: value, text: value }
      })
      return {
        placeholder: 'เลือกตัวอักษร',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    ageRangesOpts() {
      const opts = this.ageRanges.map((row) => {
        return { id: row.id, text: row.title }
      })
      return {
        placeholder: 'เลือกช่วงอายุ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    personLevelsOpts() {
      const opts = this.personLevels.map((item) => {
        return { id: item.id, text: item.level_name }
      })
      return {
        placeholder: 'เลือกระดับ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    serviceGgroupOpts() {
      const opts = this.serviceGroups.map((item) => {
        return { id: item.service_group_id, text: item.service_group_name }
      })
      return {
        placeholder: 'เลือกกลุ่มงานบริการ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
  },
  beforeDestroy() {
    this.form = {
      prefix_id: null,
      prefix_code: '',
      age_range: '',
      person_level: '',
      draw_blood: '',
      service_ids: [],
      // draw_blood_id: '',
      specify_doctor: '',
      xray: '',
      // xray_id: '',
      service_group_id: '',
      order_num: null,
      manual: false,
    }
  },
  methods: {
    async getAllService() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.services = await _this.$apiSetting.getAllService()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    async getServiceGroups() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.serviceGroups = await _this.$apiSetting.getServiceGroups()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    async getPrefixOptions() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiSetting.getPrefixOptions()
        _this.prefixCodes = data.prefix_codes
        _this.ageRanges = data.age_ranges
        _this.personLevels = data.person_levels
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        let message = ''
        if (!_this.form.prefix_id) {
          const data = await _this.$apiSetting.createPrefix(_this.form)
          message = data.message
        } else {
          const data = await _this.$apiSetting.updatePrefix(_this.form.prefix_id, _this.form)
          message = data.message
        }

        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/prefix'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
    onChangeManual(e) {
      if (e.target.checked) {
        this.form = this.$updateObject(this.form, {
          draw_blood: '',
          xray: '',
          specify_doctor: '',
        })
      }
    },
    onChangeServiceGroup(e) {
      if (this.form.service_group_id !== e.target.value) {
        this.form = this.$updateObject(this.form, {
          service_ids: [],
        })
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
