<template>
  <div class="prefix-page">
    <div id="accordionExample8" class="accordion accordion-solid accordion-panel accordion-svg-toggle mb-4">
      <div class="card">
        <div id="headingOne8" class="card-header">
          <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne8" aria-expanded="false">
            <div class="card-label">จัดเรียงลำดับ</div>
            <span class="svg-icon"
              ><!--begin::Svg Icon | path:/metronic/themes/metronic/theme/html/demo6/dist/assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                version="1.1"
              >
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon points="0 0 24 0 24 24 0 24"></polygon>
                  <path
                    d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                    fill="#000000"
                    fill-rule="nonzero"
                  ></path>
                  <path
                    d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                    fill="#000000"
                    fill-rule="nonzero"
                    opacity="0.3"
                    transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "
                  ></path>
                </g></svg
              ><!--end::Svg Icon--></span
            >
          </div>
        </div>
        <div id="collapseOne8" class="collapse" data-parent="#accordionExample8" style="">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-lg-6 offset-2">
                <label>กลุ่มงานบริการ:</label>
                <!-- begin -->
                <select2 v-model.number="service_group_id" name="service_group_id" :options="serviceGroupOpts" />
                <!-- end -->
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-8 offset-2">
                <div id="dd" class="dd dd-draghandle darker w-100">
                  <ol class="dd-list">
                    <template v-for="(row, i) in filteredServices">
                      <li :key="i" class="dd-item dd2-item" :data-id="row.prefix_id">
                        <div class="dd-handle dd2-handle">
                          <i class="normal-icon fas fa-sort-numeric-down"></i>

                          <i class="drag-icon fas fa-arrows-alt"></i>
                        </div>
                        <div class="dd2-content">
                          {{ row.order_num }}. {{ row.prefix_code }} ({{ row.service_group_name }}:{{
                            row.service_name
                          }}) {{ getAgeTitle(row.age_range) }} {{ getPersonLevel(row.person_level) }}
                        </div>
                      </li>
                    </template>
                  </ol>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-6 offset-2">
                <button
                  type="button"
                  :disabled="submitted || !filteredServices.length"
                  :class="[
                    'btn btn-light-primary font-weight-bolder mr-2',
                    { 'spinner spinner-white spinner-right': submitted },
                  ]"
                  @click="onSaveOrderItem"
                >
                  บันทึก
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <card title="ตัวอักษรหน้าเลขคิว">
      <!-- begin:: Toolbar -->
      <template #toolbar>
        <nuxt-link :to="localePath('/setting/prefix/create')" class="btn btn-light-primary font-weight-bolder mr-2">
          <span class="navi-icon"><i class="flaticon2-add-1"></i></span>
          <span class="navi-text">เพิ่มรายการ</span>
        </nuxt-link>
      </template>
      <!-- end:: Toolbar -->
      <template #body>
        <!--begin: Datatable-->
        <DataTable
          hover
          bordered
          small
          fixed
          :items="rows"
          :fields="fields"
          :column-filter="false"
          :items-per-page="10"
          pagination
          sorter
          :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
          :loading="loading"
          :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
          :table-options="{
            id: 'tbl-prefix',
            class: 'table dataTable kt-datatable__table table-vertical-center table-sm',
          }"
        >
          <!-- Column -->
          <template #index="{index}">
            <td class="text-center row-index">
              {{ index + 1 }}
            </td>
          </template>

          <template #icon="{item}">
            <td class="text-center">
              <div v-if="item.icon_base_url" class="symbol mr-3">
                <img alt="Pic" :src="item.icon_base_url + item.icon_path" />
              </div>
            </td>
          </template>

          <template #order_num="{item}">
            <td class="text-center">
              {{ item.order_num }}
            </td>
          </template>

          <template #prefix_code="{item}">
            <td class="text-center">
              {{ item.prefix_code }}
            </td>
          </template>

          <template #service_group_id="{item}">
            <td class="text-center">
              {{ item.service_group_name }}
            </td>
          </template>

          <template #service_name="{item}">
            <td>
              {{ item.service_name }}
            </td>
          </template>

          <template #age_range="{item}">
            <td class="text-center">
              {{ getAgeTitle(item.age_range) }}
            </td>
          </template>

          <template #person_level="{item}">
            <td class="text-center">
              {{ getPersonLevel(item.person_level) }}
            </td>
          </template>

          <template #draw_blood="{item}">
            <td class="text-center">
              <span v-if="item.draw_blood === 'y'" class="label label-pill label-inline label-success mr-2">
                Yes
              </span>
              <span v-else class="label label-pill label-inline label-danger mr-2">
                No
              </span>
            </td>
          </template>

          <template #specify_doctor="{item}">
            <td class="text-center">
              <span v-if="item.specify_doctor === 'y'" class="label label-pill label-inline label-success mr-2">
                Yes
              </span>
              <span v-else class="label label-pill label-inline label-danger mr-2">
                No
              </span>
            </td>
          </template>

          <template #xray="{item}">
            <td class="text-center">
              <span v-if="item.xray === 'y'" class="label label-pill label-inline label-success mr-2">
                Yes
              </span>
              <span v-else class="label label-pill label-inline label-danger mr-2">
                No
              </span>
            </td>
          </template>

          <template #actions="{item}">
            <td class="text-center no-wrap">
              <nuxt-link
                :to="localePath(`/setting/prefix/update/${item.prefix_id}`)"
                class="btn btn-sm btn-outline-success btn-icon mr-2"
                title="แก้ไข"
              >
                <i class="flaticon2-pen"></i>
              </nuxt-link>
              <button type="button" class="btn btn-sm btn-outline-danger btn-icon" title="ลบ" @click="onDelete(item)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </template>
          <!-- Column -->
        </DataTable>
        <!--end: Datatable-->
      </template>
    </card>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'Prefix',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'ตั้งค่า', route: '/setting/prefix' }, { title: 'ตัวอักษรหน้าเลขคิว' }],
  },
  async asyncData({ error, $apiSetting }) {
    try {
      const data = await $apiSetting.getPrefixOptions()
      return {
        prefixCodes: data.prefix_codes,
        ageRanges: data.age_ranges,
        personLevels: data.person_levels,
      }
    } catch (err) {
      error({ statusCode: err.statusCode, message: err.message })
    }
  },
  data() {
    return {
      loading: false,
      submitted: false,
      rows: [],

      prefixCodes: [],
      ageRanges: [],
      personLevels: [],
      service_group_id: '',

      // table fields
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'prefix_code', label: 'ตัวอักษร' },
        { key: 'order_num', label: 'ลำดับ' },
        { key: 'service_group_id', label: 'กลุ่มงานบริการ' },
        // { key: 'service_name', label: 'งานบริการ' },
        { key: 'age_range', label: 'ช่วงอายุ' },
        { key: 'person_level', label: 'ระดับ' },
        // { key: 'draw_blood', label: 'เจาะเลือด' },
        // { key: 'specify_doctor', label: 'ระบุแพทย์' },
        // { key: 'xray', label: 'X-ray' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
          _classes: 'no-wrap',
        },
      ],
    }
  },
  computed: {
    serviceGroups() {
      const groups = this.rows.map((row) => {
        return { service_group_id: row.service_group_id, service_group_name: row.service_group_name }
      })
      return _.uniqBy(groups, function (e) {
        return e.service_group_id
      })
    },
    filteredServices() {
      const services = this.rows.filter((r) => r.service_group_id === this.service_group_id)
      return this.$sortBy(services, 'order_num')
    },
    serviceGroupOpts() {
      const opts = this.serviceGroups.map((row) => {
        return { id: row.service_group_id, text: `${row.service_group_name}` }
      })
      return {
        placeholder: 'เลือกกลุ่มงานบริการ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
  },
  mounted() {
    // this.getPrefixOptions()
    this.fetchDataPrefix()
    setTimeout(() => {
      $('#dd').nestable({
        maxDepth: 1,
      })
    }, 1000)
  },
  beforeDestroy() {
    $('#dd').nestable('destroy')
  },
  methods: {
    async fetchDataPrefix() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.rows = await _this.$apiSetting.getAllPrefix()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    async getPrefixOptions() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiSetting.getPrefixOptions()
        _this.prefixCodes = data.prefix_codes
        _this.ageRanges = data.age_ranges
        _this.personLevels = data.person_levels
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    getAgeTitle(value) {
      const age = this.ageRanges.find((row) => row.id === value)
      return age ? age.title : ''
    },
    getPersonLevel(value) {
      const person = this.personLevels.find((row) => row.id === value)
      return person ? person.level_name : ''
    },
    onDelete(item) {
      const _this = this
      _this.$Swal
        .fire({
          title: 'ยืนยันการลบรายการ?',
          text: '',
          icon: 'question',
          showCancelButton: true,
          allowOutsideClick: false,
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก',
          showLoaderOnConfirm: true,
          preConfirm: function () {
            return new Promise(function (resolve) {
              _this.$apiSetting
                .deletePrefix(item.prefix_id)
                .then((res) => {
                  resolve(res)
                })
                .catch((error) => {
                  _this.$errorHandler(error)
                })
            })
          },
        })
        .then((result) => {
          if (result.value) {
            _this.fetchDataPrefix()

            _this.$Swal.fire({
              icon: 'success',
              title: 'ลบรายการสำเร็จ',
              text: '',
              confirmButtonText: 'ตกลง',
            })
          }
        })
    },
    async onSaveOrderItem() {
      const _this = this
      try {
        _this.setSubmitted(true)
        const items = $('#dd').nestable('serialize')
        const data = await _this.$apiSetting.saveOrderPrefix({ items: items })
        await this.fetchDataPrefix()
        const serviceGroupId = _this.service_group_id
        _this.service_group_id = ''
        setTimeout(() => {
          _this.service_group_id = serviceGroupId
        }, 1000)
        _this.$Swal.fire({
          icon: 'success',
          title: data.message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: 'ตัวอักษรหน้าเลขคิว',
    }
  },
}
</script>

<style>
@import url(../../../assets/css/nestable.min.css);
</style>
