<template>
  <div class="assignment-page">
    <card title="รายชื่อผู้ใช้งาน">
      <!-- begin:: Toolbar -->
      <template #toolbar>
        <ToolBar />
      </template>
      <!-- end:: Toolbar -->
      <template #body>
        <!--begin: Datatable-->
        <data-table
          hover
          bordered
          small
          fixed
          :items="rows"
          :fields="fields"
          :column-filter="false"
          :items-per-page="10"
          pagination
          sorter
          :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
          :loading="loading"
          :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
          :table-options="{
            id: 'tbl-assignment',
            class: 'table dataTable kt-datatable__table table-vertical-center table-sm',
          }"
        >
          <!-- Columns -->
          <template #index="{index}">
            <td class="text-center row-index">
              {{ index + 1 }}
            </td>
          </template>

          <template #username="{item}">
            <td>
              {{ item.username }}
            </td>
          </template>

          <template #name="{item}">
            <td>
              {{ item.name }}
            </td>
          </template>

          <template #actions="{item}">
            <td class="text-center">
              <nuxt-link
                class="btn btn-success btn-hover-success btn-sm"
                :to="localePath(`/setting/rbac/assignment/view/${item.id}`)"
              >
                <flat-icon icon="lock" /> กำหนดสิทธิ์
              </nuxt-link>
            </td>
          </template>
          <!-- Columns -->
        </data-table>
        <!--end: Datatable-->
      </template>
    </card>
  </div>
</template>

<script>
import ToolBar from '@/components/Rbac/Toolbar'

export default {
  name: 'Assignment',
  layout: 'main',
  middleware: 'authenticated',
  components: {
    ToolBar,
  },
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/rbac/assignment' },
      { title: 'สิทธิ์การใช้งาน', route: '/setting/rbac/assignment' },
      { title: 'กำหนดสิทธิ์' },
    ],
  },
  data() {
    return {
      loading: false,
      rows: [],
      // table fields
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'username', label: 'ชื่อผู้ใช้งาน' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
        },
      ],
    }
  },
  mounted() {
    this.fetchUsersAssignment()
  },
  methods: {
    async fetchUsersAssignment() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiRbac.getUserAssignment()
        _this.rows = data
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: 'รายชื่อผู้ใช้งาน',
    }
  },
}
</script>

<style lang="scss" scoped></style>
