<template>
  <div class="card-toolbar">
    <!--begin::Button-->
    <button
      type="button"
      class="btn btn-outline-primary font-weight-bolder mr-1"
      data-toggle="collapse"
      data-target="#collapse-form"
      aria-expanded="false"
      @click="$emit('show-form')"
    >
      <i class="flaticon2-plus"></i> เพิ่มรายการ
    </button>
    <button
      type="button"
      class="btn btn-outline-primary font-weight-bolder mr-1"
      data-toggle="collapse"
      data-target="#collapse-form-copy"
      aria-expanded="false"
      @click="$emit('copy')"
    >
      <i class="flaticon2-copy"></i> Copy ข้อมูล
    </button>
    <button
      type="button"
      class="btn btn-icon btn-sm btn-hover-light-primary mr-1"
      data-toggle="tooltip"
      data-placement="top"
      title="Fullscreen"
      data-original-title="Full screen"
      @click="$emit('toggle-fullscreen')"
    >
      <i :class="[{ 'fas fa-expand-alt icon-nm': !maximized, 'fas fa-compress-alt': maximized }]"></i>
    </button>
    <!--end::Button-->
  </div>
</template>

<script>
export default {
  name: 'CardToolbar',
  props: {
    maximized: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped></style>
