<template>
  <div class="form-search">
    <form>
      <!-- input search -->
      <div class="form-group">
        <div class="input-icon">
          <input type="text" class="form-control" placeholder="ค้นหา..." :value="filterKey" @input="updateFilterKey" />
          <span>
            <i class="flaticon2-search-1 icon-md"></i>
          </span>
        </div>
        <span class="form-text text-muted"></span>
      </div>
      <!-- service group -->
      <div class="form-group">
        <Select2
          :id="`filterServiceGroupId`"
          :name="`filterServiceGroupId`"
          :options="serviceGroupOptions"
          :value="service_group_filter_key"
          @input="onChangeServiceGroup"
        />
      </div>
      <!-- doctors -->
      <div class="form-group">
        <Select2
          :id="`filterDoctor`"
          :name="`filterDoctor`"
          :options="doctorOptions"
          :value="doctor_filter_key"
          @input="onChangeDoctor"
        />
      </div>
      <!-- holiday only -->
      <div class="form-group">
        <div class="checkbox-inline">
          <label class="checkbox checkbox-square checkbox-success">
            <input
              type="checkbox"
              name="holidayOnly"
              :value="holiday_only"
              :checked="holiday_only"
              @input="updateHolidayOnly"
            />
            <span></span>
            แสดงเฉพาะวันหยุด
          </label>
        </div>
      </div>
      <!-- filter days -->
      <div class="form-group">
        <div class="checkbox-inline">
          <label v-for="day in dayList" :key="day" class="checkbox checkbox-square checkbox-success">
            <input
              type="checkbox"
              name="filterDays[]"
              :value="day"
              :checked="checkedHoliday(day)"
              @input="updateFilterDays"
            />
            <span></span>
            {{ day }}
          </label>
        </div>
      </div>
      <!-- datepicker -->
      <div class="form-group">
        <DatePickerInline
          id="datepicker-inline"
          ref="dpkinline"
          :options="dpkInlineOptions"
          @changeDate="onChangeDateInline"
          @changeMonth="onChangeMonthInline"
        />
      </div>

      <div class="form-group text-right">
        <div id="calendarTrash" class="calendar-trash">
          <a
            id="kt_quick_notifications_toggle"
            href="javascript:void(0);"
            class="btn btn-icon btn-hover-text-primary btn-lg mb-1 position-relative mr-10"
            data-toggle="tooltip"
            data-placement="right"
            data-container="body"
            data-boundary="window"
            title=""
            data-original-title="Notifications"
          >
            <span class="svg-icon svg-icon-primary svg-icon-3x svg-icon-danger"
              ><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-07-29-055858/theme/html/demo6/dist/../src/media/svg/icons/Home/Trash.svg--><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                version="1.1"
              >
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path
                    d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z"
                    fill="#000000"
                    fill-rule="nonzero"
                  />
                  <path
                    d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                    fill="#000000"
                    opacity="0.3"
                  />
                </g></svg
              ><!--end::Svg Icon--></span
            >
            <!-- <span
              class="label label-md label-light-danger label-rounded font-weight-bolder position-absolute top-0 right-0 mt-1 mr-1 font-size-lg"
            >
              3
            </span> -->
          </a>
          <span class="form-text text-muted">Drag and Drop วางที่นี่เพื่อลบรายการ</span>
          <!-- <img src="@/assets/images/trash.png" alt="image" width="32px" /> -->
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment'
import {
  SCHEDULE_MODULE_NAME,
  SET_SERVICE_GROUP_FILTER,
  SET_DOCTOR_FILTER,
  SET_FILTER_KEY,
  SET_FILTER_HOLIDAY_ONLY,
  SET_FILTER_DAYS,
} from '@/core/types/schedule'
import DatePickerInline from '@/components/Base/Input/DatePickerInline'
moment.locale('th')

export default {
  name: 'FormSearch',
  components: {
    DatePickerInline,
  },
  props: {
    serviceGroups: {
      type: Array,
      default: function () {
        return []
      },
      required: true,
    },
    doctors: {
      type: Array,
      default: function () {
        return []
      },
      required: true,
    },
  },
  data() {
    return {
      datepickerInlineOpts: {
        language: 'th',
        todayHighlight: true,
        todayBtn: true,
        title: 'วันที่ต้องการค้นหา',
        format: 'yyyy-mm-dd',
      },
    }
  },
  computed: {
    ...mapState({
      filterKey: (state) => state.schedule.filterKey,
      service_group_filter_key: (state) => state.schedule.service_group_filter_key,
      doctor_filter_key: (state) => state.schedule.doctor_filter_key,
      holiday_only: (state) => state.schedule.holiday_only,
      filter_days: (state) => state.schedule.filter_days,
      DatesDisabled: (state) => state.schedule.datesDisabled,
      holidayEvents: (state) => state.schedule.holidayEvents,
      holidays: (state) => state.schedule.holidays,
    }),
    /**
     * ตัวเลือกกลุ่มงานบริการ
     */
    serviceGroupOptions() {
      const items = this.serviceGroups
      return {
        placeholder: 'กลุ่มงานบริการทั้งหมด',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...items,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    /**
     * ตัวเลือกแพทย์
     */
    doctorOptions() {
      const items = this.doctors
      return {
        placeholder: 'แพทย์ทั้งหมด',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...items,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    // รายชื่อวัน
    dayList() {
      const days = []
      for (let i = 0; i < 7; i++) {
        days.push(moment().days(i).format('dd'))
      }
      return days.filter((d) => d !== 'อา.' && d !== 'ส.')
    },
    dpkInlineOptions() {
      const _this = this
      return this.$updateObject(this.datepickerInlineOpts, {
        beforeShowDay: function (date) {
          const d = moment(date).format('YYYY-MM-DD')
          if (_this.DatesDisabled.includes(d)) {
            const data = _this.holidays.find((row) => moment(row.HolidayDate, 'DD/MM/YYYY').format('YYYY-MM-DD') === d)
            if (data) {
              return {
                tooltip: data.HolidayName,
              }
            }
          }
        },
      })
    },
  },
  methods: {
    onChangeServiceGroup(value) {
      // this.$emit('select-group', e.target.value)
      this.$store.commit(`${SCHEDULE_MODULE_NAME}/${SET_SERVICE_GROUP_FILTER}`, value)
    },
    onChangeDoctor(value) {
      // this.$emit('select-doctor', e.target.value)
      this.$store.commit(`${SCHEDULE_MODULE_NAME}/${SET_DOCTOR_FILTER}`, value)
    },
    updateFilterKey(e) {
      this.$store.commit(`${SCHEDULE_MODULE_NAME}/${SET_FILTER_KEY}`, e.target.value)
    },
    updateHolidayOnly(e) {
      this.$store.commit(`${SCHEDULE_MODULE_NAME}/${SET_FILTER_HOLIDAY_ONLY}`, e.target.checked)
    },
    updateFilterDays(e) {
      if (e.target.checked) {
        let items = []
        items = items.concat(this.filter_days)
        items.push(e.target.value)
        this.$store.commit(`${SCHEDULE_MODULE_NAME}/${SET_FILTER_DAYS}`, items)
      } else {
        const items = this.filter_days.filter((value) => value !== e.target.value)
        this.$store.commit(`${SCHEDULE_MODULE_NAME}/${SET_FILTER_DAYS}`, items)
      }
    },
    onChangeDateInline(e) {
      this.$emit('change-date', e)
    },
    onChangeMonthInline(e) {
      this.$emit('change-month', e)
    },
    checkedHoliday(day) {
      return this.filter_days.includes(day)
    },
  },
}
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 1rem;
}
#external-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 10px 0;
  cursor: pointer;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}
</style>
