<template>
  <div class="error-page">
    <div class="error error-5 d-flex flex-row-fluid bgi-size-cover bgi-position-center bg-error">
      <!--begin::Content-->
      <div class="container d-flex flex-row-fluid flex-column justify-content-md-center p-12">
        <h1 class="error-title font-weight-boldest text-danger mt-10 mt-md-0 mb-12">403 Forbidden!</h1>
        <p class="font-weight-boldest display-4">
          คุณไม่ได้รับอนุญาตให้ดำเนินการนี้.
        </p>
        <p class="font-size-h3"></p>
      </div>
      <!--end::Content-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'Forbidden',
}
</script>

<style scoped>
.error-page {
  height: 100%;
}
.bg-error {
  background-image: url(../../assets/images/bg/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.error.error-5 .error-title {
  font-size: 5rem !important;
}
@media (min-width: 768px) {
  .error.error-5 .error-title {
    font-size: 8rem !important;
  }
}
</style>
