<template>
  <div class="error-page" style="height: 100%;">
    <div class="error error-5 d-flex flex-row-fluid bgi-size-cover bgi-position-center bg-error">
      <!--begin::Content-->
      <div class="container d-flex flex-row-fluid flex-column justify-content-md-center p-12">
        <h1 class="error-title font-weight-boldest text-danger mt-10 mt-md-0 mb-12">404</h1>
        <p class="font-weight-boldest display-4">
          Page not found.
        </p>
        <p class="font-size-h3">
          <a href="#" class="btn btn-light" @click.prevent="$router.back()">
            กลับไปยังหน้าหลัก
          </a>
        </p>
      </div>
      <!--end::Content-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageNotFound',
}
</script>

<style scoped>
.bg-error {
  background-image: url(../../assets/images/bg/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.error.error-5 .error-title {
  font-size: 7rem !important;
}
@media (min-width: 768px) {
  .error.error-5 .error-title {
    font-size: 8rem !important;
  }
}
</style>
