<script>
import CreateForm from '@/pages/setting/service-point/create'

export default {
  name: 'UpdateServicePoint',
  extends: CreateForm,
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: 'role' },
      { title: 'จุดบริการ', route: '/setting/service-point' },
      { title: 'แก้ไขรายการ' },
    ],
  },
  data() {
    return {
      title: 'แก้ไขรายการ',
    }
  },
  mounted() {
    this.getServicePointById()
  },
  methods: {
    async getServicePointById() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiSetting.getServicePointById(_this.$route.params.id)
        const fileds = Object.keys(_this.form)
        const updateForm = {}
        Object.keys(data).map((k) => {
          if (fileds.includes(k)) {
            updateForm[k] = data[k]
          }
        })
        _this.form = _this.$updateObject(_this.form, updateForm)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        const formData = _this.$updateObject(_this.form, {
          service_point_status: +_this.form.service_point_status,
        })
        let message = ''
        // update
        const data = await _this.$apiSetting.updateServicePoint(_this.form.service_point_id, formData)
        message = data.message
        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/service-point'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
