<template>
  <div class="form-service-group">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="card-body">
              <div class="fomr-group row">
                <label class="col-form-label col-2 text-lg-right text-right">ไอคอน</label>
                <div class="col-lg-6">
                  <div
                    id="service_icon"
                    ref="service_icon"
                    class="image-input image-input-empty image-input-outline"
                    :style="{
                      'background-image': icon_url ? `url(${icon_url})` : 'none',
                    }"
                  >
                    <div ref="input_wrapper" class="image-input-wrapper image-input-border-dashed"></div>

                    <label
                      class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      data-action="change"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Change icon"
                    >
                      <i class="fa fa-pen icon-sm text-muted"></i>
                      <input
                        ref="input_file"
                        type="file"
                        name="icon"
                        accept=".png, .jpg, .jpeg"
                        @change="onChangeIcon"
                      />
                      <input ref="input_hidden" type="hidden" name="icon_remove" />
                    </label>

                    <span
                      class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      data-action="cancel"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Cancel icon"
                      @click="onCancelIcon"
                    >
                      <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>

                    <span
                      class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      data-action="remove"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Remove icon"
                      @click="onRemoveIcon"
                    >
                      <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">ชื่อกลุ่มงานบริการ</label>
                <ValidationProvider
                  v-slot="{ errors }"
                  name="ชื่อกลุ่มงานบริการ"
                  rules="required"
                  tag="div"
                  class="col-lg-6"
                >
                  <input
                    v-model="form.service_group_name"
                    type="text"
                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                    placeholder=""
                    name="service_group_name"
                  />
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">สถานะ</label>
                <ValidationProvider v-slot="{ errors }" name="สถานะ" rules="required" tag="div" class="col-lg-6">
                  <div class="radio-inline">
                    <label class="radio radio-solid">
                      <input
                        v-model="form.service_group_status"
                        type="radio"
                        name="service_group_status"
                        checked="checked"
                        :value="0"
                      />
                      ไม่ใช้งาน
                      <span></span>
                    </label>
                    <label class="radio radio-solid">
                      <input v-model="form.service_group_status" type="radio" name="service_group_status" :value="1" />
                      ใช้งาน
                      <span></span>
                    </label>
                  </div>
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/service-group')" class="btn btn-secondary">
                    ยกเลิก
                  </nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </template>
      <!-- end:: Body -->
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
export default {
  name: 'CreateServiceGroup',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/service-group' },
      { title: 'กลุ่มงานบริการ', route: '/setting/service-group' },
      { title: 'สร้างรายการ' },
    ],
  },
  data() {
    return {
      loading: false,
      submitted: false,
      title: 'บันทึกกลุ่มงานบริการ',

      form: {
        service_group_id: '',
        service_group_name: '',
        service_group_no: '',
        service_group_status: 1,
        icon_base_url: '',
        icon_path: '',
        icon_upload: '',
      },
      icon_url: null,
    }
  },
  beforeDestroy() {
    this.form = {
      service_group_id: '',
      service_group_name: '',
      service_group_no: '',
      service_group_status: 1,
      icon_base_url: '',
      icon_path: '',
      icon_upload: '',
    }
  },
  methods: {
    onChangeIcon(e) {
      const _this = this
      if (e.target.files && e.target.files[0]) {
        const file = e.target.files[0]
        const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png'
        const isLt2M = file.size / 1024 / 1024 < 2 // limit size  2MB
        if (!isJpgOrPng) {
          _this.$Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'You can only upload JPG or PNG file!',
            confirmButtonText: 'ตกลง',
            allowOutsideClick: false,
          })
        } else if (!isLt2M) {
          _this.$Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'รูปภาพต้องมีขนาดน้อยกว่า 2MB!',
            confirmButtonText: 'ตกลง',
            allowOutsideClick: false,
          })
        } else {
          const reader = new FileReader()
          reader.onload = function (e) {
            _this.icon_url = e.target.result
          }
          reader.readAsDataURL(file)
          KTUtil.addClass(this.$refs.service_icon, 'image-input-changed')
          KTUtil.removeClass(this.$refs.service_icon, 'image-input-empty')
          _this.form.icon_upload = file
        }
      }
    },
    onCancelIcon() {
      this.icon_url = null
      this.form.icon_upload = null
      KTUtil.removeClass(this.$refs.service_icon, 'image-input-changed')
      KTUtil.addClass(this.$refs.service_icon, 'image-input-empty')
      this.$refs.input_file.value = ''
      this.$refs.input_hidden.value = '0'
    },
    onRemoveIcon() {
      this.icon_url = null
      this.form.icon_upload = null
      KTUtil.removeClass(this.$refs.service_icon, 'image-input-changed')
      KTUtil.addClass(this.$refs.service_icon, 'image-input-empty')
      this.$refs.input_file.value = ''
      this.$refs.input_hidden.value = '1'
    },
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        const formData = new FormData()
        for (const field in _this.form) {
          formData.append(field, _this.form[field])
        }
        let message = ''
        if (!_this.form.service_group_id) {
          const data = await _this.$apiSetting.createServiceGroup(formData)
          message = data.message
        } else {
          const data = await _this.$apiSetting.updateServiceGroup(_this.form.service_group_id, formData)
          message = data.message
        }
        _this.$Swal
          .fire({
            icon: 'success',
            title: message,
            text: '',
            confirmButtonText: 'ตกลง',
          })
          .then((result) => {
            if (result.value) {
              _this.$router.push(_this.localePath('/setting/service-group'))
            }
          })
        _this.setSubmitted(false)
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
