<template>
  <div v-if="loading" class="loading-ellipsis d-flex justify-content-center align-items-center">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LdsLoading',
  props: {
    loading: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped></style>
