<template>
  <div class="create-queue-status">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ชื่อสถานะ</label>
              <ValidationProvider v-slot="{ errors }" name="ชื่อสถานะ" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.queue_status_name"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="queue_status_name"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">สีพื้นหลัง</label>
              <ValidationProvider v-slot="{ errors }" name="สีพื้นหลัง" rules="required" tag="div" class="col-lg-4">
                <compact-picker v-model="form.background_color"></compact-picker>
                <span class="form-text text-muted">สีพื้นหลังที่ต้องการแสดงบนหน้ารายการคิวต่างๆ</span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/queue-status')" class="btn btn-secondary">ยกเลิก</nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </template>
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
import { Compact } from 'vue-color'

export default {
  name: 'CreateQueueStatus',
  components: {
    'compact-picker': Compact,
  },
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/queue-status' },
      { title: 'สถานะคิว', route: '/setting/queue-status' },
      { title: 'บันทึกรายการ' },
    ],
  },
  data() {
    return {
      title: 'บันทึกรายการ',
      loading: false,
      submitted: false,

      form: {
        queue_status_id: '',
        queue_status_name: '',
        background_color: '#009CE0',
      },
    }
  },
  beforeDestroy() {
    this.form = {
      queue_status_id: '',
      queue_status_name: '',
    }
  },
  methods: {
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        const formData = _this.$updateObject(_this.form, {
          background_color: _this.form.background_color.hex || _this.form.background_color,
        })

        let message = ''
        if (!formData.queue_status_id) {
          // create
          const data = await _this.$apiSetting.createQueueStatus(formData)
          message = data.message
        } else {
          // update
          const data = await _this.$apiSetting.updateQueueStatus(formData.queue_status_id, formData)
          message = data.message
        }

        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/queue-status'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
