<template>
  <div class="kiosk-page">
    <!-- begin:: Row -->
    <section v-show="isShowSections">
      <KioskSawatdee />
    </section>
    <!-- end:: Row -->

    <!-- begin:: Section -->
    <section v-if="!isPatient">
      <h1 class="text-center mb-5">{{ sectionLabel }}</h1>
      <KioskSections v-if="isShowSections" :sections="sections" @select="onSelectSection" />
    </section>
    <!-- end:: Section -->

    <!-- begin:: Section PersonalCard -->
    <SectionPersonalCard :show="isShowSectionCID" :loading="cidLoding" :message="cidMessage" />
    <!-- end:: Section PersonalCard -->

    <!-- begin:: Section QRCode -->
    <SectionQRCode :show="isShowSectionQRCode" @submit="onSubmitQrCode" />
    <!-- end:: Section QRCode -->

    <!-- begin:: Section RFID -->
    <SectionPersonalRFID :show="isShowSectionPersonal" @submit="onSubmitRFID" />
    <!-- end:: Section RFID -->

    <!-- begin:: Section Button Container -->
    <section>
      <div class="button-container position-fixed">
        <div class="row w-100">
          <div class="col-sm-12 text-right">
            <!-- Btn Cancel -->
            <button
              v-if="isShowButtonCancel"
              type="button"
              class="btn btn-danger btn-lg font-weight-bold btn-pill mr-10"
              style="width: 400px;"
              @click="onCancel"
            >
              <i class="flaticon2-cross"></i> ยกเลิก
            </button>
            <!-- Btn Cancel -->
          </div>
        </div>
      </div>
    </section>
    <!-- end:: Section Button Container -->

    <!-- begin:: Wizard -->
    <div v-if="isPatient" class="card card-custom">
      <div class="card-body p-0">
        <!--begin: Wizard-->
        <Wizard>
          <!--begin: Wizard Nav-->
          <WizardNav>
            <!--begin::Wizard Step 1 Nav-->
            <WizardStepNav step-number="1" title="เลือกงานบริการ" state="current"></WizardStepNav>
            <!--begin::Wizard Step 1 Nav-->
            <!--begin::Wizard Step 2 Nav-->
            <WizardStepNav step-number="2" title="เลือกนัดหมาย" state="padding"></WizardStepNav>
            <!--begin::Wizard Step 2 Nav-->
            <!--begin::Wizard Step 3 Nav-->
            <WizardStepNav step-number="3" title="เลือกการเข้ารับบริการ" state="padding"></WizardStepNav>
            <!--begin::Wizard Step 3 Nav-->
            <!--begin::Wizard Step 4 Nav-->
            <WizardStepNav step-number="4" title="เลือกแพทย์" state="padding"></WizardStepNav>
            <!--begin::Wizard Step 4 Nav-->
            <!--begin::Wizard Step 5 Nav-->
            <WizardStepNav step-number="5" title="ยืนยันรายการ" state="padding"></WizardStepNav>
            <!--begin::Wizard Step 5 Nav-->
          </WizardNav>
          <!--end: Wizard Nav-->
          <!--begin: Wizard Body-->
          <WizardBody>
            <!-- begin:: ข้อมูลทั่วไป -->
            <section class="patient-info">
              <SectionTitle title="ข้อมูลทั่วไป" />
              <KioskPatientInfo :patient="patient" />
            </section>
            <!-- end:: ข้อมูลทั่วไป -->

            <!-- begin:: กลุ่มงานบริการ -->
            <section class="section-service-group">
              <SectionTitle title="เลือกกลุ่มงานบริการ" icon="flaticon-squares-4">
                <div slot="title" class="font-size-h1 font-weight-bolder faa-horizontal animated">
                  เลือกกลุ่มงานบริการ
                </div>
              </SectionTitle>
              <SectionServiceGroup :items="serviceGroups" @select="onSelectServiceGroup" />
              <!-- Loading -->
              <LdsLoading :loading="loading" />
            </section>
            <!-- end:: กลุ่มงานบริการ -->

            <!--begin: Wizard Form-->
            <!--begin: Wizard Actions-->
            <div class="d-flex justify-content-between border-top mt-5 pt-10 button-container">
              <div class="mr-2">
                <!-- <button
                  type="button"
                  class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                  data-wizard-type="action-prev"
                >
                  Previous
                </button> -->
              </div>
              <div>
                <!-- <button
                  type="button"
                  class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                  data-wizard-type="action-submit"
                >
                  Submit
                </button>
                <button
                  type="button"
                  class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                  data-wizard-type="action-next"
                >
                  Next
                </button> -->
                <button
                  type="button"
                  class="btn btn-danger font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action"
                  data-wizard-type="action-cancel"
                  style="font-size: 2rem;"
                  @click="onCancel"
                >
                  <i class="flaticon2-cross"></i> ยกเลิก
                </button>
              </div>
            </div>
            <!--end: Wizard Actions-->
            <!--end: Wizard Form-->
          </WizardBody>
          <!--end: Wizard Body-->
        </Wizard>
        <!--end: Wizard-->
      </div>
    </div>
    <!-- end:: Wizard -->

    <!-- begin:: Modal -->
    <Modal
      title="ระบุเลขบัตรประชาชน หรือ HN"
      color="success"
      :show.sync="showModal"
      :show-footer="true"
      :close-on-backdrop="false"
      centered
    >
      <!-- begin:: Header -->
      <template #header>
        <h1>ระบุเลขบัตรประชาชน หรือ HN</h1>
      </template>
      <!-- end:: Header -->

      <!-- begin:: Body -->
      <form @submit.prevent="onSubmitModalForm">
        <div class="form-group">
          <div class="input-icon">
            <input
              id="input-search"
              ref="input_search"
              v-focus
              :value="search"
              type="text"
              class="form-control form-control-lg bg-light"
              placeholder="เลขบัตร ปชช หรือ HN"
              autofocus
              autocomplete="off"
              @input="updateSearch"
            />
            <span><i class="flaticon2-search-1 icon-md fa-2x"></i></span>
          </div>
        </div>

        <!-- begin:: Numpad -->
        <KioskNumpad
          style="margin: 0 0 0 2.5rem;"
          @number="onClickNumpad"
          @clear="onClearNumpad"
          @delete="onDeleteNumpad"
        />
        <!-- end:: Numpad -->
      </form>
      <!-- end:: Body -->

      <!-- begin:: Footer -->
      <template #footer>
        <div class="row w-100">
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-danger btn-lg font-weight-bold btn-pill mr-10 btn-block"
              style="font-size: 2rem;"
              @click="onCloseModal"
            >
              ยกเลิก
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-success btn-lg font-weight-bold btn-pill mr-10 btn-block"
              style="font-size: 2rem;"
              @click="onSubmitModalForm"
            >
              ดำเนินการต่อ
            </button>
          </div>
        </div>
      </template>
      <!-- end:: Footer -->
    </Modal>
    <!-- end:: Modal -->

    <!-- Loading -->
    <v-loading
      :active.sync="loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    ></v-loading>
    <!-- Loading -->
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import _ from 'lodash'
import moment from 'moment'
import * as utils from '@/utils'
import mixins from '@/core/mixins/kiosk'
moment.locale('th')

export default {
  name: 'Kiosk',
  mixins: [mixins],
  layout: 'main-kiosk',
  // middleware: 'notAuthenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'ออกบัตรคิว' }, { title: 'ออกบัตรคิว' }],
  },
  data() {
    return {
      title: 'ออกบัตรคิว',
      // ทำรายการด้วยบัตร ปชช
      cidLoding: false,
      cidMessage: 'เสียบบัตรประชาชนของคุณ...',
      ipRequestKey: '',
    }
  },
  mounted() {
    this.setLoading(true)
    setTimeout(() => {
      this.setLoading(false)
    }, 1500)
    this.fetchClientIP()
    this.fetchDataServiceGroups()
  },
  methods: {
    // modal hn submitted
    async onSubmitModalForm() {
      const _this = this
      if (!_this.search) return
      try {
        Swal.fire({
          title: 'ระบบกำลังตรวจสอบข้อมูล...',
          html: '',
          timerProgressBar: true,
          showClass: {
            popup: 'swal2-noanimation',
          },
          onBeforeOpen: () => {
            Swal.showLoading()
            $(Swal.getTitle()).css('font-size', '2rem')
          },
        })
        // ค้นหาข้อมูลผู้ป่วย
        const patient = await _this.$apiKiosk.getPatient(_this.search)
        const resultStatus = _.get(patient, 'resultStatus', 'FAIL')
        if (resultStatus === 'SUCCESS') {
          // ตรวจสอบว่ามียอดค้างชำระหรือไม่
          if (patient.patientDebt) {
            Swal.fire({
              icon: 'warning',
              title: 'คุณมียอดค้างชำระ ไม่สามารถทำรายการได้!',
              text: '',
              allowOutsideClick: false,
              confirmButtonText: 'ตกลง',
            }).then((result) => {
              if (result.value) {
                _this.onCancel()
              }
            })
          } else {
            // ตรวจสอบสิทธิ
            const patientRight = await _this.$apiKiosk.getRightForPatient(patient.pid)
            _this.setPatientRight(patientRight) // set to store

            // update data patient
            const patientUpdated = _this.$updateObject(patient, {
              age: utils.calculateAge(patient).years || 0, // คำนวณอายุ
            })
            _this.setPatient(patientUpdated) // set to store

            // dismiss modal
            if (_this.showModal) {
              _this.toggleModal()
            }
            Swal.close()
          }
        } else {
          // is error
          Swal.fire({
            icon: 'error',
            title: 'ไม่พบข้อมูล กรุณาติดต่อเวชระเบียน!',
            text: '',
            confirmButtonText: 'ตกลง',
            showCancelButton: false,
            showConfirmButton: false,
            timer: 4000,
            onBeforeOpen: () => {
              $(Swal.getConfirmButton()).css('font-size', '1.5rem')
              $(Swal.getCancelButton()).css('font-size', '1.5rem')
              $(Swal.getContent()).css('font-size', '1.5rem')
              $(Swal.getTitle()).css('font-size', '2rem')
            },
          })
        }
      } catch (error) {
        _this.$errorHandler(error, {
          title: 'ทำรายการไม่สำเร็จ กรุณาติดต่อเวชระเบียน!',
          timer: 4000,
          showCancelButton: false,
          showConfirmButton: false,
          confirmButtonText: 'ตกลง',
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getCloseButton()).css('font-size', '1.5rem')
            $(Swal.getCancelButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '2rem')
            $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
          },
        })
      }
    },

    // เลือกกลุ่มงานบริการ
    onSelectServiceGroup(group) {
      const _this = this
      // ตรวจรักษา
      if (group.module_name === 'checkup') {
        // ถ้ามีรายการนัดหมาย
        if (_this.appoints.length) {
          Swal.fire({
            title: `คุณมีรายการนัด ${_this.appoints.length} รายการ`,
            text: 'ต้องการทำรายการนัดหรือไม่?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'ต้องการ',
            cancelButtonText: 'ไม่ต้องการ',
            allowOutsideClick: false,
            onBeforeOpen: () => {
              $(Swal.getTitle()).css('font-size', '2rem')
              $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
              $(Swal.getConfirmButton()).css('font-size', '1.5rem')
              $(Swal.getCloseButton()).css('font-size', '1.5rem')
              $(Swal.getCancelButton()).css('font-size', '1.5rem')
            },
          }).then((result) => {
            if (result.value) {
              _this.setServiceGroupId(group.service_group_id)
              _this.$router.push(_this.localePath('/kiosk/checkup/select-appoint'))
            } else {
              _this.setServiceGroupId(group.service_group_id)
              _this.$router.push(_this.localePath('/kiosk/checkup/select-service'))
            }
          })
        } else {
          _this.setServiceGroupId(group.service_group_id)
          _this.$router.push(_this.localePath('/kiosk/checkup/select-service'))
        }
      } else if (
        group.module_name === 'dental' ||
        group.module_name === 'respiratory' ||
        group.module_name === 'dental-gum' ||
        group.module_name === 'internal-medicine'
      ) {
        Swal.fire({
          icon: 'question',
          title: `ยืนยันรายการ${group.service_group_name}?`,
          // text: `${group.service_group_name}`,
          showCancelButton: true,
          confirmButtonText: '<i class="flaticon2-check-mark text-white"></i> ยืนยัน',
          cancelButtonText: '<i class="flaticon2-cancel text-white"></i> ยกเลิก',
          showLoaderOnConfirm: true,
          focusConfirm: true,
          allowOutsideClick: false,
          cancelButtonColor: '#f64e60',
          customClass: {
            popup: 'swal2-popup swal2-popup-kiosk',
          },
          onBeforeOpen: () => {
            $(Swal.getTitle()).css('font-size', '2rem')
            $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getCloseButton()).css('font-size', '1.5rem')
            $(Swal.getCancelButton()).css('font-size', '1.5rem')
          },
          preConfirm: function () {
            return new Promise(function (resolve) {
              _this.setServiceGroupId(group.service_group_id)
              resolve()
            })
          },
        }).then((result) => {
          if (result.value) {
            _this.onConfirmManual()
          }
        })
      } else {
        Swal.fire({
          icon: 'warning',
          title: 'กลุ่มงานบริการนี้ยังไม่เปิดให้บริการ',
          text: '',
          confirmButtonText: 'ตกลง',
          allowOutsideClick: false,
          onBeforeOpen: () => {
            $(Swal.getTitle()).css('font-size', '2rem')
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
          },
        })
      }
    },
    // ค้นหา
    updateSearch(e) {
      if (String(e.target.value).length <= 13) {
        this.setSearchValue(e.target.value)
      }
    },
    // get client ip
    fetchClientIP() {
      const _this = this
      const ipRequestKey = moment().format('X')
      _this.$socket.emit('get client ip', {
        ipRequestKey: ipRequestKey,
      })
      this.ipRequestKey = ipRequestKey
      // const _this = this
      // try {
      //   const res = await this.$apiKiosk.getClientIP()
      //   _this.setIpAddress(res.ip)
      // } catch (error) {
      //   _this.$errorHandler(error)
      // }
    },
    // กลุ่มงานบริการ
    async fetchDataServiceGroups() {
      const _this = this
      if (_this.serviceGroups.length) return
      try {
        _this.setLoading(true)
        const serviceGroups = await this.$apiKiosk.getServiceGroups()
        _this.setServiceGroupItems(serviceGroups)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    // เช็คอินด้วย qrcode
    async onSubmitQrCode(qrcode) {
      const _this = this
      if (!qrcode) return
      try {
        Swal.fire({
          title: 'ระบบกำลังทำรายการ...',
          html: '',
          timerProgressBar: true,
          showClass: {
            popup: 'swal2-noanimation',
          },
          onBeforeOpen: () => {
            Swal.showLoading()
            $(Swal.getTitle()).css('font-size', '2rem')
          },
        })
        const data = await _this.$apiKiosk.getCheckinData(qrcode)
        if (data.checkin_status === 'Y') {
          Swal.fire({
            icon: 'warning',
            title: 'คุณได้ทำการเช็คอินแล้ว!',
            text: ``,
            timer: 4000,
            showConfirmButton: false,
            onBeforeOpen: () => {
              $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            },
          })
          $('#input-qrcode').val('')
          $('#input-qrcode').focus()
        } else {
          // ตรวจสอบสิทธิ
          const patientRight = await _this.$apiKiosk.getRightForPatient(data.patient.cid)
          // เปิด visit
          // ข้อมูลเปิด visit
          const egatClaimSelect = _.get(patientRight, 'egat_claim_select', null) // สิทธิการรับบริการที่เลือก
          const checkupClaim = _.get(egatClaimSelect, 'checkup_claim', null) // สิทธิการรับริการตรวจรักษา
          const medicalClaim = _.get(egatClaimSelect, 'medical_claim', null) // สิทธิการรับริการตรวจสุขภาพ
          const planId = [] // list สิทธิการรักษา
          if (checkupClaim) {
            planId.push(checkupClaim)
          }
          if (medicalClaim && !planId.includes(medicalClaim)) {
            planId.push(medicalClaim)
          }
          const openVisitBody = {
            patientId: data.patient.ref_patient_id,
            hn: data.patient.hn,
            userId: 'register',
            spid: '000',
            planId: planId,
          }
          const openvisitRespone = await _this.$apiKiosk.createPatientVisit(openVisitBody)
          const openVisitSuccess = openvisitRespone.resultStatus === 'SUCCESS'
          const openVisitFail = openvisitRespone.resultText === 'OLD VISIT NOT DISCHARGE'
          // ถ้าเปิด visit สำเร็จ
          if (openVisitSuccess || (openVisitFail && openvisitRespone.visitDate === moment().format('YYYY-MM-DD'))) {
            const dataCheckin = {
              queue_id: data.queue_id,
              patient_id: data.patient.patient_id,
              planId: planId,
              vn: openvisitRespone.vn,
              visit_id: openvisitRespone.visitId,
            }
            const res = await _this.$apiKiosk.checkinQueue(dataCheckin)
            _this.$socket.emit(
              _this.$SOCKET_EVENTS.REGISTER,
              _this.$updateObject(res, {
                message: 'ลงทะเบียนคิวซักประวัติ',
                type: 'history-taking',
              })
            )
            Swal.fire({
              icon: 'success',
              title: res.message,
              text: ``,
              timer: 4000,
              showConfirmButton: false,
              onBeforeOpen: () => {
                $(Swal.getConfirmButton()).css('font-size', '1.5rem')
              },
            })
            _this.onPrintTicket(res.queue_detail_id)
            _this.onCancel()
          } else {
            Swal.fire({
              icon: 'error',
              title: 'ระบบเปิด Visit ไม่สำเร็จ! กรุณาติดต่อเจ้าหน้าที่ค่ะ',
              text: openvisitRespone.resultText,
              timer: 4000,
              showConfirmButton: false,
              onBeforeOpen: () => {
                $(Swal.getTitle()).css('font-size', '1.5rem')
                $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
                $(Swal.getConfirmButton()).css('font-size', '1.5rem')
              },
            })
            $('#input-rfid').val('')
            $('#input-rfid').focus()
          }
        }
      } catch (error) {
        $('#input-qrcode').val('')
        $('#input-qrcode').focus()
        _this.$errorHandler(error, {
          title: 'ทำรายการไม่สำเร็จ!',
          timer: false,
          showConfirmButton: true,
          confirmButtonText: 'ตกลง',
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getCloseButton()).css('font-size', '1.5rem')
            $(Swal.getCancelButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '2rem')
            $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
          },
        })
      }
    },
    // อ่านบัตรพนักงาน
    async onSubmitRFID(rfid) {
      const _this = this
      if (!rfid) return
      try {
        Swal.fire({
          title: 'ระบบกำลังตรวจสอบข้อมูล...',
          html: '',
          timerProgressBar: true,
          showClass: {
            popup: 'swal2-noanimation',
          },
          onBeforeOpen: () => {
            Swal.showLoading()
            $(Swal.getTitle()).css('font-size', '2rem')
          },
        })
        const responseHr = await _this.$apiKiosk.getIdCardByRFID(rfid)
        const idcard = _.get(responseHr, 'idcard', '')
        if (!idcard) {
          Swal.fire({
            icon: 'warning',
            title: 'ไม่พบข้อมูลเลขบัตรประจำตัวประชาชน!',
            text: '',
            timer: 4000,
            showConfirmButton: false,
            onBeforeOpen: () => {
              $(Swal.getTitle()).css('font-size', '1.5rem')
              $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
              $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            },
          })
          $('#input-rfid').val('')
          $('#input-rfid').focus()
        } else {
          // ค้นหาข้อมูลผู้ป่วย
          const patient = await _this.$apiKiosk.getPatient(idcard)
          const resultStatus = _.get(patient, 'resultStatus', 'FAIL')
          if (resultStatus === 'SUCCESS') {
            // ตรวจสอบว่ามียอดค้างชำระหรือไม่
            if (patient.patientDebt) {
              Swal.fire({
                icon: 'warning',
                title: 'คุณมียอดค้างชำระ ไม่สามารถทำรายการได้!',
                text: '',
                allowOutsideClick: false,
                confirmButtonText: 'ตกลง',
              }).then((result) => {
                if (result.value) {
                  _this.onCancel()
                }
              })
              $('#input-rfid').val('')
              $('#input-rfid').focus()
            } else {
              // ตรวจสอบสิทธิ
              const patientRight = await _this.$apiKiosk.getRightForPatient(patient.pid)
              _this.setPatientRight(patientRight) // set to store

              // update data patient
              const patientUpdated = _this.$updateObject(patient, {
                age: utils.calculateAge(patient).years || 0, // คำนวณอายุ
              })
              _this.setPatient(patientUpdated) // set to store
              Swal.close()
            }
          } else {
            $('#input-rfid').val('')
            $('#input-rfid').focus()
            // is error
            Swal.fire({
              icon: 'error',
              title: 'ไม่พบข้อมูล',
              text: '',
              confirmButtonText: 'ตกลง',
              showCancelButton: false,
              showConfirmButton: false,
              timer: 4000,
              onBeforeOpen: () => {
                $(Swal.getConfirmButton()).css('font-size', '1.5rem')
                $(Swal.getCancelButton()).css('font-size', '1.5rem')
                $(Swal.getContent()).css('font-size', '1.5rem')
                $(Swal.getTitle()).css('font-size', '2rem')
              },
            })
          }
        }
      } catch (error) {
        $('#input-rfid').val('')
        $('#input-rfid').focus()
        _this.$errorHandler(error, {
          title: 'ทำรายการไม่สำเร็จ!',
          timer: false,
          showConfirmButton: true,
          confirmButtonText: 'ตกลง',
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getCloseButton()).css('font-size', '1.5rem')
            $(Swal.getCancelButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '2rem')
            $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
          },
        })
      }
    },
    // ยกเลิกรายการ
    onCancel() {
      this.cidLoding = false
      this.cidMessage = 'เสียบบัตรประชาชนของคุณ...'
      this.setLoading(false)
      this.setSearchValue('')
      this.setSection('')
      this.setPersonalInfo(null)
      this.setPatient(null)
      this.setPatientRight(null)
      this.setServiceId('')
      this.setDoctorId('')
      this.setAppointId(null)
      this.setDrawBlood(false)
      this.setXray(false)
    },
    // ยืนยันรายการ
    async onConfirmManual() {
      const _this = this
      try {
        Swal.fire({
          title: 'ระบบกำลังทำรายการ...',
          html: '',
          timerProgressBar: true,
          showClass: {
            popup: 'swal2-noanimation',
          },
          onBeforeOpen: () => {
            Swal.showLoading()
            $(Swal.getTitle()).css('font-size', '2rem')
          },
        })
        _this.setSubmitted(true)
        // ข้อมูลเปิด visit
        const egatClaimSelect = _.get(_this.patientRight, 'egat_claim_select', null) // สิทธิการรับบริการที่เลือก
        const checkupClaim = _.get(egatClaimSelect, 'checkup_claim', null) // สิทธิการรับริการตรวจรักษา
        const medicalClaim = _.get(egatClaimSelect, 'medical_claim', null) // สิทธิการรับริการตรวจสุขภาพ
        const planId = [] // list สิทธิการรักษา
        if (checkupClaim) {
          planId.push(checkupClaim)
        }
        if (medicalClaim && !planId.includes(medicalClaim)) {
          planId.push(medicalClaim)
        }
        if (!planId.length && _.get(_this.patient, 'planId')) {
          planId.push(_.get(_this.patient, 'planId'))
        }
        let spid = '000'
        const moduleName = _.get(_this.currentServiceGroup, 'module_name', '')
        switch (moduleName) {
          case 'dental-gum':
            spid = '030'
            break

          case 'dental':
            spid = '030'
            break

          default:
            break
        }
        const openVisitBody = {
          patientId: _this.patient.patientId,
          hn: _this.patient.hn,
          userId: 'register',
          spid: spid,
          planId: planId,
        }
        // ข้อมูลออกบัตรคิว
        let registerdata = {
          patient: _this.patient,
          right: _this.patientRight,
          appoint_id: _this.appoint_id,
          service_group_id: _this.service_group_id,
          service_id: _this.service_id,
          doctor_id: _this.doctor_id,
          register_by: 'kiosk',
          spid: spid,
          planId: planId,
          draw_blood: _this.draw_blood,
          xray: _this.xray,
        }
        // เปิด visit
        const openvisitRespone = await _this.$apiKiosk.createPatientVisit(openVisitBody)
        const openVisitSuccess = openvisitRespone.resultStatus === 'SUCCESS'
        const openVisitFail = openvisitRespone.resultText === 'OLD VISIT NOT DISCHARGE'
        if (openVisitSuccess) {
          // ถ้าเปิด visit สำเร็จ
          registerdata = _this.$updateObject(registerdata, {
            visit_type: 'NEW VISIT',
            visit_id: openvisitRespone.visitId,
            vn: openvisitRespone.vn,
            visit_date: moment().format('YYYY-MM-DD'),
          })
          const response = await _this.$apiKiosk.registerQueue(registerdata)
          // ส่งข้อมูล socket ไปยัง client
          const socketData = _.get(response, 'socketData', [])
          for (let i = 0; i < socketData.length; i++) {
            const data = socketData[i]
            await new Promise((resolve) => {
              setTimeout(function () {
                resolve()
              }, 300)
            })
            _this.$socket.emit(_this.$SOCKET_EVENTS.REGISTER, data)
          }
          Swal.fire({
            icon: 'success',
            title: 'ทำรายการสำเร็จ กรุณารับบัตรคิว!',
            text: `คิวของคุณคือ: ${response.queue_no}`,
            timer: 4000,
            showConfirmButton: false,
            onBeforeOpen: () => {
              $(Swal.getTitle()).css('font-size', '1.5rem')
              $(Swal.getHtmlContainer()).css('font-size', '2rem')
              $(Swal.getConfirmButton()).css('font-size', '2rem')
            },
            onClose: () => {
              _this.onCancel()
            },
          })
          _this.onPrintTicket(response.queue_detail_id)
        } else if (openVisitFail && openvisitRespone.visitDate === moment().format('YYYY-MM-DD')) {
          // ถ้าเปิด visit สำเร็จ
          registerdata = _this.$updateObject(registerdata, {
            visit_type: 'OLD VISIT',
            visit_id: openvisitRespone.visitId,
            vn: openvisitRespone.vn,
            visit_date: openvisitRespone.visitDate,
          })
          const response = await _this.$apiKiosk.registerQueue(registerdata)
          // ส่งข้อมูล socket ไปยัง client
          const socketData = _.get(response, 'socketData', [])
          for (let i = 0; i < socketData.length; i++) {
            const data = socketData[i]
            await new Promise((resolve) => {
              setTimeout(function () {
                resolve()
              }, 300)
            })
            _this.$socket.emit(_this.$SOCKET_EVENTS.REGISTER, data)
          }
          Swal.fire({
            icon: 'success',
            title: 'ทำรายการสำเร็จ กรุณารับบัตรคิว!',
            text: `คิวของคุณคือ: ${response.queue_no}`,
            timer: 4000,
            showConfirmButton: false,
            onBeforeOpen: () => {
              $(Swal.getTitle()).css('font-size', '1.5rem')
              $(Swal.getHtmlContainer()).css('font-size', '2rem')
              $(Swal.getConfirmButton()).css('font-size', '2rem')
            },
            onClose: () => {
              _this.onCancel()
            },
          })
          _this.onPrintTicket(response.queue_detail_id)
        } else {
          Swal.fire({
            icon: 'error',
            title: 'ระบบเปิด Visit ไม่สำเร็จ! กรุณาติดต่อเจ้าหน้าที่ค่ะ',
            text: openvisitRespone.resultText,
            timer: 4000,
            showConfirmButton: false,
            onBeforeOpen: () => {
              $(Swal.getTitle()).css('font-size', '1.5rem')
              $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
              $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            },
          })
        }
        _this.setSubmitted(false)
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error, {
          title: 'ทำรายการไม่สำเร็จ!',
          timer: 4000,
          showConfirmButton: false,
          confirmButtonText: 'ตกลง',
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getCloseButton()).css('font-size', '1.5rem')
            $(Swal.getCancelButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '2rem')
            $(Swal.getHtmlContainer()).css('font-size', '2rem')
          },
        })
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style scoped>
@import url(../../assets/css/kiosk.min.css);
@import url(../../assets/css/wizard-3.css);
#input-search {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  color: #0367d3;
}
input#input-search::placeholder {
  font-size: 2.5rem;
}
/* button container */
.button-container {
  width: 98%;
  bottom: 2rem;
  right: 1rem;
  left: 1rem;
}
.button-container .btn.btn-action {
  font-size: 2rem;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #eee;
}
</style>
