<template>
  <div id="kt_footer" class="footer py-2 py-lg-0 my-5 d-flex flex-lg-column hidden-xs">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
      <!--begin::Copyright-->
      <div class="text-dark order-2 order-md-1">
        <!-- <span class="text-muted font-weight-bold mr-2">2020©</span>
        <a href="https://github.com/tanakorncode" target="_blank" class="text-dark-75 text-hover-primary">
          Tanakorn Developer
        </a> -->
        <img v-lazy="logo" :src="logo" alt="logos" />
      </div>
      <!--end::Copyright-->
      <div class="order-2 order-md-2">
        <p>
          <strong>ผู้รับผิดชอบข้อมูล :</strong>&nbsp;ฝ่ายแพทย์และอนามัย (อพอ.)&nbsp;&nbsp; <br />
          <strong>ผู้ดูแลเว็บไซต์ :</strong>
          กองเทคโนโลยีสารสนเทศสายงานบริหาร (กทห-ห.) ฝ่ายจัดการและพัฒนาระบบสารสนเทศ (อจส.)&nbsp;&nbsp;<br />
          การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย 53 หมู่ 2 ถ.จรัญสนิทวงศ์ ต.บางกรวย อ.บางกรวย จ.นนทบุรี
        </p>
      </div>

      <!--begin::Nav-->
      <div class="nav nav-dark order-1 order-md-3"></div>
      <!--end::Nav-->
    </div>
    <!--end::Container-->
  </div>
</template>

<script>
import LayoutFooter from '@/assets/js/layout/base/footer.js'
import logo from '@/assets/images/kiosk/homepage-footer-slogan.png'

export default {
  name: 'Footer',
  computed: {
    logo() {
      return logo
    },
  },
  mounted() {
    LayoutFooter.init('kt_footer')
  },
}
</script>

<style lang="scss" scoped></style>
