<template>
  <div class="tab-content-setting animate__animated animate__zoomIn animate__faster">
    <!-- begin:: Form Setting -->
    <form class="form" @submit.prevent="$emit('submit-setting')">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-lg-6">
            <label>กลุ่มงานบริการ:</label>
            <Select2
              :id="`service_group_id`"
              :value="service_group_id"
              :name="`service_group_id`"
              :options="serviceGroupOptions"
              @input="updateServiceGroupId"
            />
            <span class="form-text text-muted">กลุ่มงานบริการที่ต้องการเรียก</span>
          </div>
          <div class="col-lg-6">
            <label>จุดบริการ:</label>
            <Select2
              :id="`service_point_id`"
              :value="service_point_id"
              :name="`service_point_id`"
              :options="servicePointOptions"
              @input="updateServicePointId"
            />
            <span class="form-text text-muted">
              กำหนดช่องบริการที่ต้องการเรียก
            </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <label>แพทย์:</label>
            <Select2
              :id="`doctor_id`"
              :value="doctor_id"
              :name="`doctor_id`"
              :options="doctorOptions"
              @input="updateDocotrId"
            />
            <span class="form-text text-muted"></span>
          </div>
          <div class="col-lg-6">
            <label>ตั้งค่าเพิ่มเติม:</label>
            <div class="form-group mb-0 row">
              <label class="col-8 col-form-label">แสดงหน้าต่างยืนยันการเรียกคิว:</label>
              <div class="col-4 text-right">
                <span
                  :class="[
                    'switch switch-sm mb-0',
                    { 'switch-success': confirmCallDialog, 'switch-danger': !confirmCallDialog },
                  ]"
                >
                  <label class="mb-0">
                    <input
                      type="checkbox"
                      :value="confirmCallDialog"
                      :checked="confirmCallDialog"
                      name="confirm_dialog"
                      @input="updateConfirmCallDialog"
                    />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group mb-0 row">
              <label class="col-8 col-form-label">แสดงหน้าต่างยืนยันการพักคิว:</label>
              <div class="col-4 text-right">
                <span
                  :class="[
                    'switch switch-sm mb-0',
                    { 'switch-success': confirmHoldDialog, 'switch-danger': !confirmHoldDialog },
                  ]"
                >
                  <label class="mb-0">
                    <input
                      type="checkbox"
                      :value="confirmHoldDialog"
                      :checked="confirmHoldDialog"
                      name="confirm_dialog"
                      @input="updateConfirmHoldDialog"
                    />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-6">
            <button
              type="submit"
              :class="['btn btn-success mr-3', { 'spinner spinner-white spinner-right': loading }]"
              :disabled="loading"
            >
              บันทีก
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- end:: Form Setting -->
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import _ from 'lodash'
import * as utils from '@/utils'

export default {
  name: 'TabContentSetting',
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      form: {
        service_ids: [],
      },
    }
  },
  computed: {
    ...mapState({
      serviceGroups: (state) => _.get(state.examination, 'service_groups', []),
      service_group_id: (state) => _.get(state.examination, 'service_group_id', ''),
      service_ids: (state) => _.get(state.examination, 'service_ids', []),
      service_point_id: (state) => _.get(state.examination, 'service_point_id', ''),
      servicePoints: (state) => _.get(state.examination, 'service_points', []),
      confirmCallDialog: (state) => _.get(state.examination, 'confirmCallDialog', false),
      confirmHoldDialog: (state) => _.get(state.examination, 'confirmHoldDialog', false),
      doctors: (state) => _.get(state.examination, 'doctors', []),
      doctor_id: (state) => _.get(state.examination, 'doctor_id', ''),
    }),
    ...mapGetters({
      services: 'examination/getServices',
    }),
    // ตัวเลือกกลุ่มงานบริการ
    serviceGroupOptions() {
      const opts = this.serviceGroups.map((row) => {
        return { id: row.service_group_id, text: row.service_group_name }
      })
      return {
        placeholder: 'เลือกกลุ่มงานบริการ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    // ตัวเลือกจุดบริการ
    servicePointOptions() {
      const opts = utils.mapDataOptions(this.servicePoints, 'service_point_id', 'service_point_description')
      return {
        placeholder: 'เลือกจุดบริการ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    doctorOptions() {
      const opts = this.doctors.map((row) => {
        return { id: row.doctor_id, text: `${row.prename || ''}${row.first_name} ${row.last_name}` }
      })
      return {
        placeholder: 'เลือกแพทย์',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
  },
  mounted() {
    this.form.service_ids = this.service_ids
  },
  methods: {
    ...mapActions({
      setServiceGroupId: 'examination/setServiceGroupId',
      setServiceIds: 'examination/setServiceIds',
      setServicePointId: 'examination/setServicePointId',
      setConfirmCallDialog: 'examination/setConfirmCallDialog',
      setConfirmHoldDialog: 'examination/setConfirmHoldDialog',
      setDoctorId: 'examination/setDoctorId',
    }),
    updateServiceGroupId(value) {
      this.setServiceGroupId(Number(value))
      this.setServiceIds([])
    },
    updateServicePointId(value) {
      this.setServicePointId(value)
    },
    updateDocotrId(value) {
      this.setDoctorId(value)
    },
    updateServiceIds() {
      this.setServiceIds(this.form.service_ids)
    },
    updateConfirmCallDialog(e) {
      this.setConfirmCallDialog(e.target.checked)
    },
    updateConfirmHoldDialog(e) {
      this.setConfirmHoldDialog(e.target.checked)
    },
  },
}
</script>

<style lang="scss" scoped></style>
