<template>
  <div
    id="tab-waiting"
    :class="['tab-content-waiting tab-pane fade show active animate__animated animate__zoomIn animate__faster']"
    role="tabpanel"
    aria-labelledby="tab-waiting"
  >
    <!--begin: Datatable-->
    <DataTable
      hover
      bordered
      small
      fixed
      :items="rows"
      :fields="fields"
      :column-filter="false"
      :items-per-page="10"
      pagination
      sorter
      :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
      :loading="loading"
      :table-filter="{ placeholder: 'ค้นหา...', label: 'ค้นหา:' }"
      :table-options="{
        id: 'tbl-waiting',
        class: 'table dataTable kt-datatable__table table-head-bg table-vertical-center table-hover',
      }"
    >
      <!-- Action -->
      <template #header-toolbar-left>
        <div class="col-md-6 col-sm-6 no-padding">
          <button type="button" class="btn btn-secondary ml-2 btn-call-next" @click="$emit('call-next')">
            <i class="flaticon2-speaker"></i> เรียกคิวถัดไป
          </button>
        </div>
      </template>
      <template #header-right-toolbar>
        <button
          type="button"
          title="Reload"
          :class="[
            'btn btn-icon btn-light-success btn-sm mr-2 btn-reload',
            { 'spinner spinner-white spinner-right': loading },
          ]"
          @click="$emit('reload', 'waiting')"
        >
          <i v-show="!loading" class="flaticon2-reload-1"></i>
        </button>
      </template>
      <!-- Action -->
      <!-- Column -->
      <template #index="{index}">
        <td class="text-center row-index">
          {{ index + 1 }}
        </td>
      </template>

      <template #fullname="{item}">
        <td class="nowrap">
          <ProfileDetail :user="item" />
        </td>
      </template>

      <template #doctor_name="{item}">
        <td class="nowrap">{{ item.doctor_name }}</td>
      </template>

      <template #lab="{item}">
        <td class="text-center">
          <i v-show="item.draw_blood === 'Yes'" class="fas fa-hourglass-end"></i>
          <span v-show="item.draw_blood === 'No'" class="text-muted">
            ไม่มี
          </span>
        </td>
      </template>

      <template #x-ray="{item}">
        <td class="text-center">
          <i v-show="item.xray === 'Yes'" class="fas fa-hourglass-end"></i>
          <span v-show="item.xray === 'No'" class="text-muted">
            ไม่มี
          </span>
        </td>
      </template>

      <template #queue_time="{item}">
        <td class="text-center">
          <span class="label label-lg label-warning label-inline text-white"> {{ item.queue_time }} น. </span>
        </td>
      </template>

      <template #actions="{item}">
        <td class="text-center nowrap">
          <button type="button" class="btn btn-outline-info mr-2" title="เรียกคิว" @click="$emit('call-wait', item)">
            <i class="flaticon2-speaker"></i> เรียกคิว
          </button>
        </td>
      </template>
      <!-- Column -->
    </DataTable>
    <!--end: Datatable-->
  </div>
</template>

<script>
import moment from 'moment'
import ProfileDetail from '@/components/Queue/Examination/Content/Profile'
moment.locale('th')

export default {
  name: 'TabContentWaiting',
  components: { ProfileDetail },
  filters: {
    queueTime: function (value) {
      return moment(value).format('HH:mm น.')
    },
  },
  props: {
    rows: {
      type: Array,
      default: function () {
        return []
      },
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'fullname', label: 'รายละเอียด', _classes: 'text-dark-75' },
        { key: 'doctor_name', label: 'แพทย์' },
        { key: 'lab', label: 'LAB' },
        { key: 'x-ray', label: 'X-Ray' },
        { key: 'queue_time', label: 'เวลาออกบัตร' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped></style>
