<template>
  <div
    id="tab-calling"
    :class="['tab-content-calling tab-pane fade show active animate__animated animate__zoomIn animate__faster']"
    role="tabpanel"
    aria-labelledby="tab-calling"
  >
    <!--begin: Datatable-->
    <DataTable
      hover
      bordered
      small
      fixed
      :items="rowsCall"
      :fields="fields"
      :column-filter="false"
      :items-per-page="10"
      pagination
      sorter
      :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
      :loading="loading"
      :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
      :table-options="{
        id: 'tbl-call',
        class: 'table dataTable kt-datatable__table table-head-bg table-vertical-center table-hover',
      }"
    >
      <!-- Action -->
      <template #header-toolbar-left>
        <button type="button" class="btn btn-secondary ml-3 btn-call-next" @click="$emit('call-next')">
          <i class="flaticon2-speaker"></i> เรียกคิวถัดไป
        </button>
      </template>
      <template #header-right-toolbar>
        <button
          type="button"
          title="Reload"
          :class="['btn btn-icon btn-light-success btn-sm mr-2', { 'spinner spinner-white spinner-right': loading }]"
          @click="$emit('reload', 'calling')"
        >
          <i v-show="!loading" class="flaticon2-reload-1"></i>
        </button>
      </template>
      <!-- Action -->
      <!-- Column -->
      <template #index="{index}">
        <td class="text-center row-index">
          {{ index + 1 }}
        </td>
      </template>

      <template #fullname="{item}">
        <td class="nowrap">
          <ProfileDetail :user="item" />
        </td>
      </template>

      <template #doctor_name="{item}">
        <td class="nowrap">{{ item.doctor_name }}</td>
      </template>

      <template #lab="{item}">
        <td class="text-center">
          <i v-show="item.draw_blood === 'Yes'" class="fas fa-hourglass-end"></i>
          <span v-show="item.draw_blood === 'No'" class="text-muted">
            ไม่มี
          </span>
        </td>
      </template>

      <template #x-ray="{item}">
        <td class="text-center">
          <i v-show="item.xray === 'Yes'" class="fas fa-hourglass-end"></i>
          <span v-show="item.xray === 'No'" class="text-muted">
            ไม่มี
          </span>
        </td>
      </template>

      <template #queue_time="{item}">
        <td class="text-center">
          <span class="label label-lg label-warning label-inline"> {{ item.queue_time }} น. </span>
        </td>
      </template>

      <template #actions="{item}">
        <td class="text-center nowrap">
          <button
            type="button"
            class="btn btn-sm btn-outline-info mr-2"
            title="เรียกคิว"
            @click="$emit('recall', item)"
          >
            <i class="flaticon2-speaker"></i> เรียกอีกครั้ง
          </button>
          <button type="button" class="btn btn-sm btn-outline-warning mr-2" title="พักคิว" @click="$emit('hold', item)">
            <i class="fas fa-hand-paper"></i> พักคิว
          </button>
          <button
            type="button"
            class="btn btn-sm btn-outline-success mr-2"
            title="เสร็จสิ้น"
            @click="$emit('end', item)"
          >
            <i class="fas fa-user-check"></i> เสร็จสิ้น
          </button>
          <div class="dropdown dropdown-inline">
            <button
              type="button"
              class="btn btn-light btn-icon btn-sm"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="ki ki-bold-more-ver"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-sm" style="">
              <a class="dropdown-item" href="javascript:void(0);" @click="$emit('screen', item)">
                Screening
              </a>
            </div>
          </div>
        </td>
      </template>
      <!-- Column -->
    </DataTable>
    <!--end: Datatable-->
  </div>
</template>

<script>
import moment from 'moment'
import ProfileDetail from '@/components/Queue/Examination/Content/Profile'
moment.locale('th')

export default {
  name: 'TabContentCalling',
  components: {
    ProfileDetail,
  },
  filters: {
    queueTime: function (value) {
      return moment(value).format('HH:mm น.')
    },
  },
  props: {
    rowsCall: {
      type: Array,
      default: function () {
        return []
      },
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'fullname', label: 'รายละเอียด', _classes: 'text-dark-75' },
        { key: 'doctor_name', label: 'แพทย์' },
        { key: 'lab', label: 'LAB' },
        { key: 'x-ray', label: 'X-Ray' },
        { key: 'queue_time', label: 'เวลาออกบัตร' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped></style>
