<template>
  <div id="kt_subheader" ref="kt_subheader" class="subheader py-2 py-lg-4 subheader-transparent">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <!--begin::Info-->
      <div class="d-flex align-items-center flex-wrap mr-2">
        <!--begin::Page Title-->
        <h5 class="font-weight-bold mt-2 mb-2">
          {{ pageTitle }}
        </h5>
        <!--end::Page Title-->
        <ul class="d-flex align-items-center font-weight-bold my-2">
          <nuxt-link :to="localePath('/')">
            <i class="flaticon2-shelter icon-1x"></i>
          </nuxt-link>

          <template v-for="(breadcrumb, i) in breadcrumbs">
            <span
              :key="i"
              class="label label-dot label-sm mx-3 text-black"
              style="background-color: rgba(0, 0, 0, 0.5);"
            ></span>
            <nuxt-link
              v-if="breadcrumb.route"
              :key="`${i}-${breadcrumb.id}`"
              :to="localePath(breadcrumb.route)"
              class="text-black-50"
            >
              {{ breadcrumb.title }}
            </nuxt-link>
            <span v-if="!breadcrumb.route" :key="`${i}-${breadcrumb.id}`" class="text-black-50">
              {{ breadcrumb.title }}
            </span>
          </template>
        </ul>
      </div>
      <!--end::Info-->
      <!--begin::Toolbar-->
      <div class="d-flex align-items-center">
        <!--begin::Daterange-->
        <a
          id="kt_dashboard_daterangepicker"
          href="#"
          class="btn btn-light btn-sm font-weight-bold mr-2"
          data-toggle="tooltip"
          title="Select dashboard daterange"
          data-placement="left"
        >
          <span id="kt_dashboard_daterangepicker_title" class="text-muted font-weight-bold mr-2"> {{ toDay }} </span>
          <span id="kt_dashboard_daterangepicker_date" class="text-primary font-weight-bold">
            {{ toDayDate }}
          </span>
        </a>
        <!--end::Daterange-->
      </div>
      <!--end::Toolbar-->
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import LayoutSubheader from '@/assets/js/components/subheader'
moment.locale('th')

export default {
  name: 'Subheader',
  computed: {
    ...mapGetters({
      breadcrumbs: 'breadcrumbs/breadcrumbs',
      pageTitle: 'breadcrumbs/pageTitle',
    }),
    toDay() {
      return moment().format('วันddddที่')
    },
    toDayDate() {
      return moment().format('DD/MM/YYYY')
    },
  },
  mounted() {
    LayoutSubheader.init(this.$refs.kt_subheader)
  },
}
</script>

<style lang="scss" scoped></style>
