<script>
import isEmpty from 'is-empty'
import _ from 'lodash'
import CreateForm from '@/pages/setting/queue-status/create'

export default {
  name: 'UpdateQueueStatus',
  extends: CreateForm,
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/queue-status' },
      { title: 'ตัวอักษรหน้าเลขคิว', route: '/setting/queue-status' },
      { title: 'แก้ไขรายการ' },
    ],
  },
  data() {
    return {
      title: 'แก้ไขรายการ',
    }
  },
  validate({ params }) {
    return !isEmpty(params.id)
  },
  mounted() {
    this.getQueueStatusById()
  },
  methods: {
    async getQueueStatusById() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiSetting.getQueueStatusById(_this.$route.params.id)
        const fileds = Object.keys(_this.form)
        const updateForm = {}
        Object.keys(data).map((k) => {
          if (fileds.includes(k)) {
            if (k === 'background_color') {
              updateForm[k] = {
                hex: data[k] || '#009CE0',
              }
            } else {
              updateForm[k] = data[k]
            }
          }
        })
        _this.form = _this.$updateObject(_this.form, updateForm)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
