<template>
  <div class="examination">
    <!-- begin:: Title -->
    <h5 class="text-dark font-weight-bold my-2 mr-5 text-center">
      เรียกคิวห้องตรวจ
    </h5>
    <!-- end:: Title -->
    <!-- begin:: คิวกำลังเรียก -->
    <SectionQueueDetail />
    <!-- end:: คิวกำลังเรียก -->

    <!-- begin:: Card -->
    <div class="card card-custom">
      <div class="card-header">
        <div class="card-toolbar">
          <SectionNavMenu :count-items="countDataItems" @click-tab="onClickTab" />
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <keep-alive>
            <component
              :is="currentTabComponent"
              :loading="loading"
              :rows="filteredData"
              :rows-wait="rowsWait"
              :rows-call="rowsCall"
              :rows-hold="rowsHold"
              @submit-setting="onSubmitFormSetting"
            ></component>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mixins from '@/core/mixins/examination'
import SectionQueueDetail from '@/components/Queue/Examination/Section/SectionQueueDetail'
import SectionNavMenu from '@/components/Queue/Examination/Section/SectionNavMenu'
import TabContentWaiting from '@/components/Queue/Examination/TabContent/TabContentWaiting'
import TabContentCalling from '@/components/Queue/Examination/TabContent/TabContentCalling'
import TabContentHold from '@/components/Queue/Examination/TabContent/TabContentHold'
import TabContentSetting from '@/components/Queue/Examination/TabContent/TabContentSetting'

export default {
  name: 'Examination',
  components: {
    SectionQueueDetail,
    SectionNavMenu,
    'tab-waiting': TabContentWaiting,
    'tab-calling': TabContentCalling,
    'tab-hold': TabContentHold,
    'tab-setting': TabContentSetting,
  },
  mixins: [mixins],
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'เรียกคิว', route: '/call/examination' }, { title: 'เรียกคิวห้องตรวจ' }],
  },
  data() {
    return {
      showSetting: false,
      loading: false,
      currentQueueCall: null,

      // ข้อมูลคิวรอเรียก
      rowsWait: [],
      // ข้อมูลคิวกำลังเรียก
      rowsCall: [],
      // ข้อมูลคิวพัก
      rowsHold: [],
      // ข้อมูลคิวทั้งหมด
      rowsQueue: [],
      // คิวห้องแพทย์
      rowsDoctor: [],
    }
  },
  computed: {
    isReadyCallWait() {
      return !!this.service_point_id
    },
    isReadySetting() {
      return !!this.service_group_id && this.doctor_id && !!this.service_point_id
    },
  },
  methods: {
    onClickTab(tab) {
      this.setCurrentTab(tab)
    },
  },
  head() {
    return {
      title: 'เรียกคิวห้องตรวจ',
    }
  },
}
</script>

<style lang="scss" scoped></style>
