<template>
  <div class="history-taking">
    <!-- begin:: Title -->
    <h5 class="text-dark font-weight-bold my-2 mr-5 text-center">
      ซักประวัติ {{ serviceGroupName }}:{{ servicePointName }}
    </h5>
    <!-- end:: Title -->

    <!-- begin:: คิวกำลังเรียก -->
    <SectionQueueDetail
      :queue="currentQueueCall"
      @recall="onRecall"
      @hold="onHold"
      @end="onEnd"
      @screen="onScreening"
      @call-next="onCallNext"
    />
    <!-- end:: คิวกำลังเรียก -->

    <!-- begin:: Card -->
    <div class="card card-custom mb-10">
      <div class="card-header hidden-xs hidden-sm">
        <div class="card-toolbar">
          <SectionNavMenu :count-items="countDataItems" @click-tab="onClickTab" />
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <keep-alive>
            <component
              :is="currentTabComponent"
              :loading="loading"
              :rows="filteredData"
              :rows-wait="rowsWait"
              :rows-call="rowsCall"
              :rows-hold="rowsHold"
              :rows-queue="rowsQueue"
              :rows-doctor="rowsDoctor"
              :rows-waiting-doctor="rowsWaitingDoctor"
              @submit-setting="onSubmitFormSetting"
              @submit-search="onSubmitFormSearch"
              @reload="onReload"
              @call-next="onCallNext"
              @call-wait="onCallWait"
              @recall="onRecall"
              @hold="onHold"
              @end="onEnd"
              @search-queue-doctor="fetchDataQueueDoctor"
              @screen="onScreening"
              @delete="onDeleteQueue"
              @printing="onPrintTicket"
              @checklab="checkListReportLab"
              @waiting-doctor="onWaitingDoctor"
            ></component>
          </keep-alive>
        </div>
      </div>
    </div>
    <!-- end:: Card -->
    <!-- Footer Menu -->
    <SectionMobileMenu :count-items="countDataItems" @click-tab="onClickTab" />
    <div
      id="menu-settings"
      :class="['menu menu-box-bottom menu-box-detached rounded-m', { 'menu-active': showSetting }]"
      style="height: 308px; display: block;"
    >
      <div class="menu-title">
        <h1>Settings</h1>
        <p class="color-highlight">Flexible and Easy to Use</p>
        <a href="#" class="close-menu" @click.prevent="onClickSettingMenu"><i class="fa fa-times"></i></a>
      </div>
      <div class="divider divider-margins mb-n2"></div>
      <div class="content">
        <div class="list-group list-custom-small">
          <a href="#" data-toggle-theme="" data-trigger-switch="switch-dark-mode" class="pb-2 ml-n1">
            <i class="fa font-12 fa-moon rounded-s bg-highlight color-white mr-3"></i>
            <span>Dark Mode</span>
            <div class="custom-control scale-switch ios-switch">
              <input id="switch-dark-mode" data-toggle-theme-switch="" type="checkbox" class="ios-input" />
              <label class="custom-control-label" for="switch-dark-mode"></label>
            </div>
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        <div class="list-group list-custom-large">
          <a data-menu="menu-highlights" href="#">
            <i class="fa font-14 fa-tint bg-green1-dark rounded-s"></i>
            <span>Page Highlight</span>
            <strong>16 Colors Highlights Included</strong>
            <span class="badge bg-highlight color-white">HOT</span>
            <i class="fa fa-angle-right"></i>
          </a>
          <a data-menu="menu-backgrounds" href="#" class="border-0">
            <i class="fa font-14 fa-cog bg-blue2-dark rounded-s"></i>
            <span>Background Color</span>
            <strong>10 Page Gradients Included</strong>
            <span class="badge bg-highlight color-white">NEW</span>
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div
      v-show="showSetting"
      class="menu-hider menu-active"
      style="transform: translate(0px, 0px);"
      @click.prevent="onClickSettingMenu"
    >
      <div></div>
    </div>
    <!-- Footer Menu -->
  </div>
</template>

<script>
import mixins from '@/core/mixins/history-taking'
import SectionQueueDetail from '@/components/Queue/HistoryTaking/Section/SectionQueueDetail'
import SectionNavMenu from '@/components/Queue/HistoryTaking/Section/SectionNavMenu'
import SectionMobileMenu from '@/components/Queue/HistoryTaking/Section/SectionMobileMenu'
import TabContentWaiting from '@/components/Queue/HistoryTaking/TabContent/TabContentWaiting'
import TabContentSetting from '@/components/Queue/HistoryTaking/TabContent/TabContentSetting'
import TabContentCalling from '@/components/Queue/HistoryTaking/TabContent/TabContentCalling'
import TabContentHold from '@/components/Queue/HistoryTaking/TabContent/TabContentHold'
import TabContentQueueList from '@/components/Queue/HistoryTaking/TabContent/TabContentQueueList'
import TabContentQueueDoctor from '@/components/Queue/HistoryTaking/TabContent/TabContentQueueDoctor'
import TabContentWaitingDoctor from '@/components/Queue/HistoryTaking/TabContent/TabContentWaitingDoctor'

export default {
  name: 'HistoryTaking',
  components: {
    SectionQueueDetail,
    SectionNavMenu,
    SectionMobileMenu,
    'tab-waiting': TabContentWaiting,
    'tab-setting': TabContentSetting,
    'tab-calling': TabContentCalling,
    'tab-hold': TabContentHold,
    'tab-queue-list': TabContentQueueList,
    'tab-queue-doctor': TabContentQueueDoctor,
    'tab-waiting-doctor': TabContentWaitingDoctor,
  },
  mixins: [mixins],
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'เรียกคิว', route: '/call/history-taking' }, { title: 'เรียกคิวซักประวัติ' }],
  },
  data() {
    return {
      showSetting: false,
      loading: false,
      currentQueueCall: null,

      // ข้อมูลคิวรอเรียก
      rowsWait: [],
      // ข้อมูลคิวกำลังเรียก
      rowsCall: [],
      // ข้อมูลคิวพัก
      rowsHold: [],
      // ข้อมูลคิวทั้งหมด
      rowsQueue: [],
      // คิวห้องแพทย์
      rowsDoctor: [],
      // คิวรอพบแพทย์
      rowsWaitingDoctor: [],

      intervalCheckLab: null,

      eventType: 'history-taking',
    }
  },
  computed: {
    isReadyCallWait() {
      return !!this.service_point_id
    },
    isReadySetting() {
      return !!this.service_group_id && this.service_ids.length && !!this.service_point_id
    },
  },
  methods: {
    onClickSettingMenu() {
      this.showSetting = !this.showSetting
    },
    onClickTab(tab) {
      this.setCurrentTab(tab)
    },
  },
  head() {
    return {
      title: 'เรียกคิวซักประวัติ',
    }
  },
}
</script>

<style lang="scss" scoped></style>
