<template>
  <div class="form-doctor">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">Doctor Eid</label>
              <ValidationProvider v-slot="{ errors }" name="Doctor Eid" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.doctor_eid"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="doctor_eid"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">คำนำหน้า</label>
              <ValidationProvider v-slot="{ errors }" name="คำนำหน้า" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.prename"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder="พญ., นพ."
                  name="prename"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ชื่อ</label>
              <ValidationProvider v-slot="{ errors }" name="ชื่อ" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.first_name"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="first_name"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
              <label class="col-form-label col-1 text-lg-right text-right">นามสกุล</label>
              <ValidationProvider v-slot="{ errors }" name="นามสกุล" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.last_name"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="last_name"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">Profession code</label>
              <ValidationProvider v-slot="{ errors }" name="profession_code" rules="" tag="div" class="col-lg-4">
                <input
                  v-model="form.profession_code"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="profession_code"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
              <label class="col-form-label col-1 text-lg-right text-right">Intername</label>
              <ValidationProvider v-slot="{ errors }" name="Intername" rules="" tag="div" class="col-lg-4">
                <input
                  v-model="form.intername"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="intername"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>

            <!-- <div class="form-group row hidden">
              <label class="col-form-label col-2 text-lg-right text-right">จุดบริการ</label>
              <ValidationProvider v-slot="{ errors }" name="จุดบริการ" rules="" tag="div" class="col-lg-4">
                <select2 v-model="form.service_point_id" :name="`service_point_id`" :options="servicePointOpts" />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div> -->

            <!-- <div class="form-group row hidden">
              <label class="col-form-label col-2 text-lg-right text-right">งานบริการ</label>
              <ValidationProvider v-slot="{ errors }" name="งานบริการ" rules="" tag="div" class="col-lg-4">
                <div class="checkbox-list">
                  <template v-for="(items, group) in groups">
                    <div :key="group">
                      <label class="font-weight-bold">
                        {{ group }}
                      </label>
                      <label v-for="service in items" :key="service.service_id" class="checkbox">
                        <input
                          v-model.number="form.service_ids"
                          type="checkbox"
                          name="service_ids[]"
                          :class="['form-control', errors[0] ? 'is-invalid' : '']"
                          :value="service.service_id"
                        />
                        {{ service.service_name }}
                        <span></span>
                      </label>
                    </div>
                  </template>
                </div>
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div> -->
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/doctor')" class="btn btn-secondary">ยกเลิก</nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </template>
      <!-- end: Body -->
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
import _ from 'lodash'
import * as utils from '@/utils'

export default {
  name: 'CreateDoctor',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/doctor' },
      { title: 'รายชื่อแพทย์', route: '/setting/dooctor' },
      { title: 'บันทึกรายการ' },
    ],
  },
  data() {
    return {
      title: 'บันทึกรายการ',
      submitted: false,
      loading: false,
      services: [],
      service_points: [],
      form: {
        doctor_id: '',
        doctor_eid: '',
        prename: '',
        first_name: '',
        last_name: '',
        profession_code: '',
        intername: '',
        service_ids: [],
        service_point_id: '',
      },
    }
  },
  computed: {
    groups() {
      return _.groupBy(this.services, (service) => service.service_group_name)
    },
    servicePointOpts() {
      const opts = utils.mapDataOptions(this.service_points, 'service_point_id', 'service_point_description')
      return {
        placeholder: 'เลือกจุดบริการ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
  },
  mounted() {
    this.fetchDataServices()
    this.fetchDataServicePoints()
  },
  beforeDestroy() {
    this.form = {
      doctor_id: '',
      doctor_eid: '',
      prename: '',
      first_name: '',
      last_name: '',
      profession_code: '',
      intername: '',
      service_ids: [],
    }
  },
  methods: {
    // ข้อมูลงานบริการ
    async fetchDataServices() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.services = await _this.$apiSetting.getAllService()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    // จุดบริการ
    async fetchDataServicePoints() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.service_points = await _this.$apiSetting.getServicePoints()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    // บันทึกรายการ
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        let message = ''
        if (!_this.form.doctor_id) {
          // create
          const data = await _this.$apiSetting.createDoctor(_this.form)
          message = data.message
        } else {
          // update
          const data = await _this.$apiSetting.updateDoctor(_this.form.doctor_id, _this.form)
          message = data.message
        }
        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/doctor'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
