<template>
  <div class="doctor-page">
    <card title="รายชื่อแพทย์">
      <!-- begin:: Toolbar -->
      <template #toolbar>
        <nuxt-link :to="localePath('/setting/doctor/create')" class="btn btn-light-primary font-weight-bolder mr-2">
          <span class="navi-icon"><i class="flaticon2-add-1"></i></span>
          <span class="navi-text">เพิ่มรายการ</span>
        </nuxt-link>
      </template>
      <!-- end:: Toolbar -->
      <template #body>
        <!-- begin:: Body -->
        <!--begin: Datatable-->
        <DataTable
          hover
          bordered
          small
          fixed
          :items="rows"
          :fields="fields"
          :column-filter="false"
          :items-per-page="10"
          pagination
          sorter
          :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
          :loading="loading"
          :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
          :table-options="{
            id: 'tbl-doctor',
            class: 'table dataTable kt-datatable__table table-vertical-center table-sm',
          }"
        >
          <!-- Column -->
          <template #index="{index}">
            <td class="text-center row-index">
              {{ index + 1 }}
            </td>
          </template>

          <template #doctor_eid="{item}">
            <td>
              {{ item.doctor_eid }}
            </td>
          </template>

          <template #prefix_code="{item}">
            <td>
              {{ item.prefix_code }}
            </td>
          </template>

          <template #prename="{item}">
            <td>
              {{ item.prename }}
            </td>
          </template>

          <template #first_name="{item}">
            <td>
              {{ item.first_name }}
            </td>
          </template>

          <template #last_name="{item}">
            <td>
              {{ item.last_name }}
            </td>
          </template>

          <template #service_point_description="{item}">
            <td>
              {{ item.service_point_description }}
            </td>
          </template>

          <template #actions="{item}">
            <td class="text-center no-wrap">
              <nuxt-link
                :to="localePath(`/setting/doctor/update/${item.doctor_id}`)"
                class="btn btn-sm btn-outline-success btn-icon mr-2"
                title="แก้ไข"
              >
                <i class="flaticon2-pen"></i>
              </nuxt-link>
              <button type="button" class="btn btn-sm btn-outline-danger btn-icon" title="ลบ" @click="onDelete(item)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </template>
          <!-- Column -->
        </DataTable>
        <!--end: Datatable-->
        <!-- end:: Body -->
      </template>
    </card>
  </div>
</template>

<script>
export default {
  name: 'Doctor',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'ตั้งค่า', route: '/setting/doctor' }, { title: 'รายชื่อแพทย์' }],
  },
  data() {
    return {
      loading: false,
      rows: [],
      // table fields
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'doctor_eid', label: 'ไอดี' },
        { key: 'prename', label: 'คำนำหน้า' },
        { key: 'first_name', label: 'ชื่อ' },
        { key: 'last_name', label: 'นามสกุล' },
        { key: 'service_point_description', label: 'จุดบริการ' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
          _classes: 'no-wrap',
        },
      ],
    }
  },
  mounted() {
    this.fetchDataDoctors()
  },
  methods: {
    async fetchDataDoctors() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.rows = await _this.$apiSetting.getDoctors()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    // ลบรายการ
    onDelete(item) {
      const _this = this
      _this.$Swal
        .fire({
          title: 'ยืนยันการลบรายการ?',
          text: '',
          icon: 'question',
          showCancelButton: true,
          allowOutsideClick: false,
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก',
          showLoaderOnConfirm: true,
          preConfirm: function () {
            return new Promise(function (resolve) {
              _this.$apiSetting
                .deleteDoctor(item.doctor_id)
                .then((res) => {
                  resolve(res)
                })
                .catch((error) => {
                  _this.$errorHandler(error)
                })
            })
          },
        })
        .then((result) => {
          if (result.value) {
            _this.fetchDataDoctors()

            _this.$Swal.fire({
              icon: 'success',
              title: 'ลบรายการสำเร็จ',
              text: '',
              confirmButtonText: 'ตกลง',
            })
          }
        })
    },
  },
  head() {
    return {
      title: 'รายชื่อแพทย์',
    }
  },
}
</script>

<style lang="scss" scoped></style>
