<template>
  <div class="checkup-confirm-page">
    <!-- begin:: Row -->
    <section v-show="isShowSections">
      <KioskSawatdee />
    </section>
    <!-- end:: Row -->

    <!-- begin:: Wizard -->
    <div v-if="isPatient" class="card card-custom">
      <div class="card-body p-0">
        <!--begin: Wizard-->
        <Wizard>
          <!--begin: Wizard Nav-->
          <WizardNav>
            <!--begin::Wizard Step 1 Nav-->
            <WizardStepNav step-number="1" title="เลือกงานบริการ" state="done"></WizardStepNav>
            <!--begin::Wizard Step 1 Nav-->
            <!--begin::Wizard Step 2 Nav-->
            <WizardStepNav step-number="2" title="เลือกนัดหมาย" state="done"></WizardStepNav>
            <!--begin::Wizard Step 2 Nav-->
            <!--begin::Wizard Step 3 Nav-->
            <WizardStepNav step-number="3" title="เลือกการเข้ารับบริการ" state="done"></WizardStepNav>
            <!--begin::Wizard Step 3 Nav-->
            <!--begin::Wizard Step 4 Nav-->
            <WizardStepNav step-number="4" title="เลือกแพทย์" state="done"></WizardStepNav>
            <!--begin::Wizard Step 4 Nav-->
            <!--begin::Wizard Step 5 Nav-->
            <WizardStepNav step-number="5" title="ยืนยันรายการ" state="current"></WizardStepNav>
            <!--begin::Wizard Step 5 Nav-->
          </WizardNav>
          <!--end: Wizard Nav-->
          <!--begin: Wizard Body-->
          <WizardBody>
            <!-- begin:: ข้อมูลทั่วไป -->
            <section class="patient-info">
              <SectionTitle title="ข้อมูลทั่วไป" />
              <KioskPatientInfo :patient="patient" />
            </section>
            <!-- end:: ข้อมูลทั่วไป -->

            <!-- begin:: กลุ่มงานบริการ -->
            <section class="section-doctor">
              <SectionTitle title="ยืนยันรายการ" icon="flaticon-profile-1">
                <div slot="title" class="font-size-h1 font-weight-bolder faa-horizontal animated">
                  ยืนยันรายการ
                </div>
              </SectionTitle>
              <!-- begin:: Card -->
              <div class="card card-custom gutter-b card-stretch" style="box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);">
                <!--begin::Body-->
                <div class="card-body pt-4">
                  <!--begin::User-->
                  <div class="d-flex align-items-center mb-7">
                    <!--begin::Pic-->
                    <div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">
                      <div class="symbol symbol-circle symbol-lg-75">
                        <img src="@/assets/media/svg/avatars/001-boy.svg" alt="image" />
                      </div>
                    </div>
                    <!--end::Pic-->
                    <!--begin::Title-->
                    <div class="d-flex flex-column">
                      <a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h4 mb-0">
                        {{ patientValue('firstname', 'ชื่อ') }} {{ patientValue('lastname', 'นามสกุล') }}
                      </a>
                      <span class="text-muted font-weight-bold"></span>
                    </div>
                    <!--end::Title-->
                  </div>
                  <!--end::User-->
                  <!--begin::Info-->
                  <div class="mb-7">
                    <div class="d-flex justify-content-between align-items-center">
                      <span class="text-dark-75 font-weight-bolder mr-2 font-size-h4">รับริการ:</span>
                      <span class="font-weight-bold font-size-h4">
                        {{ serviceGroupName }}
                      </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <span class="text-dark-75 font-weight-bolder mr-2 font-size-h4">แพทย์ที่พบ:</span>
                      <span class="font-weight-bold font-size-h4">
                        {{ doctorName }}
                      </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-cente my-1">
                      <span class="text-dark-75 font-weight-bolder mr-2 font-size-h4">เจาะเลือดวันนี้:</span>
                      <span class="font-weight-bold font-size-h4">
                        {{ draw_blood ? 'มี' : 'ไม่มี' }}
                      </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-cente my-1">
                      <span class="text-dark-75 font-weight-bolder mr-2 font-size-h4">เอ็กซเรย์วันนี้:</span>
                      <span class="font-weight-bold font-size-h4">
                        {{ xray ? 'มี' : 'ไม่มี' }}
                      </span>
                    </div>
                  </div>
                  <!--end::Info-->
                </div>
                <!--end::Body-->
              </div>
              <!-- end:: Card -->
              <!-- Loading -->
              <LdsLoading :loading="loading" />
            </section>
            <!-- end:: กลุ่มงานบริการ -->

            <!--begin: Wizard Form-->
            <!--begin: Wizard Actions-->
            <div class="d-flex justify-content-between border-top mt-5 pt-10 button-container">
              <div class="mr-2">
                <button
                  type="button"
                  class="btn btn-success font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action"
                  data-wizard-type="action-prev"
                  @click="onPrevious"
                >
                  <i class="flaticon2-left-arrow"></i> ขั้นตอนก่อนหน้า
                </button>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-success font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action mr-10"
                  data-wizard-type="action-continue"
                  style="font-size: 2rem; width: 250px;"
                  @click="onConfirm"
                >
                  ยืนยันรายการ
                </button>
                <button
                  type="button"
                  class="btn btn-danger font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action"
                  data-wizard-type="action-cancel"
                  style="font-size: 2rem; width: 250px;"
                  @click="onCancel"
                >
                  <i class="flaticon2-cross"></i> ยกเลิก
                </button>
              </div>
            </div>
            <!--end: Wizard Actions-->
            <!--end: Wizard Form-->
          </WizardBody>
          <!--end: Wizard Body-->
        </Wizard>
        <!--end: Wizard-->
      </div>
    </div>
    <!-- end:: Wizard -->
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import _ from 'lodash'
import moment from 'moment'
import mixins from '@/core/mixins/kiosk'
moment.locale('th')

export default {
  name: 'CheckupConfirm',
  middleware({ store, redirect }) {
    if (!store.state.kiosk.patient) {
      return redirect('/kiosk')
    }
  },
  mixins: [mixins],
  layout: 'main-kiosk',
  // middleware: 'notAuthenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'ออกบัตรคิว', route: '/kiosk' }, { title: 'ตรวจรักษา' }, { title: 'ยืนยันรายการ' }],
  },
  data() {
    return {
      submitted: false,
    }
  },
  methods: {
    // ยกเลิกรายการ
    onCancel() {
      this.cidLoding = false
      this.cidMessage = 'เสียบบัตรประชาชนของคุณ...'
      this.setLoading(false)
      this.setSearchValue('')
      this.setSection('')
      this.setPersonalInfo(null)
      this.setPatient(null)
      this.setPatientRight(null)
      this.setServiceId('')
      this.setDoctorId('')
      this.setAppointId(null)
      this.setDrawBlood(false)
      this.setXray(false)
      this.$router.push(this.localePath('/kiosk'))
    },
    // ขั้นตอนก่อนหน้า
    onPrevious() {
      // ถ้าเลือกแพทย์
      if (this.doctor_id) {
        this.$router.push(this.localePath('/kiosk/checkup/select-doctor'))
      } else {
        this.$router.push(this.localePath('/kiosk/checkup/select-service'))
      }
    },
    patientValue(attribute, defaultValue = '') {
      const patient = this.patient
      return _.get(patient, attribute, defaultValue)
    },
    // ยืนยันรายการ
    async onConfirm() {
      const _this = this
      try {
        Swal.fire({
          title: 'ระบบกำลังทำรายการ...',
          html: '',
          timerProgressBar: true,
          showClass: {
            popup: 'swal2-noanimation',
          },
          onBeforeOpen: () => {
            Swal.showLoading()
            $(Swal.getTitle()).css('font-size', '2rem')
          },
        })
        _this.setSubmitted(true)
        // ข้อมูลเปิด visit
        const egatClaimSelect = _.get(_this.patientRight, 'egat_claim_select', null) // สิทธิการรับบริการที่เลือก
        const checkupClaim = _.get(egatClaimSelect, 'checkup_claim', null) // สิทธิการรับริการตรวจรักษา
        const medicalClaim = _.get(egatClaimSelect, 'medical_claim', null) // สิทธิการรับริการตรวจสุขภาพ
        const planId = [] // list สิทธิการรักษา
        if (checkupClaim) {
          planId.push(checkupClaim)
        }
        if (medicalClaim && !planId.includes(medicalClaim)) {
          planId.push(medicalClaim)
        }
        if (!planId.length && _.get(_this.patient, 'planId')) {
          planId.push(_.get(_this.patient, 'planId'))
        }
        let spid = '000'
        const moduleName = _.get(_this.currentServiceGroup, 'module_name', '')
        switch (moduleName) {
          case 'dental-gum':
            spid = '030'
            break

          case 'dental':
            spid = '030'
            break

          default:
            break
        }
        const openVisitBody = {
          patientId: _this.patient.patientId,
          hn: _this.patient.hn,
          userId: 'register',
          spid: spid,
          planId: planId,
        }
        // ข้อมูลออกบัตรคิว
        let registerdata = {
          patient: _this.patient,
          right: _this.patientRight,
          appoint_id: _this.appoint_id,
          service_group_id: _this.service_group_id,
          service_id: _this.service_id,
          doctor_id: _this.doctor_id,
          register_by: 'kiosk',
          spid: spid,
          planId: planId,
          draw_blood: _this.draw_blood,
          xray: _this.xray,
        }
        // ตรวจสอบเงื่อนไขก่อนออกบัตรคิว
        await _this.$apiKiosk.checkRegisterQueue(registerdata)
        // เปิด visit
        const openvisitRespone = await _this.$apiKiosk.createPatientVisit(openVisitBody)
        const openVisitSuccess = openvisitRespone.resultStatus === 'SUCCESS'
        const openVisitFail = openvisitRespone.resultText === 'OLD VISIT NOT DISCHARGE'
        if (openVisitSuccess) {
          // ถ้าเปิด visit สำเร็จ
          registerdata = _this.$updateObject(registerdata, {
            visit_type: 'NEW VISIT',
            visit_id: openvisitRespone.visitId,
            vn: openvisitRespone.vn,
            visit_date: moment().format('YYYY-MM-DD'),
          })
          const response = await _this.$apiKiosk.registerQueue(registerdata)
          // ส่งข้อมูล socket ไปยัง client
          const socketData = _.get(response, 'socketData', [])
          for (let i = 0; i < socketData.length; i++) {
            const data = socketData[i]
            await new Promise((resolve) => {
              setTimeout(function () {
                resolve()
              }, 300)
            })
            _this.$socket.emit(_this.$SOCKET_EVENTS.REGISTER, data)
          }
          Swal.fire({
            icon: 'success',
            title: 'ทำรายการสำเร็จ กรุณารับบัตรคิว!',
            text: `คิวของคุณคือ: ${response.queue_no}`,
            timer: 4000,
            showConfirmButton: false,
            onBeforeOpen: () => {
              $(Swal.getTitle()).css('font-size', '1.5rem')
              $(Swal.getHtmlContainer()).css('font-size', '2rem')
              $(Swal.getConfirmButton()).css('font-size', '2rem')
            },
            onClose: () => {
              _this.onCancel()
            },
          })
          _this.onPrintTicket(response.queue_detail_id)
        } else if (openVisitFail && openvisitRespone.visitDate === moment().format('YYYY-MM-DD')) {
          // ถ้าเปิด visit สำเร็จ
          registerdata = _this.$updateObject(registerdata, {
            visit_type: 'OLD VISIT',
            visit_id: openvisitRespone.visitId,
            vn: openvisitRespone.vn,
            visit_date: openvisitRespone.visitDate,
          })
          const response = await _this.$apiKiosk.registerQueue(registerdata)
          // ส่งข้อมูล socket ไปยัง client
          const socketData = _.get(response, 'socketData', [])
          for (let i = 0; i < socketData.length; i++) {
            const data = socketData[i]
            await new Promise((resolve) => {
              setTimeout(function () {
                resolve()
              }, 300)
            })
            _this.$socket.emit(_this.$SOCKET_EVENTS.REGISTER, data)
          }
          Swal.fire({
            icon: 'success',
            title: 'ทำรายการสำเร็จ กรุณารับบัตรคิว!',
            text: `คิวของคุณคือ: ${response.queue_no}`,
            timer: 4000,
            showConfirmButton: false,
            onBeforeOpen: () => {
              $(Swal.getTitle()).css('font-size', '1.5rem')
              $(Swal.getHtmlContainer()).css('font-size', '2rem')
              $(Swal.getConfirmButton()).css('font-size', '2rem')
            },
            onClose: () => {
              _this.onCancel()
            },
          })
          _this.onPrintTicket(response.queue_detail_id)
        } else {
          Swal.fire({
            icon: 'error',
            title: 'ระบบเปิด Visit ไม่สำเร็จ! กรุณาติดต่อเจ้าหน้าที่ค่ะ',
            text: openvisitRespone.resultText,
            timer: 4000,
            showConfirmButton: false,
            onBeforeOpen: () => {
              $(Swal.getTitle()).css('font-size', '1.5rem')
              $(Swal.getHtmlContainer()).css('font-size', '1.5rem')
              $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            },
          })
        }
        _this.setSubmitted(false)
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error, {
          title: 'ทำรายการไม่สำเร็จ!',
          timer: 4000,
          showConfirmButton: false,
          confirmButtonText: 'ตกลง',
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getCloseButton()).css('font-size', '1.5rem')
            $(Swal.getCancelButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '2rem')
            $(Swal.getHtmlContainer()).css('font-size', '2rem')
          },
        })
      }
    },
  },
  head() {
    return {
      title: 'ยืนยันรายการ',
    }
  },
}
</script>

<style scoped>
/* button container */
.button-container {
  width: 98%;
  bottom: 2rem;
  right: 1rem;
  left: 1rem;
}
.button-container .btn.btn-action {
  font-size: 2rem;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #eee;
}
</style>
