<template>
  <div class="kiosk-page select-doctor">
    <!-- begin:: Row -->
    <section v-show="isShowSections">
      <KioskSawatdee />
    </section>
    <!-- end:: Row -->

    <!-- begin:: Wizard -->
    <div v-if="isPatient" class="card card-custom">
      <div class="card-body p-0">
        <!--begin: Wizard-->
        <Wizard>
          <!--begin: Wizard Nav-->
          <WizardNav>
            <!--begin::Wizard Step 1 Nav-->
            <WizardStepNav step-number="1" title="เลือกงานบริการ" state="done"></WizardStepNav>
            <!--begin::Wizard Step 1 Nav-->
            <!--begin::Wizard Step 2 Nav-->
            <WizardStepNav step-number="2" title="เลือกนัดหมาย" state="done"></WizardStepNav>
            <!--begin::Wizard Step 2 Nav-->
            <!--begin::Wizard Step 3 Nav-->
            <WizardStepNav step-number="3" title="เลือกการเข้ารับบริการ" state="done"></WizardStepNav>
            <!--begin::Wizard Step 3 Nav-->
            <!--begin::Wizard Step 4 Nav-->
            <WizardStepNav step-number="4" title="เลือกแพทย์" state="current"></WizardStepNav>
            <!--begin::Wizard Step 4 Nav-->
            <!--begin::Wizard Step 5 Nav-->
            <WizardStepNav step-number="5" title="ยืนยันรายการ" state="padding"></WizardStepNav>
            <!--begin::Wizard Step 5 Nav-->
          </WizardNav>
          <!--end: Wizard Nav-->
          <!--begin: Wizard Body-->
          <WizardBody>
            <!-- begin:: ข้อมูลทั่วไป -->
            <section class="patient-info">
              <SectionTitle title="ข้อมูลทั่วไป" />
              <KioskPatientInfo :patient="patient" />
            </section>
            <!-- end:: ข้อมูลทั่วไป -->

            <!-- begin:: กลุ่มงานบริการ -->
            <section class="section-doctor">
              <SectionTitle title="เลือกแพทย์" icon="flaticon-profile-1">
                <div slot="title" class="font-size-h1 font-weight-bolder faa-horizontal animated">
                  เลือกแพทย์
                </div>
              </SectionTitle>

              <!-- Checkbox List -->
              <SectionCheckupDoctor :doctors="doctors" @select="onSelectDoctor" />
              <!-- Notify -->
              <div
                v-show="!doctors.length && !loading"
                class="alert alert-custom alert-outline-2x alert-outline-warning fade show mb-5"
                role="alert"
              >
                <div class="alert-icon">
                  <i class="flaticon-warning"></i>
                </div>
                <div class="alert-text font-size-h1">ไม่พบข้อมูลแพทย์!</div>
              </div>
              <!-- Checkbox List -->
              <!-- Loading -->
              <LdsLoading :loading="loading" />
            </section>
            <!-- end:: กลุ่มงานบริการ -->

            <!--begin: Wizard Form-->
            <!--begin: Wizard Actions-->
            <div class="d-flex justify-content-between border-top mt-5 pt-10 button-container">
              <div class="mr-2">
                <button
                  type="button"
                  class="btn btn-success font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action"
                  data-wizard-type="action-prev"
                  @click="onPrevious"
                >
                  <i class="flaticon2-left-arrow"></i> ขั้นตอนก่อนหน้า
                </button>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-success font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action mr-10"
                  data-wizard-type="action-continue"
                  style="font-size: 2rem; width: 250px;"
                  @click="onSelectContinue"
                >
                  ดำเนินการต่อ <i class="flaticon2-right-arrow"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action"
                  data-wizard-type="action-cancel"
                  style="font-size: 2rem; width: 250px;"
                  @click="onCancel"
                >
                  <i class="flaticon2-cross"></i> ยกเลิก
                </button>
              </div>
            </div>
            <!--end: Wizard Actions-->
            <!--end: Wizard Form-->
          </WizardBody>
          <!--end: Wizard Body-->
        </Wizard>
        <!--end: Wizard-->
      </div>
    </div>
    <!-- end:: Wizard -->
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import mixins from '@/core/mixins/kiosk'
import SectionCheckupDoctor from '@/components/Kiosk/Section/Checkup/SectionCheckupDoctor'

export default {
  name: 'SelectDoctor',
  components: {
    SectionCheckupDoctor,
  },
  middleware({ store, redirect }) {
    if (!store.state.kiosk.patient) {
      return redirect('/kiosk')
    }
  },
  mixins: [mixins],
  layout: 'main-kiosk',
  // middleware: 'notAuthenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'ออกบัตรคิว', route: '/kiosk' }, { title: 'ตรวจรักษา' }, { title: 'เลือกแพทย์' }],
  },
  mounted() {
    this.fetchDataDoctors()
  },
  methods: {
    // ยกเลิกรายการ
    onCancel() {
      this.cidLoding = false
      this.cidMessage = 'เสียบบัตรประชาชนของคุณ...'
      this.setLoading(false)
      this.setSearchValue('')
      this.setSection('')
      this.setPersonalInfo(null)
      this.setPatient(null)
      this.setPatientRight(null)
      this.setServiceId('')
      this.setDoctorId('')
      this.setAppointId(null)
      this.setDrawBlood(false)
      this.setXray(false)
      this.$router.push(this.localePath('/kiosk'))
    },
    // ขั้นตอนก่อนหน้า
    onPrevious() {
      this.$router.push(this.localePath('/kiosk/checkup/select-service'))
    },
    // ดำเนินการต่อ
    onSelectContinue() {
      if (this.$isEmpty(this.doctor_id)) {
        Swal.fire({
          icon: 'warning',
          title: 'กรุณาเลือกแพทย์',
          text: '',
          confirmButtonText: 'ตกลง',
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '1.5rem')
          },
        })
      } else {
        this.$router.push(this.localePath('/kiosk/checkup/confirm'))
      }
    },
    async fetchDataDoctors() {
      const _this = this
      _this.setDoctorItems([])
      try {
        _this.setLoading(true)
        const params = {
          service_group_id: _this.service_group_id,
          service_id: _this.service_id,
        }
        const doctors = await _this.$apiKiosk.getDoctors(params)
        _this.setDoctorItems(doctors)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    // เลือกแพทย์
    onSelectDoctor(doctor) {
      if (doctor.isFull) {
        Swal.fire({
          icon: 'warning',
          title: 'คิวเต็ม!',
          html: '<h1>กรุณาเลือกแพทย์ท่านอื่นค่ะ</h1>',
          confirmButtonText: 'ตกลง',
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '2rem')
          },
        })
      } else if (this.doctor_id === doctor.doctor_id) {
        this.setDoctorId('')
      } else {
        this.setDoctorId(doctor.doctor_id)
      }
    },
  },
  head() {
    return {
      title: 'เลือกแพทย์',
    }
  },
}
</script>

<style scoped>
/* button container */
.button-container {
  width: 98%;
  bottom: 2rem;
  right: 1rem;
  left: 1rem;
}
.button-container .btn.btn-action {
  font-size: 2rem;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #eee;
}
</style>
