<template>
  <div class="kiosk-page select-service">
    <!-- begin:: Row -->
    <section v-show="isShowSections">
      <KioskSawatdee />
    </section>
    <!-- end:: Row -->

    <!-- begin:: Wizard -->
    <div v-if="isPatient" class="card card-custom">
      <div class="card-body p-0">
        <!--begin: Wizard-->
        <Wizard>
          <!--begin: Wizard Nav-->
          <WizardNav>
            <!--begin::Wizard Step 1 Nav-->
            <WizardStepNav step-number="1" title="เลือกงานบริการ" state="done"></WizardStepNav>
            <!--begin::Wizard Step 1 Nav-->
            <!--begin::Wizard Step 2 Nav-->
            <WizardStepNav step-number="2" title="เลือกนัดหมาย" state="done"></WizardStepNav>
            <!--begin::Wizard Step 2 Nav-->
            <!--begin::Wizard Step 3 Nav-->
            <WizardStepNav step-number="3" title="เลือกการเข้ารับบริการ" state="current"></WizardStepNav>
            <!--begin::Wizard Step 3 Nav-->
            <!--begin::Wizard Step 4 Nav-->
            <WizardStepNav step-number="4" title="เลือกแพทย์" state="padding"></WizardStepNav>
            <!--begin::Wizard Step 4 Nav-->
            <!--begin::Wizard Step 5 Nav-->
            <WizardStepNav step-number="5" title="ยืนยันรายการ" state="padding"></WizardStepNav>
            <!--begin::Wizard Step 5 Nav-->
          </WizardNav>
          <!--end: Wizard Nav-->
          <!--begin: Wizard Body-->
          <WizardBody>
            <!-- begin:: ข้อมูลทั่วไป -->
            <section class="patient-info">
              <SectionTitle title="ข้อมูลทั่วไป" />
              <KioskPatientInfo :patient="patient" />
            </section>
            <!-- end:: ข้อมูลทั่วไป -->

            <!-- begin:: กลุ่มงานบริการ -->
            <section class="section-service hidden">
              <SectionTitle title="เลือกการเข้ารับบริการ" icon="flaticon2-calendar-5">
                <div slot="title" class="font-size-h1 font-weight-bolder faa-horizontal animated">
                  เลือกการเข้ารับบริการ
                </div>
              </SectionTitle>
              <SectionCheckupService v-show="!loading" :services="services" @select="onSelectService" />
              <!-- Loading -->
              <LdsLoading :loading="loading" />
            </section>
            <!-- end:: กลุ่มงานบริการ -->

            <!--begin: Wizard Form-->
            <!--begin: Wizard Actions-->
            <div class="d-flex justify-content-between border-top mt-5 pt-10 button-container">
              <div class="mr-2">
                <!-- <button
                  type="button"
                  class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                  data-wizard-type="action-prev"
                >
                  Previous
                </button> -->
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-success font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action mr-10"
                  data-wizard-type="action-continue"
                  style="font-size: 2rem; width: 250px;"
                  @click="onSelectContinue"
                >
                  ดำเนินการต่อ <i class="flaticon2-right-arrow"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger font-weight-bold text-uppercase px-9 py-4 btn-pill btn-action"
                  data-wizard-type="action-cancel"
                  style="font-size: 2rem; width: 250px;"
                  @click="onCancel"
                >
                  <i class="flaticon2-cross"></i> ยกเลิก
                </button>
              </div>
            </div>
            <!--end: Wizard Actions-->
            <!--end: Wizard Form-->
          </WizardBody>
          <!--end: Wizard Body-->
        </Wizard>
        <!--end: Wizard-->
      </div>
    </div>
    <!-- end:: Wizard -->
    <!-- Loading -->
    <v-loading
      :active.sync="loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    ></v-loading>
    <!-- Loading -->
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import mixins from '@/core/mixins/kiosk'
import SectionCheckupService from '@/components/Kiosk/Section/Checkup/SectionCheckupService'
import imgDrawBlood from '@/assets/images/kiosk/draw-blood.png'
import imgXray from '@/assets/images/kiosk/healthcare-xray.png'
import imgDoctor from '@/assets/images/kiosk/doctor.png'
import imgAppoint1 from '@/assets/images/kiosk/S__6791249.jpg'
import imgAppoint2 from '@/assets/images/kiosk/S__6791251.jpg'

export default {
  name: 'SelectService',
  components: {
    SectionCheckupService,
  },
  middleware({ store, redirect }) {
    if (!store.state.kiosk.patient) {
      return redirect('/kiosk')
    }
  },
  mixins: [mixins],
  layout: 'main-kiosk',
  // middleware: 'notAuthenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'ออกบัตรคิว', route: '/kiosk' }, { title: 'ตรวจรักษา' }, { title: 'เลือกการเข้ารับบริการ' }],
  },
  mounted() {
    this.setLoading(true)
    setTimeout(() => {
      this.setLoading(false)
      this.confirmDrawBlood()
    }, 1500)
  },
  methods: {
    // มีเจาะเลือดวันนีหรือไม่
    confirmDrawBlood() {
      const _this = this
      Swal.fire({
        // icon: 'question',
        title: 'คุณมีใบนัดเจาะเลือด (ใบสีฟ้า,ใบสีชมพู) วันนี้หรือไม่?',
        text: '',
        html: `<p> ตัวอย่างใบนัด </p>
        <div class="row">
          <div class="col-sm-6">
            <img src="${imgAppoint1}" alt="" width="100%" class="img-responsive"/>
          </div>
          <div class="col-sm-6">
            <img src="${imgAppoint2}" alt="" width="100%" class="img-responsive"/>
          </div>
        </div>`,
        confirmButtonText: 'มี',
        cancelButtonText: 'ไม่มี',
        allowOutsideClick: false,
        showCancelButton: true,
        imageUrl: imgDrawBlood,
        imageWidth: '150px',
        cancelButtonColor: '#d33',
        customClass: {
          popup: 'swal2-popup swal2-popup-kiosk',
        },
        onBeforeOpen: () => {
          $(Swal.getConfirmButton()).css('font-size', '2rem')
          $(Swal.getCancelButton()).css('font-size', '2rem')
          $(Swal.getTitle()).css('font-size', '2rem')
          $(Swal.getHtmlContainer()).css('overflow-x', 'hidden')
        },
      }).then((result) => {
        if (result.value) {
          // มี
          _this.setDrawBlood(true)
          _this.confirmXray()
        } else {
          // ไม่มี
          _this.setDrawBlood(false)
          _this.confirmXray()
        }
      })
    },
    // มีเอ็กซเรย์วันนีหรือไม่
    confirmXray() {
      const _this = this
      Swal.fire({
        // icon: 'question',
        title: 'คุณมีใบนัดเอ็กซเรย์วันนี้หรือไม่?',
        text: '',
        confirmButtonText: 'มี',
        cancelButtonText: 'ไม่มี',
        allowOutsideClick: false,
        showCancelButton: true,
        imageUrl: imgXray,
        imageWidth: '150px',
        cancelButtonColor: '#d33',
        customClass: {
          popup: 'swal2-popup swal2-popup-kiosk',
        },
        onBeforeOpen: () => {
          $(Swal.getConfirmButton()).css('font-size', '2rem')
          $(Swal.getCancelButton()).css('font-size', '2rem')
          $(Swal.getTitle()).css('font-size', '2rem')
        },
      }).then((result) => {
        if (result.value) {
          // มี
          _this.setXray(true)
          _this.confirmSelectDoctor()
        } else {
          // ไม่มี
          _this.setXray(false)
          _this.confirmSelectDoctor()
        }
      })
    },
    // ระบุแพทย์หรือไม่
    confirmSelectDoctor() {
      const _this = this
      Swal.fire({
        title: `ต้องการระบุแพทย์หรือไม่?`,
        text: '',
        // icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'ต้องการ',
        cancelButtonText: 'ไม่ต้องการ',
        allowOutsideClick: false,
        imageUrl: imgDoctor,
        imageWidth: '150px',
        cancelButtonColor: '#d33',
        customClass: {
          popup: 'swal2-popup swal2-popup-kiosk',
        },
        onBeforeOpen: () => {
          $(Swal.getConfirmButton()).css('font-size', '2rem')
          $(Swal.getCloseButton()).css('font-size', '1.5rem')
          $(Swal.getCancelButton()).css('font-size', '2rem')
          $(Swal.getTitle()).css('font-size', '2rem')
        },
        showLoaderOnConfirm: true,
        preConfirm: function () {
          return new Promise(function (resolve) {
            setTimeout(function () {
              resolve()
            }, 1000)
          })
        },
      }).then((result) => {
        if (result.value) {
          // ระบุแพทย์
          if (!_this.doctor_id) {
            _this.setDoctorId('')
          }
          _this.$router.push(_this.localePath('/kiosk/checkup/select-doctor'))
        } else {
          // ไม่ระบุแพทย์
          _this.setDoctorId(0)
          _this.$router.push(_this.localePath('/kiosk/checkup/confirm'))
        }
      })
    },
    // ยกเลิกรายการ
    onCancel() {
      this.cidLoding = false
      this.cidMessage = 'เสียบบัตรประชาชนของคุณ...'
      this.setLoading(false)
      this.setSearchValue('')
      this.setSection('')
      this.setPersonalInfo(null)
      this.setPatient(null)
      this.setPatientRight(null)
      this.setServiceId('')
      this.setDoctorId('')
      this.setAppointId(null)
      this.setDrawBlood(false)
      this.setXray(false)
      this.$router.push(this.localePath('/kiosk'))
    },
    // เลือกรายการ
    onSelectService(serviceId) {
      this.setServiceId(serviceId)
    },
    // ดำเนินการต่อ
    onSelectContinue() {
      const _this = this
      if (this.$isEmpty(_this.service_id)) {
        Swal.fire({
          icon: 'warning',
          title: 'กรุณาเลือกการเข้ารับบริการ',
          text: '',
          confirmButtonText: 'ตกลง',
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '1.5rem')
          },
        })
      } else {
        Swal.fire({
          title: `ต้องการระบุแพทย์หรือไม่?`,
          text: '',
          icon: 'question',
          showCancelButton: true,
          confirmButtonText: 'ต้องการ',
          cancelButtonText: 'ไม่ต้องการ',
          allowOutsideClick: false,
          onBeforeOpen: () => {
            $(Swal.getConfirmButton()).css('font-size', '1.5rem')
            $(Swal.getCloseButton()).css('font-size', '1.5rem')
            $(Swal.getCancelButton()).css('font-size', '1.5rem')
            $(Swal.getTitle()).css('font-size', '2rem')
          },
          showLoaderOnConfirm: true,
          preConfirm: function () {
            return new Promise(function (resolve) {
              setTimeout(function () {
                resolve()
              }, 1000)
            })
          },
        }).then((result) => {
          if (result.value) {
            // ระบุแพทย์
            if (!_this.doctor_id) {
              _this.setDoctorId('')
            }
            _this.$router.push(_this.localePath('/kiosk/checkup/select-doctor'))
          } else {
            // ไม่ระบุแพทย์
            _this.setDoctorId(0)
            _this.$router.push(_this.localePath('/kiosk/checkup/confirm'))
          }
        })
      }
    },
  },
  head() {
    return {
      title: 'เลือกการเข้ารับบริการ',
    }
  },
}
</script>

<style scoped>
/* button container */
.button-container {
  width: 98%;
  bottom: 2rem;
  right: 1rem;
  left: 1rem;
}
.button-container .btn.btn-action {
  font-size: 2rem;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #eee;
}
</style>
