<template>
  <div class="form-service-point">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <!-- begin:: Form -->
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ไอดีจุดบริการ</label>
              <ValidationProvider v-slot="{ errors }" name="ไอดีจุดบริการ" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.service_point_id"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="service_point_id"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>

              <label class="col-form-label col-1 text-lg-right text-right">ชื่อจุดบริการ</label>
              <ValidationProvider v-slot="{ errors }" name="ชื่อจุดบริการ" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.service_point_description"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="service_point_description"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">หมายเลขช่องบริการ</label>
              <ValidationProvider v-slot="{ errors }" name="หมายเลขช่องบริการ" rules="" tag="div" class="col-lg-4">
                <input
                  v-model="form.service_point_number"
                  type="number"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="service_point_number"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>

              <label class="col-form-label col-1 text-lg-right text-right">เสียงเรียกหมายเลขช่อง</label>
              <ValidationProvider v-slot="{ errors }" name="เสียงเรียกหมายเลขช่อง" rules="" tag="div" class="col-lg-4">
                <Select2
                  v-model="form.service_point_audio_number_id"
                  :name="`service_point_audio_number_id`"
                  :options="audioFileOpts"
                />
                <span class="form-text text-muted">
                  Prompt1 คือเสียงผู้หญิง, Prompt2 คือเสียงผู้ชาย
                </span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">เสียงเรียกจุดบริการ</label>
              <ValidationProvider
                v-slot="{ errors }"
                name="เสียงเรียกจุดบริการ"
                rules="required"
                tag="div"
                class="col-lg-4"
              >
                <Select2
                  v-model="form.service_point_audio_id"
                  :name="`service_point_audio_id`"
                  :options="audioFileServiceOpts"
                />
                <span class="form-text text-muted">
                  Prompt1 คือเสียงผู้หญิง, Prompt2 คือเสียงผู้ชาย
                </span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">เปิดใช้งาน</label>
              <ValidationProvider v-slot="{ errors }" name="สถานะ" rules="required" tag="div" class="col-lg-6">
                <span class="switch switch-sm switch-icon">
                  <label>
                    <input v-model="form.service_point_status" type="checkbox" name="service_point_status" />
                    <span></span>
                  </label>
                </span>
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/service-point')" class="btn btn-secondary">
                    ยกเลิก
                  </nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
        <!-- end:: Form -->
      </template>
      <!-- end:: Body -->
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
export default {
  name: 'CreateServicepoint',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/service-point' },
      { title: 'จุดบริการ', route: '/setting/service-point' },
      { title: 'บันทึกรายการ' },
    ],
  },
  data() {
    return {
      title: 'บันทึกรายการ',
      submitted: false,
      loading: false,
      audioFileList: [],
      form: {
        service_point_id: '',
        service_point_description: '',
        service_point_status: 1,
        service_point_number: '',
        service_point_audio_number_id: '',
        service_point_audio_id: '',
      },
    }
  },
  computed: {
    audioFileOpts() {
      const opts = this.audioFileList
        .filter((row) => !/Service/.test(row.audio_file_name))
        .map((row) => {
          return { id: row.audio_file_id, text: `${row.audio_file_name}: ${row.audio_file_label}` }
        })
      return {
        placeholder: 'เลือกเสียงเรียกหมายเลข',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    audioFileServiceOpts() {
      const opts = this.audioFileList
        .filter((row) => /Service/.test(row.audio_file_name))
        .map((row) => {
          return { id: row.audio_file_id, text: `${row.audio_file_name}: ${row.audio_file_label}` }
        })
      return {
        placeholder: 'เลือกเสียงเรียกหมายเลข',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
  },
  beforeDestroy() {
    this.form = {
      service_point_id: '',
      service_point_description: '',
      service_point_status: 1,
      service_point_number: '',
      service_point_audio_number_id: '',
      service_point_audio_id: '',
    }
  },
  mounted() {
    this.fetchDataAudioFileList()
  },
  methods: {
    async fetchDataAudioFileList() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.audioFileList = await _this.$apiSetting.getAudioFileList()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        const formData = _this.$updateObject(_this.form, {
          service_point_status: +_this.form.service_point_status,
        })
        let message = ''
        // create
        const data = await _this.$apiSetting.createServicePoint(formData)
        message = data.message
        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/service-point'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
