<template>
  <div class="service-point">
    <card title="รายชื่อจุดบริการ">
      <!-- begin:: Toolbar -->
      <template #toolbar>
        <nuxt-link
          :to="localePath('/setting/service-point/create')"
          class="btn btn-light-primary font-weight-bolder mr-2"
        >
          <span class="navi-icon"><i class="flaticon2-add-1"></i></span>
          <span class="navi-text">เพิ่มรายการ</span>
        </nuxt-link>
      </template>
      <!-- end:: Toolbar -->
      <template #body>
        <!-- begin:: Body -->
        <!--begin: Datatable-->
        <DataTable
          hover
          bordered
          small
          fixed
          :items="rows"
          :fields="fields"
          :column-filter="false"
          :items-per-page="10"
          pagination
          sorter
          :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
          :loading="loading"
          :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
          :table-options="{
            id: 'tbl-service-point',
            class: 'table dataTable kt-datatable__table table-vertical-center table-sm',
          }"
        >
          <!-- Column -->
          <template #index="{index}">
            <td class="text-center row-index">
              {{ index + 1 }}
            </td>
          </template>

          <template #service_point_id="{item}">
            <td class="text-center">
              {{ item.service_point_id }}
            </td>
          </template>

          <template #service_point_description="{item}">
            <td>
              {{ item.service_point_description }}
            </td>
          </template>

          <template #service_point_number="{item}">
            <td class="text-center">
              {{ item.service_point_number }}
            </td>
          </template>

          <template #service_point_audio_number_id="{item}">
            <td>
              {{ item.audio_number_name }}
            </td>
          </template>

          <template #service_point_audio_id="{item}">
            <td>
              {{ item.audio_service_name }}
            </td>
          </template>

          <template #service_point_status="{item}">
            <td class="text-center">
              <span v-if="item.service_point_status === 1" class="label label-pill label-inline label-success mr-2">
                ใช้งาน
              </span>
              <span v-else class="label label-pill label-inline label-danger mr-2">
                ไม่ใช้งาน
              </span>
            </td>
          </template>

          <template #actions="{item}">
            <td class="text-center no-wrap">
              <nuxt-link
                :to="localePath(`/setting/service-point/update/${item.service_point_id}`)"
                class="btn btn-sm btn-outline-success btn-icon mr-2"
                title="แก้ไข"
              >
                <i class="flaticon2-pen"></i>
              </nuxt-link>
              <button type="button" class="btn btn-sm btn-outline-danger btn-icon" title="ลบ" @click="onDelete(item)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </template>
          <!-- Column -->
        </DataTable>
        <!--end: Datatable-->
        <!-- end:: Body -->
      </template>
    </card>
  </div>
</template>

<script>
export default {
  name: 'ServicePoint',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
    breadcrumbs: [{ title: 'ตั้งค่า', route: '/setting/service-point' }, { title: 'จุดบริการ' }],
  },
  data() {
    return {
      loading: false,
      rows: [],
      // table fields
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'service_point_id', label: 'ไอดีจุดบริการ' },
        { key: 'service_point_description', label: 'ชื่อจุดบริการ' },
        { key: 'service_point_number', label: 'หมายเลขช่องบริการ' },
        { key: 'service_point_audio_number_id', label: 'เสียงเรียกหมายเลข' },
        { key: 'service_point_audio_id', label: 'เสียงเรียกจุดบริการ' },
        { key: 'service_point_status', label: 'สถานะ' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
          _classes: 'no-wrap',
        },
      ],
    }
  },
  mounted() {
    this.fetchDataServicePoints()
  },
  methods: {
    async fetchDataServicePoints() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.rows = await _this.$apiSetting.getServicePoints()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    onDelete(item) {
      const _this = this
      _this.$Swal
        .fire({
          title: 'ยืนยันการลบรายการ?',
          text: '',
          icon: 'question',
          showCancelButton: true,
          allowOutsideClick: false,
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก',
          showLoaderOnConfirm: true,
          preConfirm: function () {
            return new Promise(function (resolve) {
              _this.$apiSetting
                .deleteServicePoint(item.service_point_id)
                .then((res) => {
                  resolve(res)
                })
                .catch((error) => {
                  _this.$errorHandler(error)
                })
            })
          },
        })
        .then((result) => {
          if (result.value) {
            _this.fetchDataServicePoints()

            _this.$Swal.fire({
              icon: 'success',
              title: 'ลบรายการสำเร็จ',
              text: '',
              confirmButtonText: 'ตกลง',
            })
          }
        })
    },
  },
  head() {
    return {
      title: 'ตั้งค่าจุดบริการ',
    }
  },
}
</script>

<style lang="scss" scoped></style>
