<template>
  <div class="view-permission">
    <card :title="cardTitle">
      <template #toolbar>
        <nuxt-link :to="localePath('/setting/rbac/permission')" class="btn btn-success font-weight-bolder font-size-sm">
          <i class="flaticon2-left-arrow-1"></i> ย้อนกลับ
        </nuxt-link>
      </template>
      <template #body>
        <div class="row">
          <div class="col-md-5">
            <p class="text-danger">
              รายชื่อสิทธิ์ที่ไม่ได้รับอนุญาต
            </p>
            <input v-model="filterAvailable" class="form-control search" data-target="available" placeholder="ค้นหา" />
            <br />
            <select
              ref="available"
              v-model="availableModel"
              multiple
              size="20"
              class="form-control list"
              data-target="available"
            >
              <optgroup v-if="availableItems['role'].length" label="Roles">
                <template v-for="(role, key) in availableItems['role']">
                  <option :key="key" :value="role">
                    {{ role }}
                  </option>
                </template>
              </optgroup>
              <optgroup v-if="availableItems['permission'].length" label="Permission">
                <template v-for="(permission, key) in availableItems['permission']">
                  <option :key="key" :value="permission">
                    {{ permission }}
                  </option>
                </template>
              </optgroup>
              <optgroup v-if="availableItems['route'].length" label="Routes">
                <template v-for="(route, key) in availableItems['route']">
                  <option :key="key" :value="route">
                    {{ route }}
                  </option>
                </template>
              </optgroup>
            </select>
          </div>
          <div class="col-md-1 text-center">
            <br />
            <br />
            <br />
            <p>
              <button
                type="button"
                class="btn btn-success btn-assign"
                title="Assign"
                data-target="available"
                :disabled="!availableModel.length"
                @click="Assign"
              >
                &gt;&gt;
              </button>
            </p>
            <p>
              <button
                type="button"
                :disabled="!assignedModel.length"
                class="btn btn-danger btn-assign"
                title="Remove"
                data-target="assigned"
                @click="Revoke"
              >
                &lt;&lt;
              </button>
            </p>
          </div>
          <div class="col-md-5">
            <p class="text-success">
              รายชื่อสิทธิ์ที่ได้รับอนุญาต
            </p>
            <input v-model="filterAssigned" class="form-control search" data-target="available" placeholder="ค้นหา" />
            <br />
            <select
              ref="available"
              v-model="assignedModel"
              multiple
              size="20"
              class="form-control list"
              data-target="available"
            >
              <optgroup v-if="assignedItems['role'].length" label="Roles">
                <template v-for="(role, key) in assignedItems['role']">
                  <option :key="key" :value="role">
                    {{ role }}
                  </option>
                </template>
              </optgroup>
              <optgroup v-if="assignedItems['permission'].length" label="Permission">
                <template v-for="(permission, key) in assignedItems['permission']">
                  <option :key="key" :value="permission">
                    {{ permission }}
                  </option>
                </template>
              </optgroup>
              <optgroup v-if="assignedItems['route'].length" label="Routes">
                <template v-for="(route, key) in assignedItems['route']">
                  <option :key="key" :value="route">
                    {{ route }}
                  </option>
                </template>
              </optgroup>
            </select>
          </div>
        </div>
      </template>
    </card>
    <v-loading
      :active.sync="loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
export default {
  name: 'ViewPermission',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/rbac/assignment' },
      { title: 'สิทธิ์การใช้งาน', route: '/setting/rbac/assignment' },
      { title: 'สิทธิ์', route: '/setting/rbac/permission' },
      { title: 'กำหนดสิทธิ์' },
    ],
  },
  data() {
    return {
      loading: false,
      assigned: null,
      available: null,

      filterAssigned: '',
      filterAvailable: '',

      availableModel: [],
      assignedModel: [],
    }
  },
  computed: {
    cardTitle() {
      return 'กำหนดสิทธิ์ : ' + (this.$route.params.id || '')
    },
    assignedItems() {
      const groups = {
        role: [],
        permission: [],
        route: [],
      }
      if (!this.assigned) return groups

      const filterKey = this.filterAssigned && this.filterAssigned.toLowerCase()
      for (const [name, group] of Object.entries(this.assigned)) {
        if (filterKey && String(name).toLowerCase().includes(filterKey)) {
          groups[group].push(name)
        } else if (!filterKey) {
          groups[group].push(name)
        }
      }
      return groups
    },
    availableItems() {
      const groups = {
        role: [],
        permission: [],
        route: [],
      }
      if (!this.available) return groups
      const filterKey = this.filterAvailable && this.filterAvailable.toLowerCase()
      for (const [name, group] of Object.entries(this.available)) {
        if (filterKey && String(name).toLowerCase().includes(filterKey)) {
          groups[group].push(name)
        } else if (!filterKey) {
          groups[group].push(name)
        }
      }
      return groups
    },
  },
  mounted() {
    this.getViewPermission()
  },
  methods: {
    async getViewPermission(loading = true) {
      const _this = this
      try {
        _this.setLoading(loading)
        const data = await _this.$apiRbac.getViewPermission(_this.$route.params.id)
        _this.assigned = data.assigned
        _this.available = data.available
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    async Assign() {
      const _this = this
      try {
        await _this.$apiRbac.assignPermission({ items: _this.availableModel }, _this.$route.params.id)
        _this.getViewPermission(false)
        _this.availableModel = []
        _this.notifySuccess()
      } catch (error) {
        _this.$errorHandler(error)
      }
    },
    async Revoke() {
      const _this = this
      try {
        await _this.$apiRbac.removePermission({ items: _this.assignedModel }, _this.$route.params.id)
        _this.getViewPermission(false)
        _this.assignedModel = []
        _this.notifySuccess()
      } catch (error) {
        _this.$errorHandler(error)
      }
    },
    notifySuccess() {
      this.$toastr.success('บันทึกรายการสำเร็จ', 'Success!', {
        timeOut: 3000,
        positionClass: 'toast-top-right',
        progressBar: true,
        closeButton: true,
      })
    },
  },
  head() {
    return {
      title: 'กำหนดสิทธิ์',
    }
  },
}
</script>

<style lang="scss" scoped></style>
