<script>
import CreateForm from '@/pages/setting/doctor/create'

export default {
  name: 'UpdateDoctor',
  extends: CreateForm,
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/doctor' },
      { title: 'รายชื่อแพทย์', route: '/setting/dooctor' },
      { title: 'แก้ไขรายการ' },
    ],
  },
  validate({ params }) {
    return /^\d+$/.test(params.id)
  },
  data() {
    return {
      title: 'แก้ไขรายการ',
    }
  },
  mounted() {
    this.getDoctorById()
  },
  methods: {
    async getDoctorById() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiSetting.getDoctorById(_this.$route.params.id)
        const fileds = Object.keys(_this.form)
        const updateForm = {}
        Object.keys(data).map((k) => {
          if (fileds.includes(k)) {
            if (k === 'service_ids') {
              updateForm[k] = !_this.$isEmpty(data[k])
                ? String(data[k])
                    .split(',')
                    .map((v) => parseInt(v))
                : []
            } else {
              updateForm[k] = data[k]
            }
          }
        })
        _this.form = _this.$updateObject(_this.form, updateForm)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
