.button-effect {
  cursor: pointer;
  transition: all 0.4s ease-in;
  background-position: center;

  //start click effect
  // .card-section-1:hover {
  //   background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  // }
  &:before {
    content: '';
    background-color: #d3d4d4;
    border-radius: 10%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }

  &:focus {
    outline: 0;
    color: #fff;

    &:before {
      animation: effect_dylan 0.5s ease-out;
      background-size: 80%;
    }
  }
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }

  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }

  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}