/*----------------------------------------------
Card
------------------------------------------------*/
.iq-card {
  background: #ffffff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(175, 175, 175, 0.1);
  box-shadow: 0px 4px 5px 1px rgba(175, 175, 175, 0.1);
}

.iq-card .iq-card {
  box-shadow: none;
}

.iq-card .iq-card .iq-card-header {
  border: none;
}

.iq-card-body {
  border-radius: 25px;
  padding: 20px;
}

.iq-card .iq-card-header {
  padding: 0 20px;
  min-height: 60px;
  -ms-flex-align: center !important;
  align-items: center !important;
  border-bottom: 1px solid #eeeeee;
  border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0 0;
}

.iq-card .iq-card-header .iq-header-title {
  display: inline-block;
  align-self: center !important;
}

.iq-card .iq-card-header .iq-header-title .card-title {
  margin-bottom: 0;
}

.iq-card-header-toolbar .nav-item a {
  color: #393c52;
  padding: 4px 12px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

.iq-card-header-toolbar .dropdown-toggle i {
  font-size: 22px;
  line-height: normal;
  color: #393c52;
}

.iq-card-header-toolbar .dropdown-toggle::after {
  display: none;
}

/*----------------------------------------------
Grid Boxes
------------------------------------------------*/
.iq-card-block.iq-card-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/* .iq-card-block.iq-card-height-half {
  height: calc(50% - 30px);
} */
/* .iq-card-block.iq-card-height {
  height: calc(100% - 30px);
} */
.iq-card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*------------------------*/
.iq-card.iq-user-profile-block {
  margin-top: 65px;
}

.user-details-block .user-profile {
  margin-top: -85px;
}

.user-details-block h3 span {
  font-size: 20px;
}

ul.doctoe-sedual li {
  list-style: none;
  flex: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

ul.doctoe-sedual li:first-child {
  border-left: none;
}

ul.doctors-lists {
  height: 340px;
  overflow-y: scroll;
}

.avatar-130 {
  height: 130px;
  width: 130px;
  line-height: 130px;
  font-size: 1.6rem;
  border-radius: 50%;
}