.kiosk-page .card,
/* .kiosk-page .symbol, */
.kiosk-page .d-flex.bg-light-warning,
.kiosk-page .iq-card-body {
  box-shadow: 0 0px 4px 0 #3b51b6;
  -webkit-box-shadow: 0 0px 4px 0 #3b51b6;
  /* -webkit-box-shadow: 0 2px 4px 0 rgba(27, 27, 27, 0.2);
  box-shadow: 0 2px 4px 0 rgba(27, 27, 27, 0.2); */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); */
}


.kiosk-page .card-title-option {
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 1px 2px 1px #ccc,
    2px 3px 1px #eee;
}

.kiosk-page .row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: -12px;
  margin-left: -12px;
}

.kiosk-page .box-shadow-info {
  border: 1px solid #079ad9;
  /* box-shadow: #22b9ff 0px 0em 0.5em, #22b9ff 0px 0.085em 0.175em; */
}

.kiosk-page .row .d-flex {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Card */
.kiosk-page .card.card-custom.card-section-1>.card-body,
.kiosk-page .card.card-custom.card-service-group>.card-body {
  padding: 0rem 3.25rem;
}

.kiosk-page .button-effect .card-section-1,
.kiosk-page .button-effect .card-service-group {
  transition: all 0.4s ease-in;
  border-radius: 7rem;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}

.kiosk-page .button-effect .card-section-1:hover {
  background: #ffa800 radial-gradient(circle, transparent 1%, #ffa800 1%) center/15000%;
  color: #fff;
  transform: scale(1.05);
}

.kiosk-page .button-effect .card-service-group:hover {
  background: #ffa800 !important;
  color: #fff;
  transform: scale(1.05);
}

.kiosk-page .button-effect .card-section-1:hover .card-title-option {
  color: #fff !important;
  text-shadow: 1px 0px 1px #eee, 0px 1px 1px #ccc, 2px 1px 1px #eee, 1px 2px 1px #ccc, 1px 2px 1px #eee,
    2px 3px 1px #ccc;
}

.kiosk-page .button-effect .card-section-1:active {
  background: transparent;
}

/*  */
.kiosk-page .input-container {
  position: relative;
}

.kiosk-page .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  /* z-index: 1; */
}

/*  */
.kiosk-page .button-container .btn.btn-lg {
  font-size: 2rem;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #eee;
}

.kiosk-page .radio-button:checked+.card-custom {
  border: 2px solid #ffa800;
  background-color: #ffa800 !important;
  transform: scale(1.05);
  background: transparent;
}

.kiosk-page .radio-button:checked+.card-custom h2 {
  color: white;
}

/* HORIZONTAL */

@keyframes horizontal {
  0% {
    transform: translate(0, 0);
  }

  6% {
    transform: translate(5px, 0);
  }

  12% {
    transform: translate(0, 0);
  }

  18% {
    transform: translate(5px, 0);
  }

  24% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(5px, 0);
  }

  36%,
  100% {
    transform: translate(0, 0);
  }
}

.faa-horizontal.animated,
.faa-horizontal.animated-hover:hover,
.faa-parent.animated-hover:hover>.faa-horizontal {
  animation: horizontal 2s ease infinite;
}

.faa-horizontal.animated.faa-fast,
.faa-horizontal.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover>.faa-horizontal.faa-fast {
  animation: horizontal 1s ease infinite;
}

.faa-horizontal.animated.faa-slow,
.faa-horizontal.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover>.faa-horizontal.faa-slow {
  animation: horizontal 3s ease infinite;
}

.hidden {
  display: none !important;
}

/* loading */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3b53b7;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
