/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(../fonts/poppins/v9/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(../fonts/poppins/v9/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(../fonts/poppins/v9/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(../fonts/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Cy_gIfWMuQ5Q.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Cy_gIZmMuQ5Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Cy_gIZ2MuQ5Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  src: local('Prompt Light'), local('Prompt-Light'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Cy_gIaWMu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(../fonts/prompt/v4/-W__XJnvUD7dzB2KdNodVkI.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(../fonts/prompt/v4/-W__XJnvUD7dzB2Kb9odVkI.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(../fonts/prompt/v4/-W__XJnvUD7dzB2KbtodVkI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(../fonts/prompt/v4/-W__XJnvUD7dzB2KYNod.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  src: local('Prompt Medium'), local('Prompt-Medium'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Ck_kIfWMuQ5Q.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  src: local('Prompt Medium'), local('Prompt-Medium'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Ck_kIZmMuQ5Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  src: local('Prompt Medium'), local('Prompt-Medium'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Ck_kIZ2MuQ5Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  src: local('Prompt Medium'), local('Prompt-Medium'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Ck_kIaWMu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Cv_4IfWMuQ5Q.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Cv_4IZmMuQ5Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Cv_4IZ2MuQ5Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2Cv_4IaWMu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  src: local('Prompt Bold'), local('Prompt-Bold'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2C2_8IfWMuQ5Q.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  src: local('Prompt Bold'), local('Prompt-Bold'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2C2_8IZmMuQ5Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  src: local('Prompt Bold'), local('Prompt-Bold'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2C2_8IZ2MuQ5Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  src: local('Prompt Bold'), local('Prompt-Bold'), url(../fonts/prompt/v4/-W_8XJnvUD7dzB2C2_8IaWMu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Sarabun Light'), local('Sarabun-Light'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YL5rik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Sarabun Light'), local('Sarabun-Light'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YL5rilQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Sarabun Light'), local('Sarabun-Light'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YL5rilUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Sarabun Light'), local('Sarabun-Light'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YL5rilss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(../fonts/sarabun/v7/DtVjJx26TKEr37c9aAFJn2QN.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(../fonts/sarabun/v7/DtVjJx26TKEr37c9aBpJn2QN.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(../fonts/sarabun/v7/DtVjJx26TKEr37c9aBtJn2QN.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(../fonts/sarabun/v7/DtVjJx26TKEr37c9aBVJnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YOZqik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YOZqilQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YOZqilUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YOZqilss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YMptik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YMptilQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YMptilUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YMptilss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YK5sik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YK5silQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YK5silUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url(../fonts/sarabun/v7/DtVmJx26TKEr37c9YK5silss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Sarabun", Helvetica, "sans-serif";
}

/* page transition */
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

/* toast */
#toast-container.toast-bottom-center>div,
#toast-container.toast-top-center>div {
  margin: 10px auto 0;
}

#toast-container>.toast-info,
#toast-container>.toast-error,
#toast-container>.toast-warning,
#toast-container>.toast-success {
  background-image: none;
}

#toast-container>div {
  background: #fff;
  padding: 20px;
  color: #6a6c6f;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

#toast-container>div:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toast-close-button {
  color: #000;
  opacity: 0.2;
}

.toast-info {
  background: #fff;
  border-left: 6px solid #3498db;
}

.toast-success {
  background: #fff;
  border-left: 6px solid #62cb31;
}

.toast-warning {
  background: #fff;
  border-left: 6px solid #ffb606;
}

.toast-error {
  background: #fff;
  border-left: 6px solid #e74c3c;
}

.toast-progress {
  opacity: 0.6;
}

.toast-info .toast-progress {
  background-color: #3498db;
}

.toast-success .toast-progress {
  background-color: #62cb31;
}

.toast-warning .toast-progress {
  background-color: #ffb606;
}

.toast-error .toast-progress {
  background-color: #e74c3c;
}

.toast {
  max-width: 350px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: 0.25rem;
}

.toast:not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast.showing {
  opacity: 1;
}

.toast.show {
  display: block;
  opacity: 1;
}

.toast.hide {
  display: none;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.toast-body {
  padding: 0.75rem;
}

/* vue loading */
.vld-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
}

.vld-overlay.is-active {
  display: flex;
}

.vld-overlay.is-full-page {
  z-index: 9999;
  position: fixed;
}

.vld-overlay .vld-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  opacity: 0.5;
}

.vld-overlay .vld-icon,
.vld-parent {
  position: relative;
}

/* Topbar */
.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
}

.topbar .topbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.topbar .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 991.98px) {
  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 15px;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #ECF0F3;
  }

  .header-mobile-fixed .topbar {
    position: fixed;
    z-index: 96;
  }

  .topbar-mobile-on .topbar {
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 55px;
  }
}

.hidden {
  display: none !important;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in-up-leave-to {
  opacity: 0;
  /*transition: opacity 0.3s;*/
}

.fade-in-up-enter {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}

.fade-in-up-enter-to {
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.no-margin {
  margin: 0 !important;
}

.nowrap {
  white-space: nowrap !important;
}

.kt-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0
}

.kt-pagination .kt-pagination__links,
.kt-pagination .kt-pagination__links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.kt-pagination .kt-pagination__links {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.kt-pagination .kt-pagination__links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: .5rem;
  border-radius: 4px
}

.kt-pagination .kt-pagination__links li a {
  font-weight: 500;
  color: #74788d;
  font-size: 1rem;
  padding: 0 .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  margin: 0
}

.kt-pagination .kt-pagination__links .kt-pagination__link--active a {
  color: #fff
}

.kt-pagination .kt-pagination__toolbar {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0
}

.kt-pagination .kt-pagination__toolbar .form-control {
  padding: 0;
  margin-right: 10px;
  height: 30px;
  font-weight: 600;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  outline: 0;
  border: none
}

.kt-pagination .kt-pagination__toolbar .pagination__desc {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 500;
  color: #74788d
}

.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--first,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--last,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--next,
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--prev {
  background: rgba(34, 185, 255, .1)
}

.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--active {
  background: #22b9ff
}

.kt-pagination.kt-pagination--brand .kt-pagination__links li:hover {
  background: #22b9ff;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.kt-pagination.kt-pagination--brand .kt-pagination__links li:hover a {
  color: #fff
}

.kt-pagination.kt-pagination--brand .kt-pagination__links li:hover a i {
  color: #fff !important
}

.kt-pagination.kt-pagination--brand .kt-pagination__toolbar .form-control {
  background: rgba(34, 185, 255, .1)
}

.kt-pagination.kt-pagination--light .kt-pagination__links .kt-pagination__link--first,
.kt-pagination.kt-pagination--light .kt-pagination__links .kt-pagination__link--last,
.kt-pagination.kt-pagination--light .kt-pagination__links .kt-pagination__link--next,
.kt-pagination.kt-pagination--light .kt-pagination__links .kt-pagination__link--prev {
  background: rgba(255, 255, 255, .1)
}

.kt-pagination.kt-pagination--light .kt-pagination__links .kt-pagination__link--active {
  background: #fff
}

.kt-pagination.kt-pagination--light .kt-pagination__links li:hover {
  background: #fff;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.kt-pagination.kt-pagination--light .kt-pagination__links li:hover a {
  color: #fff
}

.kt-pagination.kt-pagination--light .kt-pagination__links li:hover a i {
  color: #fff !important
}

.kt-pagination.kt-pagination--light .kt-pagination__toolbar .form-control {
  background: rgba(255, 255, 255, .1)
}

.kt-pagination.kt-pagination--dark .kt-pagination__links .kt-pagination__link--first,
.kt-pagination.kt-pagination--dark .kt-pagination__links .kt-pagination__link--last,
.kt-pagination.kt-pagination--dark .kt-pagination__links .kt-pagination__link--next,
.kt-pagination.kt-pagination--dark .kt-pagination__links .kt-pagination__link--prev {
  background: rgba(40, 42, 60, .1)
}

.kt-pagination.kt-pagination--dark .kt-pagination__links .kt-pagination__link--active {
  background: #282a3c
}

.kt-pagination.kt-pagination--dark .kt-pagination__links li:hover {
  background: #282a3c;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.kt-pagination.kt-pagination--dark .kt-pagination__links li:hover a {
  color: #fff
}

.kt-pagination.kt-pagination--dark .kt-pagination__links li:hover a i {
  color: #fff !important
}

.kt-pagination.kt-pagination--dark .kt-pagination__toolbar .form-control {
  background: rgba(40, 42, 60, .1)
}

.kt-pagination.kt-pagination--primary .kt-pagination__links .kt-pagination__link--first,
.kt-pagination.kt-pagination--primary .kt-pagination__links .kt-pagination__link--last,
.kt-pagination.kt-pagination--primary .kt-pagination__links .kt-pagination__link--next,
.kt-pagination.kt-pagination--primary .kt-pagination__links .kt-pagination__link--prev {
  background: rgba(88, 103, 221, .1)
}

.kt-pagination.kt-pagination--primary .kt-pagination__links .kt-pagination__link--active {
  background: #5867dd
}

.kt-pagination.kt-pagination--primary .kt-pagination__links li:hover {
  background: #5867dd;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.kt-pagination.kt-pagination--primary .kt-pagination__links li:hover a {
  color: #fff
}

.kt-pagination.kt-pagination--primary .kt-pagination__links li:hover a i {
  color: #fff !important
}

.kt-pagination.kt-pagination--primary .kt-pagination__toolbar .form-control {
  background: rgba(88, 103, 221, .1)
}

.kt-pagination.kt-pagination--success .kt-pagination__links .kt-pagination__link--first,
.kt-pagination.kt-pagination--success .kt-pagination__links .kt-pagination__link--last,
.kt-pagination.kt-pagination--success .kt-pagination__links .kt-pagination__link--next,
.kt-pagination.kt-pagination--success .kt-pagination__links .kt-pagination__link--prev {
  background: rgba(29, 201, 183, .1)
}

.kt-pagination.kt-pagination--success .kt-pagination__links .kt-pagination__link--active {
  background: #1dc9b7
}

.kt-pagination.kt-pagination--success .kt-pagination__links li:hover {
  background: #1dc9b7;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.kt-pagination.kt-pagination--success .kt-pagination__links li:hover a {
  color: #fff
}

.kt-pagination.kt-pagination--success .kt-pagination__links li:hover a i {
  color: #fff !important
}

.kt-pagination.kt-pagination--success .kt-pagination__toolbar .form-control {
  background: rgba(29, 201, 183, .1)
}

.kt-pagination.kt-pagination--info .kt-pagination__links .kt-pagination__link--first,
.kt-pagination.kt-pagination--info .kt-pagination__links .kt-pagination__link--last,
.kt-pagination.kt-pagination--info .kt-pagination__links .kt-pagination__link--next,
.kt-pagination.kt-pagination--info .kt-pagination__links .kt-pagination__link--prev {
  background: rgba(39, 134, 251, .1)
}

.kt-pagination.kt-pagination--info .kt-pagination__links .kt-pagination__link--active {
  background: #2786fb
}

.kt-pagination.kt-pagination--info .kt-pagination__links li:hover {
  background: #2786fb;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.kt-pagination.kt-pagination--info .kt-pagination__links li:hover a {
  color: #fff
}

.kt-pagination.kt-pagination--info .kt-pagination__links li:hover a i {
  color: #fff !important
}

.kt-pagination.kt-pagination--info .kt-pagination__toolbar .form-control {
  background: rgba(39, 134, 251, .1)
}

.kt-pagination.kt-pagination--warning .kt-pagination__links .kt-pagination__link--first,
.kt-pagination.kt-pagination--warning .kt-pagination__links .kt-pagination__link--last,
.kt-pagination.kt-pagination--warning .kt-pagination__links .kt-pagination__link--next,
.kt-pagination.kt-pagination--warning .kt-pagination__links .kt-pagination__link--prev {
  background: rgba(255, 184, 34, .1)
}

.kt-pagination.kt-pagination--warning .kt-pagination__links .kt-pagination__link--active {
  background: #ffb822
}

.kt-pagination.kt-pagination--warning .kt-pagination__links li:hover {
  background: #ffb822;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.kt-pagination.kt-pagination--warning .kt-pagination__links li:hover a {
  color: #fff
}

.kt-pagination.kt-pagination--warning .kt-pagination__links li:hover a i {
  color: #fff !important
}

.kt-pagination.kt-pagination--warning .kt-pagination__toolbar .form-control {
  background: rgba(255, 184, 34, .1)
}

.kt-pagination.kt-pagination--danger .kt-pagination__links .kt-pagination__link--first,
.kt-pagination.kt-pagination--danger .kt-pagination__links .kt-pagination__link--last,
.kt-pagination.kt-pagination--danger .kt-pagination__links .kt-pagination__link--next,
.kt-pagination.kt-pagination--danger .kt-pagination__links .kt-pagination__link--prev {
  background: rgba(253, 39, 235, .1)
}

.kt-pagination.kt-pagination--danger .kt-pagination__links .kt-pagination__link--active {
  background: #fd27eb
}

.kt-pagination.kt-pagination--danger .kt-pagination__links li:hover {
  background: #fd27eb;
  -webkit-transition: color .3s ease;
  transition: color .3s ease
}

.kt-pagination.kt-pagination--danger .kt-pagination__links li:hover a {
  color: #fff
}

.kt-pagination.kt-pagination--danger .kt-pagination__links li:hover a i {
  color: #fff !important
}

.kt-pagination.kt-pagination--danger .kt-pagination__toolbar .form-control {
  background: rgba(253, 39, 235, .1)
}

.kt-pagination.kt-pagination--circle .kt-pagination__links li {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%
}

.kt-pagination.kt-pagination--lg .kt-pagination__links li a {
  font-size: 1.3rem;
  min-width: 35px;
  min-height: 35px
}

.kt-pagination.kt-pagination--lg .kt-pagination__toolbar .form-control {
  height: 35px;
  font-size: 1.2rem;
  padding: .2rem 0 .2rem .2rem
}

.kt-pagination.kt-pagination--sm .kt-pagination__links li a {
  font-size: 1rem;
  min-width: 25px;
  min-height: 25px
}

.kt-pagination.kt-pagination--sm .kt-pagination__toolbar .form-control {
  height: 25px;
  font-size: .9rem
}

@media (max-width:768px) {
  .kt-pagination .kt-pagination__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .kt-pagination .kt-pagination__links li {
    margin: .3rem .5rem .3rem 0
  }

  .kt-pagination .kt-pagination__links li a {
    font-size: .9rem;
    min-width: 25px;
    min-height: 25px
  }

  .kt-pagination .kt-pagination__toolbar .form-control {
    height: 25px;
    font-size: .9rem;
    padding: .2rem 0 .2rem .2rem
  }
}

/* body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: unset !important;
}

.swal2-shown {
  overflow-x: auto !important;
}

.swal2-container.swal2-center.swal2-backdrop-show {
  overflow-y: auto !important;
} */

.swal2-container .swal2-html-container {
  max-height: 100%;
  overflow: auto;
}

/* table responsive */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  .history-taking table,
  .history-taking thead,
  .history-taking tbody,
  .history-taking th,
  .history-taking td,
  .history-taking tr {
    display: block;
  }

  .examination table,
  .examination thead,
  .examination tbody,
  .examination th,
  .examination td,
  .examination tr {
    display: block;
  }

  .phamacy table,
  .phamacy thead,
  .phamacy tbody,
  .phamacy th,
  .phamacy td,
  .phamacy tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .history-taking table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .examination table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .phamacy table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .history-taking table tbody tr {
    border: 1px solid #eee;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .examination table tbody tr {
    border: 1px solid #eee;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .phamacy table tbody tr {
    border: 1px solid #eee;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .history-taking table tbody tr td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
    text-align: left !important;
  }

  .examination table tbody tr td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
    text-align: left !important;
  }

  .phamacy table tbody tr td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
    text-align: left !important;
  }

  .history-taking table tbody tr td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .examination table tbody tr td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .phamacy table tbody tr td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	คิวรอเรียก
	*/
  .history-taking #tbl-waiting tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .history-taking #tbl-waiting tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .history-taking #tbl-waiting tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .history-taking #tbl-waiting tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .history-taking #tbl-waiting tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .history-taking #tbl-waiting tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .history-taking #tbl-waiting tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	คิวกำลังเรียก
	*/
  .history-taking #tbl-call tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .history-taking #tbl-call tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .history-taking #tbl-call tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .history-taking #tbl-call tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .history-taking #tbl-call tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .history-taking #tbl-call tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .history-taking #tbl-call tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	คิวพัก
	*/
  .history-taking #tbl-hold tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .history-taking #tbl-hold tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .history-taking #tbl-hold tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .history-taking #tbl-hold tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .history-taking #tbl-hold tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .history-taking #tbl-hold tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .history-taking #tbl-hold tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	รายการคิวทั้งหมด
	*/
  .history-taking #tbl-queue tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .history-taking #tbl-queue tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .history-taking #tbl-queue tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .history-taking #tbl-queue tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .history-taking #tbl-queue tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .history-taking #tbl-queue tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .history-taking #tbl-queue tbody tr td:nth-of-type(7):before {
    content: 'สถานะคิว';
    font-weight: 600;
  }

  .history-taking #tbl-queue tbody tr td:nth-of-type(8):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	คิวห้องแพทย์
	*/
  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(3):before {
    content: 'งานบริการ';
    font-weight: 600;
  }

  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(4):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(5):before {
    content: 'LAB';
    font-weight: 600;
  }

  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(6):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(7):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(8):before {
    content: 'สถานะ';
    font-weight: 600;
  }

  .history-taking #tbl-queue-doctor tbody tr td:nth-of-type(9):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	รายการคิวรอเรียก
	*/
  .examination #tbl-waiting tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .examination #tbl-waiting tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .examination #tbl-waiting tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .examination #tbl-waiting tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .examination #tbl-waiting tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .examination #tbl-waiting tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .examination #tbl-waiting tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	รายการคิวกำลังเรียก
	*/
  .examination #tbl-call tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .examination #tbl-call tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .examination #tbl-call tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .examination #tbl-call tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .examination #tbl-call tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .examination #tbl-call tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .examination #tbl-call tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	รายการคิวพัก
	*/
  .examination #tbl-hold tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .examination #tbl-hold tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .examination #tbl-hold tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .examination #tbl-hold tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .examination #tbl-hold tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .examination #tbl-hold tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .examination #tbl-hold tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	รายการคิวรอเรียก
	*/
  .phamacy #tbl-waiting tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .phamacy #tbl-waiting tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .phamacy #tbl-waiting tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .phamacy #tbl-waiting tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .phamacy #tbl-waiting tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .phamacy #tbl-waiting tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .phamacy #tbl-waiting tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	รายการคิวกำลังเรียก
	*/
  .phamacy #tbl-call tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .phamacy #tbl-call tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .phamacy #tbl-call tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .phamacy #tbl-call tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .phamacy #tbl-call tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .phamacy #tbl-call tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .phamacy #tbl-call tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }

  /*
	รายการคิวพัก
	*/
  .phamacy #tbl-hold tbody tr td:nth-of-type(1):before {
    content: '#';
    font-weight: 600;
  }

  .phamacy #tbl-hold tbody tr td:nth-of-type(2):before {
    content: 'รายละเอียด';
    font-weight: 600;
  }

  .phamacy #tbl-hold tbody tr td:nth-of-type(3):before {
    content: 'แพทย์';
    font-weight: 600;
  }

  .phamacy #tbl-hold tbody tr td:nth-of-type(4):before {
    content: 'LAB';
    font-weight: 600;
  }

  .phamacy #tbl-hold tbody tr td:nth-of-type(5):before {
    content: 'X-Ray';
    font-weight: 600;
  }

  .phamacy #tbl-hold tbody tr td:nth-of-type(6):before {
    content: 'เวลาออกบัตร';
    font-weight: 600;
  }

  .phamacy #tbl-hold tbody tr td:nth-of-type(7):before {
    content: 'ดำเนินการ';
    font-weight: 600;
  }
}

.no-wrap {
  white-space: nowrap !important;
}

.no-padding {
  padding: 0 !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/* บัตรคิว */
.ticket .x_content {
  width: 80mm;
  margin: auto;
}


.hidden {
  display: none !important;
}

.popup-slow-animation {
  animation: swal2-show 1s !important;
}

/* menu */
#footer-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 98;
  background-color: rgba(249, 249, 249, 0.98);
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.06);
  min-height: 60px;
  display: flex;
  text-align: center;
  transition: all 350ms ease;
}

#footer-bar a {
  color: #1f1f1f;
  padding-top: 12px;
  position: relative;
  flex: 1 1 auto;
}

#footer-bar a i {
  color: #1f1f1f;
}

#footer-bar a span {
  /* position: relative; */
  z-index: 2;
  /* display: block; */
  /* font-size: 10px; */
  font-weight: 600;
  /* margin-top: -6px; */
  opacity: 0.7;
  /* font-family: "Roboto", sans-serif !important; */
}

#footer-bar a i {
  font-size: 18px;
  position: relative;
  z-index: 2;
  display: block;
}

#footer-bar .badge {
  font-style: normal;
  z-index: 5;
  top: 0px;
  position: absolute;
  margin-left: 3px;
  color: #fff !important;
  width: 18px;
  text-align: center;
  line-height: 18px;
  padding: 0px;
  padding-left: 0px !important;
  border-radius: 18px;
  margin-top: 7px;
  font-size: 11px;
}

.footer-bar-2 .active-nav {
  color: #fff !important;
}

.footer-bar-2 .active-nav strong {
  position: absolute;
  width: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  bottom: 0px;
}

.footer-bar-4 .active-nav {
  color: #fff !important;
}

.footer-bar-4 .active-nav strong {
  position: absolute;
  width: 47px;
  height: 47px;
  border-radius: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 0px;
}

.footer-bar-4 span {
  display: none !important;
}

.footer-bar-4 i {
  padding-top: 10px;
}

.footer-bar-5 .active-nav strong {
  position: absolute;
  width: 50px;
  height: 2px;
  border-radius: 60px;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}

.footer-bar-3 span {
  display: none !important;
}

.footer-bar-3 .active-nav {
  padding-top: 11px !important;
}

.footer-bar-3 .active-nav span {
  display: block !important;
}

.footer-bar-3 a {
  padding-top: 18px !important;
}

.footer-menu-hidden {
  transition: all 100ms ease;
  transform: translateY(100%) !important;
}

.footer-bar-white * {
  color: #fff;
}

#footer-bar.position-relative {
  z-index: 2 !important;
}

.footer-bar-1 .active-nav *,
.footer-bar-3 .active-nav i {
  color: #4A89DC !important;
}

.menu-title h1 {
  font-size: 23px;
  font-weight: 700;
  padding: 20px 0px 3px 20px;
}

.menu-title p {
  font-size: 11px;
  margin: -15px 0px 10px 20px;
  padding: 0px 0px 0px 0px;
}

.menu-title a {
  font-size: 20px;
  color: #ed5565;
  position: absolute;
  text-align: center;
  width: 55px;
  line-height: 85px;
  right: 0px;
  top: 0px;
}

.menu-title a i {
  color: #ed5565;
}

.menu-bg {
  background-color: #f0f0f0;
}

.menu-hider {
  position: fixed;
  top: -100px;
  bottom: -100px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: all 350ms ease;
}

.menu {
  display: none;
  position: fixed;
  background-color: #fff;
  z-index: 101;
  overflow: hidden;
  transition: all 350ms ease;
  -webkit-overflow-scrolling: touch;
}

.menu .content {
  margin-bottom: 0px !important;
  margin: 20px 15px;
}

.menu-box-left {
  left: 0px;
  top: 0px !important;
  top: constant(safe-area-inset-top) !important;
  top: env(safe-area-inset-top) !important;
  width: 250px;
  height: 100%;
  bottom: 0px;
  box-shadow: 0 15px 25px 1px rgba(0, 0, 0, 0.1);
  transform: translate3d(-100%, 0, 0);
}

.menu-box-right {
  right: 0px;
  transform: translateX(100%);
  top: 0px !important;
  top: constant(safe-area-inset-top) !important;
  top: env(safe-area-inset-top) !important;
  height: 100%;
  bottom: 0px;
  box-shadow: 0 15px 25px 1px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.menu-box-top {
  transform: translate3d(0, -115%, 0);
  top: 0px;
  left: 0px;
  right: 0px;
  height: 300px;
}

.menu-box-bottom {
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 300px;
  transform: translate3d(0, 110%, 0);
}

.menu-box-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  opacity: 0;
  pointer-events: none;
  transition: all 350ms ease;
}

.menu-box-top.menu-box-detached {
  top: 10px;
  left: 10px;
  right: 10px;
}

.menu-box-bottom.menu-box-detached {
  bottom: 20px;
  left: 10px;
  right: 10px;
}

.menu-box-left.menu-active {
  transform: translate3d(0%, 0, 0) !important;
}

.menu-box-right.menu-active {
  transform: translate3d(0%, 0, 0) !important;
}

.menu-box-top.menu-active {
  transform: translate3d(0%, 0, 0) !important;
}

.is-on-homescreen .menu-box-top.menu-active {
  transform: translate3d(0%, 40px, 0) !important;
}

.menu-box-bottom.menu-active {
  transform: translate3d(0%, 0, 0) !important;
}

.menu-box-modal.menu-active {
  transition: all 350ms ease;
  pointer-events: all !important;
  opacity: 1 !important;
  transform: translate(-50%, -50%) scale(1, 1) !important;
}

.menu-hider.menu-active {
  transition: all 350ms ease;
  opacity: 1;
  pointer-events: all;
}

.menu-hider.menu-active.menu-active-clear {
  background-color: rgba(0, 0, 0, 0) !important;
}

.menu-box-left[data-menu-effect="menu-reveal"] {
  opacity: 0;
  pointer-events: none;
  transform: translate(0px) !important;
  z-index: 96;
}

.menu-box-right[data-menu-effect="menu-reveal"] {
  opacity: 0;
  pointer-events: none;
  transform: translate(0px) !important;
  z-index: 96;
}

.menu-active.menu {
  opacity: 1 !important;
  transition: all 350ms ease;
  pointer-events: all !important;
}

#menu-update {
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  width: 310px;
  height: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  transition: all 350ms ease;
}

.menu-active {
  opacity: 1 !important;
}

.menu-active-no-click {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: all !important;
}

#menu-setting .content {
  margin: 20px 15px;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item-action:active {
  color: #212529;
  background-color: #e9ecef;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.list-group-item.disabled,
.list-group-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #4a89dc;
  border-color: #4a89dc;
}

.list-group-item+.list-group-item {
  border-top-width: 0;
}

.list-group-item+.list-group-item.active {
  margin-top: -1px;
  border-top-width: 1px;
}

.list-group-horizontal {
  flex-direction: row;
}

.list-group-horizontal .list-group-item:first-child {
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
}

.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
}

.list-group-horizontal .list-group-item.active {
  margin-top: 0;
}

.list-group-horizontal .list-group-item+.list-group-item {
  border-top-width: 1px;
  border-left-width: 0;
}

.list-group-horizontal .list-group-item+.list-group-item.active {
  margin-left: -1px;
  border-left-width: 1px;
}

@media (min-width: 576px) {
  .list-group-horizontal-sm {
    flex-direction: row;
  }

  .list-group-horizontal-sm .list-group-item:first-child {
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
  }

  .list-group-horizontal-sm .list-group-item:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-sm .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-sm .list-group-item+.list-group-item {
    border-top-width: 1px;
    border-left-width: 0;
  }

  .list-group-horizontal-sm .list-group-item+.list-group-item.active {
    margin-left: -1px;
    border-left-width: 1px;
  }
}

@media (min-width: 768px) {
  .list-group-horizontal-md {
    flex-direction: row;
  }

  .list-group-horizontal-md .list-group-item:first-child {
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
  }

  .list-group-horizontal-md .list-group-item:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-md .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-md .list-group-item+.list-group-item {
    border-top-width: 1px;
    border-left-width: 0;
  }

  .list-group-horizontal-md .list-group-item+.list-group-item.active {
    margin-left: -1px;
    border-left-width: 1px;
  }
}

@media (min-width: 992px) {
  .list-group-horizontal-lg {
    flex-direction: row;
  }

  .list-group-horizontal-lg .list-group-item:first-child {
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
  }

  .list-group-horizontal-lg .list-group-item:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-lg .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-lg .list-group-item+.list-group-item {
    border-top-width: 1px;
    border-left-width: 0;
  }

  .list-group-horizontal-lg .list-group-item+.list-group-item.active {
    margin-left: -1px;
    border-left-width: 1px;
  }
}

@media (min-width: 1200px) {
  .list-group-horizontal-xl {
    flex-direction: row;
  }

  .list-group-horizontal-xl .list-group-item:first-child {
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
  }

  .list-group-horizontal-xl .list-group-item:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }

  .list-group-horizontal-xl .list-group-item.active {
    margin-top: 0;
  }

  .list-group-horizontal-xl .list-group-item+.list-group-item {
    border-top-width: 1px;
    border-left-width: 0;
  }

  .list-group-horizontal-xl .list-group-item+.list-group-item.active {
    margin-left: -1px;
    border-left-width: 1px;
  }
}

.list-group-flush .list-group-item {
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0;
}

.list-group-flush .list-group-item:first-child {
  border-top-width: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom-width: 0;
}

.list-group-item-primary {
  color: #264772;
  background-color: #ccdef5;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
  color: #264772;
  background-color: #b7d0f1;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #264772;
  border-color: #264772;
}

.list-group-item-secondary {
  color: #383d41;
  background-color: #d6d8db;
}

.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus {
  color: #383d41;
  background-color: #c8cbcf;
}

.list-group-item-secondary.list-group-item-action.active {
  color: #fff;
  background-color: #383d41;
  border-color: #383d41;
}

.list-group-item-success {
  color: #49642b;
  background-color: #dfeecf;
}

.list-group-item-success.list-group-item-action:hover,
.list-group-item-success.list-group-item-action:focus {
  color: #49642b;
  background-color: #d2e7bc;
}

.list-group-item-success.list-group-item-action.active {
  color: #fff;
  background-color: #49642b;
  border-color: #49642b;
}

.list-group-item-info {
  color: #296479;
  background-color: #ceeef9;
}

.list-group-item-info.list-group-item-action:hover,
.list-group-item-info.list-group-item-action:focus {
  color: #296479;
  background-color: #b7e6f6;
}

.list-group-item-info.list-group-item-action.active {
  color: #fff;
  background-color: #296479;
  border-color: #296479;
}

.list-group-item-warning {
  color: #856b2c;
  background-color: #fff1cf;
}

.list-group-item-warning.list-group-item-action:hover,
.list-group-item-warning.list-group-item-action:focus {
  color: #856b2c;
  background-color: #ffeab6;
}

.list-group-item-warning.list-group-item-action.active {
  color: #fff;
  background-color: #856b2c;
  border-color: #856b2c;
}

.list-group-item-danger {
  color: #7b2c35;
  background-color: #facfd4;
}

.list-group-item-danger.list-group-item-action:hover,
.list-group-item-danger.list-group-item-action:focus {
  color: #7b2c35;
  background-color: #f8b8bf;
}

.list-group-item-danger.list-group-item-action.active {
  color: #fff;
  background-color: #7b2c35;
  border-color: #7b2c35;
}

.list-group-item-light {
  color: #818182;
  background-color: #fdfdfe;
}

.list-group-item-light.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus {
  color: #818182;
  background-color: #ececf6;
}

.list-group-item-light.list-group-item-action.active {
  color: #fff;
  background-color: #818182;
  border-color: #818182;
}

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca;
}

.list-group-item-dark.list-group-item-action:hover,
.list-group-item-dark.list-group-item-action:focus {
  color: #1b1e21;
  background-color: #b9bbbe;
}

.list-group-item-dark.list-group-item-action.active {
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
}

.list-custom-small {
  line-height: 50px;
}

.list-custom-small .badge {
  position: absolute;
  right: 15px;
  margin-top: 16px !important;
  font-size: 9px;
  padding: 5px 8px 5px 8px;
  font-weight: 700;
}

.list-custom-small a {
  color: #1f1f1f;
  font-weight: 500;
  font-size: 13px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.list-custom-small a i:first-child {
  margin-left: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.list-custom-small a i:last-child {
  float: right;
  font-size: 10px;
  opacity: 0.5;
}

.list-custom-small i {
  line-height: 50px;
}

.list-custom-small .custom-control {
  z-index: 10;
  position: absolute;
  right: 40px;
  margin-top: -40px;
}

.list-custom-small .custom-control input {
  transform: translateY(-5px) !important;
}

.menu .list-custom-small a i:first-child {
  margin-left: 6px;
}

.list-custom-large a {
  line-height: 70px;
  color: #1f1f1f;
  font-weight: 500;
  font-size: 13px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.list-custom-large a span:not(.badge) {
  font-size: 14px;
  position: absolute;
  margin-top: -6px;
}

.list-custom-large a strong {
  font-size: 7px;
  position: absolute;
  font-size: 11px;
  margin-top: 10px;
  color: #adb5bd;
  font-weight: 500;
}

.list-custom-large a i:first-child {
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-top: 21px;
  text-align: center;
  float: left;
  margin-right: 15px;
}

.list-custom-large a i:last-child {
  float: right;
  font-size: 10px;
}

.list-custom-large .badge {
  position: absolute;
  right: 10px;
  margin-top: 30px;
  font-size: 9px;
  padding: 5px 8px 5px 8px;
  font-weight: 700;
}

.list-custom-large i {
  line-height: 74px;
}

.list-custom-large .custom-control {
  z-index: 10;
  position: absolute;
  right: 40px;
  margin-top: 22px;
}

.list-custom-large .custom-control input {
  transform: translateY(-12px) !important;
}

.list-boxes a {
  line-height: 60px;
  margin-bottom: 10px;
  color: #1f1f1f;
  font-weight: 500;
  font-size: 13px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.list-boxes a span:not(.badge) {
  padding-left: 10px;
  font-size: 14px;
  position: absolute;
  margin-top: -4px;
}

.list-boxes a strong {
  padding-left: 10px;
  font-size: 7px;
  position: absolute;
  font-size: 11px;
  margin-top: 10px;
  color: #6c757d;
  font-weight: 500;
}

.list-boxes a i:first-child {
  width: 40px;
  float: left;
  padding-left: 15px;
}

.list-boxes a i:last-child {
  float: right;
  font-size: 16px;
  margin-top: -5px;
  margin-right: 15px;
}

.list-boxes a u {
  position: absolute;
  right: 0px;
  margin-right: 9px;
  width: 60px;
  font-size: 7px;
  text-align: center;
  margin-top: 13px;
  text-decoration: none;
}

.list-boxes .badge {
  position: absolute;
  right: 10px;
  margin-top: 30px;
  font-size: 9px;
  padding: 5px 8px 5px 8px;
  font-weight: 700;
}

.list-boxes i {
  line-height: 64px;
}

.rounded-s {
  border-radius: 8px !important;
}

.bg-highlight,
.page-item.active a {
  background-color: #4A89DC !important;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #4a89dc;
  background-color: #4a89dc;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0rem rgba(74, 137, 220, 0.25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #b5cff1;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #fff;
  background-color: #e0ebf9;
  border-color: #e0ebf9;
}

.custom-control-input[disabled]~.custom-control-label,
.custom-control-input:disabled~.custom-control-label {
  color: #6c757d;
}

.custom-control-input[disabled]~.custom-control-label::before,
.custom-control-input:disabled~.custom-control-label::before {
  background-color: #e9ecef;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.rounded-m {
  border-radius: 15px !important;
}

.color-highlight {
  color: #4A89DC !important;
}

.color-white {
  color: #fff !important;
}

.bg-green1-dark {
  background-color: #8CC152 !important;
  color: #FFFFFF !important;
}

.bg-blue2-dark {
  background-color: #4A89DC !important;
  color: #FFFFFF !important;
}

.footer-menu-hidden {
  transition: all 100ms ease;
  transform: translateY(100%) !important;
}

.custom-control * {
  cursor: pointer;
  user-select: none !important;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #4a89dc;
  background-color: #4a89dc;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0rem rgba(74, 137, 220, 0.25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #b5cff1;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #fff;
  background-color: #e0ebf9;
  border-color: #e0ebf9;
}

.custom-control-input[disabled]~.custom-control-label,
.custom-control-input:disabled~.custom-control-label {
  color: #6c757d;
}

.custom-control-input[disabled]~.custom-control-label::before,
.custom-control-input:disabled~.custom-control-label::before {
  background-color: #e9ecef;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
  border-color: #4a89dc;
  background-color: #4a89dc;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
  background-color: rgba(74, 137, 220, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
  background-color: rgba(74, 137, 220, 0.5);
}

.custom-radio .custom-control-label::before {
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
  background-color: rgba(74, 137, 220, 0.5);
}

.custom-switch {
  padding-left: 2.25rem;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 1.75rem;
  pointer-events: all;
  border-radius: 0.5rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #adb5bd;
  border-radius: 0.5rem;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-switch .custom-control-label::after {
    transition: none;
  }
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: #fff;
  transform: translateX(0.75rem);
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
  background-color: rgba(74, 137, 220, 0.5);
}

.ios-switch {
  padding-left: 10px;
}

.ios-switch label::before {
  background-color: #e8e9ea;
  pointer-events: all;
  margin-top: -5px;
  margin-left: -1px;
  width: 58px !important;
  height: 32px !important;
  border-radius: 50px !important;
}

.ios-switch label::after {
  margin-top: -4px;
  z-index: 6;
  width: 30px !important;
  height: 30px !important;
  transition: all 250ms ease;
  border-radius: 50px !important;
  background-color: #fff;
  border: solid 1px rgba(152, 152, 152, 0.4);
  transition: all 250ms ease;
}

.ios-input:checked~.custom-control-label::after {
  -webkit-transform: translateX(26px) !important;
}

.ios-input:checked~.custom-control-label::before {
  background-color: #8cc152 !important;
}

.ios-switch-icon label::before {
  background-color: #da4453 !important;
}

.ios-switch-icon i {
  line-height: 32px;
  pointer-events: none;
  z-index: 5;
  position: absolute;
  left: 10px;
}

.ios-switch-icon i:last-child {
  z-index: 5;
  position: absolute;
  margin-left: 29px;
}

.ios-switch-icon span {
  font-size: 9px;
  font-weight: 700;
  color: #fff;
  line-height: 32px;
  pointer-events: none;
  z-index: 5;
  position: absolute;
  left: 10px;
}

.ios-switch-icon span:last-child {
  z-index: 5;
  position: absolute;
  margin-left: 24px;
}

.swal2-popup-kiosk {
  width: 650px !important;
}

.vue__time-picker {
  display: block !important;
  width: 100% !important;
}

.vue__time-picker input.display-time {
  border: 1px solid #d2d2d2;
  width: 100% !important;
  font-size: 1em;
  height: calc(1.5em + 1.3rem + 2px) !important;
  padding: 0.65rem 1rem !important;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}
