$primary-color: #079ad9;

.radio-tile-group {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;

  //set dimensions for invisible container
  .input-container {
    position: relative;
    // height: 7rem;
    // width: 7rem;
    margin: 0.5rem;

    //make actual radio input invisible
    // + stretch to fill container
    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
      z-index: 1;
    }

    .card-custom {
      transition: all 0.3s ease-in;
    }

    //default tile styles
    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid $primary-color;
      border-radius: 5px;
      padding: 1rem;
      transition: transform 300ms ease;
    }

    .icon svg {
      fill: $primary-color;
      width: 3rem;
      height: 3rem;
    }

    .radio-tile-label {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $primary-color;
    }

    //active tile styles
    .radio-button:checked+.button-effect .card-custom {
      // background-color: $primary-color;
      border: 2px solid $primary-color;
      // color: white;
      transform: scale(1.05);

      // .icon svg {
      //   fill: white;
      //   background-color: $primary-color;
      // }
      // .radio-tile-label {
      //   color: white;
      //   background-color: $primary-color;
      // }
    }
  }
}