<template>
  <div class="doctor-schedule">
    <Card :title="title" :card-class="maximized ? 'maximized' : ''">
      <!-- begin:: Card Toolbar -->
      <template #toolbar>
        <CardToolbar
          :maximized="maximized"
          @toggle-fullscreen="toggleFullscreen"
          @show-form="onShowForm"
          @copy="onCopySchedule"
        />
      </template>
      <!-- end:: Card Toolbar -->
      <!-- begin:: Card Body -->
      <template #body>
        <div class="row">
          <div class="col-md-12">
            <div id="accordionCopy" class="accordion accordion-solid accordion-toggle-plus mb-11">
              <div class="card">
                <div id="collapse-form-copy" class="collapse" data-parent="#accordionCopy" style="">
                  <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                      <div class="alert alert-warning mb-5 p-5" role="alert">
                        <!-- <h4 class="alert-heading">Notice!</h4> -->
                        ขั้นตอนการ copy
                        <ol>
                          <li>
                            เลือกรายการที่ต้องการ copy
                          </li>
                          <li>
                            ระบุวันที่ปลายทางที่ต้องการบันทึก
                          </li>
                          <li>
                            กดปุ่ม "ทำการ Copy รายการที่เลือก"
                          </li>
                        </ol>
                        หมายเหตุ! ระบบจะกำหนด default วันที่ปลายทางเป็นเดือนถัดไปให้อัตโนมัติ เช่น
                        รายการที่เลือกลงวันที่เป็น 01-02-2020 วันที่ปลายทางจะถูกกำหนดเป็น 01-03-2020
                        สามารถเปลี่ยนแปลงได้
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <label>เลือกรายการที่ต้องการ copy</label>
                          <br />
                          <div class="input-icon">
                            <input
                              v-model="copyFilterKey"
                              type="text"
                              class="form-control"
                              placeholder="ค้นหา..."
                              @keyup="filteredEventsCopyList"
                            />
                            <span><i class="flaticon2-search-1 text-muted"></i></span>
                          </div>

                          <br />
                          <label class="checkbox checkbox-square checkbox-success mb-4">
                            <input type="checkbox" name="CheckboxCopy" value="all" @change="handlerCheckAllCopy" />
                            <span></span>
                            ทั้งหมด
                          </label>
                        </div>
                        <div class="col-md-4">
                          <label>วันที่ปลายทางต้องการบันทึก</label>
                        </div>
                      </div>

                      <div class="row">
                        <template v-for="(filed, i) in formCopy.items">
                          <div :key="'checkbox_' + i" class="col-md-8" style="border-bottom: 1px dashed #ebedf3;">
                            <div class="checkbox-list">
                              <label class="checkbox checkbox-square checkbox-success">
                                <input
                                  v-model="events_copy"
                                  type="checkbox"
                                  name="CheckboxCopy"
                                  :value="filed.sub_schedule_id"
                                />
                                <span></span>
                                {{ filed.doctor_fullname }}
                                <div class="font-weight-bold">
                                  {{ filed.schedule_date }} {{ filed.start_time }}-{{ filed.end_time }} น.
                                </div>
                              </label>
                            </div>
                          </div>
                          <div :key="'datepicker_' + i" class="col-md-4 mb-4">
                            <DatePickerBs
                              v-model="filed.destination_date"
                              :value="filed.destination_date"
                              :options="{
                                autoclose: true,
                                language: 'th',
                                todayBtn: true,
                                todayHighlight: true,
                                format: 'yyyy-mm-dd',
                              }"
                              :input-options="{ placeholder: 'วันที่ต้องการบันทึก', readonly: '' }"
                            />
                            <span class="form-text text-muted"> วันที่เดิม {{ filed.schedule_date }} </span>
                          </div>
                        </template>
                      </div>

                      <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4 text-right">
                          <button type="button" class="btn btn-primary mt-4" @click="handlerCopySchedule">
                            <i class="flaticon2-copy"></i> ทำการ Copy รายการที่เลือก
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- begin:: Row -->
        <div class="row">
          <div class="col-md-12">
            <div id="accordionForm" :class="['accordion accordion-solid accordion-toggle-plus mb-11']">
              <div class="card">
                <div id="collapse-form" class="collapse" data-parent="#accordionForm">
                  <!-- begin:: Form -->
                  <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
                    <form @submit.prevent="passes(onSubmit)">
                      <!-- begin:: Card body -->
                      <div class="card-body">
                        <div class="form-group row">
                          <!-- begin:: แพทย์ -->
                          <ValidationProvider
                            v-slot="{ errors }"
                            name="แพทย์"
                            rules="required"
                            tag="div"
                            class="col-lg-6"
                          >
                            <label>แพทย์:</label>
                            <Select2
                              :id="`doctor_id`"
                              v-model.number="form.doctor_id"
                              :name="`doctor_id`"
                              :options="doctorOptions"
                              :class="['form-control', errors[0] ? 'is-invalid' : '']"
                            />
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                            <span class="form-text text-muted">
                              <nuxt-link :to="localePath('/setting/doctor')">ตั้งค่าแพทย์ที่นี่</nuxt-link>
                            </span>
                          </ValidationProvider>
                          <!-- end:: แพทย์ -->

                          <!-- begin:: จุดบริการ -->
                          <ValidationProvider
                            v-slot="{ errors }"
                            name="จุดบริการ"
                            rules="required"
                            tag="div"
                            class="col-lg-6"
                          >
                            <label>จุดบริการ:</label>
                            <Select2
                              :id="`service_point_id`"
                              v-model="form.service_point_id"
                              :name="`service_point_id`"
                              :options="servicePointOpts"
                              :class="['form-control', errors[0] ? 'is-invalid' : '']"
                            />
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                            <span class="form-text text-muted">
                              <nuxt-link :to="localePath('/setting/service-point')">ตั้งค่าจุดบริการที่นี่</nuxt-link>
                            </span>
                          </ValidationProvider>
                          <!-- end:: จุดบริการ -->
                        </div>

                        <div class="form-group row">
                          <!-- begin:: กลุ่มงานบริการ -->
                          <ValidationProvider
                            v-slot="{ errors }"
                            name="กลุ่มงานบริการ"
                            rules="required"
                            tag="div"
                            class="col-lg-6"
                          >
                            <label>กลุ่มงานบริการ:</label>
                            <Select2
                              :id="`service_group_id`"
                              v-model.number="form.service_group_id"
                              :name="`service_group_id`"
                              :options="serviceGroupOptions"
                              :class="['form-control', errors[0] ? 'is-invalid' : '']"
                            />
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                            <span class="form-text text-muted">
                              <nuxt-link :to="localePath('/setting/service-group')">
                                ตั้งค่ากลุ่มงานบริการที่นี่
                              </nuxt-link>
                            </span>
                          </ValidationProvider>
                          <!-- end:: กลุ่มงานบริการ -->
                        </div>

                        <div class="form-group row">
                          <!-- begin:: งานบริการ -->
                          <ValidationProvider
                            v-slot="{ errors }"
                            name="งานบริการ"
                            rules="required"
                            tag="div"
                            class="col-lg-6"
                          >
                            <label>งานบริการ:</label>
                            <div class="checkbox-list">
                              <template v-for="service in serviceListOfGroup">
                                <label :key="service.service_id" class="checkbox">
                                  <input
                                    v-model="form.service_ids"
                                    type="checkbox"
                                    name="service_ids[]"
                                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                                    :value="service.service_id"
                                  />
                                  {{ service.service_name }}
                                  <span></span>
                                </label>
                              </template>
                            </div>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                            <span class="form-text text-muted">
                              <nuxt-link :to="localePath('/setting/service')">
                                ตั้งค่างานบริการที่นี่
                              </nuxt-link>
                            </span>
                          </ValidationProvider>
                          <!-- end:: งานบริการ -->
                        </div>

                        <div class="form-group row">
                          <!-- begin:: วันที่ -->
                          <ValidationProvider
                            v-slot="{ errors }"
                            name="วันที่"
                            rules="required"
                            tag="div"
                            class="col-lg-6"
                          >
                            <label>วันที่:</label>
                            <DatePickerBs
                              v-model="form.schedule_date"
                              :value="form.schedule_date"
                              :options="datepickerOptions"
                              :input-options="{ placeholder: 'วันที่', id: 'schedule_date', readonly: '' }"
                            />
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                            <span v-show="!form.schedule_id" class="form-text text-muted">
                              สามารถเลือกได้มากกว่า 1 วัน
                            </span>
                          </ValidationProvider>
                          <!-- end:: วันที่ -->

                          <!-- begin:: สถานะ -->
                          <ValidationProvider
                            v-slot="{ errors }"
                            name="สถานะการให้บริการ"
                            rules="required"
                            tag="div"
                            class="col-lg-6"
                          >
                            <label>สถานะการให้บริการ:</label>
                            <div class="radio-inline">
                              <label class="radio radio-solid">
                                <input
                                  v-model.number="form.schedule_status"
                                  type="radio"
                                  name="schedule_status"
                                  checked="checked"
                                  :value="1"
                                  :class="[errors[0] ? 'is-invalid' : '']"
                                />
                                <span></span>
                                StandBy
                              </label>
                              <label class="radio radio-solid">
                                <input
                                  v-model.number="form.schedule_status"
                                  type="radio"
                                  name="schedule_status"
                                  :value="2"
                                  :class="[errors[0] ? 'is-invalid' : '']"
                                />
                                <span></span>
                                งดรับผู้ป่วย
                              </label>
                            </div>
                            <div class="invalid-feedback">
                              {{ errors[0] }}
                            </div>
                            <span class="form-text text-muted"></span>
                          </ValidationProvider>
                          <!-- begin:: สถานะ -->
                        </div>

                        <div class="form-group row">
                          <div class="col-lg-12">
                            <a
                              href="javascript:void(0);"
                              data-toggle="collapse"
                              data-target="#more-setting"
                              aria-expanded="false"
                            >
                              ตั้งค่าเพิ่มเติม
                            </a>
                          </div>
                        </div>

                        <div id="more-setting" class="collapse">
                          <div class="form-group row">
                            <div class="col-lg-6 hidden">
                              <label>สีตัวอักษร:</label>
                              <compact-picker v-model="form.text_color"></compact-picker>
                              <span class="form-text text-muted">สีตัวอักษรที่แสดงบนปฏิทิน</span>
                            </div>
                            <div class="col-lg-6">
                              <label>สีพื้นหลัง:</label>
                              <compact-picker v-model="form.background_color"></compact-picker>
                              <span class="form-text text-muted">สีพื้นหลังข้อความที่แสดงบนปฏิทิน</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-lg-12">
                            <h4>
                              กำหนดช่วงเวลาที่ให้บริการ
                            </h4>
                            <button
                              :disabled="form.sub_schedules.length > 0"
                              type="button"
                              class="btn btn-icon btn-sm btn-light-success mr-1"
                              title="เพิ่มรายการ"
                              @click="addInput"
                            >
                              <i class="flaticon2-add-1 icon-nm"></i>
                            </button>
                          </div>
                        </div>

                        <transition-group name="component-fade" mode="out-in">
                          <template v-for="(schedule, index) in form.sub_schedules">
                            <div :key="index" class="form-group row">
                              <div class="col-lg-10">
                                <div class="form-group row">
                                  <!-- begin::  -->
                                  <div class="col-lg-3">
                                    <label v-show="index === 0">ตั้งแต่เวลา</label>
                                    <vue-timepicker
                                      v-model="schedule.start_time"
                                      format="HH:mm"
                                      hide-clear-button
                                      auto-scroll
                                      input-class="form-control"
                                      placeholder="ตั้งแต่เวลา"
                                    ></vue-timepicker>
                                  </div>

                                  <!-- end::  -->
                                  <!-- begin::  -->
                                  <div class="col-lg-3">
                                    <label v-show="index === 0">ถึงเวลา</label>
                                    <vue-timepicker
                                      v-model="schedule.end_time"
                                      format="HH:mm"
                                      hide-clear-button
                                      auto-scroll
                                      input-class="form-control"
                                      placeholder="ถึงเวลา"
                                    ></vue-timepicker>
                                  </div>

                                  <!-- end::  -->
                                  <!-- begin::  -->
                                  <ValidationProvider
                                    v-slot="{ errors }"
                                    name="จำนวนผู้ป่วยที่รับ"
                                    rules="required"
                                    tag="div"
                                    class="col-lg-3"
                                  >
                                    <label v-show="index === 0">จำนวนผู้ป่วยที่รับ</label>
                                    <TouchSpin
                                      v-model.number="schedule.queue_total_qty"
                                      :options="{
                                        min: 0,
                                        max: 100,
                                        buttondown_class: 'btn btn-secondary',
                                        buttonup_class: 'btn btn-secondary',
                                        boostat: 1,
                                        maxboostedstep: 1,
                                        initval: 0,
                                        step: 1,
                                      }"
                                      :input-options="{
                                        id: `queue_total_qty_${index}`,
                                        placeholder: 'จำนวนผู้ป่วยที่รับ',
                                        class: errors[0] ? 'is-invalid' : '',
                                        name: `queue_total_qty_${index}`,
                                      }"
                                    />
                                    <div class="invalid-feedback">
                                      {{ errors[0] }}
                                    </div>
                                    <span class="form-text text-muted"></span>
                                  </ValidationProvider>
                                  <!-- end::  -->
                                  <!-- begin::  -->
                                  <ValidationProvider
                                    v-slot="{ errors }"
                                    name="จำนวนคิวที่ระบุแพทย์ได้"
                                    rules="required"
                                    tag="div"
                                    class="col-lg-3"
                                  >
                                    <label v-show="index === 0">จำนวนคิวที่ระบุแพทย์ได้</label>
                                    <TouchSpin
                                      v-model.number="schedule.queue_assign_qty"
                                      :options="{
                                        min: 0,
                                        max: 100,
                                        buttondown_class: 'btn btn-secondary',
                                        buttonup_class: 'btn btn-secondary',
                                        boostat: 1,
                                        maxboostedstep: 1,
                                        initval: 0,
                                        step: 1,
                                      }"
                                      :input-options="{
                                        id: `queue_assign_qty_${index}`,
                                        placeholder: 'จำนวนคิวที่ระบุแพทย์ได้',
                                        class: errors[0] ? 'is-invalid' : '',
                                        name: `queue_assign_qty_${index}`,
                                        'data-index': index,
                                      }"
                                      @change-spin="onChangeAssignQty"
                                    />
                                    <div class="invalid-feedback">
                                      {{ errors[0] }}
                                    </div>
                                    <span class="form-text text-muted"></span>
                                  </ValidationProvider>
                                  <!-- end::  -->
                                </div>
                              </div>

                              <div class="col-lg-2 text-center">
                                <div class="form-group row">
                                  <div class="col-lg-12">
                                    <label v-show="index === 0">เพิ่ม/ลบ รายการ</label>
                                    <p>
                                      <button
                                        type="button"
                                        class="btn btn-icon btn-sm btn-light-success mr-1"
                                        title="เพิ่มรายการ"
                                        @click="addInput"
                                      >
                                        <i class="flaticon2-add-1 icon-nm"></i>
                                      </button>
                                      <button
                                        type="button"
                                        class="btn btn-icon btn-sm btn-light-danger"
                                        title="ลบรายการ"
                                        @click="removeInput(index)"
                                      >
                                        <i class="flaticon2-cross icon-nm"></i>
                                      </button>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </template>
                        </transition-group>

                        <div class="form-group row">
                          <div class="col-lg-12 text-right">
                            <button type="submit" :disabled="submitted" class="btn btn-primary mr-2">
                              บันทึก
                            </button>
                            <button
                              type="button"
                              class="btn btn-secondary mr-2"
                              data-toggle="collapse"
                              data-target="#collapse-form"
                              aria-expanded="false"
                              @click="resetForm"
                            >
                              ยกเลิก
                            </button>
                            <button
                              v-if="form.schedule_id"
                              type="button"
                              class="btn btn-danger mr-2"
                              @click="onDeleteSchedule(form.schedule_id)"
                            >
                              ลบรายการ
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- end:: Card body -->
                      <!-- begin:: Card Footer -->
                      <!-- <div class="card-footer">
                        <div class="row">
                          <div class="col-lg-6">
                            <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                              บันทึก
                            </button>
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-toggle="collapse"
                              data-target="#collapse-form"
                              aria-expanded="false"
                              @click="resetForm"
                            >
                              ยกเลิก
                            </button>
                          </div>
                          <div class="col-lg-6 text-right">
                            <button
                              v-if="form.schedule_id"
                              type="button"
                              class="btn btn-danger"
                              @click="onDeleteSchedule"
                            >
                              ลบรายการ
                            </button>
                          </div>
                        </div>
                      </div> -->
                      <!-- end:: Card Footer -->
                    </form>
                  </ValidationObserver>
                  <!-- end:: Form -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end:: Row -->

        <!-- begin:: Tabs -->
        <ul class="nav nav-tabs nav-tabs-line mb-5">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
              <span class="nav-icon"><i class="flaticon-calendar-with-a-clock-time-tools"></i></span>
              <span class="nav-text">ปฏิทิน</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">
              <span class="nav-icon"><i class="flaticon-list-2"></i></span>
              <span class="nav-text">ตาราง</span>
            </a>
          </li>
        </ul>
        <!-- end:: Tabs -->
        <!-- begin:: Tab Content -->
        <div id="myTabContent" class="tab-content mt-5">
          <div id="kt_tab_pane_1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="kt_tab_pane_2">
            <!-- begin:: Row -->
            <div class="row">
              <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-xs-12">
                <!-- begin:: FormSearch -->
                <FormSearch
                  :service-groups="mapServiceGroups"
                  :doctors="mapDoctors"
                  @change-date="onChangeDateInline"
                  @change-month="onChangeMonthInline"
                />
                <!-- end:: FormSearch -->
              </div>
              <div class="col-lg-9 col-xl-9 col-md-12 col-sm-12 col-xs-12">
                <!-- begin:: Calendar -->
                <FullCalendar
                  ref="fullCalendar"
                  :events="calendarEvents"
                  :plugins="calendarPlugins"
                  v-bind="calendarOptions"
                  @datesRender="handleDatesRender"
                  @eventResize="handleEventResize"
                  @dateClick="handleDateClick"
                  @eventClick="handleEventClick"
                  @eventDrop="handleEventDrop"
                  @eventDragStop="handleEventDragStop"
                />
                <!-- end:: Calendar -->
                <!-- begin:: Notice -->
                <Notice />
                <!-- end:: Notice -->
              </div>
            </div>
            <!-- end:: Row -->
          </div>
          <div id="kt_tab_pane_2" class="tab-pane fade" role="tabpanel" aria-labelledby="kt_tab_pane_2">
            <!--begin: Datatable-->
            <data-table
              hover
              bordered
              small
              fixed
              :items="events"
              :fields="fields"
              :column-filter="false"
              :items-per-page="10"
              pagination
              sorter
              :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
              :loading="loading"
              :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
              :table-options="{
                id: 'tbl-schedule',
                class: 'table dataTable kt-datatable__table table-vertical-center table-head-custom table-head-bg',
              }"
            >
              <!-- Column -->
              <template #index="{index}">
                <td class="text-center row-index">
                  {{ index + 1 }}
                </td>
              </template>

              <template #service_group_name="{item}">
                <td>
                  {{ item.extendedProps.service_group_name }}
                </td>
              </template>

              <template #service_name="{item}">
                <td>
                  {{ item.extendedProps.service_name }}
                </td>
              </template>

              <template #service_point_description="{item}">
                <td>
                  {{ item.extendedProps.service_point_description }}
                </td>
              </template>

              <template #doctor_fullname="{item}">
                <td>
                  {{ item.extendedProps.doctor_fullname }}
                </td>
              </template>

              <template #schdule_time="{item}">
                <td>
                  {{ item.extendedProps | scheduleTime }}
                </td>
              </template>

              <template #queue_total_qty="{item}">
                <td>
                  {{ item.extendedProps.queue_total_qty }}
                </td>
              </template>

              <template #queue_assign_qty="{item}">
                <td>
                  {{ item.extendedProps.queue_assign_qty }}
                </td>
              </template>

              <template #actions="{item}">
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-success btn-icon mr-2"
                    title="แก้ไข"
                    @click="handleEdit(item)"
                  >
                    <i class="flaticon2-pen"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger btn-icon"
                    title="ลบ"
                    @click="onDeleteSchedule(item.id)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </template>
              <!-- Column -->
            </data-table>
            <!--end: Datatable-->
          </div>
        </div>
        <!-- end:: Tab Content -->
      </template>
      <!-- end:: Card Body -->
    </Card>
    <!-- loading -->
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
    <!-- loading -->
  </div>
</template>

<script>
import isEmpty from 'is-empty'
import Swal from 'sweetalert2'
import { Compact } from 'vue-color'
import FullCalendar from '@fullcalendar/vue'
import moment from 'moment'
import CardToolbar from '@/components/Schedule/CardToolbar'
import FormSearch from '@/components/Schedule/FormSearch'
import Notice from '@/components/Schedule/Notice'
import DatePickerBs from '@/components/Base/Input/DatePickerBs'
// import TimePicker from '@/components/Base/Input/TimePicker'
import TouchSpin from '@/components/Base/Input/TouchSpin'
import '@fullcalendar/core/locales/th'
import mixins from '@/core/mixins/doctor-schedule'
moment.locale('th')

export default {
  name: 'DoctorSchedule',
  components: {
    CardToolbar,
    FullCalendar,
    FormSearch,
    Notice,
    DatePickerBs,
    // TimePicker,
    TouchSpin,
    'compact-picker': Compact,
  },
  mixins: [mixins],
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [{ title: 'ตั้งค่า', route: '/setting/schedule/doctor' }, { title: 'ตารางแพทย์' }],
  },
  async asyncData({ $apiSetting, error, store }) {
    try {
      // กลุ่มงานบริการ
      const groups = await $apiSetting.getServiceGroups()
      // รายชื่อแพทย์
      const doctors = await $apiSetting.getDoctors()
      // data
      return { serviceGroups: groups, doctors: doctors }
    } catch (err) {
      error({ statusCode: err.statusCode || 404, message: err.message })
    }
  },
  data() {
    return {
      title: 'ตารางแพทย์',
      form: {
        schedule_id: '',
        doctor_id: '',
        service_group_id: '',
        service_ids: [],
        service_point_id: '',
        schedule_date: '',
        schedule_status: 1,
        text_color: '#FFFFFF',
        background_color: '#009CE0',
        sub_schedules: [
          {
            sub_schedule_id: '',
            schedule_id: '',
            start_time: '08:30',
            end_time: '12:00',
            queue_total_qty: 0,
            queue_assign_qty: 0,
          },
          {
            sub_schedule_id: '',
            schedule_id: '',
            start_time: '13:00',
            end_time: '16:00',
            queue_total_qty: 0,
            queue_assign_qty: 0,
          },
        ],
      },
    }
  },
  beforeDestroy() {
    this.resetForm()
  },
  methods: {
    /* calendar events */
    async handleEventResize(info) {
      const _this = this
      try {
        const body = {
          schedule_id: info.event.id,
          doctor_id: info.event.extendedProps.doctor_id,
          service_group_id: info.event.extendedProps.service_group_id,
          service_ids: info.event.extendedProps.service_ids.split(','),
          schedule_date: moment(info.event.extendedProps.schedule_date).format('YYYY-MM-DD'),
          schedule_status: info.event.extendedProps.schedule_status,
          text_color: info.event.extendedProps.text_color,
          background_color: info.event.extendedProps.background_color,
          service_point_id: info.event.extendedProps.service_point_id,
          service_id: info.event.extendedProps.service_id,
          sub_schedules: [
            {
              sub_schedule_id: info.event.extendedProps.sub_schedule_id,
              start_time: info.event.extendedProps.start_time,
              end_time: moment(new Date(info.event.end.toISOString())).format('HH:mm:ss'),
              queue_total_qty: info.event.extendedProps.queue_total_qty,
              queue_assign_qty: info.event.extendedProps.queue_assign_qty,
            },
          ],
        }
        const data = await _this.$apiSetting.updateSchedule(info.event.id, body)
        _this.$toastr.success(data.message, 'Success')
        const calendarApi = this.$refs.fullCalendar.getApi()

        const params = {
          start: moment(calendarApi.view.activeStart).format('YYYY-MM-DD'),
          end: moment(calendarApi.view.activeEnd).format('YYYY-MM-DD'),
        }
        await _this.fetchDataEvents(params)
      } catch (error) {
        info.revert()
        _this.$errorHandler(error)
      }
    },
    handleDatesRender(info) {
      if (info.view.type === 'dayGridMonth') {
        const currentDay = moment().format('DD')
        $('#datepicker-inline').datepicker('update', moment(info.view.currentStart).format('YYYY-MM-') + currentDay)
        const params = {
          start: moment(info.view.activeStart).format('YYYY-MM-DD'),
          end: moment(info.view.activeEnd).format('YYYY-MM-DD'),
        }
        this.fetchDataEvents(params)
      }
    },
    handleDateClick(info) {
      if (info.view.type === 'dayGridMonth') {
        this.resetForm()
        this.form = this.$updateObject(this.form, {
          schedule_date: info.dateStr,
        })
        setTimeout(() => {
          this.toggleShowForm(true)
        })
        this.scrollToForm()
      }
    },
    async handleEventClick(info) {
      const _this = this
      if (info.view.type === 'dayGridMonth') {
        if (!info.event.id) return
        try {
          Swal.fire({
            title: 'Loading...',
            html: '',
            timerProgressBar: true,
            allowOutsideClick: false,
            showClass: {
              popup: 'swal2-noanimation',
            },
            onBeforeOpen: () => {
              Swal.showLoading()
            },
          })

          const data = await _this.$apiSetting.getScheduleDoctorById({
            id: info.event.id,
            sub_schedule_id: info.event.extendedProps.sub_schedule_id,
          })
          _this.resetForm()
          _this.dpkOptions = _this.$updateObject(_this.dpkOptions, {
            multidate: false,
            autoclose: true,
          })
          const fileds = Object.keys(_this.form)
          const updateForm = {}
          Object.keys(data).map((k) => {
            if (fileds.includes(k)) {
              if (k === 'schedule_date') {
                updateForm[k] = moment(data[k]).format('YYYY-MM-DD')
              } else if (k === 'text_color') {
                updateForm[k] = {
                  hex: data[k] || '#FFFFFF',
                }
              } else if (k === 'background_color') {
                updateForm[k] = {
                  hex: data[k] || '#009CE0',
                }
              } else if (k === 'service_ids') {
                updateForm[k] = data[k] ? data[k].split(',') : []
              } else {
                updateForm[k] = data[k]
              }
            }
          })
          _this.form = _this.$updateObject(_this.form, updateForm)
          setTimeout(() => {
            _this.toggleShowForm(true)
          })
          setTimeout(() => {
            _this.scrollToForm()
          }, 500)
          Swal.close()
          _this.$nextTick(function () {
            $('#datepicker-inline').datepicker('setDatesDisabled', _this.datesDisabled)
            $('#schedule_date').datepicker('setDatesDisabled', _this.datesDisabled)
          })
        } catch (error) {
          _this.$errorHandler(error)
        }
      }
    },
    async handleEventDrop(info) {
      const _this = this
      if (info.view.type === 'dayGridMonth') {
        const holidays = await this.holidayEvents.filter(
          (holiday) => moment(holiday.start).format('YYYY-MM-DD') === moment(info.event.start).format('YYYY-MM-DD')
        )
        if (holidays.length) {
          Swal.fire({
            icon: 'warning',
            title: 'Oops...',
            text: 'ไม่สามารถ Copy ไปยังวันที่ดังกล่าวได้เนื่องจากเป็นวันหยุด!',
            allowOutsideClick: false,
            confirmButtonText: 'ตกลง',
          })
          info.revert()
        } else {
          Swal.fire({
            title: '',
            text: `คุณต้องการ Copy ไปยังวันที่ ${moment(info.event.start).format('DD MMM YYYY')} หรือไม่?`,
            icon: 'warning',
            showCancelButton: true,
            allowOutsideClick: false,
            confirmButtonText: 'ยืนยัน',
            cancelButtonText: 'ยกเลิก',
            input: 'checkbox',
            inputOptions: {
              yes: 'ต้องการลบรายการเดิม',
            },
            inputValue: 0,
            inputPlaceholder: 'Copy และทำการลบรายการเดิม',
            showLoaderOnConfirm: true,
            preConfirm: function (value) {
              return new Promise(function (resolve) {
                _this.$apiSetting
                  .copyScheduleDoctor(info.event.id, {
                    new_schedule_date: moment(info.event.start).format('YYYY-MM-DD'),
                    delete_old_schedule: value,
                    sub_schedule_id: info.event.extendedProps.sub_schedule_id,
                    schedule_id: info.event.id,
                  })
                  .then((res) => {
                    resolve(res)
                  })
                  .catch((error) => {
                    info.revert()
                    _this.$errorHandler(error)
                  })
              })
            },
          }).then((result) => {
            if (result.value) {
              _this.$Swal.fire({
                icon: 'success',
                title: result.value.message,
                text: '',
                confirmButtonText: 'ตกลง',
              })
              const params = {
                start: moment(info.view.activeStart).format('YYYY-MM-DD'),
                end: moment(info.view.activeEnd).format('YYYY-MM-DD'),
              }
              this.fetchDataEvents(params)
            } else {
              info.revert()
            }
          })
        }
      } else {
        try {
          const data = await _this.$apiSetting.updateSchedule(info.event.id, {
            schedule_id: info.event.id,
            doctor_id: info.event.extendedProps.doctor_id,
            service_group_id: info.event.extendedProps.service_group_id,
            service_ids: info.event.extendedProps.service_ids.split(','),
            schedule_date: moment(info.event.extendedProps.schedule_date).format('YYYY-MM-DD'),
            schedule_status: info.event.extendedProps.schedule_status,
            service_point_id: info.event.extendedProps.service_point_id,
            service_id: info.event.extendedProps.service_id,
            sub_schedules: [
              {
                sub_schedule_id: info.event.extendedProps.sub_schedule_id,
                start_time: moment(new Date(info.event.start.toISOString())).format('HH:mm:ss'),
                end_time: moment(new Date(info.event.end.toISOString())).format('HH:mm:ss'),
                queue_total_qty: info.event.extendedProps.queue_total_qty,
                queue_assign_qty: info.event.extendedProps.queue_assign_qty,
              },
            ],
          })
          _this.$toastr.success(data.message, 'Success')
          const calendarApi = this.$refs.fullCalendar.getApi()
          const params = {
            start: moment(calendarApi.view.activeStart).format('YYYY-MM-DD'),
            end: moment(calendarApi.view.activeEnd).format('YYYY-MM-DD'),
          }
          await _this.fetchDataEvents(params)
        } catch (error) {
          info.revert()
          _this.$errorHandler(error)
        }
      }
    },
    handleEventDragStop(info) {
      const _this = this
      const event = info.event
      const jsEvent = info.jsEvent
      const trashEl = jQuery('#calendarTrash')
      const ofs = trashEl.offset()

      const x1 = ofs.left
      const x2 = ofs.left + trashEl.outerWidth(true)
      const y1 = ofs.top
      const y2 = ofs.top + trashEl.outerHeight(true)

      /* if (_this.isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
        $('#calendar').fullCalendar('removeEvents', event._id)
        const el = $("<div class='fc-event'>").appendTo('#external-events-listing').text(event.title)
        el.draggable({
          zIndex: 999,
          revert: true,
          revertDuration: 0,
        })
        el.data('event', { title: event.title, id: event.id, stick: true })
      } */
      if (jsEvent.pageX >= x1 && jsEvent.pageX <= x2 && jsEvent.pageY >= y1 && jsEvent.pageY <= y2) {
        const calendarApi = _this.$refs.fullCalendar.getApi()
        // $('#external-calendar').fullCalendar('removeEvents', event._id)
        event.remove()
        Swal.fire({
          title: 'ยืนยันการลบรายการ?',
          text: '',
          icon: 'question',
          showCancelButton: true,
          allowOutsideClick: false,
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก',
          showLoaderOnConfirm: true,
          preConfirm: function () {
            return new Promise(function (resolve) {
              _this.$apiSetting
                .deleteScheduleDoctor(event.extendedProps.schedule_id)
                .then((res) => {
                  resolve(res)
                })
                .catch((error) => {
                  _this.$errorHandler(error)
                })
            })
          },
        }).then((result) => {
          if (result.value) {
            const params = {
              start: moment(calendarApi.view.activeStart).format('YYYY-MM-DD'),
              end: moment(calendarApi.view.activeEnd).format('YYYY-MM-DD'),
            }
            _this.fetchDataEvents(params)
            _this.resetForm()

            Swal.fire({
              icon: 'success',
              title: 'ลบรายการสำเร็จ',
              text: '',
              confirmButtonText: 'ตกลง',
            })
            $('#collapse-form').collapse('hide')
          } else {
            calendarApi.addEvent(event)
          }
        })
      }
    },
    isEventOverDiv(x, y) {
      const externalEvents = $('#external-events')
      const offset = externalEvents.offset()
      offset.right = externalEvents.width() + offset.left
      offset.bottom = externalEvents.height() + offset.top

      // Compare
      if (x >= offset.left && y >= offset.top && x <= offset.right && y <= offset.bottom) {
        return true
      }
      return false
    },
    async handleEdit(row) {
      const _this = this
      try {
        Swal.fire({
          title: 'กำลังตรวจสอบข้อมูล...',
          html: '',
          timerProgressBar: true,
          allowOutsideClick: false,
          showClass: {
            popup: 'swal2-noanimation',
          },
          onBeforeOpen: () => {
            Swal.showLoading()
          },
        })
        const data = await _this.$apiSetting.getScheduleDoctorById({
          id: row.id,
          sub_schedule_id: row.extendedProps.sub_schedule_id,
        })
        _this.resetForm()
        _this.dpkOptions = _this.$updateObject(_this.dpkOptions, {
          multidate: false,
          autoclose: true,
        })
        const fileds = Object.keys(_this.form)
        const updateForm = {}
        Object.keys(data).map((k) => {
          if (fileds.includes(k)) {
            if (k === 'schedule_date') {
              updateForm[k] = moment(data[k]).format('YYYY-MM-DD')
            } else if (k === 'text_color') {
              updateForm[k] = {
                hex: data[k] || '#FFFFFF',
              }
            } else if (k === 'background_color') {
              updateForm[k] = {
                hex: data[k] || '#009CE0',
              }
            } else {
              updateForm[k] = data[k]
            }
          }
        })
        _this.form = _this.$updateObject(_this.form, updateForm)
        setTimeout(() => {
          _this.toggleShowForm(true)
        })
        setTimeout(() => {
          _this.scrollToForm()
        }, 500)
        Swal.close()
        _this.$nextTick(function () {
          $('#datepicker-inline').datepicker('setDatesDisabled', _this.datesDisabled)
          $('#schedule_date').datepicker('setDatesDisabled', _this.datesDisabled)
        })
      } catch (error) {
        _this.$errorHandler(error)
      }
    },
    onChangeAssignQty(e) {
      const value = parseInt(e.target.value)
      const index = parseInt(e.target.dataset.index)
      if (value > this.form.sub_schedules[index].queue_total_qty) {
        this.$set(
          this.form.sub_schedules,
          index,
          this.$updateObject(this.form.sub_schedules[index], {
            queue_assign_qty: this.form.sub_schedules[index].queue_total_qty,
          })
        )
        $(e.target).val(this.form.sub_schedules[index].queue_total_qty)
      }
    },
    addInput() {
      this.form.sub_schedules.push({
        sub_schedule_id: '',
        schedule_id: this.form.schedule_id,
        start_time: moment().format('HH:mm'),
        end_time: moment().format('HH:mm'),
        queue_total_qty: 0,
        queue_assign_qty: 0,
      })
    },
    removeInput(index) {
      this.form.sub_schedules.splice(index, 1)
    },
    /**
     * บันทึกรายการ
     */
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        if (!_this.form.schedule_id) {
          // create
          const data = await _this.$apiSetting.createSchedule(_this.form)
          _this.$Swal.fire({
            icon: 'success',
            title: data.message,
            text: '',
            confirmButtonText: 'ตกลง',
          })
        } else {
          // update
          const data = await _this.$apiSetting.updateSchedule(_this.form.schedule_id, _this.form)
          _this.$Swal.fire({
            icon: 'success',
            title: data.message,
            text: '',
            confirmButtonText: 'ตกลง',
          })
        }
        // stop loading
        _this.setSubmitted(false)
        // fetch events
        const calendarApi = this.$refs.fullCalendar.getApi()
        const params = {
          start: moment(calendarApi.view.activeStart).format('YYYY-MM-DD'),
          end: moment(calendarApi.view.activeEnd).format('YYYY-MM-DD'),
        }
        await _this.fetchDataEvents(params)
        // reset form to default
        _this.resetForm()
        // hidden form
        $('#collapse-form').collapse('hide')
        $('#more-setting').collapse('hide')
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
    // reset form to default
    resetForm() {
      this.dpkOptions = this.$updateObject(this.dpkOptions, {
        multidate: true,
        autoclose: false,
      })
      this.form = this.$updateObject(this.form, {
        schedule_id: '',
        doctor_id: '',
        service_group_id: '',
        service_ids: [],
        service_point_id: '',
        schedule_date: '',
        schedule_status: 1,
        text_color: '#FFFFFF',
        background_color: '#009CE0',
        sub_schedules: [
          {
            sub_schedule_id: '',
            schedule_id: '',
            start_time: '08:30',
            end_time: '12:00',
            queue_total_qty: 0,
            queue_assign_qty: 0,
          },
          {
            sub_schedule_id: '',
            schedule_id: '',
            start_time: '13:00',
            end_time: '16:00',
            queue_total_qty: 0,
            queue_assign_qty: 0,
          },
        ],
      })
      setTimeout(() => {
        this.toggleShowForm(false)
      })
      this.$refs.form.reset()
      $('#more-setting').collapse('hide')
      this.$nextTick(function () {
        $('#datepicker-inline').datepicker('setDatesDisabled', this.datesDisabled)
        $('#schedule_date').datepicker('setDatesDisabled', this.datesDisabled)
      })
    },
    // ลบตารางแพทย์
    onDeleteSchedule(id) {
      const _this = this
      Swal.fire({
        title: 'ยืนยันการลบรายการ?',
        text: '',
        icon: 'question',
        showCancelButton: true,
        allowOutsideClick: false,
        confirmButtonText: 'ยืนยัน',
        cancelButtonText: 'ยกเลิก',
        showLoaderOnConfirm: true,
        preConfirm: function () {
          return new Promise(function (resolve) {
            _this.$apiSetting
              .deleteScheduleDoctor(id)
              .then((res) => {
                resolve(res)
              })
              .catch((error) => {
                _this.$errorHandler(error)
              })
          })
        },
      }).then((result) => {
        if (result.value) {
          const calendarApi = _this.$refs.fullCalendar.getApi()
          const params = {
            start: moment(calendarApi.view.activeStart).format('YYYY-MM-DD'),
            end: moment(calendarApi.view.activeEnd).format('YYYY-MM-DD'),
          }
          _this.fetchDataEvents(params)
          _this.resetForm()

          Swal.fire({
            icon: 'success',
            title: 'ลบรายการสำเร็จ',
            text: '',
            confirmButtonText: 'ตกลง',
          })
          $('#collapse-form').collapse('hide')
        }
      })
    },
    // แสดงฟอร์ม
    onShowForm() {
      const _this = this
      if (_this.showForm) {
        setTimeout(() => {
          _this.toggleShowForm(false)
          $('#collapse-form').collapse('hide')
        }, 300)
      } else {
        _this.toggleShowForm(true)
        $('#collapse-form').collapse('show')
      }
    },
    onCopySchedule() {
      const calendarApi = this.$refs.fullCalendar.getApi()
      const events = calendarApi
        .getEvents()
        .filter(function (event) {
          return !isEmpty(event.extendedProps)
        })
        .map((d) => {
          return this.$updateObject(d.extendedProps, {
            schedule_date: moment(d.extendedProps.schedule_date).format('DD MMM YYYY'),
            old_schedule_date: d.extendedProps.schedule_date,
            start_time: moment(d.extendedProps.start_time, 'HH:mm:ss').format('HH:mm'),
            end_time: moment(d.extendedProps.end_time, 'HH:mm:ss').format('HH:mm'),
            destination_date: moment(d.extendedProps.schedule_date).add(1, 'M').format('YYYY-MM-DD'),
          })
        })
      this.eventsCopyList = events
      this.formCopy.items = events
    },
    filteredEventsCopyList() {
      const filterKey = this.copyFilterKey && this.copyFilterKey.toLowerCase()
      let events = this.eventsCopyList
      if (filterKey) {
        events = events.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().includes(filterKey)
          })
        })
      }
      this.formCopy.items = events
    },
    handlerCheckAllCopy(e) {
      if (e.target.checked) {
        this.events_copy = this.eventsCopyList.map((d) => d.sub_schedule_id)
      } else {
        this.events_copy = []
      }
    },
    handlerCopySchedule() {
      const _this = this
      const schedules = this.eventsCopyList.filter((row) => this.events_copy.includes(row.sub_schedule_id))
      if (!schedules.length) return
      Swal.fire({
        title: 'คณต้องการ Copy รายการที่เลือกใช่หรือไม่?',
        text: `ทั้งหมด ${schedules.length} รายการ`,
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Copy ข้อมูล',
        cancelButtonText: 'ยกเลิก',
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        preConfirm: function () {
          return new Promise(function (resolve) {
            _this.$apiSchedule
              .copySchedule({ schedules: schedules })
              .then((res) => resolve(res))
              .catch((error) => {
                _this.$errorHandler(error)
              })
          })
        },
      }).then((result) => {
        if (result.value) {
          Swal.fire({
            icon: 'success',
            title: result.value.message,
            text: '',
            confirmButtonText: 'ตกลง',
          })
          _this.eventsCopyList = []
          _this.formCopy.items = []
          _this.events_copy = []
          const calendarApi = _this.$refs.fullCalendar.getApi()
          const params = {
            start: moment(calendarApi.view.activeStart).format('YYYY-MM-DD'),
            end: moment(calendarApi.view.activeEnd).format('YYYY-MM-DD'),
          }
          _this.fetchDataEvents(params)
          $('#collapse-form-copy').collapse('hide')
        }
      })
    },
    toggleShowForm(show = false) {
      this.showForm = show
    },
    scrollToForm() {
      $('#collapse-form').collapse('show')
      $('html,body').animate(
        {
          scrollTop: $('#collapse-form').offset().top - 100,
        },
        1000
      )
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style scoped>
@import url(@fullcalendar/core/main.min.css);
@import url(@fullcalendar/daygrid/main.min.css);
@import url(@fullcalendar/timegrid/main.min.css);
@import url(@fullcalendar/list/main.min.css);
.scheduler-container {
  height: 100%;
  width: 100%;
}

.dhx_cal_container {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.form-group {
  margin-bottom: 1rem;
}
.card.card-custom.head-md.maximized {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  margin: 0;
  overflow: auto;
}
</style>
