<template>
  <div class="login-page">
    <div id="kt_login" class="login login-2 login-signin-on d-flex flex-row-fluid">
      <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat bg-login">
        <div class="login-form text-center p-7 position-relative overflow-hidden">
          <!--begin::Login Header-->
          <div class="d-flex flex-center mb-15">
            <nuxt-link to="/">
              <img src="@/assets/images/logos/app-logo.png" class="max-h-75px" alt="" />
            </nuxt-link>
          </div>
          <!--end::Login Header-->

          <!--begin::Login Sign in form-->
          <div class="login-signin">
            <div class="mb-20">
              <h3>เข้าสู่ระบบ</h3>
              <div class="text-muted font-weight-bold">ระบบคิว EGAT Smart Care</div>
            </div>
            <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
              <form
                id="kt_login_signin_form"
                class="form fv-plugins-bootstrap fv-plugins-framework"
                @submit.prevent="passes(onLogin)"
              >
                <ValidationProvider
                  v-slot="{ errors }"
                  name="ชื่อผู้ใช้งานหรือรหัสผ่าน"
                  rules="min:3"
                  tag="div"
                  class="form-group mb-5 fv-plugins-icon-container"
                >
                  <input
                    v-model="form.username"
                    :class="['form-control h-auto form-control-solid py-4 px-8', errors[0] ? 'is-invalid' : '']"
                    type="text"
                    placeholder="อีเมลหรือชื่อผู้ใช้งาน"
                    name="username"
                    autocomplete="off"
                  />
                  <div class="invalid-feedback">
                    {{ errors[0] }}
                  </div>
                  <div class="fv-plugins-message-container"></div>
                </ValidationProvider>

                <ValidationProvider
                  v-slot="{ errors }"
                  name="รหัสผ่าน"
                  rules="min:3"
                  tag="div"
                  class="form-group mb-5 fv-plugins-icon-container"
                >
                  <input
                    v-model="form.password"
                    :class="['form-control h-auto form-control-solid py-4 px-8', errors[0] ? 'is-invalid' : '']"
                    type="password"
                    placeholder="รหัสผ่าน"
                    name="password"
                  />
                  <div class="invalid-feedback">
                    {{ errors[0] }}
                  </div>
                  <div class="fv-plugins-message-container"></div>
                </ValidationProvider>

                <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                  <label class="checkbox m-0 text-muted">
                    <input type="checkbox" name="remember" /> Remember me
                    <span></span>
                  </label>
                  <!-- <a id="kt_login_forgot" href="javascript:;" class="text-muted text-hover-primary">
                    Forget Password ?
                  </a> -->
                </div>

                <div v-if="error" class="alert alert-danger" role="alert">
                  {{ error }}
                </div>

                <b-button
                  id="kt_login_signin_submit"
                  type="submit"
                  variant="success"
                  :class="[
                    'btn btn-success font-weight-bold px-9 py-4 my-3 mx-4 spinner-white spinner-right mr-3',
                    { spinner: submitted },
                  ]"
                >
                  เข้าสู่ระบบ
                </b-button>
                <div></div>
              </form>
            </ValidationObserver>

            <!-- <div class="mt-10">
              <span class="opacity-70 mr-4">
                Don't have an account yet?
              </span>
              <a id="kt_login_signup" href="javascript:;" class="text-muted text-hover-primary font-weight-bold">
                Sign Up!
              </a>
            </div> -->
          </div>
          <!--end::Login Sign in form-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import {
  SET_USER_DATA,
  SET_TOKEN_DATA,
  SET_USER_ROLES,
  SET_USER_PERMISSIONS,
  AUTH_MODULE_NAME,
} from '@/core/types/auth'

export default {
  name: 'Login',
  layout: 'main-login',
  middleware: 'notAuthenticated',
  meta: {
    // requiresAuth: false,
    breadcrumbs: [{ title: 'เข้าสู่ระบบ' }],
  },
  data() {
    return {
      submitted: false,
      form: {
        username: null,
        password: null,
      },
      error: null,
    }
  },
  methods: {
    async onLogin() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid || !_this.form.username || !_this.form.password) return
      try {
        _this.setSubmitted(true)
        _this.error = null
        const data = await _this.$apiAuth.login(_this.form)
        _this.setDataStoreAfterLogin(data)
        _this.setSubmitted(false)
        setTimeout(() => {
          _this.$router.push('/')
        }, 100)
      } catch (error) {
        _this.setSubmitted(false)
        _this.error = _.get(error, ['message'], error)
      }
    },
    setSubmitted(submitted = false) {
      this.submitted = submitted
    },
    setDataStoreAfterLogin(data) {
      const { $store } = this
      $store.commit(`${AUTH_MODULE_NAME}/${SET_USER_DATA}`, data.user)
      $store.commit(`${AUTH_MODULE_NAME}/${SET_TOKEN_DATA}`, data)
      $store.commit(`${AUTH_MODULE_NAME}/${SET_USER_ROLES}`, _.get(data.user, ['roles'], []))
      $store.commit(`${AUTH_MODULE_NAME}/${SET_USER_PERMISSIONS}`, _.get(data.user, ['permissions'], []))
    },
  },
  head() {
    return {
      title: 'เข้าสู่ระบบ',
    }
  },
}
</script>

<style scoped>
@import url(../../assets/css/login.min.css);
.bg-login {
  background-image: url('../../assets/media/bg/bg-3.jpg');
}
</style>
