<template>
  <div class="input-group date">
    <input ref="input" type="text" class="form-control" v-bind="inputOptions" />
    <div class="input-group-append">
      <span class="input-group-text">
        <i class="la la-calendar"></i>
      </span>
    </div>
  </div>
</template>

<script>
import 'bootstrap-datepicker/js/locales/bootstrap-datepicker.th'
import moment from 'moment'
moment.locale('th')

export default {
  name: 'DatePickerBs',
  props: {
    options: {
      type: Object,
      default: function() {
        return {}
      }
    },
    inputOptions: {
      type: Object,
      default: function() {
        return {}
      }
    },
    value: {
      type: [String, Number, Array],
      default: ''
    },
    classes: {
      type: [String, Object, Array],
      default: function() {
        return []
      }
    }
  },
  data() {
    return {
      dp: null
    }
  },
  watch: {
    value: function(newValue) {
      if (newValue !== null) {
        const dates = newValue.split(',')
        if (dates.length && /,/.test(newValue)) {
          this.$refs.input.value = dates.join(',')
          $(this.$refs.input).datepicker('setDates', dates)
        } else {
          $(this.$refs.input).datepicker('update', newValue)
        }
      }
    },
    options: function(newOpts, oldOpts) {
      if (JSON.stringify(newOpts) !== JSON.stringify(oldOpts)) {
        if (this.dp) {
          this.dp.datepicker('destroy')
        }

        this.dp = $(this.$refs.input).datepicker(newOpts)
      }
    }
  },
  mounted: function() {
    const _this = this
    /* istanbul ignore if */
    if (this.dp) return
    _this.dp = $(_this.$refs.input)
      .datepicker(_this.options)
      .on('show', function(e) {
        _this.$emit('show', e)
      })
      .on('hide', function(e) {
        _this.$emit('hide', e)
      })
      .on('clearDate', function(e) {
        _this.$emit('clearDate', e)
      })
      .on('changeDate', function(e) {
        if (e.dates) {
          _this.$emit('input', $(_this.$refs.input).datepicker('getFormattedDate'))
        } else {
          _this.$emit('input', e.format())
        }
        _this.$emit('changeDate', e)
      })
      .on('changeMonth', function(e) {
        _this.$emit('changeMonth', e)
      })
      .on('changeYear', function(e) {
        _this.$emit('changeYear', e)
      })
      .on('changeDecade', function(e) {
        _this.$emit('changeDecade', e)
      })
      .on('changeCentury', function(e) {
        _this.$emit('changeCentury', e)
      })

    if (this.value) {
      const dates = this.value.split(',')
      if (dates.length && /,/.test(this.value)) {
        this.$refs.input.value = dates.join(',')
        $(this.$refs.input).datepicker('setDates', dates)
      } else {
        $(this.$refs.input).datepicker('update', this.value)
      }
    }
  },
  beforeDestroy: function() {
    $(this.$refs.input).datepicker('destroy')
    this.dp = null
  }
}
</script>

<style>
/* .datepicker tbody tr > td.disabled-date {
  background: #f64e60;
  color: #ffffff;
} */
.datepicker tbody tr > td.disabled-date,
.datepicker tbody tr > td.disabled-date:hover {
  background: #f3f6f9;
  color: #464e5f;
}
</style>
