<template>
  <div class="date-picker-inline"></div>
</template>

<script>
import 'bootstrap-datepicker/js/locales/bootstrap-datepicker.th'
import moment from 'moment'
moment.locale('th')

export default {
  name: 'DatePickerInline',
  props: {
    options: {
      type: Object,
      default: function() {
        return {}
      }
    },
    inputOptions: {
      type: Object,
      default: function() {
        return {}
      }
    },
    value: {
      type: [String, Number],
      default: ''
    },
    classes: {
      type: [String, Object, Array],
      default: function() {
        return []
      }
    }
  },
  watch: {
    value: function(newValue) {
      const dates = newValue.split(',')
      if (dates.length) {
        $(this.$el).datepicker('setDates', dates)
      } else {
        $(this.$el).datepicker('update', newValue)
      }
    }
  },
  mounted: function() {
    const _this = this
    $(_this.$el)
      .datepicker(_this.options)
      .on('show', function(e) {
        _this.$emit('show', e)
      })
      .on('hide', function(e) {
        _this.$emit('hide', e)
      })
      .on('clearDate', function(e) {
        _this.$emit('clearDate', e)
      })
      .on('changeDate', function(e) {
        if (e.dates) {
          _this.$emit('input', $(_this.$el).datepicker('getFormattedDate'))
        } else {
          _this.$emit('input', e.format())
        }
        _this.$emit('changeDate', e)
      })
      .on('changeMonth', function(e) {
        _this.$emit('changeMonth', e)
      })
      .on('changeYear', function(e) {
        _this.$emit('changeYear', e)
      })
      .on('changeDecade', function(e) {
        _this.$emit('changeDecade', e)
      })
      .on('changeCentury', function(e) {
        _this.$emit('changeCentury', e)
      })
  },
  beforeDestroy: function() {
    $(this.$el).datepicker('destroy')
  }
}
</script>

<style>
.date-picker-inline .datepicker tbody tr > td.disabled-date {
  background: #f64e60;
  color: #ffffff;
}
.date-picker-inline .datepicker-inline {
  width: 100%;
}
</style>
