<template>
  <select :class="inputClass">
    <slot></slot>
  </select>
</template>

<script>
import 'select2'
import 'select2/src/js/select2/i18n/th'

export default {
  name: 'Select2',
  props: {
    options: {
      type: Object,
      default: function() {
        return {}
      }
    },
    value: {
      type: [String, Number],
      default: ''
    },
    classes: {
      type: [String, Object, Array],
      default: function() {
        return []
      }
    }
  },
  computed: {
    inputClass() {
      return ['form-control kt-select2 select2 select2-hidden-accessible', this.classes]
    },
    inputOptions() {
      return this.$updateObject(this.options, {
        language: 'th',
        allowClear: true,
        width: '100%'
      })
    }
  },
  watch: {
    value: function(value) {
      // update value
      // if (value) {
      //   this.$nextTick(function() {
      //     $(this.$el)
      //       .val(value)
      //       .trigger('change')
      //   })
      // } else {
      //   this.$nextTick(function() {
      //     $(this.$el)
      //       .val('')
      //       .trigger('change')
      //   })
      // }
      this.$nextTick(function() {
        $(this.$el)
          .val(value)
          .trigger('change')
      })
    },
    options: function(options) {
      // update options
      $(this.$el)
        .empty()
        .select2(options)
      this.$nextTick(function() {
        $(this.$el)
          .val(this.value)
          .trigger('change')
      })
    }
  },
  mounted: function() {
    const _this = this
    // init select2
    /* if ($(_this.$el).data('select2')) {
      $(_this.$el).off().select2('destroy')
    } */
    $(_this.$el)
      .select2(this.inputOptions)
      .val(this.value)
      .trigger('change')
      // emit event on change.
      .on('change', function(e) {
        // _this.$emit('input', this.value)
        _this.$emit('change', e)
      })
      .on('select2:clear', function(e) {
        _this.$emit('input', '')
        _this.$emit('clear', e)
      })
      .on('select2:select', function(e) {
        _this.$emit('input', this.value)
        _this.$emit('select', e)
      })
      .on('select2:selecting', function(e) {
        // _this.$emit('input', this.value)
        _this.$emit('selecting', e)
      })
  },
  beforeDestroy: function() {
    if ($(this.$el).data('select2')) {
      $(this.$el)
        .off()
        .select2('destroy')
    }
  }
}
</script>

<style>
/* @import url('../../assets/css/select2.min.css');
@import url('../../assets/css/select2-style.css'); */
</style>
