<template>
  <div class="input-group timepicker">
    <input ref="input" class="form-control" readonly="" v-bind="inputOptions" type="text" />
    <div class="input-group-append">
      <span class="input-group-text">
        <i class="la la-clock-o"></i>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TimePicker',
  props: {
    options: {
      type: Object,
      default: function() {
        return {}
      }
    },
    inputOptions: {
      type: Object,
      default: function() {
        return {}
      }
    },
    value: {
      type: [String, Number, Array],
      default: ''
    },
    classes: {
      type: [String, Object, Array],
      default: function() {
        return []
      }
    }
  },
  watch: {
    value: function(newValue) {
      if (newValue) {
        $(this.$refs.input).timepicker('setTime', newValue)
      }
    }
  },
  mounted() {
    const _this = this
    $(_this.$refs.input)
      .timepicker(_this.options)
      .on('show.timepicker', function(e) {
        _this.$emit('show', e)
      })
      .on('hide.timepicker', function(e) {
        _this.$emit('hide', e)
      })
      .on('changeTime.timepicker', function(e) {
        _this.$emit('input', e.time.value)
        _this.$emit('changeTime', e.time)
      })
    if (_this.value) {
      $(this.$refs.input).timepicker('setTime', _this.value)
    }
  },
  beforeDestroy() {
    // $(this.$refs.input).timepicker('destroy')
  }
}
</script>

<style lang="scss" scoped></style>
