<template>
  <input ref="input" type="text" class="form-control" v-bind="inputOptions" />
</template>

<script>
export default {
  name: 'TouchSpin',
  props: {
    options: {
      type: Object,
      default: function() {
        return {}
      }
    },
    inputOptions: {
      type: Object,
      default: function() {
        return {}
      }
    },
    value: {
      type: [String, Number, Array],
      default: ''
    },
    classes: {
      type: [String, Object, Array],
      default: function() {
        return []
      }
    }
  },
  watch: {
    value: function(newValue) {
      this.$refs.input.value = newValue
    },
    options: function(options) {
      // update options
      $(this.$refs.input).TouchSpin(options)
    }
  },
  mounted() {
    const _this = this
    $(_this.$refs.input)
      .TouchSpin(_this.options)
      .on('change', function(e) {
        _this.$emit('input', e.target.value)
        _this.$emit('change-spin', e)
      })
    this.$refs.input.value = this.value
  },
  beforeDestroy() {
    if (jQuery(this.$refs.input).data('TouchSpin')) {
      jQuery(this.$refs.input).TouchSpin('destroy')
    }
  }
}
</script>

<style lang="scss" scoped></style>
