<script>
import CreateForm from '@/pages/setting/service/create'

export default {
  name: 'UpdateService',
  extends: CreateForm,
  validate({ params }) {
    return /^\d+$/.test(params.id)
  },
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: 'role' },
      { title: 'งานบริการ', route: '/setting/service' },
      { title: 'แก้ไขรายการ' },
    ],
  },
  data() {
    return {
      title: 'แก้ไขรายการ',
    }
  },
  mounted() {
    this.getServiceById()
  },
  methods: {
    async getServiceById() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiSetting.getServiceById(_this.$route.params.id)
        const fileds = Object.keys(_this.form)
        const updateForm = {}
        Object.keys(data).map((k) => {
          if (fileds.includes(k)) {
            updateForm[k] = data[k]
          }
        })
        if (updateForm.icon_base_url) {
          _this.icon_url = updateForm.icon_base_url + updateForm.icon_path
          KTUtil.addClass(this.$refs.service_icon, 'image-input-changed')
          KTUtil.removeClass(this.$refs.service_icon, 'image-input-empty')
        }
        _this.form = _this.$updateObject(_this.form, updateForm)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
