<template>
  <div class="form-player-station">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <!-- begin:: Form -->
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="form-group row">
              <ValidationProvider
                v-slot="{ errors }"
                name="ชื่อโปรแกรมเสียงเรียกคิว"
                rules="required"
                tag="div"
                class="col-lg-6"
              >
                <label>ชื่อโปรแกรมเสียงเรียกคิว:</label>
                <input
                  v-model="form.player_station_name"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="player_station_name"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
              <div class="col-lg-6"></div>
            </div>

            <div class="form-group row">
              <div class="col-md-5">
                <p class="text-danger">
                  รายชื่อจุดบริการทั้งหมด
                </p>
                <input
                  v-model="filterAvailable"
                  class="form-control search"
                  data-target="available"
                  placeholder="ค้นหา"
                />
                <br />
                <select
                  ref="available"
                  v-model="available"
                  multiple
                  size="20"
                  class="form-control list"
                  data-target="available"
                >
                  <template v-for="(item, key) in availableItems">
                    <option :key="key" :value="item.service_point_id">
                      {{ item.service_point_description }}
                    </option>
                  </template>
                </select>
              </div>
              <div class="col-md-1 text-center">
                <br />
                <br />
                <br />
                <p>
                  <button
                    type="button"
                    class="btn btn-success btn-assign"
                    title="Assign"
                    data-target="available"
                    :disabled="!available.length"
                    @click="Assign"
                  >
                    &gt;&gt;
                  </button>
                </p>
                <p>
                  <button
                    type="button"
                    :disabled="!form.service_point_ids.length"
                    class="btn btn-danger btn-assign"
                    title="Remove"
                    data-target="assigned"
                    @click="Remove"
                  >
                    &lt;&lt;
                  </button>
                </p>
              </div>
              <div class="col-md-5">
                <p class="text-success">
                  จุดบริการที่เล่นเสียงเรียก
                </p>
                <input
                  v-model="filterAssigned"
                  class="form-control search"
                  data-target="assigned"
                  placeholder="ค้นหา"
                />
                <br />
                <select
                  ref="assigned"
                  v-model="assigned"
                  multiple
                  size="20"
                  class="form-control list"
                  data-target="assigned"
                >
                  <template v-for="(item, key) in assignedItems">
                    <option :key="key" :value="item.service_point_id">
                      {{ item.service_point_description }}
                    </option>
                  </template>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <ValidationProvider v-slot="{ errors }" name="สถานะ" rules="required" tag="div" class="col-lg-6">
                <label>เปิดใช้งาน:</label>
                <span class="switch switch-sm switch-icon" style="display: block;">
                  <label>
                    <input v-model="form.player_station_status" type="checkbox" name="player_station_status" />
                    <span></span>
                  </label>
                </span>
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/player-station')" class="btn btn-secondary">
                    ยกเลิก
                  </nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
        <!-- end:: Form -->
      </template>
      <!-- end:: Body -->
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
export default {
  name: 'CreatePlayerStation',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/player-station' },
      { title: 'โปรแกรมเสียงเรียกคิว', route: '/setting/player-station' },
      { title: 'บันทึกรายการ' },
    ],
  },
  async asyncData({ $apiSetting }) {
    try {
      const servicePoints = await $apiSetting.getServicePoints()
      return {
        service_points: servicePoints,
      }
    } catch (err) {
      error({ statusCode: err.statusCode, message: err.message })
    }
  },
  data() {
    return {
      title: 'บันทึกรายการ',
      submitted: false,
      loading: false,
      form: {
        player_station_id: '',
        player_station_name: '',
        service_point_ids: [],
        player_station_status: 1,
      },
      service_points: [],
      assigned: [],
      available: [],
      filterAssigned: '',
      filterAvailable: '',
    }
  },
  computed: {
    availableItems() {
      const filterKey = this.filterAvailable && this.filterAvailable.toLowerCase()
      let items = this.servicePointItems.filter(
        (row) => !this.form.service_point_ids.includes(String(row.service_point_id))
      )
      if (filterKey) {
        items = items.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().includes(filterKey)
          })
        })
      }
      return items
    },
    assignedItems() {
      const filterKey = this.filterAssigned && this.filterAssigned.toLowerCase()
      let items = this.servicePointItems.filter((row) =>
        this.form.service_point_ids.includes(String(row.service_point_id))
      )
      if (filterKey) {
        items = items.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().includes(filterKey)
          })
        })
      }
      return items
    },
    servicePointItems() {
      return this.service_points.filter((row) => row.service_point_status === 1)
    },
  },
  beforeDestroy() {
    this.form = {
      player_station_id: '',
      player_station_name: '',
      service_point_ids: [],
      player_station_status: 1,
    }
  },
  methods: {
    Assign() {
      this.form = this.$updateObject(this.form, {
        service_point_ids: this.form.service_point_ids.concat(this.available),
      })
    },
    Remove() {
      this.form = this.$updateObject(this.form, {
        service_point_ids: this.form.service_point_ids.filter((v) => !this.assigned.includes(v)),
      })
    },
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        const formData = _this.$updateObject(_this.form, {
          player_station_status: +_this.form.player_station_status,
        })
        let message = ''
        if (!_this.form.player_station_id) {
          const data = await _this.$apiSetting.createPlayerStation(formData)
          message = data.message
        } else {
          const data = await _this.$apiSetting.updatePlayerStation(_this.form.player_station_id, formData)
          message = data.message
        }
        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/player-station'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
