<template>
  <div id="kt_header" class="header flex-column">
    <!--begin::Top-->
    <div class="header-top">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Left-->
        <div class="d-none d-lg-flex align-items-center mr-3">
          <!--begin::Logo-->
          <router-link
            to="/kiosk/index"
            class="mr-10"
            style="background-color: #fee152; border-radius: 1rem; padding: 1rem;"
          >
            <img alt="Logo" src="@/assets/images/logos/app-logo.png" class="img-app-logo" />
          </router-link>
          <!--end::Logo-->
          <div class="text-white">
            <h1 class="font-weight-bold" style="font-size: 3rem;">
              ระบบคิวอัจฉริยะ
            </h1>
          </div>
        </div>
        <!--end::Left-->

        <!--begin::Topbar-->
        <div class="topbar">
          <!--begin::User-->
          <div class="topbar-item">
            <div id="kt_quick_user_toggle" class="btn btn-icon w-auto d-flex align-items-center btn-lg px-2">
              <span class="symbol symbol-35">
                <span class="font-weight-bold text-white" style="font-size: 2rem;">
                  {{ currentDate }} เวลา {{ currentTime }} น.
                </span>
              </span>
            </div>
          </div>
          <!--end::User-->
        </div>
        <!--end::Topbar-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Top-->
  </div>
</template>

<script>
import moment from 'moment'
moment.locale('th')

export default {
  name: 'HeaderKiosk',
  data() {
    return {
      currentDate: moment().format('วันddddที่ DD MMMM ') + (parseInt(moment().format('YYYY')) + 543),
      currentTime: moment().format('HH:mm'),
    }
  },
  beforeMount() {
    this.sockets.listener.subscribe('clock', this.socketOnClock)
  },
  beforeDestroy() {
    this.sockets.listener.unsubscribe('clock')
  },
  methods: {
    socketOnClock(data) {
      this.currentDate = data.current_date
      this.currentTime = data.current_time
    },
  },
}
</script>

<style lang="scss" scoped>
@media (min-width: 992px) {
  .wrapper {
    margin: 20px 0;
    margin-left: 20px;
    padding-top: 0;
    margin-right: 20px;
  }
  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    padding: 20px 20px;
  }
}
#kt_header {
  background-image: url(../../../assets/media/misc/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 5px 21px 0 rgba(29, 29, 33, 0.15);
}
.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  z-index: 2;
  height: 120px;
}
.header .header-top {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.header .header-top .container,
.header .header-top .container-fluid,
.header .header-top .container-lg,
.header .header-top .container-md,
.header .header-top .container-sm,
.header .header-top .container-xl,
.header .header-top .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.img-app-logo {
  max-width: 150px;
}
#kt_header .container-fluid {
  border-bottom: 2px solid #eeeeee;
}
@media (min-width: 992px) {
  .header-fixed[data-header-scroll='on'] .header {
    left: 0;
    height: 120px;
  }
}
</style>
