<template>
  <div class="form-queue-type">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ชื่อประเภทคิว</label>
              <ValidationProvider v-slot="{ errors }" name="ชื่อประเภทคิว" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.queue_type_name"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="queue_type_name"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/queue-type')" class="btn btn-secondary">ยกเลิก</nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </template>
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
export default {
  name: 'CreateQueueType',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/queue-type' },
      { title: 'ประเภทคิว', route: '/setting/queue-type' },
      { title: 'บันทึกรายการ' },
    ],
  },
  data() {
    return {
      title: 'บันทึกรายการ',
      loading: false,
      submitted: false,

      form: {
        queue_type_id: '',
        queue_type_name: '',
      },
    }
  },
  beforeDestroy() {
    this.form = {
      queue_type_id: '',
      queue_type_name: '',
    }
  },
  methods: {
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        let message = ''
        if (!_this.form.queue_type_id) {
          const data = await _this.$apiSetting.createQueueType(_this.form)
          message = data.message
        } else {
          const data = await _this.$apiSetting.updateQueueType(_this.form.queue_type_id, _this.form)
          message = data.message
        }
        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/queue-type'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
