<template>
  <div class="form-service">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="card-body">
              <div class="fomr-group row">
                <label class="col-form-label col-2 text-lg-right text-right">ไอคอน</label>
                <div class="col-lg-6 mb-5">
                  <div
                    id="service_icon"
                    ref="service_icon"
                    class="image-input image-input-empty image-input-outline"
                    :style="{
                      'background-image': icon_url ? `url(${icon_url})` : 'none',
                    }"
                  >
                    <div ref="input_wrapper" class="image-input-wrapper image-input-border-dashed"></div>

                    <label
                      class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      data-action="change"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Change icon"
                    >
                      <i class="fa fa-pen icon-sm text-muted"></i>
                      <input
                        ref="input_file"
                        type="file"
                        name="icon"
                        accept=".png, .jpg, .jpeg"
                        @change="onChangeIcon"
                      />
                      <input ref="input_hidden" type="hidden" name="icon_remove" />
                    </label>

                    <span
                      class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      data-action="cancel"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Cancel icon"
                      @click="onCancelIcon"
                    >
                      <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>

                    <span
                      class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      data-action="remove"
                      data-toggle="tooltip"
                      title=""
                      data-original-title="Remove icon"
                      @click="onRemoveIcon"
                    >
                      <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">ชื่องานบริการ</label>
                <ValidationProvider
                  v-slot="{ errors }"
                  name="ชื่องานบริการ"
                  rules="required"
                  tag="div"
                  class="col-lg-4"
                >
                  <input
                    v-model="form.service_name"
                    type="text"
                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                    placeholder=""
                    name="service_name"
                  />
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>

                <label class="col-form-label col-2 text-lg-right text-right">รหัสงานบริการ</label>
                <ValidationProvider v-slot="{ errors }" name="รหัสงานบริการ" rules="" tag="div" class="col-lg-4">
                  <input
                    v-model="form.service_code"
                    type="text"
                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                    placeholder=""
                    name="service_code"
                  />
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">กลุ่มงานงานบริการ</label>
                <ValidationProvider
                  v-slot="{ errors }"
                  name="กลุ่มงานงานบริการ"
                  rules="required"
                  tag="div"
                  class="col-lg-4"
                >
                  <Select2 v-model="form.service_group_id" :name="`service_group_id`" :options="serviceGroupOpts" />
                  <span class="form-text text-muted">
                    <nuxt-link :to="localePath('/setting/service-group')">ตั้งค่ากลุ่มงานบริการที่นี่</nuxt-link>
                  </span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>

                <label class="col-form-label col-2 text-lg-right text-right">จำนวนหลักเลขคิว</label>
                <ValidationProvider
                  v-slot="{ errors }"
                  name="จำนวนหลักเลขคิว"
                  rules="required"
                  tag="div"
                  class="col-lg-4"
                >
                  <input
                    v-model="form.service_num_digit"
                    type="number"
                    min="0"
                    :class="['form-control', errors[0] ? 'is-invalid' : '']"
                    placeholder=""
                    name="service_num_digit"
                  />
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">บัตรคิว</label>
                <ValidationProvider v-slot="{ errors }" name="บัตรคิว" rules="required" tag="div" class="col-lg-4">
                  <Select2 v-model="form.ticket_id" :name="`ticket_id`" :options="ticketOpts" />
                  <span class="form-text text-muted">
                    <nuxt-link :to="localePath('/setting/ticket')">ตั้งค่าบัตรคิวที่นี่</nuxt-link>
                  </span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">เปิดใช้งาน</label>
                <ValidationProvider v-slot="{ errors }" name="สถานะ" rules="required" tag="div" class="col-lg-6">
                  <span class="switch switch-sm switch-icon">
                    <label>
                      <input v-model="form.service_status" type="checkbox" name="service_status" />
                      <span></span>
                    </label>
                  </span>
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-2 text-lg-right text-right">แสดงบนตู้ Kiosk</label>
                <ValidationProvider
                  v-slot="{ errors }"
                  name="แสดงบนตู้ Kiosk"
                  rules="required"
                  tag="div"
                  class="col-lg-6"
                >
                  <span class="switch switch-sm switch-icon">
                    <label>
                      <input v-model.number="form.show_on_kiosk" type="checkbox" name="show_on_kiosk" />
                      <span></span>
                    </label>
                  </span>
                  <span class="form-text text-muted"></span>
                  <span class="invalid-feedback">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/service')" class="btn btn-secondary">
                    ยกเลิก
                  </nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </template>
      <!-- end:: Body -->
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
import * as utils from '@/utils'

export default {
  name: 'CreateService',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: 'role' },
      { title: 'งานบริการ', route: '/setting/service' },
      { title: 'สร้างรายการ' },
    ],
  },
  async asyncData({ $apiSetting, error }) {
    try {
      const serviceGroups = await $apiSetting.getServiceGroups()
      const tickets = await $apiSetting.getAllTicket()
      return {
        tickets: tickets,
        service_groups: serviceGroups,
      }
    } catch (err) {
      error({ statusCode: err.statusCode, message: err.message })
    }
  },
  data() {
    return {
      loading: false,
      submitted: false,
      title: 'บันทึกงานบริการ',

      form: {
        service_id: '',
        service_name: '',
        service_code: '',
        service_group_id: '',
        service_num_digit: null,
        ticket_id: '',
        service_no: '',
        service_status: 1,
        icon_base_url: '',
        icon_path: '',
        icon_upload: '',
        show_on_kiosk: 1,
      },
      icon_url: null,
      service_groups: [],
      tickets: [],
    }
  },
  computed: {
    serviceGroupOpts() {
      const opts = utils.mapDataOptions(this.service_groups, 'service_group_id', 'service_group_name')
      return {
        placeholder: 'เลือกกลุ่มงานบริการ',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
    ticketOpts() {
      const opts = utils.mapDataOptions(this.tickets, 'ticket_id', 'ticket_name')
      return {
        placeholder: 'เลือกบัตรคิว',
        data: [
          {
            id: '',
            text: 'เลือกรายการ',
          },
          ...opts,
        ],
        language: 'th',
        allowClear: true,
        width: '100%',
      }
    },
  },
  beforeDestroy() {
    this.form = {
      service_id: '',
      service_name: '',
      service_code: '',
      service_group_id: '',
      service_num_digit: 3,
      ticket_id: '',
      service_no: '',
      service_status: '',
      icon_base_url: '',
      icon_path: '',
      icon_upload: '',
      show_on_kiosk: 1,
    }
  },
  methods: {
    onChangeIcon(e) {
      const _this = this
      if (e.target.files && e.target.files[0]) {
        const file = e.target.files[0]
        const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png'
        const isLt2M = file.size / 1024 / 1024 < 2 // limit size  2MB
        if (!isJpgOrPng) {
          _this.$Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'You can only upload JPG or PNG file!',
            confirmButtonText: 'ตกลง',
            allowOutsideClick: false,
          })
        } else if (!isLt2M) {
          _this.$Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'รูปภาพต้องมีขนาดน้อยกว่า 2MB!',
            confirmButtonText: 'ตกลง',
            allowOutsideClick: false,
          })
        } else {
          const reader = new FileReader()
          reader.onload = function (e) {
            _this.icon_url = e.target.result
          }
          reader.readAsDataURL(file)
          KTUtil.addClass(this.$refs.service_icon, 'image-input-changed')
          KTUtil.removeClass(this.$refs.service_icon, 'image-input-empty')
          _this.form.icon_upload = file
        }
      }
    },
    onCancelIcon() {
      this.icon_url = null
      this.form.icon_upload = null
      KTUtil.removeClass(this.$refs.service_icon, 'image-input-changed')
      KTUtil.addClass(this.$refs.service_icon, 'image-input-empty')
      this.$refs.input_file.value = ''
      this.$refs.input_hidden.value = '0'
    },
    onRemoveIcon() {
      this.icon_url = null
      this.form.icon_upload = null
      KTUtil.removeClass(this.$refs.service_icon, 'image-input-changed')
      KTUtil.addClass(this.$refs.service_icon, 'image-input-empty')
      this.$refs.input_file.value = ''
      this.$refs.input_hidden.value = '1'
    },
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        const formData = new FormData()
        for (const field in _this.form) {
          if (field === 'show_on_kiosk') {
            formData.append(field, +_this.form[field])
          } else {
            formData.append(field, _this.form[field])
          }
        }
        let message = ''
        if (!_this.form.service_id) {
          const data = await _this.$apiSetting.createService(formData)
          message = data.message
        } else {
          const data = await _this.$apiSetting.updateService(_this.form.service_id, formData)
          message = data.message
        }
        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/service'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
