<template>
  <div class="main-layout">
    <!-- begin:: Loding Page -->
    <AppLoader v-if="loaderEnabled" :logo="loaderLogo"></AppLoader>
    <!-- end:: Loding Page -->
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <HeaderMobile />
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
      <!--begin::Page-->
      <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Aside-->
        <Aside />
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div id="kt_wrapper" class="d-flex flex-column flex-row-fluid wrapper">
          <!--begin::Header-->
          <Header />
          <!--end::Header-->
          <!--begin::Content-->
          <div id="kt_content" class="content d-flex flex-column flex-column-fluid">
            <!--begin::Subheader-->
            <Subheader />
            <!--end::Subheader-->
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
              <!--begin::Container-->
              <div class="container-fluid">
                <transition name="layout">
                  <Nuxt />
                </transition>
              </div>
              <!--end::Container-->
            </div>
            <!--end::Entry-->
          </div>
          <!--end::Content-->
          <!--begin::Footer-->
          <Footer />
          <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::Scrolltop-->
    <ScrollTop />
    <!--end::Scrolltop-->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import HtmlClass from '@/core/services/htmlclass.service'
import LayoutApp from '@/assets/js/components/app'
import Footer from '@/components/Layout/Footer/Footer'
import Header from '@/components/Layout/Header/Header'
import HeaderMobile from '@/components/Layout/Header/Mobile'
import Aside from '@/components/Layout/Aside/Aside'
import Subheader from '@/components/Layout/Subheader/Subheader'
import ScrollTop from '@/components/Layout/Extras/Scrolltop'
import AppLoader from '@/components/layout/Loader/Loader'
import { AUTH_MODULE_NAME, CHECK_AUTH_TIMEOUT } from '@/core/types/auth'
import AppLogo from '@/assets/images/logos/app-logo.png'

export default {
  name: 'MainLayout',
  components: {
    Footer,
    Header,
    HeaderMobile,
    Aside,
    Subheader,
    ScrollTop,
    AppLoader,
  },
  computed: {
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated',
      user: 'auth/currentUser',
      breadcrumbs: 'breadcrumbs/breadcrumbs',
      pageTitle: 'breadcrumbs/pageTitle',
      layoutConfig: 'config/layoutConfig',
      expiresIn: 'auth/expiresIn',
      refreshToken: 'auth/refreshToken',
    }),

    /**
     * Check if the page loader is enabled
     * @returns {boolean}
     */
    loaderEnabled() {
      return !/false/.test(this.layoutConfig('loader.type'))
    },

    /**
     * Check if container width is fluid
     * @returns {boolean}
     */
    contentFluid() {
      return this.layoutConfig('content.width') === 'fluid'
    },

    /**
     * Page loader logo image using require() function
     * @returns {string}
     */
    loaderLogo() {
      return AppLogo
    },

    /**
     * Check if the left aside menu is enabled
     * @returns {boolean}
     */
    asideEnabled() {
      return !!this.layoutConfig('aside.self.display')
    },

    /**
     * Set the right toolbar display
     * @returns {boolean}
     */
    toolbarDisplay() {
      // return !!this.layoutConfig("toolbar.display");
      return true
    },

    /**
     * Set the subheader display
     * @returns {boolean}
     */
    subheaderDisplay() {
      return !!this.layoutConfig('subheader.display')
    },

    isIE8() {
      return !!navigator.userAgent.match(/MSIE 8.0/)
    },
    isIE9() {
      return !!navigator.userAgent.match(/MSIE 9.0/)
    },
    isIE10() {
      return !!navigator.userAgent.match(/MSIE 10.0/)
    },
    isChrome() {
      return !!navigator.userAgent.match(/Chrome/)
    },
    isSafari() {
      return !!navigator.userAgent.match(/safari/)
    },
    isFirefox() {
      return !!navigator.userAgent.match(/Firefox/)
    },
  },
  beforeMount() {
    // show page loading
    // this.$store.dispatch('htmlclass/addBodyClassName', 'page-loading')

    // initialize html element classes
    HtmlClass.init(this.$store)
  },
  mounted() {
    // // check if current user is authenticated
    // if (!this.isAuthenticated) {
    //   this.$router.push({ name: 'login' })
    // }

    // init application
    this.$nextTick(() => {
      LayoutApp.init(AppSettings)
      this.checkAuthTimeout()
    })

    // Simulate the delay page loading
    // setTimeout(() => {
    //   // Remove page loader after some time
    //   this.$store.dispatch('htmlclass/removeBodyClassName', 'page-loading')
    // }, 2000)
  },
  methods: {
    footerLayout(type) {
      return this.layoutConfig('footer.layout') === type
    },
    checkAuthTimeout() {
      if (this.isAuthenticated) {
        this.$store.dispatch(`${AUTH_MODULE_NAME}/${CHECK_AUTH_TIMEOUT}`, {
          expiresIn: this.expiresIn,
          refresh_token: this.refreshToken,
          router: this.$router,
        })
      }
    },
  },
}
</script>

<style scoped>
@media (min-width: 992px) {
  .wrapper {
    margin: 20px 0;
    margin-left: 110px;
    padding-top: 20px;
    margin-right: 20px;
  }
}
</style>
