<template>
  <div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
      <div id="kt_wrapper" class="d-flex flex-column flex-row-fluid wrapper">
        <!-- begin:: Header -->
        <AppHeader />
        <!-- end:: Header -->
        <!-- begin:: Content -->
        <div id="kt_content" class="content d-flex flex-column flex-column-fluid">
          <div class="container-fluid">
            <Nuxt />
          </div>
        </div>
        <!-- end:: Content -->
        <!-- begin:: Footer -->
        <AppFooter />
        <!-- end:: Footer -->
      </div>
    </div>
  </div>
</template>

<script>
import AppFooter from '@/components/Layout/Footer/Footer'
import AppHeader from '@/components/Layout/Kiosk/KioskHeader'

export default {
  name: 'MainLayoutKiosk',
  components: {
    AppFooter,
    AppHeader,
  },
}
</script>

<style lang="scss" scoped>
@media (min-width: 992px) {
  .wrapper {
    margin: 20px 0;
    margin-left: 20px;
    padding-top: 0;
    margin-right: 20px;
  }
  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    padding: 20px 20px;
  }
}
.text-shadow {
  text-shadow: 1px 0px 1px #eee, 0px 1px 1px #ccc, 2px 1px 1px #eee, 1px 2px 1px #ccc, 1px 2px 1px #eee,
    2px 3px 1px #ccc;
}
</style>
