<template>
  <div class="form-ticket">
    <card :title="title">
      <!-- begin:: Body -->
      <template #body>
        <ValidationObserver ref="form" v-slot="{ invalid, passes }" slim>
          <form class="form" @submit.prevent="passes(onSubmit)">
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ชื่อบัตรคิว</label>
              <ValidationProvider v-slot="{ errors }" name="ชื่อบัตรคิว" rules="required" tag="div" class="col-lg-4">
                <input
                  v-model="form.ticket_name"
                  type="text"
                  :class="['form-control', errors[0] ? 'is-invalid' : '']"
                  placeholder=""
                  name="ticket_name"
                />
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">ออกแบบบัตรคิว</label>
              <ValidationProvider v-slot="{ errors }" name="ออกแบบบัตรคิว" rules="required" tag="div" class="col-lg-4">
                <div class="x-content ckedtor-content">
                  <ckeditor
                    v-model.lazy="form.ticket_template"
                    :config="editorConfig"
                    tag-name="textarea"
                    type="inline"
                    :editor-url="editorUrl"
                  ></ckeditor>
                </div>
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>

              <label class="col-form-label col-1 text-lg-right text-right">
                ตัวอย่าง
              </label>
              <div class="col-lg-4">
                <div class="preview-ticket" v-html="form.ticket_template"></div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-2 text-lg-right text-right">สถานะ</label>
              <ValidationProvider v-slot="{ errors }" name="สถานะ" rules="required" tag="div" class="col-lg-4">
                <div class="radio-inline">
                  <label class="radio radio-success">
                    <input
                      v-model="form.ticket_status"
                      type="radio"
                      :value="0"
                      :class="[errors[0] ? 'is-invalid' : '']"
                    />
                    ปิดใช้งาน
                    <span></span>
                  </label>
                  <label class="radio radio-success">
                    <input
                      v-model="form.ticket_status"
                      type="radio"
                      :value="1"
                      :class="[errors[0] ? 'is-invalid' : '']"
                    />เปิดใช้งาน
                    <span></span>
                  </label>
                </div>
                <span class="form-text text-muted"></span>
                <span class="invalid-feedback">
                  {{ errors[0] }}
                </span>
              </ValidationProvider>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right">
                  <button type="submit" :disabled="invalid || submitted" class="btn btn-primary mr-2">
                    บันทึก
                  </button>
                  <nuxt-link :to="localePath('/setting/ticket')" class="btn btn-secondary">ยกเลิก</nuxt-link>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </template>
    </card>
    <v-loading
      :active="submitted || loading"
      :can-cancel="false"
      :is-full-page="true"
      color="#007BFF"
      :width="100"
      :height="100"
    />
  </div>
</template>

<script>
import * as template from '@/core/template'
import qrcodeImg from '@/assets/images/qrcode-example.png'

export default {
  name: 'CreateTicket',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/ticket' },
      { title: 'บัตรคิว', route: '/setting/ticket' },
      { title: 'บันทึกรายการ' },
    ],
  },
  data() {
    return {
      title: 'บันทึกรายการ',
      loading: false,
      submitted: false,

      form: {
        ticket_id: '',
        ticket_name: '',
        ticket_template: template.ticketTemplate.replace('{img}', qrcodeImg),
        ticket_status: 1,
      },
      editorUrl: '/ckeditor/ckeditor.js',
      editorConfig: {
        contenteditable: true,
        language: 'th',
        extraPlugins: 'sourcedialog',
        uiColor: '#f1f3f6',
      },
    }
  },
  beforeDestroy() {
    this.form = {
      ticket_id: '',
      ticket_name: '',
      ticket_template: '',
      ticket_status: 1,
    }
  },
  methods: {
    async onSubmit() {
      const _this = this
      const isValid = await _this.$refs.form.validate()
      if (!isValid) return
      try {
        _this.setSubmitted(true)
        let message = ''
        if (!_this.form.ticket_id) {
          const data = await _this.$apiSetting.createTicket(_this.form)
          message = data.message
        } else {
          const data = await _this.$apiSetting.updateTicket(_this.form.ticket_id, _this.form)
          message = data.message
        }
        _this.$Swal.fire({
          icon: 'success',
          title: message,
          text: '',
          confirmButtonText: 'ตกลง',
        })
        _this.setSubmitted(false)
        _this.$router.push(_this.localePath('/setting/ticket'))
      } catch (error) {
        _this.setSubmitted(false)
        _this.$errorHandler(error)
      }
    },
  },
  head() {
    return {
      title: this.title,
    }
  },
}
</script>

<style>
@import url('../../../assets/css/80mm.min.css');
.preview-ticket,
.ckedtor-content {
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(27, 27, 27, 0.2);
  box-shadow: 0 2px 4px 0 rgba(27, 27, 27, 0.2);
}
</style>
