<template>
  <div class="ticket">
    <card title="รายการบัตรคิว">
      <!-- begin:: Toolbar -->
      <template #toolbar>
        <nuxt-link :to="localePath('/setting/ticket/create')" class="btn btn-light-primary font-weight-bolder mr-2">
          <span class="navi-icon"><i class="flaticon2-add-1"></i></span>
          <span class="navi-text">เพิ่มรายการ</span>
        </nuxt-link>
      </template>
      <!-- end:: Toolbar -->
      <template #body>
        <!--begin: Datatable-->
        <data-table
          hover
          bordered
          small
          fixed
          :items="rows"
          :fields="fields"
          :column-filter="false"
          :items-per-page="10"
          pagination
          sorter
          :items-per-page-select="{ label: 'แสดง', values: [10, 25, 50, 100] }"
          :loading="loading"
          :table-filter="{ placeholder: ' ', label: 'ค้นหา:' }"
          :table-options="{
            id: 'tbl-ticket',
            class: 'table dataTable kt-datatable__table table-vertical-center table-sm',
          }"
        >
          <!-- Column -->
          <template #index="{index}">
            <td class="text-center row-index">
              {{ index + 1 }}
            </td>
          </template>

          <template #ticket_id="{item}">
            <td class="text-center">
              {{ item.ticket_id }}
            </td>
          </template>

          <template #ticket_name="{item}">
            <td>
              {{ item.ticket_name }}
            </td>
          </template>

          <template #ticket_template="{item}">
            <td>
              <div v-html="item.ticket_template"></div>
            </td>
          </template>

          <template #ticket_status="{item}">
            <td class="text-center">
              <span v-if="item.ticket_status === 1" class="label label-pill label-inline label-success mr-2">
                Active
              </span>
              <span v-else class="label label-pill label-inline label-danger mr-2">
                Unactive
              </span>
            </td>
          </template>

          <template #actions="{item}">
            <td class="text-center">
              <nuxt-link
                :to="localePath(`/setting/ticket/update/${item.ticket_id}`)"
                class="btn btn-sm btn-outline-success btn-icon mr-2"
                title="แก้ไข"
              >
                <i class="flaticon2-pen"></i>
              </nuxt-link>
              <button type="button" class="btn btn-sm btn-outline-danger btn-icon" title="ลบ" @click="onDelete(item)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </template>
          <!-- Column -->
        </data-table>
        <!--end: Datatable-->
      </template>
    </card>
  </div>
</template>

<script>
export default {
  name: 'Ticket',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
    breadcrumbs: [{ title: 'ตั้งค่า', route: '/setting/ticket' }, { title: 'บัตรคิว' }],
  },
  data() {
    return {
      loading: false,
      rows: [],

      // table fields
      fields: [
        { key: 'index', label: '#', _style: 'width:35px', filter: false, sorter: false },
        { key: 'ticket_id', label: 'ไอดีบัตรคิว' },
        { key: 'ticket_name', label: 'ชื่อบัตรคิว' },
        { key: 'ticket_template', label: 'ตัวอย่างบัตรคิว' },
        { key: 'ticket_status', label: 'สถานะ' },
        {
          key: 'actions',
          label: 'ดำเนินการ',
          filter: false,
          sorter: false,
        },
      ],
    }
  },
  mounted() {
    this.fetchDataTicket()
  },
  methods: {
    async fetchDataTicket() {
      const _this = this
      try {
        _this.setLoading(true)
        _this.rows = await _this.$apiSetting.getAllTicket()
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
    onDelete(item) {
      const _this = this
      _this.$Swal
        .fire({
          title: 'ยืนยันการลบรายการ?',
          text: '',
          icon: 'question',
          showCancelButton: true,
          allowOutsideClick: false,
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก',
          showLoaderOnConfirm: true,
          preConfirm: function () {
            return new Promise(function (resolve) {
              _this.$apiSetting
                .deleteTicket(item.ticket_id)
                .then((res) => {
                  resolve(res)
                })
                .catch((error) => {
                  _this.$errorHandler(error)
                })
            })
          },
        })
        .then((result) => {
          if (result.value) {
            _this.fetchDataTicket()

            _this.$Swal.fire({
              icon: 'success',
              title: 'ลบรายการสำเร็จ',
              text: '',
              confirmButtonText: 'ตกลง',
            })
          }
        })
    },
  },
  head() {
    return {
      title: 'บัตรคิว',
    }
  },
}
</script>
