<template>
  <div></div>
</template>

<script>
export default {
  name: 'About',
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    requiresAuth: false,
  },
}
</script>

<style lang="scss" scoped></style>
