<template>
  <div class="dashboard">
    <!--begin::Dashboard-->
    <div class="row">
      <template v-for="(item, k) in countItems">
        <div :key="k" class="col-xl-3">
          <!--begin::Stats Widget 4-->
          <div class="card card-custom card-stretch gutter-b">
            <!--begin::Body-->
            <div class="card-body pb-0 mt-3">
              <div class="d-flex">
                <div class="d-flex flex-column flex-grow-1 align-self-end gutter-b">
                  <a
                    href="javascript:void(0);"
                    class="card-title font-weight-bolder text-dark-75 font-size-h5 mb-2 text-hover-primary"
                  >
                    {{ item.label }}
                  </a>
                  <span :class="item.fontClass">
                    {{ item.count }}
                  </span>
                </div>

                <img :src="item.imgSrc" alt="" style="width: 8rem;" />
              </div>
            </div>
            <!--end::Body-->
          </div>
          <!--end::Stats Widget 4-->
        </div>
      </template>
    </div>
    <!--end::Dashboard-->
  </div>
</template>

<script>
import boy11 from '@/assets/media/svg/avatars/029-boy-11.svg'
import girl7 from '@/assets/media/svg/avatars/014-girl-7.svg'
import boy1 from '@/assets/media/svg/avatars/004-boy-1.svg'
import boy2 from '@/assets/media/svg/avatars/007-boy-2.svg'

export default {
  name: 'Dashboard',
  layout: 'main',
  meta: {
    requiresAuth: false,
    breadcrumbs: [{ title: 'แดชบอร์ด' }],
  },
  data() {
    return {
      items: [
        {
          label: 'คิวรอ',
          count: 0,
          imgSrc: boy11,
          key: 'waiting',
          fontClass: 'font-weight-bold text-warning font-size-lg',
        },
        {
          label: 'คิวเรียก',
          count: 0,
          imgSrc: girl7,
          key: 'calling',
          fontClass: 'font-weight-bold text-info font-size-lg',
        },
        {
          label: 'คิวพัก',
          count: 0,
          imgSrc: boy1,
          key: 'hold',
          fontClass: 'font-weight-bold text-danger font-size-lg',
        },
        {
          label: 'คิวเสร็จสิ้น',
          count: 0,
          imgSrc: boy2,
          key: 'success',
          fontClass: 'font-weight-bold text-success font-size-lg',
        },
      ],
      waiting: 0,
      calling: 0,
      hold: 0,
      success: 0,
    }
  },
  computed: {
    countItems() {
      return this.items.map((item) => {
        return this.$updateObject(item, {
          count: this[item.key],
        })
      })
    },
  },
  mounted() {
    this.fetchDataChart()
  },
  methods: {
    async fetchDataChart() {
      const _this = this
      try {
        const data = await this.$apiDashboard.getDataCount()
        _this.waiting = data.waiting
        _this.calling = data.calling
        _this.hold = data.hold
        _this.success = data.success
      } catch (error) {
        _this.$errorHandler(error)
      }
    },
  },
}
</script>

<style></style>
