<script>
import isEmpty from 'is-empty'
import _ from 'lodash'
import CreateForm from '@/pages/setting/rbac/role/create'

export default {
  name: 'UpdateRole',
  extends: CreateForm,
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/rbac/role' },
      { title: 'สิทธิ์การใช้งาน', route: '/setting/rbac/assignment' },
      { title: 'บทบาท', route: '/setting/rbac/role' },
      { title: 'แก้ไขรายการ' },
    ],
  },
  data() {
    return {
      title: 'แก้ไขรายการ',
    }
  },
  validate({ params }) {
    return !isEmpty(params.id)
  },
  mounted() {
    // get data update by id
    this.getUpdateRole()
  },
  methods: {
    async getUpdateRole() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiRbac.getUpdateRole(_this.$route.params.id)
        const fileds = Object.keys(_this.form)
        const updateForm = {}
        Object.keys(data).map((k) => {
          if (k === 'ruleName') {
            updateForm.rule_name = data[k]
          }
          if (fileds.includes(k)) {
            updateForm[k] = data[k]
          }
        })
        _this.form = _this.$updateObject(_this.form, updateForm)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
