<template>
  <div class="d-flex align-items-center">
    <div class="symbol symbol-50 symbol-light mr-4">
      <span class="symbol-label">
        <img v-lazy="picture" :src="picture" :data-src="picture" class="h-75" alt="" />
      </span>
    </div>
    <div>
      <p class="no-margin">
        <span class="text-info font-weight-bolder text-hover-primary mb-1 font-size-h5">
          {{ user.queue_no }}
        </span>
      </p>
      <p class="no-margin">
        <span class="text-dark-75 text-hover-primary mb-1 font-size-lg"> HN: {{ user.hn }} </span>
      </p>
      <span class="text-dark-75 text-hover-primary mb-1 font-size-lg">
        {{ user.fullname }}
      </span>
      <span class="text-muted font-weight-bold d-block">
        {{ user.service_name }}
      </span>
      <span class="font-weight-bold d-block">
        <small>{{ user.service_point_description }}</small>
      </span>
    </div>
  </div>
</template>

<script>
import picture from '@/assets/media/svg/avatars/001-boy.svg'

export default {
  name: 'ProfileDetail',
  props: {
    user: {
      type: Object,
      default: function () {
        return null
      },
    },
  },
  computed: {
    picture: function () {
      return picture
    },
  },
}
</script>

<style scoped>
.symbol-label img {
  border-radius: 2rem;
}
</style>
