<template>
  <div aria-label="pagination" class="kt-pagination kt-pagination--brand kt-pagination--circle">
    <ul :class="computedClasses">
      <li v-if="doubleArrows" :class="backArrowsClasses">
        <CLink
          class="page-link_"
          :disabled="activePage === 1"
          aria-label="Go to first page"
          :aria-disabled="activePage === 1"
          @click="setPage(1)"
        >
          <!-- <slot name="first-button">&laquo;</slot> -->
          <slot name="first-button">
            <i class="fa fa-angle-double-left kt-font-brand"></i>
          </slot>
        </CLink>
      </li>
      <li v-if="arrows" :class="backArrowsClasses2">
        <CLink
          class="page-link_"
          :disabled="activePage === 1"
          aria-label="Go to previous page"
          :aria-disabled="activePage === 1"
          @click="setPage(activePage - 1)"
        >
          <!-- <slot name="previous-button">&lsaquo;</slot> -->
          <slot name="previous-button">
            <i class="fa fa-angle-left kt-font-brand"></i>
          </slot>
        </CLink>
      </li>
      <li v-if="beforeDots" role="separator" class="page-item_ disabled">
        <!-- <span class="page-link_">…</span> -->
        <a href="javascript:void(0);">...</a>
      </li>

      <li
        v-for="(item, index) in items"
        :key="index"
        :class="[{ 'kt-pagination__link--active': activePage === item }, 'page-item_']"
      >
        <CLink
          class="page-link_ c-page-link-number"
          :aria-label="activePage === item ? `Current page ${item}` : `Go to page ${item}`"
          @click="setPage(item, $event)"
        >
          {{ item }}
        </CLink>
      </li>

      <li v-if="afterDots" role="separator" class="page-item_ disabled">
        <!-- <span class="page-link">…</span> -->
        <a href="javascript:void(0);">...</a>
      </li>
      <li v-if="arrows" :class="nextArrowsClasses">
        <CLink
          class="page-link_"
          :disabled="activePage === pages"
          aria-label="Go to next page"
          :aria-disabled="activePage === pages"
          @click="setPage(activePage + 1)"
        >
          <!-- <slot name="next-button">&rsaquo;</slot> -->
          <slot name="next-button">
            <i class="fa fa-angle-right kt-font-brand"></i>
          </slot>
        </CLink>
      </li>
      <li v-if="doubleArrows" :class="nextArrowsClasses2">
        <CLink
          class="page-link_"
          :disabled="activePage === pages"
          aria-label="Go to last page"
          :aria-disabled="activePage === pages"
          @click="setPage(pages)"
        >
          <!-- <slot name="last-button">&raquo;</slot> -->
          <slot name="last-button">
            <i class="fa fa-angle-double-right kt-font-brand"></i>
          </slot>
        </CLink>
      </li>
    </ul>
  </div>
</template>

<script>
import CLink from '@/components/Base/Link/Link'
export default {
  name: 'Pagination',
  components: {
    CLink,
  },
  props: {
    activePage: {
      type: Number,
      default: 1,
    },
    pages: {
      type: Number,
      default: 10,
    },
    size: {
      type: String,
      validator: (val) => ['', 'sm', 'lg'].includes(val),
      default: '',
    },
    align: {
      type: String,
      default: 'start',
      validator: (val) => ['start', 'center', 'end'].includes(val),
    },
    limit: {
      type: Number,
      default: 5,
    },
    dots: {
      type: Boolean,
      default: true,
    },
    arrows: {
      type: Boolean,
      default: true,
    },
    doubleArrows: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    backArrowsClasses() {
      return [/* 'page-item' */ 'kt-pagination__link--first', { disabled: this.activePage === 1 }]
    },
    backArrowsClasses2() {
      return [/* 'page-item' */ 'kt-pagination__link--next', { disabled: this.activePage === 1 }]
    },
    nextArrowsClasses() {
      return ['page-item_ kt-pagination__link--prev', { disabled: this.activePage === this.pages }]
    },
    nextArrowsClasses2() {
      return ['page-item_ kt-pagination__link--last', { disabled: this.activePage === this.pages }]
    },
    computedClasses() {
      const sizeClass = this.size ? `pagination-${this.size}` : ''
      return `kt-pagination__links ${sizeClass} justify-content-${this.align}`
    },
    showDots() {
      return this.dots && this.limit > 4 && this.limit < this.pages
    },
    maxPrevItems() {
      return Math.floor((this.limit - 1) / 2)
    },
    maxNextItems() {
      return Math.ceil((this.limit - 1) / 2)
    },
    beforeDots() {
      return this.showDots && this.activePage > this.maxPrevItems + 1
    },
    afterDots() {
      return this.showDots && this.activePage < this.pages - this.maxNextItems
    },
    computedLimit() {
      return this.limit - this.afterDots - this.beforeDots
    },
    range() {
      return this.activePage + this.maxNextItems
    },
    lastItem() {
      return this.range >= this.pages ? this.pages : this.range - this.afterDots
    },
    itemsAmount() {
      return this.pages < this.computedLimit ? this.pages : this.computedLimit
    },
    items() {
      if (this.activePage - this.maxPrevItems <= 1) {
        return Array.from({ length: this.itemsAmount }, (v, i) => i + 1)
      } else {
        return Array.from({ length: this.itemsAmount }, (v, i) => {
          return this.lastItem - i
        }).reverse()
      }
    },
  },
  watch: {
    pages: {
      immediate: true,
      handler(val) {
        if (val && val < this.activePage) {
          this.$emit('update:activePage', val, true)
        }
      },
    },
  },
  methods: {
    setPage(number, e = null) {
      if (number === this.activePage) {
        return
      }
      this.$emit('update:activePage', number, false)
      if (e) {
        this.changeFocus(e)
      }
    },
    changeFocus(e) {
      const items = this.$el.getElementsByClassName('c-page-link-number')
      const focused = Number(e.target.innerHTML)
      this.$nextTick(() => {
        for (let i = 0; i < items.length; i++) {
          if (Number(items[i].innerHTML) === focused) {
            items[i].focus()
          }
        }
      })
    },
  },
}
</script>

<style scoped>
.kt-pagination__link--first.disabled,
.kt-pagination__link--next.disabled,
.kt-pagination__link--prev.disabled,
.kt-pagination__link--last.disabled {
  opacity: 0.3;
}
</style>
