<template>
  <div class="card card-custom mb-5 card-stretch animate__animated animate__zoomIn animate__faster">
    <!--begin::Body-->
    <div class="card-body pt-4">
      <span class="font-weight-bolder font-size-h5 text-dark"> <i class="flaticon2-speaker"></i> คิวกำลังเรียก </span>
      <!--begin::User-->
      <div class="d-flex align-items-end">
        <div class="row w-100">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <!--begin::Pic-->
            <div class="d-flex align-items-center">
              <!--begin::Pic-->
              <div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">
                <div class="symbol symbol-light mr-3 symbol-lg-60">
                  <div class="symbol-label">
                    <img src="@/assets/media/svg/avatars/001-boy.svg" alt="image" class="w-80" style="width: 80%;" />
                  </div>
                </div>
              </div>
              <!--end::Pic-->
              <!--begin::Title-->
              <div class="d-flex flex-column">
                <a href="javascript:void(0);" class="text-dark mb-0 nowrap">
                  <span class="font-weight-bold text-hover-success font-size-h5">คิวที่ :</span>
                  <span class="font-weight-bold font-size-h5 text-warning">
                    &nbsp;{{ getValue('queue_no', '-') }}
                  </span>
                </a>
                <a href="javascript:void(0);" class="text-dark mb-0 nowrap">
                  <span class="font-weight-bold text-hover-success font-size-h5"> ชื่อ-นามสกุล :</span>
                  <span class="font-weight-bold font-size-h5 text-warning">
                    &nbsp;{{ getValue('fullname', '-') }}
                  </span>
                </a>
                <a href="javascript:void(0);" class="text-dark mb-0 nowrap">
                  <span class="font-weight-bold text-hover-success font-size-h5"> แพทย์ :</span>
                  <span class="font-weight-bold font-size-h5 text-warning">
                    &nbsp;{{ getValue('doctor_name', '-') }}
                  </span>
                </a>
                <span class="text-muted font-weight-bold"></span>
              </div>
              <!--end::Title-->
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center nowrap">
            <div class="action">
              <button
                v-show="queue"
                :disabled="!queue"
                title="เรียกคิว"
                class="btn btn-light-primary font-weight-bold mr-2 mt-2"
                @click="$emit('recall', queue)"
              >
                <i class="flaticon2-speaker"></i> เรียกอีกครั้ง
              </button>
              <button
                v-show="queue"
                :disabled="!queue"
                title="พักคิว"
                class="btn btn-light-warning font-weight-bold mr-2 mt-2"
                @click="$emit('hold', queue)"
              >
                <i class="fas fa-hand-paper"></i> พักคิว
              </button>
              <button
                v-show="queue"
                :disabled="!queue"
                title="เสร็จสิ้น"
                class="btn btn-light-success font-weight-bold mr-2 mt-2"
                @click="$emit('end', queue)"
              >
                <i class="fas fa-user-check"></i> เสร็จสิ้น
              </button>
              <button
                v-show="queue"
                :disabled="!queue"
                title="Screening"
                class="btn btn-secondary font-weight-bold mr-2 mt-2"
                @click="$emit('screen', queue)"
              >
                <i class="flaticon2-website"></i> Screening
              </button>
              <!-- <button
                v-show="!queue"
                type="button"
                class="btn btn-secondary ml-2 btn-call-next float-right"
                @click="$emit('call-next')"
              >
                <i class="flaticon2-speaker"></i> เรียกคิวถัดไป
              </button> -->
            </div>
          </div>
        </div>
        <!--end::Title-->
      </div>
      <!--end::User-->
    </div>
    <!--end::Body-->
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'SectionQueueDetail',
  filters: {
    fullname: function (queue) {
      if (!queue) return '-'
      return `${queue.prename}${queue.firstname} ${queue.lastname}`
    },
  },
  props: {
    queue: {
      type: Object,
      default: function () {
        return null
      },
    },
  },
  methods: {
    getValue(key, defaultValue = '') {
      return _.get(this.queue, key, defaultValue)
    },
  },
}
</script>

<style lang="scss" scoped></style>
