<template>
  <div
    id="footer-bar"
    :class="['footer-bar-1 hidden-lg hidden-xl hidden-md', { 'footer-menu-hidden': showSetting }]"
    style="transform: translate(0px, 0px);"
  >
    <a
      data-toggle="tab"
      href="#tab-waiting"
      :class="{ 'active-nav': isActive('waiting') }"
      @click="$emit('click-tab', 'waiting')"
    >
      <i class="flaticon2-hourglass-1"></i><span> รอเรียก</span>
      <span class="label label-light-info pulse pulse-info">
        <span class="position-relative">
          {{ getCount('waiting') }}
        </span>
        <span class="pulse-ring"></span>
      </span>
    </a>
    <a
      data-toggle="tab"
      href="#tab-calling"
      :class="{ 'active-nav': isActive('calling') }"
      @click="$emit('click-tab', 'calling')"
    >
      <i class="flaticon2-speaker"></i><span>กำลังเรียก</span>
      <span class="label label-light-success pulse pulse-success">
        <span class="position-relative">
          {{ getCount('call') }}
        </span>
        <span class="pulse-ring"></span>
      </span>
    </a>
    <a
      data-toggle="tab"
      href="#tab-hold"
      :class="{ 'active-nav': isActive('hold') }"
      @click="$emit('click-tab', 'hold')"
    >
      <i class="flaticon-list"></i><span>คิวพัก</span>
      <span class="label label-light-warning pulse pulse-warning">
        <span class="position-relative">
          {{ getCount('hold') }}
        </span>
        <span class="pulse-ring"></span>
      </span>
    </a>
    <a
      data-toggle="tab"
      href="#tab-queue-list"
      :class="{ 'active-nav': isActive('queue-list') }"
      @click="$emit('click-tab', 'queue-list')"
    >
      <i class="flaticon-list"></i><span>คิวทั้งหมด</span>
      <span class="label label-light pulse">
        <span class="position-relative">
          {{ getCount('queue-list') }}
        </span>
        <span class="pulse-ring"></span>
      </span>
    </a>
    <a
      data-toggle="tab"
      href="#tab-queue-doctor"
      :class="{ 'active-nav': isActive('queue-doctor') }"
      @click="$emit('click-tab', 'queue-doctor')"
    >
      <i class="flaticon-profile-1"></i><span>คิวห้องแพทย์</span>
      <span class="label label-light pulse">
        <span class="position-relative">
          {{ getCount('queue-doctor') }}
        </span>
        <span class="pulse-ring"></span>
      </span>
    </a>
    <a data-toggle="tab" href="#tab-setting" data-menu="menu-settings" @click="$emit('click-tab', 'setting')">
      <i class="flaticon2-gear"></i>
      <span>ตั้งค่า</span>
    </a>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapState } from 'vuex'

export default {
  name: 'SectionMobileMenu',
  props: {
    showSetting: {
      type: Boolean,
      default: false,
    },
    countItems: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  computed: {
    ...mapState({
      currentTab: (state) => _.get(state.historyTaking, 'currentTab', 'waiting'),
    }),
  },
  methods: {
    isActive(tab) {
      return this.currentTab === tab
    },
    getCount(tab) {
      return _.get(this.countItems, tab, 0)
    },
  },
}
</script>

<style lang="scss" scoped></style>
