<template>
  <ul class="nav nav-light-success nav-bold nav-pills">
    <li class="nav-item">
      <a
        :class="['nav-link type-info', { active: isActive('waiting') }]"
        data-toggle="tab"
        href="#tab-waiting"
        @click="$emit('click-tab', 'waiting')"
      >
        <span class="nav-icon">
          <i class="flaticon2-hourglass-1 hidden-xs hidden-sm"></i>
        </span>
        <span class="nav-text">รอเรียก</span>
        <span class="label label-light-info pulse pulse-info">
          <span class="position-relative">
            {{ getCount('waiting') }}
          </span>
          <span class="pulse-ring"></span>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a
        :class="['nav-link type-success', { active: isActive('calling') }]"
        data-toggle="tab"
        href="#tab-calling"
        @click="$emit('click-tab', 'calling')"
      >
        <span class="nav-icon">
          <i class="flaticon2-speaker hidden-xs hidden-sm"></i>
        </span>
        <span class="nav-text">กำลังเรียก</span>
        <span class="label label-light-success pulse pulse-success">
          <span class="position-relative">
            {{ getCount('call') }}
          </span>
          <span class="pulse-ring"></span>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a
        :class="['nav-link type-warning', { active: isActive('hold') }]"
        data-toggle="tab"
        href="#tab-hold"
        @click="$emit('click-tab', 'hold')"
      >
        <span class="nav-icon">
          <i class="flaticon-list hidden-xs hidden-sm"></i>
        </span>
        <span class="nav-text">คิวพัก</span>
        <span class="label label-light-warning pulse pulse-warning">
          <span class="position-relative">
            {{ getCount('hold') }}
          </span>
          <span class="pulse-ring"></span>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a
        :class="['nav-link type-success', { active: isActive('setting') }]"
        data-toggle="tab"
        href="#tab-setting"
        @click="$emit('click-tab', 'setting')"
      >
        <span class="nav-icon">
          <i class="flaticon2-gear hidden-xs hidden-sm"></i>
        </span>
        <span class="nav-text">ตั้งค่า</span>
      </a>
    </li>
  </ul>
</template>

<script>
import _ from 'lodash'
import { mapState } from 'vuex'

export default {
  name: 'SectionNavMenu',
  props: {
    countItems: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  computed: {
    ...mapState({
      currentTab: (state) => _.get(state.historyTaking, 'currentTab', 'waiting'),
    }),
  },
  methods: {
    isActive(tab) {
      return this.currentTab === tab
    },
    getCount(tab) {
      return _.get(this.countItems, tab, 0)
    },
  },
}
</script>

<style scoped>
.nav.nav-pills.nav-light-success .nav-link.active.type-info .nav-icon i,
.nav.nav-pills.nav-light-success .nav-link.active.type-info .nav-text,
.nav.nav-pills.nav-light-success .nav-link.active.type-info .nav-text i {
  color: #8950fc;
}
.nav.nav-pills.nav-light-success .nav-link.active.type-info {
  color: #8950fc;
  background-color: rgba(137, 80, 252, 0.1);
}
.nav.nav-pills.nav-light-success .nav-link.active.type-warning .nav-icon i,
.nav.nav-pills.nav-light-success .nav-link.active.type-warning .nav-text,
.nav.nav-pills.nav-light-success .nav-link.active.type-warning .nav-text i {
  color: #ffa800;
}
.nav.nav-pills.nav-light-success .nav-link.active.type-warning {
  color: #ffa800;
  background-color: rgba(255, 168, 0, 0.1);
}
.nav.nav-pills.nav-light-success .nav-link.active.type-success .nav-icon i,
.nav.nav-pills.nav-light-success .nav-link.active.type-success .nav-text,
.nav.nav-pills.nav-light-success .nav-link.active.type-success .nav-text i {
  color: #1bc5bd;
}
.nav.nav-pills.nav-light-success .nav-link.active.type-success {
  color: #1bc5bd;
  background-color: rgba(27, 197, 189, 0.1);
}
.nav.nav-pills.nav-light-success .nav-link:hover:not(.active) .nav-text,
.nav.nav-pills.nav-light-success .show > .nav-link .nav-text {
  color: #1bc5bd;
}
/* hover */
.nav.nav-pills.nav-light-success .nav-link.type-info:hover:not(.active) .nav-icon i,
.nav.nav-pills.nav-light-success .show > .nav-link.type-info .nav-icon i {
  color: #8950fc;
}
.nav.nav-pills.nav-light-success .nav-link.type-info:hover:not(.active) .nav-text,
.nav.nav-pills.nav-light-success .show > .nav-link.type-info .nav-text {
  color: #8950fc;
}
.nav.nav-pills.nav-light-success .nav-link.type-warning:hover:not(.active) .nav-icon i,
.nav.nav-pills.nav-light-success .show > .nav-link.type-warning .nav-icon i {
  color: #ffa800;
}
.nav.nav-pills.nav-light-success .nav-link.type-warning:hover:not(.active) .nav-text,
.nav.nav-pills.nav-light-success .show > .nav-link.type-warning .nav-text {
  color: #ffa800;
}
</style>
