<template>
  <div id="kt_wizard_v3" class="wizard wizard-3" data-wizard-state="first" data-wizard-clickable="true">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'KioskWizard',
}
</script>

<style lang="scss" scoped>
@import url(../../../assets/css/wizard-3.css);
</style>
