<template>
  <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
    <div class="col-xl-12 col-xxl-12">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'KioskWizardBody',
}
</script>

<style lang="scss" scoped></style>
