<template>
  <div class="wizard-nav">
    <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'KioskWizardNav',
}
</script>

<style lang="scss" scoped>
@import url(../../../assets/css/wizard-3.css);
</style>
