<template>
  <div class="wizard-step" data-wizard-type="step" :data-wizard-state="state">
    <div class="wizard-label">
      <slot name="title">
        <h3 class="wizard-title">
          <span>{{ stepNumber }}.</span>
          {{ title }}
        </h3>
      </slot>
      <div class="wizard-bar"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'KioskWizardStepNav',
  props: {
    title: {
      type: String,
      default: '',
    },
    stepNumber: {
      type: String,
      default: '',
    },
    state: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
@import url(../../../assets/css/wizard-3.css);
</style>
