<script>
import CreateForm from '@/pages/setting/prefix/create'

export default {
  name: 'UpdatePrefix',
  extends: CreateForm,
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/prefix' },
      { title: 'ตัวอักษรหน้าเลขคิว', route: '/setting/prefix' },
      { title: 'แก้ไขรายการ' },
    ],
  },
  data() {
    return {
      title: 'แก้ไขรายการ',
    }
  },
  mounted() {
    this.getPrefixById()
  },
  methods: {
    async getPrefixById() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiSetting.getPrefixById(_this.$route.params.id)
        const fileds = Object.keys(_this.form)
        const updateForm = {}
        Object.keys(data).map((k) => {
          if (fileds.includes(k)) {
            if (k === 'service_ids') {
              updateForm[k] = data[k].split(',').map((v) => parseInt(v))
            } else {
              updateForm[k] = data[k]
            }
          }
        })
        _this.form = _this.$updateObject(_this.form, updateForm)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
