<template>
  <div class="row section-title">
    <div class="col-md-12 animated animate__zoomIn faster">
      <div class="d-flex align-items-center mr-2">
        <div class="symbol symbol-45 symbol-light-danger mr-4 flex-shrink-0">
          <div class="symbol-label">
            <i :class="['fa-2x text-danger', icon]"></i>
          </div>
        </div>
        <slot name="title">
          <div class="section-title-h1 font-size-h1 font-weight-bolder">
            {{ title }}
          </div>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SectionTitle',
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    icon: {
      type: String,
      default: 'flaticon-profile-1',
    },
  },
}
</script>

<style lang="scss" scoped>
.row .d-flex {
  margin-bottom: 20px;
  margin-top: 20px;
}
</style>
