<template>
  <div :class="['section-qrcode animated animate__zoomIn faster', { hidden: !show }]">
    <div class="row">
      <div class="col-sm-6 offset-3 text-center">
        <form class="form" @submit.prevent="$emit('submit', qrcodeId)">
          <div class="form-group">
            <label></label>
            <div class="input-icon">
              <input
                id="input-qrcode"
                ref="input"
                v-model="qrcodeId"
                v-focus
                type="text"
                class="form-control form-control-lg"
                placeholder="QRCode..."
                autofocus
              />
              <span><i class="fas fa-qrcode icon-md"></i></span>
            </div>
            <span class="form-text text-muted"></span>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-3 text-center">
        <div class="image-qrcode-scanning">
          <img v-lazy="imageSrc" :src="imageSrc" style="margin: auto; max-width: 500px;" alt="" />
        </div>
        <span>
          <h1>สแกนคิวอาร์โค้ดของคุณ...</h1>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import imgQrCode from '@/assets/images/kiosk/scanning-qr-code.png'

export default {
  name: 'SectionQRCode',
  directives: {
    focus: {
      // directive definition
      inserted: function (el) {
        el.focus()
      },
    },
  },
  props: {
    show: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data() {
    return {
      qrcodeId: '',
      imageSrc: imgQrCode,
    }
  },
  watch: {
    show: function (value) {
      if (value) {
        this.qrcodeId = ''
        setTimeout(() => {
          this.$refs.input.focus()
        }, 300)
      }
    },
  },
  mounted() {
    if (this.$refs.input) {
      this.$refs.input.focus()
    }
    this.qrcodeId = ''
  },
  beforeDestroy() {
    this.qrcodeId = ''
  },
}
</script>

<style lang="scss" scoped></style>
