<template>
  <div class="service-group-section">
    <div v-lazy-container="{ selector: 'img' }" class="row">
      <!--begin::Stats Widget 4-->
      <template v-for="item in items">
        <div :key="item.service_group_id" class="col-md-6 animated animate__zoomIn faster">
          <a href="javascript:void(0);" class="button-effect" @click="$emit('select', item)">
            <input
              class="radio-button"
              type="radio"
              name="service_group_id"
              :value="item.service_group_id"
              :checked="item.service_group_id === service_group_id"
            />
            <div class="card card-custom card-stretch gutter-b bg-light-success2 card-service-group">
              <!--begin::Body-->
              <div class="card-body pb-0 mt-3">
                <div class="d-flex" style="margin-top: 0;">
                  <div class="d-flex flex-column flex-grow-1 align-self-end gutter-b" style="margin-top: 0;">
                    <span class="card-title font-weight-bolder text-dark-75 font-size-h5 mb-2">
                      <h2>
                        {{ item.service_group_name }}
                      </h2>
                    </span>
                    <span class="font-weight-bold text-muted font-size-lg"></span>
                  </div>

                  <img :src="item.icon_url" :data-src="item.icon_url" alt="" style="width: 7rem;" />
                </div>
              </div>
              <!--end::Body-->
            </div>
          </a>
        </div>
      </template>
      <!--end::Stats Widget 4-->
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SectionServiceGroup',
  props: {
    items: {
      type: Array,
      default: function () {
        return []
      },
    },
  },
  computed: mapState({
    service_group_id: (state) => state.kiosk.service_group_id,
  }),
}
</script>

<style scoped>
.card-custom {
  border: 1px solid #3b51b6;
}
.service-group-section {
  border-radius: 20px;
  background-image: linear-gradient(225deg, #f0f7fa, #f0f1fa);
  padding: 20px;
}
</style>

<style lang="less" scoped>
@import '../../../assets/css/button-effect.less';
</style>

<style lang="scss" scoped>
@import '../../../assets/css/radio-tile-group.scss';
</style>
