<template>
  <div :class="['section-personal-rfid animated animate__zoomIn faster', { hidden: !show }]">
    <div class="row">
      <div class="col-sm-6 offset-3 text-center">
        <form class="form" @submit.prevent="$emit('submit', rfId)">
          <div class="form-group">
            <label></label>
            <div class="input-icon">
              <input
                id="input-rfid"
                ref="input"
                v-model="rfId"
                v-focus
                type="text"
                class="form-control form-control-lg"
                placeholder="RFID..."
                autofocus
              />
              <span><i class="fas fa-mobile-alt icon-md"></i></span>
            </div>
            <span class="form-text text-muted"></span>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-3 text-center">
        <div class="image-qrcode-scanning">
          <img src="@/assets/images/kiosk/hand-with-nfc.png" style="margin: auto; max-width: 400px;" alt="" />
        </div>
        <span>
          <h1>แตะบัตรพนักงานของคุณ...</h1>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SectionPersonalRFID',
  directives: {
    focus: {
      // directive definition
      inserted: function (el) {
        el.focus()
      },
    },
  },
  props: {
    show: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data() {
    return {
      rfId: '',
    }
  },
  watch: {
    show: function (value) {
      if (value) {
        this.rfId = ''
        setTimeout(() => {
          this.$refs.input.focus()
        }, 300)
      }
    },
  },
  mounted() {
    if (this.$refs.input) {
      this.$refs.input.focus()
    }
    this.rfId = ''
  },
  beforeDestroy() {
    this.rfId = ''
  },
}
</script>

<style lang="scss" scoped></style>
