<template>
  <div :class="['section-cid animated animate__zoomIn faster', { hidden: !show }]">
    <div class="row w-100">
      <div class="col-sm-6 offset-3 text-center">
        <i class="fas fa-angle-double-up fa-3x mr-10"></i>
        <i class="fas fa-angle-double-up fa-3x"></i>
        <div class="image-qrcode-scanning">
          <img v-lazy="imageSrc" :src="imageSrc" style="margin: auto; max-width: 250px;" alt="image" />
        </div>
        <span>
          <h1>
            {{ message }}
          </h1>
        </span>
        <div v-if="loading" class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import imgSmartCard from '@/assets/images/kiosk/thai-id-card2.png'

export default {
  name: 'SectionPersonalCard',
  props: {
    show: {
      type: Boolean,
      default: false,
      required: true,
    },
    message: {
      type: String,
      default: 'เสียบบัตรประชาชนของคุณ...',
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    imageSrc() {
      return imgSmartCard
    },
  },
}
</script>

<style lang="scss" scoped></style>
