<template>
  <div id="kt_header" class="header" :class="headerClasses">
    <!--begin::Header Wrapper-->
    <div class="header-wrapper rounded-top-xl d-flex flex-grow-1 align-items-center">
      <!--begin::Container-->
      <div
        class="d-flex align-items-center justify-content-end justify-content-lg-between flex-wrap"
        :class="{ 'container-fluid': widthFluid }"
      >
        <!--begin::Menu Wrapper-->
        <div
          id="kt_header_menu_wrapper"
          ref="kt_header_menu_wrapper"
          class="header-menu-wrapper header-menu-wrapper-left py-lg-2"
        >
          <!--begin::Menu-->
          <div
            id="kt_header_menu"
            ref="kt_header_menu"
            class="header-menu header-menu-mobile"
            :class="headerMenuClasses"
          >
            <!--begin::Nav-->
            <Menu />
            <!--end::Nav-->
          </div>
          <!--end::Menu-->
        </div>
        <!--end::Menu Wrapper-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center py-3">
          <!--begin::Dropdown-->
          <!-- <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
            <a
              href="#"
              class="btn btn-dark font-weight-bold px-6"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Create</a
            >
            <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-md dropdown-menu-right"> -->
          <!--begin::Navigation-->
          <!-- <Navigation /> -->
          <!--end::Navigation-->
          <!-- </div>
          </div> -->
          <!--end::Dropdown-->
          <!-- begin:: Topbar -->
          <Topbar :is-authenticated="isAuthenticated" :user="user" />
          <!-- end:: Topbar -->
        </div>
        <!--end::Toolbar-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Header Wrapper-->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LayoutHeader from '@/assets/js/layout/base/header.js'
import LayoutHeaderMenu from '@/assets/js/layout/base/header-menu.js'
import Menu from '@/components/Layout/Header/Menu'
// import Navigation from '@/components/Layout/Header/Navigation'
import Topbar from '@/components/Layout/Header/Topbar'

export default {
  name: 'Header',
  components: {
    Menu,
    // Navigation,
    Topbar,
  },
  computed: {
    ...mapGetters({
      layoutConfig: 'config/layoutConfig',
      getClasses: 'htmlclass/getClasses',
      isAuthenticated: 'auth/isAuthenticated',
      user: 'auth/currentUser',
    }),

    /**
     * Check if the header menu is enabled
     * @returns {boolean}
     */
    headerMenuEnabled() {
      return !!this.layoutConfig('header.menu.self.display')
    },

    /**
     * Get extra classes for header based on the options
     * @returns {null|*}
     */
    headerClasses() {
      const classes = this.getClasses('header')
      if (typeof classes !== 'undefined') {
        return classes.join(' ')
      }
      return null
    },

    /**
     * Get extra classes for header menu based on the options
     * @returns {null|*}
     */
    headerMenuClasses() {
      const classes = this.getClasses('header_menu')
      if (typeof classes !== 'undefined') {
        return classes.join(' ')
      }
      return null
    },

    /**
     * Check if header container is fluid
     */
    widthFluid() {
      return this.layoutConfig('header.self.width') === 'fluid'
    },
  },
  mounted() {
    this.$nextTick(function () {
      // Init Desktop & Mobile Headers
      LayoutHeader.init('kt_header', 'kt_header_mobile')

      // Init Header Menu
      LayoutHeaderMenu.init(this.$refs.kt_header_menu, this.$refs.kt_header_menu_wrapper)
    })
  },
}
</script>

<style lang="scss" scoped></style>
