<template>
  <li class="menu-item" aria-haspopup="true" :data-menu-toggle="toggle">
    <slot name="router">
      <nuxt-link :to="localePath(link)" class="menu-link">
        <span class="menu-text">
          <i :class="icon"><span></span></i>&nbsp; {{ title }}
        </span>
      </nuxt-link>
    </slot>
    <slot name="submenu"></slot>
  </li>
</template>

<script>
export default {
  name: 'MenuItem',
  props: {
    link: {
      type: String,
      default: '#',
    },
    icon: {
      type: String,
      default: 'menu-bullet menu-bullet-dot',
    },
    title: {
      type: String,
      default: 'Menu',
    },
    toggle: {
      type: String,
      default: 'hover',
    },
  },
}
</script>

<style scoped>
li.menu-item-active .menu-text i {
  color: white;
}
.menu-text i {
  margin-right: 5px;
}
</style>
