<template>
  <ul class="menu-nav">
    <template v-for="(menu, index) in filteredMenus">
      <MenuItem
        :key="index"
        :icon="menu.icon"
        :title="menu.title"
        :toggle="menu.toggle"
        :link="menu.page"
        :class="{
          'menu-item-submenu menu-item-rel': menu.submenu,
          'menu-item-active': $route.path === menu.page,
        }"
      >
        <a v-if="menu.submenu" slot="router" href="javascript:;" class="menu-link menu-toggle">
          <span class="menu-text"><i :class="menu.icon"></i> {{ menu.title }} </span>
          <span class="menu-desc"></span>
          <i class="menu-arrow"></i>
        </a>
        <div v-if="menu.submenu" slot="submenu" class="menu-submenu menu-submenu-classic menu-submenu-left">
          <ul class="menu-subnav">
            <li
              v-for="(submenu, k) in menu.submenu"
              :key="k"
              :class="{ 'menu-item': true, 'menu-item-active': $route.path === submenu.page }"
              data-menu-toggle="hover"
              aria-haspopup="true"
            >
              <nuxt-link
                :to="localePath(submenu.page)"
                :class="{
                  'menu-link menu-toggle': true,
                }"
              >
                <span class="menu-text">
                  <i :class="submenu.icon"><span></span></i> &nbsp; {{ submenu.title }}
                </span>
              </nuxt-link>
            </li>
          </ul>
        </div>
      </MenuItem>
    </template>
  </ul>
</template>

<script>
import { mapGetters } from 'vuex'
import MenuItem from '@/components/Layout/Header/MenuItem'

export default {
  name: 'Menu',
  components: {
    MenuItem,
  },
  data() {
    return {
      menus: [
        {
          title: 'แดชบอร์ด',
          root: true,
          page: '/',
          translate: 'MENU.DASHBOARD',
          icon: 'flaticon-dashboard',
          toggle: 'hover',
          role: [],
        },
        {
          title: 'ออกบัตรคิว',
          root: true,
          page: '/kiosk',
          translate: '',
          icon: 'flaticon-list',
          toggle: 'hover',
          role: [],
          requiresAuth: false,
        },
        {
          title: 'เรียกคิว',
          bullet: 'dot',
          root: true,
          page: '#',
          translate: '',
          icon: 'flaticon2-gear',
          toggle: 'hover',
          role: ['Admin', 'User'],
          // requiresAuth: true,
          submenu: [
            {
              title: 'ซักประวัติ',
              page: '/call/history-taking',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin', 'User'],
              // requiresAuth: true,
            },
            {
              title: 'ห้องตรวจ',
              page: '/call/examination',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin', 'User'],
              // requiresAuth: true,
            },
            {
              title: 'ห้องจ่ายยา',
              page: '/call/phamacy',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin', 'User'],
              // requiresAuth: true,
            },
            {
              title: 'ห้องการเงิน',
              page: '/call/paid',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin', 'User'],
              // requiresAuth: true,
            },
          ],
        },
        {
          title: 'นัดหมาย,จองคิว',
          root: true,
          page: '/appointment',
          translate: '',
          icon: 'flaticon-calendar-2',
          toggle: 'hover',
          role: ['User', 'Admin'],
          // requiresAuth: true,
        },
        {
          title: 'ตั้งค่า',
          bullet: 'dot',
          root: true,
          page: '#',
          translate: '',
          icon: 'flaticon2-gear',
          toggle: 'hover',
          role: ['Admin'],
          // requiresAuth: true,
          submenu: [
            {
              title: 'สิทธิ์การใช้งาน',
              page: '/setting/rbac/assignment',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },

            {
              title: 'กลุ่มงานบริการ',
              page: '/setting/service-group',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'งานบริการ',
              page: '/setting/service',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'ตัวอักษร',
              page: '/setting/prefix',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'สถานะคิว',
              page: '/setting/queue-status',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'ประเภทคิว',
              page: '/setting/queue-type',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'บัตรคิว',
              page: '/setting/ticket',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'รายชื่อแพทย์',
              page: '/setting/doctor',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'ตารางแพทย์',
              page: '/setting/schedule/doctor',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'จุดบริการ',
              page: '/setting/service-point',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
            {
              title: 'โปรแกรมเสียงเรียกคิว',
              page: '/setting/player-station',
              translate: '',
              icon: 'menu-bullet menu-bullet-dot',
              toggle: 'hover',
              role: ['Admin'],
              // requiresAuth: true,
            },
          ],
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated',
      roles: 'auth/userRoles',
    }),
    filteredMenus() {
      const isAuthenticated = this.isAuthenticated
      const roles = this.roles
      const menus = this.menus.filter((menu) => {
        let isInRole = !menu.role.length
        if (menu.role && menu.role.length) {
          isInRole = menu.role.filter((r) => roles.includes(r)).length > 0
        }
        if (menu.requiresAuth) {
          return menu.requiresAuth === isAuthenticated && isInRole
        }
        return isInRole
      })
      return menus
    },
  },
  watch: {
    $route(to, from) {
      $('#kt_header_menu .menu-item').removeClass('menu-item-hover')
    },
  },
  methods: {
    isActiveMenu(path) {
      return this.$route.path === this.localePath(path)
    },
  },
}
</script>

<style lang="scss" scoped>
li.menu-item-active .menu-text i {
  color: white;
}
.menu-text i {
  margin-right: 5px;
}
</style>
