<template>
  <div class="topbar">
    <!--begin::Languages-->
    <DropdownLanguages />
    <!--end::Languages-->

    <!-- begin:: User -->
    <DropdownUser v-if="isAuthenticated" :is-authenticated="isAuthenticated" :user="user" @logout="onLogout" />
    <!-- end:: User -->

    <!-- begin:: Actions -->
    <div class="topbar-item">
      <nuxt-link
        v-if="!isAuthenticated"
        :to="localePath('/auth/login')"
        type="button"
        class="btn btn-secondary font-weight-bold px-6"
        title="เข้าสู่ระบบ"
      >
        <flat-icon icon="logout" /> เข้าสู่ระบบ
      </nuxt-link>
      <button v-else class="btn btn-secondary font-weight-bold px-6" title="ออกจากระบบ" @click.prevent="onLogout">
        <flat-icon icon="logout" /> ออกจากระบบ
      </button>
    </div>
    <!-- end:: Actions -->
  </div>
</template>

<script>
import DropdownUser from '@/components/Layout/Extras/Dropdown/DropdownUser'
import DropdownLanguages from '@/components/Layout/Extras/Dropdown/DropdownLanguages'
import { AUTH_MODULE_NAME, USER_LOGOUT } from '@/core/types/auth'

export default {
  name: 'Topbar',
  components: {
    DropdownUser,
    DropdownLanguages,
  },
  props: {
    isAuthenticated: {
      type: Boolean,
      default: false,
    },
    user: {
      type: Object,
      default: function () {
        return null
      },
    },
  },
  methods: {
    onLogout() {
      this.$store.dispatch(`${AUTH_MODULE_NAME}/${USER_LOGOUT}`)
      this.$router.push(this.localePath('/auth/login'))
    },
  },
}
</script>

<style lang="scss" scoped></style>
