<template>
  <div class="row">
    <div class="col-sm-12 animated animate__zoomIn faster">
      <div class="iq-card iq-card-block iq-card-stretch iq-card-height iq-user-profile-block">
        <div class="iq-card-body">
          <div class="user-details-block">
            <div class="user-profile text-center">
              <img :src="userPicture" alt="profile-img" class="avatar-130 img-fluid" />
            </div>
            <div class="text-center mt-3">
              <h4 class="text-dark font-weight-bold text-hover-primary font-size-h1 mb-0">
                <b> {{ patientValue('firstname', 'ชื่อ') }} {{ patientValue('lastname', 'นามสกุล') }} </b>
              </h4>
              <p></p>
            </div>
            <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 mt-4 mb-0">
              <li class="text-center">
                <h6 class="text-dark-75 font-weight-bolder mr-2 font-size-h4">HN</h6>
                <h3>
                  {{ patientValue('hn', '-') }}
                  <span></span>
                </h3>
              </li>
              <li class="text-center">
                <h6 class="text-dark-75 font-weight-bolder mr-2 font-size-h4">เลขบัตรประจำตัวประชาชน</h6>
                <h3>
                  {{ patientValue('pid', '-') }}
                  <span></span>
                </h3>
              </li>
              <li class="text-center">
                <h6 class="text-dark-75 font-weight-bolder mr-2 font-size-h4">อายุ</h6>
                <h3>{{ age }} ปี<span></span></h3>
              </li>
              <li class="text-center">
                <h6 class="font-weight-bold font-size-h4 text-danger">ยอดค้างชำระ</h6>
                <h3>
                  {{ patientValue('patientDebt', false) ? 'มียอดค้างชำระ' : 'ไม่มี' }}
                  <span></span>
                </h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import _ from 'lodash'
import * as utils from '@/utils'
import pictureBoy from '@/assets/media/svg/avatars/001-boy.svg'
import pictureGirl from '@/assets/media/svg/avatars/014-girl-7.svg'

export default {
  name: 'KioskPatientInfo',
  props: {
    patient: {
      type: Object,
      default: function () {
        return null
      },
    },
    animated: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapState({
      personalInfo: (state) => _.get(state.kiosk, 'personalInfo', null),
    }),
    age() {
      const result = utils.calculateAge(this.patient)
      return result.years
    },
    userPicture() {
      let picture = _.get(this.patient, 'picture')
      const fixGender = _.get(this.patient, 'fixGender', '1')
      if (picture) {
        picture = _.get(this.personalInfo, 'photo.content')
      } else if (fixGender === '1') {
        picture = pictureBoy
      } else if (fixGender === '2') {
        picture = pictureGirl
      } else {
        picture = pictureBoy
      }
      return picture
    },
  },
  methods: {
    patientValue(attribute, defaultValue = '') {
      const patient = this.patient
      return _.get(patient, attribute, defaultValue)
    },
  },
}
</script>

<style lang="scss" scoped>
@import url(../../assets/css/iq-card.min.css);
.iq-card-body {
  box-shadow: 0 0 4px 0 #f2a063 !important;
  -webkit-box-shadow: 0 0 4px 0 #f2a063 !important;
}
.user-profile .avatar-130 {
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
}
</style>
