<template>
  <ul id="keyboard">
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('number', 1)">1</button>
    </li>
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('number', 2)">2</button>
    </li>
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('number', 3)">3</button>
    </li>
    <li class="letter clearl">
      <button type="button" class="ripple" @click="$emit('number', 4)">4</button>
    </li>
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('number', 5)">5</button>
    </li>
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('number', 6)">6</button>
    </li>
    <li class="letter clearl">
      <button type="button" class="ripple" @click="$emit('number', 7)">7</button>
    </li>
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('number', 8)">8</button>
    </li>
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('number', 9)">9</button>
    </li>
    <li class="letter clearl">
      <button type="button" class="ripple" @click="$emit('delete')">
        <i class="flaticon2-left-arrow-1 text-white"></i>
      </button>
    </li>
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('number', 0)">0</button>
    </li>
    <li class="letter">
      <button type="button" class="ripple" @click="$emit('clear')">
        <i class="flaticon2-cross text-white"></i>
      </button>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'KioskNumpad'
}
</script>

<style scoped>
#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 315px;
  width: 100%;
  margin-left: 1rem;
}
.capslock,
.tab,
.left-shift,
.clearl,
.switch {
  clear: left;
}
#keyboard .tab,
#keyboard .delete {
  width: 70px;
}
#keyboard .capslock {
  width: 80px;
}
#keyboard .return {
  width: 90px;
}
#keyboard .left-shift {
  width: 70px;
}

#keyboard .switch {
  width: 90px;
}
#keyboard .rightright-shift {
  width: 109px;
}
.lastitem {
  margin-right: 0;
}
.uppercase {
  text-transform: uppercase;
}
#keyboard .space {
  float: left;
  width: 556px;
}
#keyboard .switch,
#keyboard .space,
#keyboard .return {
  font-size: 16px;
}
.on {
  display: none;
}
/* Ripple effect */
.ripple {
  background-position: center;
  /* transition: background 0.8s; */
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  animation: effect_dylan 0.5s ease-out;
  background-color: #6eb9f7;
  background-size: 100%;
  /* transition: background 0s; */
}

/* Button style */
button.ripple {
  border: none;
  border-radius: 50%;
  padding: 12px 18px;
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 3rem 5px 5px;
  transition: all 0.3s ease-in;
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
@media (max-width: 767px) {
  button.ripple {
    width: 70px;
    height: 70px;
    margin: 0 2rem 5px 10px;
  }
}
</style>
