<template>
  <div class="row">
    <div class="col-md-12">
      <div class="sawatdee text-center">
        <h1>EGAT Smart Care ยินดีให้บริการ</h1>
        <img src="@/assets/images/kiosk/sawatdee2.gif" alt="" style="margin-left: 10rem;" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'KioskSawatdee',
}
</script>

<style lang="scss" scoped></style>
