<template>
  <div class="row">
    <template v-for="option in sections">
      <div :key="option.id" class="col-xl-6 col-sm-6 animated animate__zoomIn faster">
        <!--begin::Stats Widget 4-->
        <a href="javascript:void(0);" class="button-effect" @click="$emit('select', option)">
          <div class="card card-custom card-stretch gutter-b box-shadow-info card-section-1">
            <!--begin::Body-->
            <div class="card-body pb-0">
              <div class="d-flex">
                <div class="d-flex flex-column flex-grow-1 align-self-end gutter-b">
                  <span class="card-title font-weight-bolder text-dark-75 font-size-h5 mb-2 card-title-option">
                    <h1>
                      {{ option.label }}
                    </h1>
                  </span>
                  <span class="font-weight-bold text-muted font-size-lg"></span>
                </div>
                <img :src="`${option.icon_url}`" alt="" :style="option._styles" />
              </div>
            </div>
            <!--end::Body-->
          </div>
        </a>
        <!--end::Stats Widget 4-->
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'KioskSections',
  props: {
    sections: {
      type: Array,
      default: function () {
        return []
      },
      required: true,
    },
  },
}
</script>

<style scoped>
@import url(../../assets/css/kiosk.min.css);
</style>
