<script>
import FormCreate from '@/pages/setting/player-station/create'

export default {
  name: 'UpdatePlayerStation',
  extends: FormCreate,
  layout: 'main',
  middleware: 'authenticated',
  meta: {
    // requiresAuth: true,
    breadcrumbs: [
      { title: 'ตั้งค่า', route: '/setting/player-station' },
      { title: 'โปรแกรมเสียงเรียกคิว', route: '/setting/player-station' },
      { title: 'แก้ไขรายการ' },
    ],
  },
  data() {
    return {
      title: 'แก้ไขรายการ',
    }
  },
  mounted() {
    this.getPlayerStationById()
  },
  methods: {
    async getPlayerStationById() {
      const _this = this
      try {
        _this.setLoading(true)
        const data = await _this.$apiSetting.getPlayerStationById(_this.$route.params.id)
        const fileds = Object.keys(_this.form)
        const updateForm = {}
        Object.keys(data).map((k) => {
          if (fileds.includes(k)) {
            updateForm[k] = data[k]
          }
        })
        _this.form = _this.$updateObject(_this.form, updateForm)
        _this.setLoading(false)
      } catch (error) {
        _this.setLoading(false)
        _this.$errorHandler(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
