<template>
  <div class="section-checkup-doctor">
    <div class="content">
      <div class="todo-list list-group list-custom-large">
        <template v-for="(doctor, key) in doctors">
          <a :key="key" href="javascript:void(0);" @click="$emit('select', doctor)">
            <i class="fas fa-user-md rounded-l fa-3x bg-fade-blue2-dark color-blue2-dark font-12"></i>
            <span class="font-size-h5">
              {{ doctor.doctor_name }}
            </span>
            <strong v-show="doctor.isFull" class="text-danger font-size-lg">
              คิวเต็ม!
            </strong>
            <i
              :class="[
                'todo-icon color-blue2-dark font-16',
                {
                  'fa fa-check-square': doctor.doctor_id === doctor_id,
                  'far fa-square': doctor.doctor_id !== doctor_id,
                },
              ]"
            ></i>
          </a>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SectionCheckupDoctor',
  props: {
    doctors: {
      type: Array,
      default: function () {
        return []
      },
    },
  },
  computed: {
    ...mapState({
      doctor_id: (state) => state.kiosk.doctor_id,
    }),
  },
}
</script>

<style scoped>
.rounded-l {
  border-radius: 50% !important;
}
/*  */
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.list-custom-large a {
  line-height: 70px;
  color: #1f1f1f;
  font-weight: 500;
  font-size: 13px;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
}
.list-custom-large a span:not(.badge) {
  font-size: 14px;
  position: absolute;
  margin-top: 10px;
}
.list-custom-large a strong {
  font-size: 7px;
  position: absolute;
  font-size: 16px;
  margin-top: 35px;
  /* color: #adb5bd; */
  font-weight: 500;
}
.list-custom-large a i:first-child {
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-top: 20px;
  text-align: center;
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
}
.list-custom-large a i:last-child {
  float: right;
  font-size: 2.5rem;
  padding-top: 20px;
}
.list-custom-large .badge {
  position: absolute;
  right: 10px;
  margin-top: 30px;
  font-size: 9px;
  padding: 5px 8px 5px 8px;
  font-weight: 700;
}
.list-custom-large i {
  line-height: 74px;
}
.list-custom-large .custom-control {
  z-index: 10;
  position: absolute;
  right: 40px;
  margin-top: 22px;
}
.list-custom-large .custom-control input {
  transform: translateY(-12px) !important;
}

.bg-fade-magenta1-dark {
  background-color: rgba(150, 122, 220, 0.3) !important;
  color: #ffffff;
}
.color-magenta1-dark {
  color: #967adc !important;
}
.content {
  margin: 20px 15px;
}
.bg-fade-green1-dark {
  background-color: rgba(140, 193, 82, 0.3) !important;
  color: #ffffff;
}
.color-green1-dark {
  color: #8cc152 !important;
}
.bg-fade-yellow1-dark {
  background-color: rgba(246, 187, 66, 0.3) !important;
  color: #ffffff;
}
.color-yellow1-dark {
  color: #f6bb42 !important;
}
.bg-fade-blue2-dark {
  background-color: rgba(74, 137, 220, 0.3) !important;
  color: #ffffff;
}
.color-blue2-dark {
  color: #4a89dc !important;
}
</style>
