<template>
  <div class="section-checkup-service">
    <div class="row">
      <div class="col-md-12 animated animate__fadeInRight faster">
        <div v-lazy-container="{ selector: 'img' }" class="radio-title-group row">
          <div
            v-for="(item, index) in services"
            :key="index"
            class="input-container col-lg-4 col-md-4 col-sm-6 col-xs-12 animated zoomIn faster"
          >
            <input
              :id="`service_id_${item.service_id}`"
              :ref="`input_${index}`"
              :class="['radio-button']"
              type="radio"
              :name="`service_id`"
              :value="item.service_id"
              :checked="item.service_id === Number(service_id)"
              @input="updateService"
            />
            <div class="radio-title button-effect">
              <div class="ribbon ribbon-top-left">
                <span><i class="flaticon2-check-mark text-white"></i></span>
              </div>
              <div class="icon input-icon">
                <img
                  v-if="item.icon_url"
                  :src="`${item.icon_url}`"
                  :data-src="`${item.icon_url}`"
                  :data-error="imageError"
                  :data-loading="imageLoading"
                  alt="image"
                />
                <img v-else :src="imageError" :data-src="imageError" alt="image" />
              </div>
            </div>
            <div class="radio-label text-center">
              <label :for="`service_id_${item.service_id}`" class="radio-title-label font-size-h5">
                <span>
                  {{ item.service_name }}
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import imgError from '@/assets/images/404.png'
import loadingGif from '@/assets/images/loading-gif.gif'

export default {
  name: 'SectionCheckupService',
  props: {
    services: {
      type: Array,
      default: function () {
        return []
      },
      required: true,
    },
  },
  computed: {
    imageError() {
      return imgError
    },
    imageLoading() {
      return loadingGif
    },
    ...mapState({
      service_id: (state) => state.kiosk.service_id,
    }),
  },
  methods: {
    updateService(e) {
      this.$emit('select', e.target.value)
    },
    ...mapActions({
      setServiceId: 'kiosk/setServiceId',
    }),
  },
}
</script>

<style scoped>
.section-checkup-service {
  border-radius: 20px;
  background-image: linear-gradient(225deg, #f0f7fa, #f0f1fa);
  padding: 20px;
}
.radio-list .radio {
  font-size: 2.3rem;
}
.radio > span:after {
  width: 10px;
  height: 20px;
}
.radio > input:checked ~ span,
.radio > input ~ span {
  width: 50px;
  height: 50px;
}
.radio > span {
  border-radius: 50%;
}
.radio {
  padding-left: 5rem;
  margin-bottom: 3rem;
}
.card-custom {
  box-shadow: 0 0px 4px 0 #eee;
  -webkit-box-shadow: 0 0px 4px 0 #eee;
}
.ribbon {
  width: 80px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  display: none;
}

.radio-title-group .input-container .radio-button:checked + .radio-title .ribbon {
  display: block !important;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  /* border: 5px solid #2980b9; */
  border: 5px solid #db1430;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 100px;
  padding: 0;
  /* background-color: #3498db; */
  background-color: #db1430;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}
.ribbon.closed {
  display: block;
}
.ribbon.closed span {
  font: 400 14px/1 Lato, Prompt !important;
  background-color: #db1430 !important;
  padding: 2px;
}
.ribbon.closed:after,
.ribbon.closed:before {
  border: 5px solid #db1430 !important;
}
.ribbon.closed span i.flaticon-interface-5:before {
  content: 'ปิดบริการ' !important;
}

/* top left*/

.ribbon-top-left {
  top: -5px;
  left: -5px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: -2px;
  right: 12px;
}

.ribbon-top-left::after {
  bottom: 3px;
  left: 0;
}

.ribbon-top-left span {
  right: 5px;
  top: 20px;
  transform: rotate(-45deg);
}
.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}
</style>

<style lang="scss" scoped>
$primary-color: #079ad9;
.radio-title-group {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;

  //set dimensions for invisible container
  .input-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 0 30px 0;
    // margin: 0.5rem;

    //make actual radio input invisible
    // + stretch to fill container
    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
      z-index: 1;
    }

    .radio--disabled,
    .radio--disabled + .button-effect {
      cursor: not-allowed;
    }
    .radio--disabled + .radio-title,
    .radio--disabled + .radio-title + .radio-label {
      opacity: 0.4;
    }

    //default tile styles
    .radio-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid $primary-color;
      padding: 1rem;
      // transition: transform 300ms ease;
      transition: all 0.3s ease-in;
      -webkit-box-shadow: 0 2px 4px 0 rgba(27, 27, 27, 0.2);
      box-shadow: 0 2px 4px 0 rgba(27, 27, 27, 0.2);
      margin: auto;
      max-width: 120px;
      max-height: 120px;
      border-radius: 10px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
      background-image: linear-gradient(180deg, #fff, #fff);
    }
    .icon svg {
      fill: $primary-color;
      width: 3rem;
      height: 3rem;
    }
    .icon img {
      width: 8rem;
      height: 8rem;
      margin: auto;
      // padding: 5px;
      background-color: #dcecf9;
      border-radius: 5px;
    }
    .radio-title-label {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #4a4a4a;
    }
    .radio-label label.radio-title-label {
      font-size: 13px;
      transition: all 0.3s ease-in;
    }

    //active tile styles
    .radio-button:checked + .radio-title::before {
      animation: effect_dylan 0.5s ease-out;
    }
    .radio-button:checked + .radio-title {
      // background-color: #eee;
      border: 1px solid #db1430;
      color: white;
      transform: scale(1.1);

      .icon svg {
        fill: white;
        background-color: $primary-color;
      }
      .radio-title-label {
        color: white;
        background-color: $primary-color;
      }
      + .radio-label label.radio-title-label {
        transform: scale(1.1);
        padding-top: 5px !important;
        color: #db1430 !important;
      }
      .icon img {
        background-color: #ffebee;
      }
    }
  }
  .input-container:hover .radio-button:not(:checked) + .radio-title {
    border: 1px solid #db1430;
    transform: scale(1.1, 1.1);

    .icon img {
      background-color: #ffebee;
    }

    + .radio-label label.radio-title-label {
      color: #db1430;
      transform: scale(1.1);
      padding-top: 5px;
    }
  }
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
</style>

<style lang="less" scoped>
.button-effect {
  cursor: pointer;
  transition: all 0.4s ease-in;
  //start click effect
  &:before {
    content: '';
    background-color: #d3d4d4;
    border-radius: 10%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  &:focus {
    outline: 0;
    color: #fff;
    &:before {
      animation: effect_dylan 0.5s ease-out;
    }
  }
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
</style>
