<template>
  <div class="topbar-item">
    <div class="dropdown">
      <!--begin::Toggle-->
      <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
        <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
          <img class="h-20px w-20px rounded-sm" :src="activeLanguage.flag" alt="" />
        </div>
      </div>
      <!--end::Toggle-->

      <!--begin::Dropdown-->
      <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
        <!--begin::Nav-->
        <ul class="navi navi-hover py-4">
          <template v-for="(locale, i) in availableLocales">
            <!--begin::Item-->
            <li :key="i" class="navi-item" :class="{ 'navi-item-active': isActiveLanguage(locale.code) }">
              <nuxt-link
                :to="switchLocalePath(locale.code)"
                class="navi-link"
                :class="{ 'navi-link-active': isActiveLanguage(locale.code) }"
              >
                <span class="symbol symbol-20 mr-3">
                  <img :src="locale.flag" alt="" />
                </span>
                <span class="navi-text">{{ locale.name }}</span>
              </nuxt-link>
            </li>
            <!--end::Item-->
          </template>
        </ul>
        <!--end::Nav-->
      </div>
      <!--end::Dropdown-->
    </div>
  </div>
</template>

<script>
import flagUS from '@/assets/media/svg/flags/226-united-states.svg'
import flagTH from '@/assets/media/svg/flags/238-thailand.svg'

export default {
  name: 'DropdownLanguages',
  computed: {
    availableLocales() {
      const locales = this.$i18n.locales
      return locales.map((locale) => {
        return this.$updateObject(locale, {
          flag: locale.code === 'en' ? flagUS : flagTH,
        })
      })
    },
    activeLanguageCode() {
      return this.$i18n.locale
    },
    activeLanguage() {
      return this.availableLocales.find((locale) => locale.code === this.activeLanguageCode)
    },
  },
  methods: {
    isActiveLanguage(current) {
      return this.activeLanguageCode === current
    },
  },
}
</script>

<style scoped>
.navi-item .navi-link-active {
  background-color: #f3f6f9;
}
</style>
