<template>
  <div class="topbar-item">
    <div class="dropdown">
      <!--begin::Toggle-->
      <div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px">
        <div class="btn btn-icon d-flex align-items-center btn-lg px-md-2 w-md-auto">
          <div class="d-flex flex-column text-right pr-3">
            <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">
              {{ today }}
            </span>
            <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">
              {{ fullname }}
            </span>
          </div>
          <span class="symbol symbol-35 symbol-light-success">
            <span class="symbol-label font-size-h5 font-weight-bold">
              <img src="@/assets/media/svg/avatars/001-boy.svg" alt="avatar" class="h-75 align-self-end" />
            </span>
          </span>
        </div>
      </div>
      <!--end::Toggle-->

      <!--begin::Dropdown-->
      <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0">
        <!--begin::Header-->
        <div class="d-flex align-items-center p-8 rounded-top">
          <!--begin::Symbol-->
          <div class="symbol symbol-md bg-light-primary mr-3 flex-shrink-0">
            <img src="@/assets/media/svg/avatars/001-boy.svg" alt="" />
          </div>
          <!--end::Symbol-->

          <!--begin::Text-->
          <div class="text-dark m-0 flex-grow-1 mr-3 font-size-h5">
            {{ fullname }}
          </div>
          <!-- <span class="label label-light-success label-lg font-weight-bold label-inline">3 messages</span> -->
          <!--end::Text-->
        </div>
        <div class="separator separator-solid"></div>
        <!--end::Header-->

        <!--begin::Nav-->
        <div class="navi navi-spacer-x-0 pt-5">
          <!--begin::Item-->
          <a href="#" class="navi-item px-8">
            <div class="navi-link">
              <div class="navi-icon mr-2">
                <i class="flaticon2-calendar-3 text-success"></i>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold">
                  ข้อมูลส่วนตัว
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->

          <!--begin::Footer-->
          <div class="navi-separator mt-3"></div>
          <div class="navi-footer px-8 py-5">
            <a
              href="#"
              title="ออกจากระบบ"
              class="btn btn-light-primary font-weight-bold"
              @click.prevent="$emit('logout')"
            >
              ออกจากระบบ
            </a>
          </div>
          <!--end::Footer-->
        </div>
        <!--end::Nav-->
      </div>
      <!--end::Dropdown-->
    </div>
  </div>
</template>

<script>
import moment from 'moment'
moment.locale('th')

export default {
  name: 'DropdownUser',
  props: {
    isAuthenticated: {
      type: Boolean,
      default: false,
    },
    user: {
      type: Object,
      default: function () {
        return null
      },
    },
  },
  computed: {
    today() {
      return moment().format('สวัสดี วันdddd')
    },
    fullname() {
      return this.isAuthenticated ? this.user.name : 'Guest'
    },
  },
}
</script>

<style scoped></style>
