<template>
  <div>
    <div v-if="itemsPerPageSelect || tableFilter" class="row my-2 mx-0">
      <div v-if="tableFilter" :class="headerLeftClass">
        <div class="form-group row no-margin form-group-search w-100">
          <!-- <label class="col-lg-1 col-form-label text-right">{{ tableFilterData.label }}</label> -->
          <div :class="filterSize">
            <div class="input-icon">
              <input
                class="form-control input-search"
                type="text"
                :placeholder="tableFilterData.placeholder"
                :value="tableFilterState"
                @input="tableFilterChange($event.target.value, 'input')"
                @change="tableFilterChange($event.target.value, 'change')"
              />
              <span><i class="flaticon2-search-1 icon-md"></i></span>
            </div>
          </div>
          <slot name="header-toolbar-left"></slot>
        </div>
      </div>

      <div v-if="itemsPerPageSelect" :class="[headerRightClass, { 'offset-sm-6': !tableFilter }]">
        <div class="justify-content-sm-end form-inline">
          <slot name="header-right-toolbar" />
          <label class="mr-2">{{ paginationSelect.label }}</label>
          <select class="form-control select__pager-size" @change="paginationChange">
            <option value selected disabled hidden>{{ perPageItems }}</option>
            <option v-for="(number, key) in paginationSelect.values" :key="key" :val="number">{{ number }}</option>
          </select>
        </div>
      </div>
    </div>

    <slot name="over-table" />
    <div :class="`position-relative ${responsive ? 'table-responsive' : ''}`">
      <table :class="tableClasses" v-bind="tableOptions">
        <thead>
          <slot name="thead-top" />
          <tr v-if="header">
            <template v-for="(name, index) in columnNames">
              <th
                :key="index"
                :class="[headerClass(index), sortingIconStyles]"
                :style="headerStyles(index)"
                @click="changeSort(rawColumnNames[index], index)"
              >
                <slot :name="`${rawColumnNames[index]}-header`">
                  <div class="d-inline">{{ name }}</div>
                </slot>
                <slot
                  v-if="isSortable(index)"
                  name="sorting-icon"
                  :state="getIconState(index)"
                  :classes="iconClasses(index)"
                >
                  <i :class="iconClasses(index)"></i>
                </slot>
              </th>
            </template>
          </tr>

          <tr v-if="columnFilter" class="table-sm">
            <template v-for="(colName, index) in rawColumnNames">
              <th :key="index" :class="headerClass(index)">
                <slot :name="`${rawColumnNames[index]}-filter`">
                  <input
                    v-if="
                      !fields ||
                      (fields[index].filter !== false && !['select', 'datepicker'].includes(fields[index].filterType))
                    "
                    class="form-control"
                    :value="columnFilterState[colName]"
                    :name="`${rawColumnNames[index]}-filter`"
                    @input="columnFilterEvent(colName, $event.target.value, 'input')"
                    @change="columnFilterEvent(colName, $event.target.value, 'change')"
                  />
                  <select
                    v-if="!fields || (fields[index].filter !== false && fields[index].filterType === 'select')"
                    :id="`${rawColumnNames[index]}-filter`"
                    :name="`${rawColumnNames[index]}-filter`"
                    class="form-control"
                    @input="columnFilterEvent(colName, $event.target.value, 'input')"
                    @change="columnFilterEvent(colName, $event.target.value, 'change')"
                  >
                    <option value="">เลือกรายการ</option>
                    <option v-for="(option, i) in filterOptions[colName]" :key="i" :value="option.id">
                      {{ option.text }}
                    </option>
                  </select>
                  <a-date-picker
                    v-if="!fields || (fields[index].filter !== false && fields[index].filterType === 'datepicker')"
                    :id="`${rawColumnNames[index]}-filter`"
                    :name="`${rawColumnNames[index]}-filter`"
                    placeholder="เลือกวันที่"
                    @change="(date, dateString) => onChangeDatePicker(colName, date, dateString, 'change')"
                  />
                </slot>
              </th>
            </template>
          </tr>
        </thead>

        <tbody :style="clickableRows ? 'cursor:pointer;' : null" class="position-relative">
          <template v-for="(item, itemIndex) in currentItems">
            <tr
              :key="itemIndex"
              :class="item._classes"
              :tabindex="clickableRows ? 0 : null"
              @click="rowClicked(item, itemIndex + firstItemIndex, $event)"
              @dblclick="rowDblClicked(item, itemIndex + firstItemIndex, $event)"
            >
              <template v-for="(colName, index) in rawColumnNames">
                <slot v-if="$scopedSlots[colName]" :name="colName" :item="item" :index="itemIndex + firstItemIndex" />
                <td v-else :key="index" :class="cellClass(item, colName, index)">{{ String(item[colName]) }}</td>
              </template>
            </tr>
            <tr
              v-if="$scopedSlots.details"
              :key="'details' + itemIndex"
              class="p-0"
              style="border: none !important;"
              @click="rowClicked(item, itemIndex + firstItemIndex)"
            >
              <td :colspan="colspan" class="p-0" style="border: none !important;">
                <slot name="details" :item="item" :index="itemIndex + firstItemIndex" />
              </td>
            </tr>
          </template>
          <tr v-if="!currentItems.length">
            <td :colspan="colspan">
              <slot name="no-items-view">
                <div class="text-center">
                  ไม่พบข้อมูล
                  <!-- <a-empty v-show="!loading" description="ไม่พบข้อมูล" /> -->
                </div>
              </slot>
            </td>
          </tr>
        </tbody>

        <tfoot v-if="footer && currentItems.length > 0">
          <tr>
            <template v-for="(name, index) in columnNames">
              <th
                :key="index"
                :class="[headerClass(index), sortingIconStyles]"
                :style="headerStyles(index)"
                @click="changeSort(rawColumnNames[index], index)"
              >
                <slot :name="`${rawColumnNames[index]}-header`">
                  <div class="d-inline">{{ name }}</div>
                </slot>
                <slot v-if="isSortable(index)" name="sorting-icon" :state="getIconState(index)">
                  <i :class="iconClasses(index)"></i>
                </slot>
              </th>
            </template>
          </tr>
        </tfoot>
        <slot name="caption" />
      </table>

      <slot v-if="loading" name="loading">
        <ElementCover
          :boundaries="[
            { sides: ['top'], query: 'td' },
            { sides: ['bottom'], query: 'tbody' },
          ]"
        />
      </slot>
    </div>

    <slot name="under-table" />

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <Pagination
          v-if="pagination"
          v-show="totalPages > 1"
          :active-page.sync="page"
          :pages="totalPages"
          v-bind="typeof pagination === 'object' ? pagination : null"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
        <span>
          แสดง {{ firstItemIndex || currentItems.length ? firstItemIndex + 1 : 0 }} ถึง
          {{ currentItems.length ? lastItemIndex + 1 : 0 }} จาก {{ sortedItems.length }} รายการ
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import ElementCover from '@/components/Base/ElementCover/ElementCover'
import Pagination from '@/components/Base/Pagination/Pagination'

export default {
  name: 'DataTable',
  components: {
    Pagination,
    ElementCover,
  },
  props: {
    items: {
      type: Array,
      default: function () {
        return []
      },
    },
    fields: {
      type: Array,
      default: function () {
        return []
      },
    },
    itemsPerPage: {
      type: Number,
      default: 10,
    },
    activePage: {
      type: Number,
      default: 0,
    },
    pagination: {
      type: [Boolean, Object],
      default: function () {
        return {} || false
      },
    },
    addTableClasses: {
      type: [String, Array, Object],
      default: function () {
        return '' || [] || {}
      },
    },
    responsive: {
      type: Boolean,
      default: true,
    },
    size: {
      type: String,
      default: '',
    },
    dark: Boolean,
    striped: Boolean,
    fixed: Boolean,
    hover: Boolean,
    border: Boolean,
    outlined: Boolean,
    brand: Boolean,
    itemsPerPageSelect: {
      type: [Boolean, Object],
      default: function () {
        return {} || false
      },
    },
    sorter: {
      type: [Boolean, Object],
      default: function () {
        return {} || false
      },
    },
    tableFilter: {
      type: [Boolean, Object],
      default: function () {
        return {} || false
      },
    },
    columnFilter: {
      type: [Boolean, Object],
      default: function () {
        return {} || false
      },
    },
    sorterValue: {
      type: Object,
      default: () => {
        return {}
      },
    },
    tableFilterValue: {
      type: String,
      default: '',
    },
    columnFilterValue: {
      type: Object,
      default: function () {
        return {}
      },
    },
    header: {
      type: Boolean,
      default: true,
    },
    footer: Boolean,
    loading: Boolean,
    clickableRows: Boolean,
    noItemsView: {
      type: Object,
      default: function () {
        return {}
      },
    },
    tableOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    filterOptions: {
      type: Object,
      default: function () {
        return {}
      },
    },
    headerLeftClasses: {
      type: [String, Array, Object],
      default: function () {
        return ''
      },
    },
    headerRightClasses: {
      type: [String, Array, Object],
      default: function () {
        return ''
      },
    },
    filterSize: {
      type: String,
      default: 'col-md-6 col-sm-6 no-padding',
    },
  },
  data() {
    return {
      tableFilterState: this.tableFilterValue,
      columnFilterState: {},
      sorterState: {
        column: null,
        asc: true,
      },
      page: this.activePage || 1,
      perPageItems: this.itemsPerPage,
      passedItems: this.items || [],
    }
  },
  computed: {
    headerLeftClass() {
      return this.headerLeftClasses || 'col-sm-6 col-xs-12 p-0'
    },
    headerRightClass() {
      return this.headerRightClasses || 'col-sm-6 col-xs-12 p-0'
    },
    columnFiltered() {
      let items = this.passedItems
      if (this.columnFilter && this.columnFilter.external) {
        return items
      }
      Object.entries(this.columnFilterState).forEach(([key, value]) => {
        const columnFilter = String(value).toLowerCase()
        if (columnFilter && this.rawColumnNames.includes(key)) {
          items = items.filter((item) => {
            return String(item[key]).toLowerCase().includes(columnFilter)
          })
        }
      })
      return items
    },
    filterableCols() {
      return this.generatedColumnNames
      // return this.rawColumnNames.filter((name) => {
      //   return this.generatedColumnNames.includes(name)
      // })
    },
    tableFiltered() {
      let items = this.columnFiltered
      if (!this.tableFilterState || (this.tableFilter && this.tableFilter.external)) {
        return items
      }
      const filter = this.tableFilterState.toLowerCase()
      const hasFilter = (item) => String(item).toLowerCase().includes(filter)
      items = items.filter((item) => {
        return this.filterableCols.filter((key) => hasFilter(item[key])).length
      })
      return items
    },
    sortedItems() {
      const col = this.sorterState.column
      if (!col || !this.rawColumnNames.includes(col) || this.sorter.external) {
        return this.tableFiltered
      }
      // if values in column are to be sorted by numeric value they all have to be type number
      const flip = this.sorterState.asc ? 1 : -1
      return this.tableFiltered.slice().sort((item, item2) => {
        const value = item[col]
        const value2 = item2[col]
        const a = typeof value === 'number' ? value : String(value).toLowerCase()
        const b = typeof value2 === 'number' ? value2 : String(value2).toLowerCase()
        return a > b ? 1 * flip : b > a ? -1 * flip : 0
      })
    },
    firstItemIndex() {
      return (this.computedPage - 1) * this.perPageItems || 0
    },
    lastItemIndex() {
      const count = this.firstItemIndex + this.perPageItems
      const currentPage = this.page
      if (currentPage === this.totalPages && count > this.items.length) {
        return this.items.length - 1
      } else if (count > this.sortedItems.length) {
        return this.sortedItems.length - 1
      }
      return count - 1 || 0
    },
    paginatedItems() {
      return this.sortedItems.slice(this.firstItemIndex, this.firstItemIndex + this.perPageItems)
    },
    currentItems() {
      return this.computedPage ? this.paginatedItems : this.sortedItems
    },
    totalPages() {
      return Math.ceil(this.sortedItems.length / this.perPageItems) || 1
    },
    computedPage() {
      return this.pagination ? this.page : this.activePage
    },
    generatedColumnNames() {
      return Object.keys(this.passedItems[0] || {}).filter((el) => el.charAt(0) !== '_')
    },
    rawColumnNames() {
      if (this.fields) {
        return this.fields.map((el) => el.key || el)
      }
      return this.generatedColumnNames
    },
    columnNames() {
      if (this.fields) {
        return this.fields.map((f) => {
          return f.label !== undefined ? f.label : this.pretifyName(f.key || f)
        })
      }
      return this.rawColumnNames.map((el) => this.pretifyName(el))
    },
    tableClasses() {
      return [
        'table',
        this.addTableClasses,
        {
          [`table-${this.size}`]: this.size,
          'table-dark': this.dark,
          'table-striped': this.striped,
          'b-table-fixed': this.fixed,
          'table-hover': this.hover,
          'table-bordered': this.border,
          'table-brand': this.brand,
          dataTable: true,
          'kt-datatable__table': true,
          border: this.outlined,
        },
        this.tableOptions.class,
      ]
    },
    sortingIconStyles() {
      return { 'position-relative pr-4': this.sorter }
    },
    colspan() {
      return this.rawColumnNames.length
    },
    tableFilterData() {
      return {
        label: this.tableFilter.label || 'Filter:',
        placeholder: this.tableFilter.placeholder || 'type string...',
      }
    },
    paginationSelect() {
      return {
        label: this.itemsPerPageSelect.label || 'Items per page:',
        values: this.itemsPerPageSelect.values || [5, 10, 20, 50],
      }
    },
    noItemsText() {
      const customValues = this.noItemsView || {}
      if (this.passedItems.length) {
        return customValues.noResults || 'No filtering results'
      }
      return customValues.noItems || 'No items'
    },
  },
  watch: {
    itemsPerPage(val) {
      this.perPageItems = val
    },
    sorterValue: {
      immediate: true,
      handler(val) {
        const asc = val.asc !== false
        this.sorterState = Object.assign({}, { asc, column: val.column })
      },
    },
    tableFilterValue(val) {
      this.tableFilterState = val
    },
    columnFilterValue: {
      immediate: true,
      handler(val) {
        this.columnFilterState = Object.assign({}, val)
      },
    },
    items(val, oldVal) {
      if (val && oldVal && this.objectsAreIdentical(val, oldVal)) {
        return
      }
      this.passedItems = val || []
    },
    totalPages: {
      immediate: true,
      handler(val) {
        this.$emit('pages-change', val)
      },
    },
    computedPage(val) {
      this.$emit('page-change', val)
    },
    sortedItems: {
      immediate: true,
      handler(val, oldVal) {
        if (val && oldVal && this.objectsAreIdentical(val, oldVal)) {
          return
        }
        this.$emit('filtered-items-change', val)
      },
    },
  },
  methods: {
    changeSort(column, index) {
      if (!this.isSortable(index)) {
        return
      }
      // if column changed or sort was descending change asc to true
      const state = this.sorterState
      const columnRepeated = state.column === column
      if (!this.sorter || !this.sorter.resetable) {
        state.column = column
      } else {
        state.column = columnRepeated && state.asc === false ? null : column
      }
      state.asc = !(columnRepeated && state.asc)
      this.$emit('update:sorter-value', this.sorterState)
    },
    columnFilterEvent(colName, value, type) {
      const isLazy = this.columnFilter && this.columnFilter.lazy === true
      if ((isLazy && type === 'input') || (!isLazy && type === 'change')) {
        return
      }
      this.$set(this.columnFilterState, colName, value)
      this.$emit('update:column-filter-value', this.columnFilterState)
    },
    onChangeDatePicker(colName, date, dateString, type) {
      this.$set(this.columnFilterState, colName, dateString || '')
      this.$emit('update:column-filter-value', this.columnFilterState)
    },
    tableFilterChange(value, type) {
      const isLazy = this.tableFilter && this.tableFilter.lazy === true
      if ((isLazy && type === 'input') || (!isLazy && type === 'change')) {
        return
      }
      this.tableFilterState = value
      this.$emit('update:table-filter-value', this.tableFilterState)
    },
    pretifyName(name) {
      return name
        .replace(/[-_.]/g, ' ')
        .replace(/ +/g, ' ')
        .replace(/([a-z0-9])([A-Z])/g, '$1 $2')
        .split(' ')
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ')
    },
    cellClass(item, colName, index) {
      const classes = []
      if (item._cellClasses && item._cellClasses[colName]) {
        classes.push(item._cellClasses[colName])
      }
      if (this.fields && this.fields[index]._classes) {
        classes.push(this.fields[index]._classes)
      }
      return classes
    },
    isSortable(index) {
      return this.sorter && (!this.fields || this.fields[index].sorter !== false)
    },
    headerClass(index) {
      const fields = this.fields
      return fields && fields[index]._classes ? fields[index]._classes : ''
    },
    headerStyles(index) {
      let style = ''
      if (this.isSortable(index)) {
        style += `cursor:pointer;`
      }
      if (this.fields && this.fields[index] && this.fields[index]._style) {
        style += this.fields[index]._style
      }
      return style
    },
    rowClicked(item, index, e) {
      this.$emit('row-clicked', item, index, this.getClickedColumnName(e))
    },
    rowDblClicked(item, index, e) {
      this.$emit('row-dblclick', item, index, this.getClickedColumnName(e))
    },
    getClickedColumnName(e) {
      if (e) {
        const children = Array.from(e.target.closest('tr').children)
        const clickedCell = children.filter((child) => child.contains(e.target))[0]
        return this.rawColumnNames[children.indexOf(clickedCell)]
      } else {
        return 'details'
      }
    },
    getIconState(index) {
      const direction = this.sorterState.asc ? 'asc' : 'desc'
      return this.rawColumnNames[index] === this.sorterState.column ? direction : 0
    },
    iconClasses(index) {
      const state = this.getIconState(index)
      return [
        'flaticon-up-arrow icon-transition position-absolute arrow-position',
        {
          transparent: !state,
          'rotate-icon': state === 'desc',
        },
      ]
    },
    paginationChange(e) {
      this.$emit('pagination-change', Number(e.target.value))
      if (this.itemsPerPageSelect.external) {
        return
      }
      this.perPageItems = Number(e.target.value)
    },
    objectsAreIdentical(obj1, obj2) {
      return obj1.length === obj2.length && JSON.stringify(obj1) === JSON.stringify(obj2)
    },
  },
}
</script>

<style scoped>
@import url('../../../assets/css/dataTables.bootstrap4.min.css');
table thead tr th,
table thead tr td {
  white-space: nowrap;
  text-align: center;
}
td {
  padding: 10px;
  vertical-align: middle;
}
.table-brand tr:first-child th {
  /* background-color: #1aa0e0;
  color: #fff; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
thead tr:not(:last-child) th {
  border-bottom: 1px;
}
.transparent {
  opacity: 0.4;
}
.icon-transition {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.arrow-position {
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rotate-icon {
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.row-index {
  font-weight: 600;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
/* .select__pager-size:focus,
.select__pager-size:hover {
  color: #fff !important;
  background-color: #22b9ff !important;
} */
.table-sm th,
.table-sm td {
  padding: 0.3rem;
}
.no-padding {
  padding: 0 !important;
}
@media (max-width: 767px) {
  .form-group-search,
  .form-group {
    width: 100%;
  }
}
</style>
